<div class="row">
  <div class="col-12">
    <cp-calendars-details-action-box (search)="onSearch($event)">
    </cp-calendars-details-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.items.length"
                   [noContentText]="cpI18n.translate('calendars_items_no_results_found')">
    </cp-no-content>

    <ng-container *ngIf="state.items.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell
                (sort)="doSort('title')"
                [sorting]="state.sort_field === 'title'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.name }}
            </th>
            <th ui-table-cell
                (sort)="doSort('start')"
                [sorting]="state.sort_field === 'start'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.start_date }}
            </th>
            <!-- <cp-sorting-header class="col-5"
                               sortLabel="title"
                               (click)="doSort('title')"
                               [label]="sortingLabels.name"
                               [sortField]="state.sort_field"
                               [sortDirection]="state.sort_direction">
            </cp-sorting-header>

            <cp-sorting-header class="col-5"
                               sortLabel="start"
                               (click)="doSort('start')"
                               [sortField]="state.sort_field"
                               [label]="sortingLabels.start_date"
                               [sortField]="state.sort_field"
                               [sortDirection]="state.sort_direction">
            </cp-sorting-header> -->
            <th ui-table-cell></th>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let item of state.items; index as index">
            <td ui-table-cell>
              <ready-ui-stack>
                <ready-ui-avatar [src]="item.poster_url"
                                 [alt]="'t_shared_img_alt' | cpI18n: index + 1">
                </ready-ui-avatar>
                <a cpTracker
                   [eventData]="eventData"
                   [routerLink]="['items/' + item.id]">
                  <strong>
                    {{ item.title }}
                  </strong>
                </a>
              </ready-ui-stack>
            </td>
            <td ui-table-cell>
              {{ item.start | cpDatePipe: dateFormat }}
            </td>
            <td ui-table-cell
                align="right">
              <button ui-button
                      type="submit"
                      variant="inline"
                      data-toggle="modal"
                      (click)="selectedItem = item"
                      (click)="launchDeleteModal = true"
                      data-target="#deleteCalendarItemModal">
                <ready-ui-icon name="close"
                               aria-label="Delete Item"></ready-ui-icon>
              </button>
              <!-- <button type="button"
                      data-toggle="modal"
                      (click)="selectedItem = item"
                      (click)="launchDeleteModal = true"
                      data-target="#deleteCalendarItemModal"
                      class="hover action-button delete-button text-center unstyled-button">
                &times;
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>

      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </ng-container>
  </div>
</div>

<cp-modal *ngIf="launchDeleteModal"
          modalId="deleteCalendarItemModal">
  <cp-calendars-items-delete [item]="selectedItem"
                             (deleted)="onDeleted($event)"
                             (resetCreateModal)="launchDeleteModal = false">
  </cp-calendars-items-delete>
</cp-modal>

<cp-modal modalId="calendarsItemsImport">
  <cp-calendars-items-import-modal></cp-calendars-items-import-modal>
</cp-modal>