<div class="cp-card">
  <div class="row">
    <div class="col-xs-3 float-left">
      <cp-searchbox (query)="onSearch($event)"></cp-searchbox>
    </div>
    <div class="col-xs-2 float-left">
      <cp-dropdown
        [items]="types"
        (selected)="onSelectedType($event)">
      </cp-dropdown>
    </div>
    <div class="col-xs-3 float-right text-right" *ngIf="canCompose">
      <a
        cpTracker
        [routerLink]="['compose']"
        class="cpbtn cpbtn--primary"
        [eventData]="trackEvent(amplitudeEvents.clicked_create)">
        {{ 'compose' | cpI18n }}
      </a>
    </div>
  </div>
</div>
