<div class="cp-card">
  <div class="row justify-content-between">
    <div class="col">
      <div class="row">
        <div class="col-7">
          <cp-searchbox (query)="onSearch($event)"></cp-searchbox>
        </div>
        <div class="col-5">
          <cp-dropdown
            [items]="types"
            (selected)="onSelectedType($event)">
          </cp-dropdown>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12 text-right">
          <a
            cpTarget="integrations"
            routerLink="integrations"
            *cpFeatureToggle="featureName"
            class="cpbtn cpbtn--cancel integrations">
            <i class="material-icons">link</i>
          </a>
          <a
            cpTracker
            *ngIf="canCompose"
            [eventData]="eventData"
            [routerLink]="['compose']"
            class="cpbtn cpbtn--primary">
            {{ 'compose' | cpI18n }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
