<div class="row">
  <div class="col-12">
    <div class="cp-card actions">
      <div class="row">
        <div class="col-3 pr-0">
          <cp-searchbox #searchbox
                        (query)="onSearch($event)"
                        [placeholder]="cpI18nPipe.transform('services_provider_search_tootlip')">
          </cp-searchbox>
        </div>
        <div class="col-2 pr-0">
          <cp-dropdown class="topbar--dropdown"
                       [items]="caseStatus$ | async"
                       (selected)="onCasesFilter($event)"
                       [reset]="resetActionbox$">
          </cp-dropdown>
        </div>
        <div class="col-3">
          <cp-range-picker  #datepicker
                            [class]="'cancel'"
                            [icon]="'date_range'"
                            [dateRanges]="dateRanges"
                            [clearable]="true"
                            (rangeChange)="onDateChange($event)"
                            [maxDate]="dateFilterOpts.maxDate"
                            [minDate]="dateFilterOpts.minDate">
          </cp-range-picker>
        </div>
        <div class="col-3 text-right float-right">          
          <button type="button"
                  cpTracker
                  [eventData]="eventData"
                  class="cpbtn cpbtn--primary cpbtn--square-right no-right-padding"
                  (click)="onCreateCases()">
            {{ 'cases_button_create' | cpI18n }}
          </button>
          <cp-menu>
            <cp-menu-item>
              <span (click)="onImportCSV()">{{ 'import_from_csv' | cpI18n }}</span>
            </cp-menu-item>
            <cp-menu-item>
              <span [class.disabled]="isDownloading" (click)="onDownloadCases()">{{ 'download_all_cases' | cpI18n }}</span>
            </cp-menu-item>
          </cp-menu>
        </div>
      </div>
    </div>
  </div>
</div>