:host {
  display: flex;

  ready-ui-tag:not(:last-child) {
    margin-right: 0.5em;
  }

  span.enforce-max-length {
    min-width: 0;
    line-height: 2;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;

    &.date-tag,
    &.default-tag {
      max-width: none;
    }
  }
}