@import '~styles/core/colors';
@import '~styles/core/typography';

.header {
  padding-top: 60px;
  margin-bottom: 25px;
  background: $color-black;

  em,
  &__sub-title {
    top: 50px;
    position: absolute;
  }

  em {
    margin-bottom: 15px;
    display: inline-block;
    color: $color-med-grey;
  }

  &__title {
    @include font-heading();

    color: $color-white;
    position: relative;
  }

  &__sub-title {
    font-size: 1.5em;
    color: $color-white;
  }

  &__nav {
    padding: 0;
    margin-top: 60px;
    margin-bottom: 0;
    list-style: none;

    li {
      margin-right: 24px;
      display: inline-block;

      a {
        @include font-16px();

        transition: color 300ms ease-in-out;
        border-bottom: 3px solid transparent;
      }

      &.last-child {
        margin-right: 0;
      }

      &.active {

        a {
          color: $color-white;
          border-bottom: 3px solid $color-brand;
        }
      }

      a {
        padding: 0;
        color: $color-grey;
        padding-bottom: 8px;
        display: inline-block;
      }
    }
  }
}