@import '~styles/core/colors';
@import '~styles/core/typography';

.header {
  padding-top: 60px;
  margin-bottom: 25px;
  background: $color-black;

  &__title {
    @include font-heading();

    color: $color-white;
  }

  &__sub-title {
    font-size: 1.5em;
    color: $color-white;
  }

  &__nav {
    padding: 0;
    margin-top: 60px;
    list-style: none;
    padding-bottom: 16px;

    li {
      line-height: 1;
      margin-right: 45px;
      display: inline-block;

      &.last-child {
        margin-right: 0;
      }

      a {
        padding: 10px 0;
        display: inline-block;
        color: $color-med-grey;

        &.active {
          @include font-bold();

          color: $color-white;
        }
      }
    }
  }
}