<div class="header">
  <div class="cp-wrapper cp-wrapper--outer">
    <div class="row">
      <div class="col-12">
        <div class="header__breadcrumb" *ngIf="data.crumbs.url">
          <a
            [routerLink]="data.crumbs.url" [queryParams]="route.snapshot.queryParams"
            class="text-muted">
            <i class="material-icons">arrow_back</i>
            {{ data.crumbs.label | cpI18n }}
          </a>
        </div>
        <p
          class="header__title text-truncate">
          {{ data.heading | cpI18n }}
        </p>
        <p
          class="header__sub-title"
          *ngIf="data.subheading">
          {{ data.subheading | cpI18n }}
        </p>
        <em *ngIf="data.em">{{ data.em | cpI18n }}</em>
      </div>
    </div>

    <div class="row" *ngIf="readyFeatures.length">
      <div class="col-12">
        <cp-header-link
          [extraMenu]="extraMenu"
          [maxChildren]="maxChildren"
          [extraChildren]="extraChildren"
          [readyFeatures]="readyFeatures">
        </cp-header-link>
      </div>
    </div>
  </div>
</div>