<div class="header">
  <div class="cp-wrapper cp-wrapper--outer">
    <div class="row">
      <div class="col-xs-12">
        <p
          class="header__title text-truncate">
          {{ data.heading }}
        </p>
        <p
          class="header__sub-title"
          *ngIf="data.subheading">
          {{ data.subheading }}
        </p>
        <em *ngIf="data.em">{{ data.em }}</em>
      </div>
    </div>

    <div class="row" *ngIf="data.children.length">
      <div class="col-xs-12">
        <ul class="header__nav">
          <li
            routerLinkActive="active"
            *ngFor="let page of data.children"
            [routerLinkActiveOptions]="{exact: page.hasParams ? false : true}">
            <span class="promote-badge" *ngIf="page.promote">new</span>
            <a
              [routerLink]="[page.url]">{{ page.label }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>