<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <div class="row">
      <div class="header">
        <div class="col-xs-6 col-sm-4 text-center">
          <div class="cp-card visits">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3">
                <span i18n>
                  Total Visits
                  <strong>10</strong>
                </span>
                <span i18n>
                  Unique Visits
                  <strong>11</strong>
                </span>
                <span i18n>
                  Repeat Visits
                  <strong>4</strong>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 text-center">
          <div class="cp-card">
            <p class="header__digit">5</p>
            <p i18n>Total Responses</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="cp-card">
            <p class="header__digit">
              <cp-stars
                [size]="detailStarSize"
                [avgRate]="70"
                [maxRate]="5">
              </cp-stars>
            </p>
            <p i18n>
              Average Rating:
              <!--<strong *ngIf="event.rating_scale_maximum > -1">
                {{ ((event.rating_scale_maximum * event.avg_rating_percent) / 100).toFixed(1) }}
              </strong>
              <strong *ngIf="event.rating_scale_maximum === -1">N/A</strong>-->
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="cp-card actions">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <cp-searchbox placeholder="Search Service Provider..."></cp-searchbox>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-4 text-right">
              <button class="cpbtn cpbtn--primary" i18n>
                Download CSV File
              </button>
              <button
                type="button"
                class="cpbtn cpbtn--primary"
                data-toggle="modal" data-target="#createProvider" i18n>
                Add Service Provider
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="cp-table">
          <div class="cp-table__header">
            <div class="row">
              <div class="col-xs-3">
                <span i18n>Service Provider</span>
              </div>
              <div class="col-xs-1">
                <span i18n>Total Visits</span>
              </div>
              <div class="col-xs-1">
                <span i18n>Total Ratings</span>
              </div>
              <div class="col-xs-3">
                <span i18n>QR Code</span>
              </div>
              <div class="col-xs-3">
                <span i18n>Average Rating</span>
              </div>
              <div class="col-xs-1"></div>
            </div>
          </div>

          <div class="cp-table__item">
            <div class="row">
              <div class="col-xs-3">
                <span><strong>John Smith</strong> <br> john@smith.com</span>
              </div>
              <div class="col-xs-1">
                <span>11</span>
              </div>
              <div class="col-xs-1">
                <span>11</span>
              </div>
              <div class="col-xs-3">
                <button
                  type="button"
                  class="cpbtn cpbtn--secondary" i18n>
                  Get QR Code
                </button>
              </div>
              <div class="col-xs-3">
                <cp-stars
                  [size]="listStarSize"
                  [avgRate]="90"
                  [maxRate]="5">
                </cp-stars>
              </div>
              <div class="col-xs-1">
                <span
                  (click)="onDelete(provider)"
                  data-toggle="modal" data-target="#deleteProvider"
                  class="col-xs-12 col-md-1 hover text-truncate delete-provider">
                  &times;
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<cp-modal modalId="deleteProvider">
  <cp-providers-delete
    [provider]="deleteProvider">
  </cp-providers-delete>
</cp-modal>

<cp-modal modalId="createProvider">
  <cp-providers-add
    (created)="onCreatedProvider($event)">
  </cp-providers-add>
</cp-modal>