<ul class="events cp-form">
  <li class="cp-form__header">
    <div class="row">
      <cp-sorting-header
        class="col-4"
        [label]="sortingLabels.name"
        sortLabel="title"
        (click)="doSort('title')"
        [sortField]="state.sort_field"
        [sortDirection]="state.sort_direction">
      </cp-sorting-header>

      <cp-sorting-header
        class="col-2"
        [label]="sortingLabels.end_date"
        sortLabel="end"
        (click)="doSort('end')"
        [sortField]="state.sort_field"
        [sortDirection]="state.sort_direction">
      </cp-sorting-header>

      <span class="col-2">{{ 't_shared_checkins' | cpI18n }}</span>
      <span class="col-3">{{ 't_shared_average_rating' | cpI18n }}</span>
      <span class="col-1"></span>
    </div>
  </li>

  <li class="cp-form__item" *ngFor="let event of events">
    <div class="row">
      <span class="col-4 text-truncate events__thumbnail">
        <img
          class="rounded img-fit-cover"
          [src]="event.poster_thumb_url ?
                  event.poster_thumb_url :
                  event.store_logo_url">
        <strong>
            <a
              cpTracker
              [eventData]="eventData"
              class="event__title"
              [routerLink]="[event.id]"
              queryParamsHandling="merge"
              *ngIf="event.event_attendance === 1">
              {{ event.title }}
            </a>
            <a
              cpTracker
              [eventData]="eventData"
              class="event__title"
              queryParamsHandling="merge"
              [routerLink]="[event.id + '/info']"
              *ngIf="event.event_attendance === 0">
              {{ event.title }}
            </a>
        </strong>
        <br>
        {{ event.store_name }}
      </span>
      <span class="col-2 text-truncate">
        {{ event.end | cpDatePipe:dateFormat }}
      </span>
      <span class="col-2 text-truncate">
        {{ event.verified_checkins }}
      </span>

      <span class="col-3 text-truncate">
        <span *ngIf="event.rating_scale_maximum > -1">
          <cp-stars
            [maxRate]="event.rating_scale_maximum"
            [avgRate]="event.avg_rating_percent">
          </cp-stars>
        </span>
      </span>

      <span class="col-1 text-right actions">
        <i
          cpTooltip
          *ngIf="event.is_external"
          [attr.title]="isExternalToolTip"
          class="material-icons js_event_external">
          track_changes
        </i>
      </span>
    </div>
  </li>
</ul>