<ul class="events cp-form">
  <li class="cp-form__header col-12">
    <span
      (click)="doSort('title')"
      class="col-4 hover" i18n>
      {{ 'name' | cpI18n }}
      <span *ngIf="state.sort_field === 'title'">
        <i class="material-icons">
          {{ state.sort_direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
        </i>
      </span>
    </span>
    <span
      (click)="doSort('end')"
      class="col-2 hover" i18n>
      {{ 'end_date' | cpI18n }}
      <span *ngIf="state.sort_field === 'end'">
        <i class="material-icons">
          {{ state.sort_direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
        </i>
      </span>
    </span>
    <span class="col-2" i18n>{{ 'checkins' | cpI18n }}</span>
    <span class="col-3" i18n>{{ 'average_rating' | cpI18n }}</span>
    <span class="col-1"></span>
  </li>

  <li class="cp-form__item col-12" *ngFor="let event of events">

    <span class="col-4 text-truncate events__thumbnail">
      <img
        class="img-rounded img-fit-cover"
        [src]="event.poster_thumb_url ?
                event.poster_thumb_url :
                event.store_logo_url">
      <strong>
          <a
            class="event__title"
            [routerLink]="[event.id]"
            *ngIf="event.event_attendance === 1">
            {{ event.title }}
          </a>
          <a
            class="event__title"
            [routerLink]="[event.id + '/info']"
            *ngIf="event.event_attendance === 0">
            {{ event.title }}
          </a>
      </strong>
      <br>
      {{ event.store_name }}
    </span>
    <span class="col-2 text-truncate">
      {{ event.end | cpDatePipe:dateFormat }}
    </span>
    <span class="col-2 text-truncate">
      {{ event.verified_checkins }}
    </span>

    <span class="col-3 text-truncate">
      <span *ngIf="event.rating_scale_maximum > -1">
        <cp-stars
          [maxRate]="event.rating_scale_maximum"
          [avgRate]="event.avg_rating_percent">
        </cp-stars>
      </span>
    </span>

    <span
      *ngIf="canDelete"
      (click)="onDelete(event)"
      data-toggle="modal" data-target="#deleteEventsModal"
      class="col-1 hover text-truncate delete-event text-center">
      &times;
    </span>
  </li>
</ul>