<div
  class="margin-bottom"
  [ngSwitch]="loading$ | async">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <form
    *ngSwitchCase="false"
    [formGroup]="diningForm">
    <cp-two-columns>
      <ng-container layout-left-column>
        <cp-card>
          <div class="row">
            <div class="col-12">
              <p class="title">{{ 't_dining_dining_details' | cpI18n }}</p>
              <cp-location-form
                [formErrors]="formErrors"
                [categories$]="categories$"
                [locationForm]="diningForm"
                [selectedCategory]="selectedCategory">
              </cp-location-form>
            </div>
          </div>
        </cp-card>
      </ng-container>

      <ng-container layout-right-column>
        <cp-card>
          <div class="row">
            <div class="col-12">
              <p class="title">{{ 't_dining_hours' | cpI18n }}</p>
              <span class="float-right">
                <cp-switch
                  cpTarget="switch"
                  [id]="openingHours"
                  [isChecked]="openingHours"
                  (toggle)="openingHours = !openingHours">
                </cp-switch>
              </span>
            </div>

            <div
              *ngIf="openingHours"
              class="col-12 margin-top">
              <cp-dining-opening-hours-form
                [formErrors]="formErrors"
                [diningForm]="diningForm">
              </cp-dining-opening-hours-form>
            </div>
          </div>
        </cp-card>
      </ng-container>
    </cp-two-columns>

    <div class="footer">
      <cp-form-fixed-footer
        (submitClick)="doSubmit()"
        (cancelClick)="onCancel()"
        [submitButtonText]="'update'"
        [submitButtonDisabled]="buttonDisabled">
      </cp-form-fixed-footer>
    </div>
  </form>
</div>
