<div class="cpmodal">
    <div class="cpmodal__header">
        <div class="row">
            <div class="col-12 text-center">
                <span><strong>{{ 'contact_trace_forms_duplicate_form' | cpI18n }}</strong></span>

                <button type="button"
                        data-dismiss="modal"
                        class="float-right hover cpmodal__header__close unstyled-button">
                    &times;
                </button>
            </div>
        </div>
    </div>

    <ng-container>
        <div class="cpmodal__body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group form-name-group" >
                        <ng-container *ngIf="_form" [formGroup]="inputForm">
                            <label for="formName">{{ 'contact_trace_forms_name' | cpI18n }}</label>
                            <input
                                    type="text"
                                    id="formName"
                                    class="form-control"
                                    formControlName="name"
                                    autocomplete="off"
                            />
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="cpmodal__footer">
            <div class="row">
                <div class="col-6 offset-6 text-right">
                    <button type="button"
                            class="cpbtn cpbtn--cancel"
                            data-dismiss="modal">
                        {{ 'cancel' | cpI18n }}
                    </button>

                    <cp-button [props]="buttonData"
                               (buttonClick)="onDuplicate()"> </cp-button>
                </div>
            </div>
        </div>
    </ng-container>

</div>
