<div class="row">
  <div class="col-4 text-center">
    <div class="cp-card">
      <p class="header__digit">{{ event.verified_checkins }}</p>
      <p>{{ 'events_check_in' | cpI18n }}</p>
    </div>
  </div>
  <div class="col-4 text-center">
    <div class="cp-card">
      <p class="header__digit">{{ event.num_ratings }}</p>
      <p>{{ 'responses' | cpI18n }}</p>
    </div>
  </div>
  <div class="col-4 text-center">
    <div class="cp-card">
      <p class="header__digit">
        <cp-stars
          [size]="detailStarSize"
          [avgRate]="event.avg_rating_percent"
          [maxRate]="event.rating_scale_maximum">
        </cp-stars>
      </p>
      <p>
        {{ 'average_rating' | cpI18n }}:
        <strong *ngIf="event.rating_scale_maximum > -1">
          {{ ((event.rating_scale_maximum * event.avg_rating_percent) / 100).toFixed(1) }}
        </strong>
        <strong *ngIf="event.rating_scale_maximum === -1">---</strong>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <cp-assessment-events-action-box
      [event]="event"
      [isOrientation]="isOrientation"
      (querySearch)="doSearch($event)"
      (createExcel)="onCreateExcel()">
    </cp-assessment-events-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">

    <cp-no-content
      *ngIf="!attendees.length"
      class="add-card-margin"
      [noContentText]="cpI18n.translate('events_no_attendees')">
    </cp-no-content>

    <div class="add-card-margin" *ngIf="attendees.length">
      <div class="cp-table">
        <div class="cp-table__header">
          <div class="row">
            <div class="col-4">
              <cp-sorting-header
                sortLabel="firstname"
                (click)="doSort('firstname')"
                [label]="sortingLabels.name"
                [sortField]="state.sort_field"
                [sortDirection]="state.sort_direction">
              </cp-sorting-header>
            </div>
            <div class="col-3">
              <span>{{ 't_event_assessment_check_in_date' | cpI18n }}</span>
            </div>
            <div class="col-2">
              <cp-sorting-header
                sortLabel="check_in_method"
                (click)="doSort('check_in_method')"
                [label]="sortingLabels.method"
                [sortField]="state.sort_field"
                [sortDirection]="state.sort_direction">
              </cp-sorting-header>
            </div>
            <div class="col-3">
              <cp-sorting-header
                sortLabel="feedback_rating"
                (click)="doSort('feedback_rating')"
                [label]="sortingLabels.rating"
                [sortField]="state.sort_field"
                [sortDirection]="state.sort_direction">
              </cp-sorting-header>
            </div>
          </div>
        </div>

        <div class="cp-table__item"
          *ngFor="let attendee of attendees">
          <div class="row">
            <div class="col-4 text-truncate">
              <strong>
                  {{ attendee.firstname }}
                  {{ attendee.lastname }}
                </strong>
              <br>
              <small class="text-muted">{{ attendee.email }}</small>
            </div>
            <div class="col-3">
              <span> {{ attendee.check_in_time | cpDatePipe:dateFormat }} </span>
            </div>
            <div class="col-2">
             <span> {{ utils.checkInMethods(attendee.check_in_method)}}</span>
            </div>
            <div class="col-3">
              <cp-stars
                [size]="listStarSize"
                [avgRate]="attendee.feedback_rating"
                [maxRate]="event.rating_scale_maximum">
              </cp-stars>
            </div>
          </div>
          <div class="row cp-table__feedback" *ngIf="attendee.feedback_text">
            <small>{{ attendee.feedback_text }}</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <cp-pagination
          [pageNext]="pageNext"
          [pagePrev]="pagePrev"
          [pageNumber]="pageNumber"
          (next)="onPaginationNext()"
          (previous)="onPaginationPrevious()">
        </cp-pagination>
      </div>
    </div>
  </div>
</div>