<div class="cp-card">
  <div class="row">
    <div class="col-xs-3 pull-left">
      <cp-searchbox (query)="onSearch($event)"></cp-searchbox>
    </div>

    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12 no-left-padding">
              <cp-dropdown
                [items]="employers$ | async"
                (selected)="onFilterByEmployer($event.action)">
              </cp-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-5">
      <div class="row">
        <div class="col-xs-5 pull-right">
          <a
            [routerLink]="['create']"
            class="cpbtn cpbtn--primary">
            {{ 'jobs_create_job' | cpI18n }}
          </a>
        </div>
        <div class="col-xs-6 pull-right">
          <a
            [routerLink]="['employers']"
            class="cpbtn cpbtn--cancel">
            {{ 'jobs_manage_employer' | cpI18n }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>