@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/components/button';

:host {
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
  color: $color-secondary-text;

  span {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  > *:not(:last-child) {
    margin-right: 5rem;
  }

  img {
    margin-right: 0.5rem;
  }
}
