<span role="group">
  <a *ngIf="isPending"
     [cpTarget]="'edit-btn'"
     class="cpbtn cpbtn--link"
     [routerLink]="['edit/' + announcement.id]">{{'edit' | cpI18n}}</a>

  <button ui-tooltip
          type="button"
          *ngIf="hasError"
          class="unstyled-button"
          [title]="'something_went_wrong' | cpI18n">
    <i class="material-icons">warning</i>
  </button>
</span>

<span>
  <img alt=""
       ui-tooltip
       aria-hidden="true"
       *ngIf="isExternal"
       [title]="isExternalToolTip"
       [src]="announcement.source | integrationSourceToIcon" />
  <button ui-button
          type="button"
          variant="inline"
          [cpTarget]="'delete-btn'"
          (click)="deleteClick.emit($event)">
    <ready-ui-icon name="close"></ready-ui-icon>
  </button>

</span>