<span role="group">
  <a *ngIf="isPending"
     [cpTarget]="'edit-btn'"
     class="cpbtn cpbtn--link"
     [routerLink]="['edit/' + announcement.id]">{{'edit' | cpI18n}}</a>

  <button ui-tooltip
          type="button"
          *ngIf="hasError"
          class="unstyled-button"
          [title]="'something_went_wrong' | cpI18n">
    <i class="material-icons">warning</i>
  </button>
</span>

<span>
  <img alt=""
       ui-tooltip
       aria-hidden="true"
       *ngIf="isExternal"
       [title]="isExternalToolTip"
       [src]="announcement.source | integrationSourceToIcon" />

  <cp-table-close [cpTarget]="'delete-btn'"
                  (handleClick)="deleteClick.emit($event)"></cp-table-close>
</span>
