<form [formGroup]="form">
  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <label for="type">{{ 't_shared_type' | cpI18n }}</label>
        <cp-dropdown
          cpTarget="feed_type"
          [items]="typesDropdown"
          [selectedItem]="selectedType"
          (selected)="onTypeSelected($event)">
        </cp-dropdown>
      </div>
      <div class="col-6">
        <cp-integration-required-fields [linkUrl]="announcementIntegrationPkdb">
        </cp-integration-required-fields>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-12">
        <label for="feed_url">{{ 't_shared_url' | cpI18n }}</label>
        <input id="feed_url" type="text" cpTarget="feed_url" formControlName="feed_url" />
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-12">
        <label for="store_id">{{ 'from' | cpI18n }}</label>
        <cp-dropdown
          cpTarget="store_id"
          [items]="stores$ | async"
          [selectedItem]="selectedSender"
          (selected)="onSenderSelected($event)">
        </cp-dropdown>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-12">
        <label>{{ 'to' | cpI18n }}</label>
        <cp-dropdown [disabled]="true" [items]="audiences"> </cp-dropdown>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <label for="priority">{{ 't_announcement_type' | cpI18n }}</label>
        <cp-check-dropdown
          cpTarget="priority"
          buttonClass="cpbtn cpbtn--cancel"
          [items]="priorityDropdown"
          [selectedItem]="selectedPriority"
          (selected)="onPrioritySelected($event)">
        </cp-check-dropdown>
      </div>
    </div>
  </div>
</form>
