<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div class="menu cpbtn cpbtn--cancel" *ngSwitchCase="false">
    <div class="menu__header" (click)="isOpen = !isOpen">
      <span i18n>{{ 'events_import_bulk_update' | cpI18n }}</span>
      <span class="icon"><i class="material-icons">keyboard_arrow_down</i></span>
    </div>
    <div class="menu__content" [class.open]="isOpen">
      <div class="row">
        <div class="col-xs-12">
          <div class="row" *ngIf="!storeId">
            <div class="col-xs-12">
              <div class="menu__item">
                <cp-dropdown
                  [items]="stores"
                  (selected)="onHostSelected($event)">
                </cp-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="menu__item">
                <label i18n>{{ 'events_event_attendance' | cpI18n }}</label>
                <cp-switch
                  [id]="id1"
                  (toggle)="toggleEventAttendance()">
                </cp-switch>
              </div>
            </div>
          </div>
          <div *ngIf="state.event_attendance === 1">
            <div class="menu__item">
              <div class="row">
                <div class="col-xs-6">
                  <label i18n>{{ 'events_attendance_feedback' | cpI18n }}</label>
                  <cp-dropdown
                    [items]="eventAttendanceFeedback"
                    [selectedItem]="state.event_feedback"
                    (selected)="updateAttendanceFeedback($event)">
                  </cp-dropdown>
                </div>
              </div>
            </div>

            <div class="menu__item">
              <div class="row">
                <div class="col-xs-6">
                  <label i18n>{{ 'events_event_manager' | cpI18n }}</label>
                  <cp-dropdown
                    [items]="managers$ | async"
                    (selected)="updateEventManager($event)">
                  </cp-dropdown>
                </div>
              </div>
            </div>

            <div class="menu__item">
              <label i18n>{{ 'events_attendance_manager_full' | cpI18n }}</label>
              <input
                type="email"
                (keyup)="updateAttendanceManager($event.target.value)">
            </div>
          </div>
        </div>
      </div>
      <div class="row menu__content--footer">
        <div class="col-xs-12">
          <div class="pull-right">
            <button
              type="button"
              (click)="isOpen = false"
              class="cpbtn cpbtn--cancel" i18n>
              {{ 'cancel' | cpI18n }}
            </button>
            <button
              type="button"
              (click)="doSubmit()"
              class="cpbtn cpbtn--primary" i18n>
              {{ 'apply' | cpI18n }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
