@import '~client/style/core/colors';
@import '~client/style/components/form';
@import '~client/style/components/card';
@import '~client/style/components/button';

.no-content {
  @include card-margin();
}

.delete-link {
  top: -5px;
  font-size: 2em;
  position: relative;
}

.cp-form__header {
  span.hover {
    position: relative;

    > span i {
      top: 1px;
      font-size: 17px;
      position: absolute;
      padding-left: 6px;
    }
  }
}

.links {
  padding: 0;
  list-style: none;

  &__thumbnail {
    img {
      float: left;
      width: 30px;
      height: 30px;
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}
