<div class="row">
  <div class="col-12">
    <cp-event-integrations-action-box
      (launchCreateModal)="onLaunchCreateModal()">
    </cp-event-integrations-action-box>
  </div>
</div>

<div [ngSwitch]="loading$ | async">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!(integrations$ | async)?.length"
      [noContentText]="cpI18n.translate('t_shared_no_integrations_found')">
    </cp-no-content>

    <div *ngIf="(integrations$ | async)?.length">
      <ul class="links cp-form">
        <li class="cp-form__header col-12">
          <div class="row">
            <span class="col-4">{{ 't_shared_url' | cpI18n }}</span>
            <span class="col-2">{{ 't_shared_status' | cpI18n }}</span>
            <span class="col-1">{{ 't_shared_type' | cpI18n }}</span>
            <span class="col-3">{{ 't_shared_last_synced' | cpI18n }}</span>
            <span class="col-2"></span>
          </div>
        </li>

        <li
          class="cp-form__item col-12"
          *ngFor="let integration of integrations$ | async">
          <div class="row">
            <span
              (click)="onLaunchEditModal()"
              class="col-4 hover text-truncate"
              [attr.title]="integration.feed_url"
              (click)="selectedIntegration = integration">
              {{ integration.feed_url }}
            </span>
            <span class="col-2">
              {{ integration.sync_status | cpEventIntegrationStatus | cpI18n }}
            </span>
            <span class="col-1">
              {{ integration.feed_type | cpEventIntegrationType }}
            </span>
            <span class="col-3">
              {{ integration.last_successful_sync_epoch | cpDatePipe:dateFormat }}
            </span>
            <span
              (click)="showDeleteModal = true"
              class="col-2 hover delete-link text-right"
              (click)="selectedIntegration = integration"
              data-toggle="modal" data-target="#integrationDelete">
              &times;
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal
  *ngIf="showCreateModal"
  modalId="integrationCreate"
  (modalClose)="onCreateTeardown()">
  <cp-events-integrations-create
    (teardown)="onCreateTeardown()">
  </cp-events-integrations-create>
</cp-modal>

<cp-modal
  *ngIf="showDeleteModal"
  modalId="integrationDelete">
  <cp-events-integrations-delete
    (teardown)="onDeleteTeardown()"
    [eventIntegration]="selectedIntegration">
  </cp-events-integrations-delete>
</cp-modal>

<cp-modal
  *ngIf="showEditModal"
  modalId="integrationEdit"
  (modalClose)="onEditTeardown()">
  <cp-events-integration-edit
    (teardown)="onEditTeardown()"
    [eventIntegration]="selectedIntegration">
  </cp-events-integration-edit>
</cp-modal>