/******************
* APP Main Colors *
******************/
$color-brand: #21293f;
$color-accent: #2c94e9;

$color-black: #000000;
$color-white: #ffffff;

$color-grey: #A0A0A0;
$color-med-grey: #C8C8C8;
$color-light-grey: #F2F1F0;

$color-success: #2ecc71;
$color-info: #3498db;
$color-warning: #f1c40f;
$color-error: #e74c3c;
$color-danger: #e67e22;

