/******************
* APP Main Colors *
******************/
$color-brand: #21293f;
$color-accent: #2c94e9;

$color-black: #21293F;
$color-white: #ffffff;

$color-grey: #A0A0A0;
$color-med-grey: #999999;
$color-light-grey: #F9F9F9;;

$color-success: #2ecc71;
$color-info: #3498db;
$color-warning: #f1c40f;
$color-error: #DA552F;
$color-danger: #e67e22;

