/******************
* APP Main Colors *
******************/
$color-brand: #3496e6;
$color-accent: #2c94e9;

$color-black: #1F2532; //#21293F;
$color-white: #ffffff;

$color-grey: #A0A0A0;
$color-med-grey: #999999;
$color-light-grey: #F9F9F9;;

$color-success: #6AD557;
$color-info: #3498db;
$color-warning: #f1c40f;
$color-danger: #FF6059;

$border-color: #CCCCCC;

