html,
body {
  height: 100%;
}

hr {
  border-top: 1px solid $border-color;
}

body {
  background: $color-light-grey;
}

.placeholder {
  width: 108px;
  height: 108px;
  border-radius: 4px;
  display: inline-block;
  background-color: #D8D8D8;

  &--small {
    width: 35px;
    height: 35px;
  }
}