p {
  margin-bottom: 0;
  transition: color 300ms ease-in-out;

  &.with-tooltip {
    width: 10px;
    &:hover {
      cursor: pointer;
    }

    i {
      top: 4px;
      font-size: 16px;
      position: relative;
    }
  }

  &:hover {
    p.with-tooltip,
    p.with-tooltip i {
      color: $color-text;
    }
  }
}