@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

body {
  font-family: 'Open Sans', sans-serif;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin font-bold() {
  font-weight: 600;
}

@mixin font-normal() {
  font-weight: 400;
}

@mixin font-thin() {
  font-weight: 300;
}