@import 'colors';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

body {
  font-family: 'Open Sans', sans-serif;
  color: $color-text;
}

.text-muted {
  color: $color-med-grey;
}

p.no-margin {
  margin-bottom: 0;
}

.link {
  color: $color-brand;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hover {
  cursor: pointer;
}

a {
  color: $color-black;
  display: inline-block;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:focus,
  &:active {
    outline: none;
    outline-offset: 0;
  }
}

@mixin font-heading() {
  @include font-bold();

  font-size: 2.5em;
}

@mixin font-bold() {
  font-weight: 700;
}

@mixin font-semi-bold() {
  font-weight: 600;
}

@mixin font-normal() {
  font-weight: 400;
}