<div class="cp-card actions col-xs-12">
  <div class="row">
    <cp-searchbox
      (query)="onSearch($event)"
      class="col-xs-3">
    </cp-searchbox>

    <div class="col-xs-3">
      <label class="pull-left" i18n>Attendance</label>
      <cp-checkbox
        (toggle)="onAttendanceToggle($event)"
        class="checkbox">
      </cp-checkbox>
    </div>

    <div class="col-xs-3 pull-right text-right">
      <a
        [routerLink]="['create']" i18n
        class="cpbtn cpbtn--primary cpbtn--square-right no-right-padding">
        Create Service
      </a>
      <div
        class="cpbtn cpbtn--square-left cpbtn--no-padding cpbtn--primary no-left-padding hover action-dropdown">
        <i class="material-icons" data-toggle="dropdown">expand_more</i>
        <ul class="dropdown-menu dropdown-menu-right text-left">
          <li i18n (click)="launchModal()">Import Services from Excel</li>
        </ul>
      </div>
    </div>
  </div>
</div>
