<div class="row">
  <div class="col-12">
    <div class="cp-card card">
      <div
        class="card__background"
        [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(' + event.poster_thumb_url + ')'}">
      </div>
      <div class="card__meta">
        <p class="card__title">{{ event.title }}</p>
        <p class="card__date">
          {{ event.start | cpDatePipe:dateFormat : event.tz_zoneinfo_str }} - {{ event.end | cpDatePipe:dateFormat : event.tz_zoneinfo_str }}
        </p>
      </div>
    </div>
  </div>
</div>