@import '~styles/core/colors';
@import '~styles/components/card';
@import '~styles/core/typography';
@import '~bootstrap/functions';
@import '~bootstrap/variables';
@import '~bootstrap/mixins/breakpoints';

.card {
  @include card-margin();

  margin-bottom: 0;

  &__background {
    height: 225px;
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }

  &__meta {
    left: 45px;
    bottom: 43px;
    position: absolute;

    p {
      margin-bottom: 0;
      color: $color-white;
    }
  }

  &__title {
    @include font-semi-bold();
    @include font-24px();

    margin-bottom: 0;
  }

  &__date {
    @include font-16px();
  }
}

@include media-breakpoint-down(sm) {
  .card {
    padding: 0;

    &__meta {
      position: relative;
      left: inherit;
      bottom: inherit;
      padding: 24px;

      p {
        margin-bottom: 5px;
        color: $color-black;
      }

      p.card__date {
        color: $color-secondary-text;
      }
    }

    &__title {
      @include font-16px();
      @include font-bold();

      line-height: 20px;
      margin-bottom: 10px;
    }

    &__date {
      @include font-12px();
    }
  }
}