<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>
  <div *ngSwitchCase="false">
    <div class="row margin-bottom">
      <form [formGroup]="form">
        <div class="col-xs-6">
          <cp-deals-card
            [form]="form"
            [storeForm]="storeForm"
            (formData)="onFormData($event)">
          </cp-deals-card>
        </div>

        <div class="col-xs-6">
          <cp-store-card
            [form]="form"
            [storeForm]="storeForm"
            (formData)="onFormData($event)"
            (isNewStore)="onToggleStore($event)">
          </cp-store-card>
        </div>

        <div class="footer">
          <div class="cp-wrapper cp-wrapper--outer">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-right">
                    <label class="error" *ngIf="error">
                      <i class="material-icons">warning</i>
                      {{ errorMessage }}
                    </label>
                    <a [routerLink]="['../info']"
                       class="cpbtn cpbtn--cancel" i18n>
                      {{ 'cancel' | cpI18n }}
                    </a>
                    <cp-button
                      [props]="buttonData"
                      (buttonClick)="onSubmit()">
                    </cp-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>