<div class="row">
  <div class="col-12">
    <cp-orientation-list-action-box (search)="onSearch($event)"
                                    (launchCreateModal)="onLaunchCreateModal()">
    </cp-orientation-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.orientationPrograms.length"
                   [noContentText]="cpI18n.translate('orientation_no_results_found')">
    </cp-no-content>

    <div *ngIf="state.orientationPrograms.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell
                (sort)="doSort('name')"
                [sorting]="state.sort_field === 'name'"
                [sortDirection]="state.sort_direction">{{ label.name }}</th>
            <th ui-table-cell>
              {{ 'duration' | cpI18n }}
            </th>
            <th ui-table-cell>
              {{ 'members' | cpI18n }}
            </th>
            <th ui-table-cell>
              {{ 'events' | cpI18n }}
            </th>
            <th ui-table-cell></th>
          </tr>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let program of state.orientationPrograms">
            <td ui-table-cell>
              <a ui-button
                 variant="inline"
                 cpTracker
                 [eventData]="eventData"
                 [routerLink]="[program.id + '/events']">
                <strong>
                  {{ program.name }}
                </strong>
              </a>
            </td>
            <td ui-table-cell>
              <div *ngIf="
                      program.active_from !== noDuration && program.active_until !== noDuration
                    ">
                {{ program.active_from | cpDatePipe: dateFormat }} -
                {{ program.active_until | cpDatePipe: dateFormat }}
              </div>
            </td>
            <td ui-table-cell>
              {{ program.members_count }}
            </td>
            <td ui-table-cell>
              {{ program.events_count }}
            </td>
            <td ui-table-cell
                align="right">
              <ready-ui-stack>
                <button ui-button
                        type="button"
                        variant="inline"
                        data-toggle="modal"
                        aria-label="duplicate"
                        data-target="#programDuplicate"
                        (click)="onClickDuplicate(program)">
                  <ready-ui-icon name="control_point_duplicate"
                                 aria-label="Duplicate Program"></ready-ui-icon>
                </button>
                <button ui-button
                        type="button"
                        variant="inline"
                        aria-label="delete"
                        (click)="onClickDelete(program)">
                  <ready-ui-icon name="close"
                                 aria-label="Delete Program"></ready-ui-icon>
                </button>
              </ready-ui-stack>
            </td>
          </tr>
        </tbody>
      </table>

      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal modalId="programCreate"
          *ngIf="launchCreateModal">
  <cp-orientation-program-create (resetCreateModal)="launchCreateModal = false">
  </cp-orientation-program-create>
</cp-modal>

<cp-modal modalId="programDuplicate"
          *ngIf="launchDuplicateModal">
  <cp-orientation-duplicate-program [orientationProgram]="selectedProgram"
                                    (resetDuplicateModal)="launchDuplicateModal = false">
  </cp-orientation-duplicate-program>
</cp-modal>