@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/components/card';
@import '~projects/campus-cloud/src/sass/components/button';
@import '~projects/campus-cloud/src/sass/components/dropdown';

.no-content {
  @include card-margin();
}

.cp-form {
  &__header {
    span.hover {
      position: relative;

      > span i {
        top: 1px;
        font-size: 17px;
        position: absolute;
        padding-left: 6px;
      }
    }
  }
}

.action {
  text-align: center;

  button {
    font-size: 2em;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

.orientation {
  padding: 0;
  list-style: none;

  &__dropdown {
    right: 50px;
    position: absolute;
    z-index: 1000;

    ul {
      @include cpDropdownMenu();

      width: 245px;
      border-radius: 4px;
      overflow-y: auto;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);

      li {
        padding: 10px 0 10px 0;

        span {
          padding: 2px 0 0 8px;
        }
      }
    }
  }
}

.dropdown-menu {
  border: none;
  background: transparent;
}
