@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/card';
@import '~projects/campus-cloud/src/sass/components/button';

ready-ui-line-chart {
  width: 100%;
  height: 260px;
  display: block;
}

.chart {
  @include card-margin();

  display: block;
  margin-left: 10px;
}

.chart__header {
  display: flex;
  justify-content: space-between;
}

.chart__header--title {
  @include font-bold();
  font-size: 18px;
  margin-bottom: 25px;
}

.chart__body {
  margin-top: 25px;
}

hr {
  margin-top: -20px;
}

.heading {
  display: flex;
  flex-direction: column;
}

.heading__title {
  font-size: 10px;
}

.heading__count {
  font-size: 20px;
}

.download-button {
  margin-top: auto;
  margin-bottom: auto;
}
