@mixin focused-styled {
  outline: 1px dotted #797878 !important;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

a,
li,
button {
  &:focus:not(:disabled) {
    @include focused-styled;
  }
}

.unstyled-button {
  padding: 0;
  width: auto;
  border: none;
  font: inherit;
  color: inherit;
  overflow: visible;
  line-height: normal;
  background: transparent;
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}
