/******************
* APP Main Colors *
******************/
$color-brand: #2096f3;

$color-black: #1f2532;
$color-grey: #7a88a3;
$color-white: #ffffff;

$color-text: #212121;
$color-secondary-text: #757575;
$color-text-alt: #f9f9fb;

$color-med-grey: #bdbdbd;
$color-light-grey: #eeeeee;

$color-success: #28ca42;
$color-info: #3498db;
$color-warning: #ffa941;
$color-danger: #ff6059;

$border-color: #cccccc;

$body-bg: #f9f9f9;
