<div class="row form-group">
  <div class="col-12">
    <cp-dropdown
      [items]="resources"
      [selectedItem]="selectedItem"
      (selected)="onResourceSelected($event)">
    </cp-dropdown>
  </div>
</div>



<div
  class="row form-group"
  *ngIf="resourceSelection === 'web_link'">
  <div class="col-12">
    <p>{{ 't_personas_tile_link_donation_message' | cpI18n }}
      <a
        class="cpbtn cpbtn--link"
        target="_blank"
        [attr.href]="inappLinkMessage">
          {{ 'learn_more' | cpI18n }}
      </a>
    </p>
  </div>
</div>

<div
  class="row form-group"
  *ngIf="typeSearchComponent.includes(resourceSelection)">
  <div class="col-12">
    <cp-personas-resource-type-search
      [resource]="resource"
      [resourceId]="resourceSelection"
      (selected)="selected.emit($event)">
    </cp-personas-resource-type-search>
  </div>
</div>
