@import '~styles/core/colors';
@import '~styles/core/typography';
@import '~styles/components/button';
@import '~styles/components/card';

.card-margin {
  @include card-margin();

  margin-bottom: 0;
}

.page {
  &__nav {
    padding: 14px;
    background: $color-black;
  }

  &__title {
    @include font-16px();
    // @include font-semi-bold();

    margin-top: 8px;
    margin-bottom: 0;
    color: $color-white;
    display: inline-block;
  }
}