<div class="cpmodal" *ngIf="attendee">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span i18n><strong>{{ 'student_feedback' | cpI18n }}</strong></span>

        <span
          (click)="doModalReset()"
          class="float-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-12 text-center">
        <cp-stars
          [size]="listStarSize"
          [avgRate]="attendee.feedback_rating"
          [maxRate]="attendee.maxRate">
        </cp-stars>
      </div>
    </div>
    <div class="row">
      <div class="col-8 col-offset-2">
        <p class="text-center name">
          {{ attendee.firstname }} {{ attendee.lastname }}
        </p>
        <p class="text-center feedback">
          {{ attendee.feedback_text }}
        </p>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-6 col-offset-6 text-right">

        <button
          type="button"
          (click)="doModalReset()"
          class="cpbtn cpbtn--primary"i18n>
          {{ 'done' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>