<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 event">
        <div class="cp-card resources__header">
          <div class="row">
            <div class="col-xs-12">
              <cp-resource-banner [resourceBanner]="resourceBanner"></cp-resource-banner>
              <div class="row event__buttons">
                <div class="col-xs-12">
                  <a
                    [routerLink]="['edit']"
                    class="cpbtn cpbtn--primary" i18n>
                    {{ 'edit' | cpI18n }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="cp-card services__details">
              <div class="row">
                <div class="col-xs-12">
                  <div class="services__meta">
                    <p *ngIf="service.contactphone">
                      <i class="material-icons">phone</i> {{ service.contactphone }}
                    <p>

                    <p *ngIf="service.email">
                      <i class="material-icons">email</i>{{ service.email }}
                    </p>

                    <p *ngIf="service.website">
                      <i class="material-icons">web</i>{{ service.website }}
                    </p>

                    <p *ngIf="service.address">
                      <i class="material-icons">place</i>
                      {{ service.address }}
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 services__map">
                  <cp-maps
                    [center]="mapCenter"
                    [draggable]="draggable">
                  </cp-maps>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="service.description">
          <div class="col-xs-12">
            <div class="cp-card">
              <p><strong>{{ 'description' | cpI18n }}</strong></p>
              <p class="no-margin-bottom">{{ service.description }}</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="cp-card">
              <p><strong>{{ 'services_admin' | cpI18n }}</strong></p>
              <p *ngIf="!admins.length" i18n>{{ 'no_admins_found' | cpI18n }}...</p>
              <ul class="service__admins__list" *ngIf="admins.length">
                <li
                  *ngFor="let admin of admins"
                  class="service__admins__admin">
                  {{ admin.firstname }} {{ admin.lastname }}
                  <br>
                  <span class="text-muted">{{ admin.email }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>