@import '~styles/components/card';
@import '~styles/components/button';
@import '~styles/core/typography';
@import '~bootstrap/variables';

p.no-margin-bottom {
  margin-bottom: 0;
}

.cp-card {
  @include card-margin();

  margin-bottom: 0;
}

strong {
  @include font-semi-bold();

  color: $color-black;
}

.services {
  &__map,
  &__banner {
    height: 225px;
  }

  &__map {
    margin-top: 15px;
  }

  &__banner {
    position: relative;
    margin-bottom: 15px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }

  &__meta {
    margin-bottom: 15px;

    i {
      margin-right: 5px;
      vertical-align: -7px;
    }
    p {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__admins {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid $border-color;

    &__title {
      @include font-16px();
      @include font-semi-bold();
    }

    &__list {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }

    &__admin {
      padding: 12px 0;

      span {
        font-size: 0.9em;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &__buttons {
    a {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
