<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <div class="row justify-content-center">
      <div class="col-8 event">
        <div class="cp-card resources__header">
          <div class="row">
            <div class="col-12">
              <cp-resource-banner [resourceBanner]="resourceBanner"></cp-resource-banner>
              <div class="row event__buttons">
                <div class="col-12">
                  <a
                    cpTracker
                    [eventData]="trackChangeEvent()"
                    [routerLink]="['../edit']"
                    class="cpbtn cpbtn--primary" i18n>
                    {{ 'edit' | cpI18n }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="cp-card services__details" *ngIf="showLocationDetails || hasMetaData">
              <div class="row">
                <div class="col-12">
                  <div class="row" *ngIf="service.contactphone">
                    <div class="col-2">
                      <p><strong i18n>{{ 'phone' | cpI18n }}</strong></p>
                    </div>
                    <div class="col-10">
                      <p>{{ service.contactphone }}</p>
                    </div>
                  </div>
                  <div class="row" *ngIf="service.email">
                    <div class="col-2">
                      <p><strong i18n>{{ 'email' | cpI18n }}</strong></p>
                    </div>
                    <div class="col-10">
                      <p>{{ service.email }}</p>
                    </div>
                  </div>
                  <div class="row" *ngIf="service.website">
                    <div class="col-2">
                      <p><strong i18n>{{ 'website' | cpI18n }}</strong></p>
                    </div>
                    <div class="col-10">
                      <p>{{ service.website }}</p>
                    </div>
                  </div>
                  <div class="row" *ngIf="service.address">
                    <div class="col-2">
                      <p><strong i18n>{{ 'location' | cpI18n }}</strong></p>
                    </div>
                    <div class="col-10">
                      <p>{{ service.address }}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="showLocationDetails">
                <div class="col-12 services__map">
                  <cp-maps
                    [center]="mapCenter"
                    [draggable]="draggable">
                  </cp-maps>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="service.description">
          <div class="col-12">
            <div class="cp-card">
              <p><strong>{{ 'description' | cpI18n }}</strong></p>
              <p class="no-margin-bottom render_line_breaks">{{ service.description }}</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="cp-card">
              <p><strong>{{ 'services_admin' | cpI18n }}</strong></p>
              <p *ngIf="!admins.length" i18n>{{ 'no_admins_found' | cpI18n }}...</p>
              <ul class="service__admins__list" *ngIf="admins.length">
                <li
                  *ngFor="let admin of admins"
                  class="service__admins__admin">
                  {{ admin.firstname }} {{ admin.lastname }}
                  <br>
                  <span class="text-muted">{{ admin.email }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>