<form [formGroup]="form">
  <ng-container formGroupName="ios">
    <div class="form-group">
      <label>{{ 't_studio_resource_external_app_open_label_ios_universal' | cpI18n }}</label>
      <input
        type="text"
        class="form-control"
        name="ios_store_url"
        cpTarget="ios_store_url"
        formControlName="store_url"
        [class.error]="form.get('ios').dirty && form.get('ios').hasError('requiredField')">
    </div>
    <div class="form-group">
      <label>{{ 't_studio_resource_external_app_open_label_ios_fallback' | cpI18n }}</label>
      <input
        type="text"
        name="ios_http_url"
        class="form-control"
        formControlName="http_url"
        cpTarget="ios_ios_http_url"
        [class.error]="form.get('ios').dirty && form.get('ios').hasError('requiredField')">
    </div>
  </ng-container>

  <ng-container formGroupName="android">
    <div class="form-group">
      <label>{{ 't_studio_resource_external_app_open_label_android_package_name' | cpI18n }}</label>
      <input
        type="text"
        class="form-control"
        name="android_package_name"
        formControlName="package_name"
        cpTarget="android_package_name"
        [class.error]="form.get('android').dirty && form.get('android').get('package_name').hasError('required')">
    </div>
    <div class="form-group">
      <label>{{ 't_studio_resource_external_app_open_label_android_fallback' | cpI18n }}</label>
      <input
        type="text"
        class="form-control"
        name="android_store_url"
        cpTarget="android_store_url"
        formControlName="store_url"
        [class.error]="form.get('android').dirty && form.get('android').get('store_url').hasError('required')">
    </div>
  </ng-container>
</form>