<div class="attendees">
  <div class="attendees__header">
    <div class="row">
      <div class="col-12">
        <p i18n>{{ 'checkin_attendance_list' | cpI18n }} ({{ attendees.length}})</p>
      </div>
    </div>
  </div>
  <ul class="attendees__list">
    <li class="attendees__item" *ngFor="let attendee of attendees">
      <span class="attendees__name">{{ attendee.firstname }} {{ attendee.lastname }}</span>
      <br>
      <span class="attendees__email">{{ attendee.email }}</span>

      <span>
        <i class="material-icons attendees__icon float-right">check</i>
      </span>
    </li>
  </ul>
</div>