<div class="row">
  <div class="header">
    <div class="col-xs-6 col-sm-4 text-center">
      <div class="cp-card">
        <p class="header__digit">{{ event.attends }}</p>
        <p i18n>Attendance</p>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 text-center">
      <div class="cp-card">
        <p class="header__digit">{{ event.num_ratings }}</p>
        <p i18n>Responses</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="cp-card">
        <p class="header__digit">
          <cp-stars
            [size]="detailStarSize"
            [avgRate]="event.avg_rating_percent"
            [maxRate]="event.rating_scale_maximum">
          </cp-stars>
        </p>
        <p i18n>
          Average Rating:
          <strong *ngIf="event.rating_scale_maximum > -1">
            {{ ((event.rating_scale_maximum * event.avg_rating_percent) / 100).toFixed(1) }}
          </strong>
          <strong *ngIf="event.rating_scale_maximum === -1">N/A</strong>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <cp-past-events-action-box
      (querySearch)="doSearch($event)"
      (createExcel)="onCreateExcel()">
    </cp-past-events-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div class="row" *ngSwitchCase="false">
    <div class="col-xs-12">
      <div class="cp-table">
        <div class="cp-table__header">
          <div class="row">
            <div class="col-xs-2">
              <span
                class="hover"
                (click)="doSort('name')" i18n>
                Attendant
                <span *ngIf="state.sort_field === 'name'">
                  <i
                    class="material-icons"
                    *ngIf="state.sort_direction === 'asc'">
                    arrow_drop_up
                  </i>
                  <i
                    class="material-icons"
                    *ngIf="state.sort_direction === 'desc'">
                    arrow_drop_down
                  </i>
                </span>
              </span>
            </div>
            <div class="col-xs-1">
              <span
                class="hover"
                (click)="doSort('rsvp')" i18n>
                RSVP
                <span *ngIf="state.sort_field === 'rsvp'">
                  <i
                    class="material-icons"
                    *ngIf="state.sort_direction === 'asc'">
                    arrow_drop_up
                  </i>
                  <i
                    class="material-icons"
                    *ngIf="state.sort_direction === 'desc'">
                    arrow_drop_down
                  </i>
                </span>
              </span>
            </div>
            <div class="col-xs-2">
              <span
                class="hover"
                (click)="doSort('check_in_method')" i18n>
                Check-in Method
                <span *ngIf="state.sort_field === 'check_in_method'">
                  <i
                    class="material-icons"
                    *ngIf="state.sort_direction === 'asc'">
                    arrow_drop_up
                  </i>
                  <i
                    class="material-icons"
                    *ngIf="state.sort_direction === 'desc'">
                    arrow_drop_down
                  </i>
                </span>
              </span>
            </div>
            <div class="col-xs-4">
              <span i18n>User Feedback</span>
            </div>
            <div class="col-xs-3">
              <span
                class="hover"
                (click)="doSort('feedback_rating')" i18n>
                Rating
                <span *ngIf="state.sort_field === 'feedback_rating'">
                  <i
                    class="material-icons"
                    *ngIf="state.sort_direction === 'asc'">
                    arrow_drop_up
                  </i>
                  <i
                    class="material-icons"
                    *ngIf="state.sort_direction === 'desc'">
                    arrow_drop_down
                  </i>
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="cp-table__item" *ngIf="!attendees.length">
          <p class="text-center no-margin" i18n>No attendees yet</p>
        </div>

        <div class="cp-table__item"
          *ngFor="let attendee of attendees">
          <div class="row">
            <div class="col-xs-2 text-truncate">
              <strong>
                  {{ attendee.firstname }}
                  {{ attendee.lastname }}
                </strong>
              <br>
              <small class="text-muted">{{ attendee.email }}</small>
            </div>
            <div class="col-xs-1">
              <i
                class="material-icons"
                *ngIf="attendee.rsvp === 1">
                check
              </i>
              <i
                class="material-icons"
                *ngIf="attendee.rsvp === 0">
                close
              </i>
            </div>
            <div class="col-xs-2">
              <i
                class="material-icons"
                *ngIf="attendee.check_in_method === 3">
                smartphone
              </i>
              <i
                class="material-icons"
                *ngIf="attendee.check_in_method === 1">
                computer
              </i>
            </div>
            <div class="col-xs-4 text-truncate">
              <span
                class="link hover"
                data-toggle="modal"
                (click)="onViewFeedback(attendee)"
                data-target="#eventFeedbackModal">
                {{ attendee.feedback_text }}
              </span>
            </div>
            <div class="col-xs-3">
              <cp-stars
                [size]="listStarSize"
                [avgRate]="attendee.feedback_rating"
                [maxRate]="event.rating_scale_maximum">
              </cp-stars>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <cp-modal modalId="eventFeedbackModal">
    <cp-feedback-modal
      (resetModal)="onResetModal()"
      [attendee]="attendeeFeedback">
    </cp-feedback-modal>
  </cp-modal>
</div>