@import '~styles/components/card';
@import '~styles/components/table';

.cp-table__header {
  span.hover {
    position: relative;

    > span i {
      top: -2px;
      position: absolute;
    }
  }
}

.add-card-margin {
  @include card-margin();
}

.header {
  @include card-margin();
  margin-top: 0;

  &__digit {
    @include font-semi-bold();

    font-size: 2.4em;
  }
}

