@import '~styles/components/card';
@import '~styles/core/typography';

.cp-card {
  .margin-top {
    margin-top: 24px;
  }

  label.no-margin {
    margin: 0;
  }

  p.title {
    @include font-24px();
    @include font-bold();

    margin: 0;
    display: inline-block;
  }
}