<ng-container [ngSwitch]="users?.length > 0">
  <table ui-table
         *ngSwitchCase="true">
    <thead>
      <tr ui-table-row>
        <th ui-table-cell
            sorting="true"
            colspan="3"
            [sortDirection]="sortDirection"
            (sort)="sort.emit(sortDirection)">{{ 'email' | cpI18n }}</th>
      </tr>
    </thead>

    <tbody>
      <tr ui-table-row
          [cpTarget]="['test_user_' + i]"
          *ngFor="let user of users; index as i">
        <td ui-table-cell>
          {{ user.email }}
        </td>
        <td ui-table-cell>
          <button ui-button
                  type="button"
                  class="resend"
                  color="primary"
                  variant="inline"
                  (click)="resend.emit(user.id)">
            {{ 't_sandbox_resend_invite' | cpI18n }}
          </button>
        </td>
        <td align="right"
            ui-table-cell>
          <button ui-button
                  type="button"
                  class="delete"
                  variant="inline"
                  aria-label="Delete Test User"
                  (click)="delete.emit(user.id)">
            <ready-ui-icon name="close"></ready-ui-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-container *ngSwitchCase="false">
    <cp-no-content [noContentText]="noContentText"></cp-no-content>
  </ng-container>
</ng-container>