@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';

.value-input-box {
  margin-top: 10px;
  min-height: 36px;

  input {
    background-color: #ffffff;
    color: #000000;

    &:hover {
      border: 1px solid #bdbdbd;
    }
  }

  .image-cell {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 4px;
    margin-top: 5px;
    overflow: hidden;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
}
