<div class="row">
  <div class="col-xs-12">
    <cp-lists-list-action-box
      (search)="onSearch($event)"
      (launchCreateModal)="onLaunchCreateModal()"
      (launchImportModal)="onLaunchImportModal()">
    </cp-lists-list-action-box>
  </div>
</div>


<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!state.lists.length"
      noContentText="No lists found...">
    </cp-no-content>

    <div *ngIf="state.lists.length">
      <ul class="lists cp-form">
        <li class="cp-form__header col-xs-12">
          <div class="row">
            <span class="col-xs-5" i18n>Name</span>
            <span class="col-xs-2 text-center" i18n>Users</span>
            <span class="col-xs-1 col-xs-offset-4"></span>
          </div>
        </li>

        <li
          class="cp-form__item col-xs-12"
          *ngFor="let list of state.lists">
          <div class="row">
            <span class="col-xs-5 text-truncate">
              <strong>
                <button
                  (click)="editList = list"
                  class="cpbtn cpbtn--link-dark"
                  (click)="isListsEdit = true"
                  data-toggle="modal" data-target="#listsEdit">
                  {{ list.name }}
                </button>
              </strong>
              <br>
              {{ list.description }}
            </span>

            <span class="col-xs-2 text-center" i18n>
              {{ list.users.length }}
            </span>

            <span
              (click)="deleteList = list;"
              (click)="islistsDelete = true"
              data-toggle="modal" data-target="#listsDelete"
              class="col-xs-1 col-xs-offset-4 hover delete-list text-center">
              &times;
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal modalId="listsDelete" *ngIf="islistsDelete">
  <cp-lists-delete
    [list]="deleteList"
    (deleteList)="onDeletedList($event)"
    (resetDeleteModal)="islistsDelete = false">
  </cp-lists-delete>
</cp-modal>

<cp-modal
  modalId="listsCreate"
  *ngIf="isListsCreate">
  <cp-lists-create
    [users]="listUsers"
    (created)="onCreatedList($event)"
    (reset)="onResetCreateList()">
  </cp-lists-create>
</cp-modal>

<cp-modal
  modalId="listsImport"
  *ngIf="isListsImport">
  <cp-lists-import
    (teardown)="isListsImport = !isListsImport"
    (launchCreateModal)="onLaunchCreateModal($event)">
  </cp-lists-import>
</cp-modal>

<cp-modal modalId="listsEdit" *ngIf="isListsEdit">
  <cp-lists-edit
    [list]="editList"
    (edited)="onEditedList($event)"
    (reset)="isListsEdit = false">
  </cp-lists-edit>
</cp-modal>