<div class="cp-card actions col-12">
  <div class="row">
    <cp-searchbox
      (query)="onSearch($event)"
      class="col-2 no-right-padding">
    </cp-searchbox>

    <div class="col-3">
      <div class="row">
        <div class="col-9">
          <cp-dropdown
            [items]="eventFilter"
            (selected)="onEventDate($event.action)">
          </cp-dropdown>
        </div>
        <div
          class="col-3 text-center no-left-padding">
          <button
            type="button"
            [class.isOpen]="isCalendar"
            [class.isSelected]="isFilteredByDate"
            (click)="onToggleCalendar($event)"
            class="cpbtn cpbtn--cancel cpbtn--no-padding calendar">
            <i class="material-icons hover">date_range</i>
          </button>
          <cp-small-datepicker
            [hidden]="!isCalendar"
            (reset)="onDateReset()"
            (rangeChange)="isCalendar = false"
            (rangeChange)="onDateRange($event)"
            [options]="dateFilterOpts">
          </cp-small-datepicker>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col-6" *ngIf="!isSimple">
          <div class="row">
            <div class="col-12 no-left-padding">
              <cp-dropdown
                [items]="stores$ | async"
                (selected)="onFilterByHost($event.value)">
              </cp-dropdown>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-9 text-truncate text-right">
                <label>{{ 'assessment' | cpI18n }}</label>
            </div>
            <div class="col-3 no-left-padding">
              <cp-checkbox
                (toggle)="onAttendanceToggle($event)"
                class="checkbox">
              </cp-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 text-right float-right" *ngIf="canCreateEvent">
      <a
        cpTracker
        [routerLink]="['create']"
        [eventData]="trackEvent(amplitudeEvents.clicked_create)"
        class="cpbtn cpbtn--primary no-right-padding" [class.cpbtn--square-right]="!isOrientation">
        {{ 'events_button_new' | cpI18n }}
      </a>
      <div
        class="cpbtn cpbtn--square-left cpbtn--no-padding cpbtn--primary no-left-padding hover action-dropdown">
        <i class="material-icons" data-toggle="dropdown" *ngIf="!isOrientation">expand_more</i>
        <ul class="dropdown-menu dropdown-menu-right text-left action-dropdown-list" *ngIf="!isOrientation">
          <li *ngIf="!isOrientation">
            <a [routerLink]="['import/facebook']">
              {{ 'events_import_from_facebook' | cpI18n }}
            </a>
          </li>
          <li (click)="launchModal()" class="list-as-anchor">{{ 'import_from_csv' | cpI18n }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
