@import '~styles/core/colors';
@import '~styles/core/typography';
@import '~styles/components/card';
@import '~styles/components/form';
@import '~styles/components/button';
@import '~styles/components/dropdown';

.dropdown-menu,
.action-dropdown-list {
  @include cpDropdownMenu();
}

.actions {
  label {
    @include font-normal();

    display: inline-block;
    vertical-align: -8px;
  }

  .calendar {
    &.isOpen {
      border: 1px solid $color-black;
    }

    &.isSelected {
      background: $color-brand;
      border: 1px solid $color-brand;

      i {
        color: $color-white;
      }
    }

    i {
      padding: 5px;
      font-size: 21px;
    }
  }

  .checkbox {
    margin-top: 5px;
  }
}

.action-dropdown {
  margin-left: -2px;
  position: relative;

  i {
    padding: 4px;
    font-size: 23px;
  }

  .dropdown-menu {
    top: 115%;
    padding: 0;
    min-width: 200px;

    a:hover {
      background: none;
    }
  }
}
