<div class="attendees">
  <div class="attendees__header">
    <div class="row">
      <div
           [ngClass]="{'col-4': data.has_checkout, 'col-6': !data.has_checkout}">
        <p>{{ 'checkin_attendance_list' | cpI18n }}
          ({{ data.attendees.length }})</p>
      </div>
      <div class="col-2">
        <p>{{ 't_external_checkin_method' | cpI18n }}</p>
      </div>
      <div
           [ngClass]="{'col-3': data.has_checkout, 'col-4': !data.has_checkout}">
        <p>{{ 't_shared_checkin' | cpI18n }}</p>
      </div>
      <div class="col-3"
           *ngIf="data.has_checkout">
        <p>{{ 't_external_checkin_chechout' | cpI18n }}</p>
      </div>
    </div>
  </div>
  <div class="attendees__list">
    <div class="row attendees__item"
         *ngFor="let attendee of data.attendees">
      <div class="text-truncate"
           [ngClass]="data.has_checkout ? 'col-sm-12 col-md-4' : 'col-sm-12 col-md-6'">
        <ready-ui-stack *ngIf="!isPrivacyOn()">
          <strong>
            {{ attendee.firstname }}
            {{ attendee.lastname }}
          </strong>
          <br />
          <small class="text-muted">{{ attendee.email }}</small>
        </ready-ui-stack>
        <strong *ngIf="isPrivacyOn()">
          {{ attendee.anonymous_identifier ? attendee.anonymous_identifier : 'A041411414' }}
        </strong>
      </div>
      <div class="col-2 d-none d-md-block d-lg-block">
        <i class="material-icons">{{
          attendee.check_in_type === checkInType ? 'computer' : 'smartphone'
        }}</i>
      </div>
      <div [ngClass]="data.has_checkout ? 'col col-md-3' : 'col col-md-4'">
        <strong class="
           d-lg-none
           check-in-out-label">{{ 't_shared_checkin' | cpI18n }}</strong>
        {{ attendee.check_in_time_epoch | cpDatePipe: dateFormat:timeZone }}
      </div>
      <div class="col col-md-3"
           *ngIf="data.has_checkout">
        <strong class="d-lg-none check-in-out-label"
                *ngIf="attendee.check_out_time_epoch > 0">
          {{ 't_external_checkin_chechout' | cpI18n }}
        </strong>
        <span
              *ngIf="attendee.check_out_time_epoch && attendee.check_out_time_epoch !== empty">
          {{ attendee.check_out_time_epoch | cpDatePipe: dateFormat:timeZone }}
        </span>

        <button class="cpbtn cpbtn--cancel"
                (click)="onCheckOutModal(attendee)"
                *ngIf="showCheckOutButton(attendee)">
          {{ 't_external_check_in_check_out_button' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>

<cp-modal modalId="checkOutModal"
          *ngIf="launchCheckOutModal">
  <cp-check-out-modal [attendee]="attendee"
                      [timezone]="data.tz_zoneinfo_str"
                      (checkout)="onCheckOut($event)"
                      (teardown)="launchCheckOutModal = false">
  </cp-check-out-modal>
</cp-modal>
