<div class="cpmodal">
  <div class="cpmodal__header">
    <cp-upload-modal-header (reset)="doReset()"> </cp-upload-modal-header>
  </div>

  <div class="cpmodal__body">
    <cp-upload-modal-body [reset]="reset$"
                          [props]="props"
                          (ready)="ready$.next(true)">
    </cp-upload-modal-body>
  </div>

  <div class="cpmodal__footer">
    <cp-upload-modal-footer [valid]="ready$"
                            (navigate)="onNavigate()"
                            (reset)="doReset()">
    </cp-upload-modal-footer>
  </div>
</div>