<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <div class="row job">
      <div class="col-xs-8 col-xs-offset-2 event">
        <div class="row">
          <div class="col-xs-12">
            <div class="cp-card">
              <div class="row">
                <div class="col-xs-12">
                  <a
                    [routerLink]="['../edit']"
                    class="cpbtn cpbtn--primary pull-right">
                    {{ 'jobs_job_edit' | cpI18n }}
                  </a>
                </div>
                <div class="col-xs-12">
                  <p class="job__title">{{ job.title }}</p>
                  <p class="job__description">{{ job.description }}</p>
                  <hr *ngIf="job.description">
                </div>
              </div>
              <div class="row" *ngIf="job.how_to_apply">
                <div class="col-xs-12">
                  <p><strong>{{ 'jobs_how_to_apply' | cpI18n }}</strong></p>
                  <p class="job__description">{{ job.how_to_apply }}</p>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="cp-card event__details">
              <div class="row">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-4"><p><strong>{{ 'jobs_posting_start_date' | cpI18n }}</strong></p></div>
                    <div class="col-xs-8"><p>{{ job.posting_start |  cpDatePipe:dateFormat}}</p></div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4"><p><strong>{{ 'jobs_posting_end_date' | cpI18n }}</strong></p></div>
                    <div class="col-xs-8"><p>{{ job.posting_end |  cpDatePipe:dateFormat}}</p></div>
                  </div>
                  <div class="row" *ngIf="job.contract_start">
                    <div class="col-xs-4"><p><strong>{{ 'jobs_job_start_date' | cpI18n }}</strong></p></div>
                    <div class="col-xs-8"><p>{{ job.contract_start |  cpDatePipe:dateFormat}}</p></div>
                  </div>
                  <div class="row" *ngIf="job.application_deadline">
                    <div class="col-xs-4"><p><strong>{{ 'jobs_application_deadline' | cpI18n }}</strong></p></div>
                    <div class="col-xs-8"><p>{{ job.application_deadline |  cpDatePipe:dateFormat}}</p></div>
                  </div>
                  <div class="row" *ngIf="job.location">
                    <div class="col-xs-4"><p><strong>{{ 'location' | cpI18n }}</strong></p></div>
                    <div class="col-xs-8"><p>{{ job.location }}</p></div>
                  </div>
                  <div class="row" *ngIf="desiredYear.length">
                    <div class="col-xs-4"><p><strong>{{ 'jobs_desired_year_of_study' | cpI18n }}</strong></p></div>
                    <div class="col-xs-8"><p>{{ desiredYear.join(', ')}}</p></div>
                  </div>
                  <div class="row" *ngIf="jobType.length">
                    <div class="col-xs-4"><p><strong>{{ 'jobs_job_type' | cpI18n }}</strong></p></div>
                    <div class="col-xs-8"><p>{{ jobType.join(', ')}}</p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="cp-card">
              <p *ngIf="job.employer_logo_url"><img [src]="job.employer_logo_url" class="img-rounded img-thumbnail job__image"></p>
              <p class="job__title">{{ job.employer_name }}</p>
              <p class="job__description">{{ job.employer_description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>