<table ui-table>
  <thead>
    <tr ui-table-row>
      <th ui-table-cell
          (sort)="doSort('title')"
          [sorting]="state.sort_field === 'title'"
          [sortDirection]="state.sort_direction">
        {{ sortingLabels.name }}
      </th>
      <th ui-table-cell
          (sort)="doSort('end')"
          [sorting]="state.sort_field === 'end'"
          [sortDirection]="state.sort_direction">
        {{ sortingLabels.end_date }}
      </th>

      <th ui-table-cell>{{ 't_shared_checkins' | cpI18n }}</th>
      <th ui-table-cell>{{ 't_shared_average_rating' | cpI18n }}</th>
      <th ui-table-cell></th>
  </thead>

  <tbody>
    <tr ui-table-row
        *ngFor="let event of events; index as index">
      <td ui-table-cell>
        <ready-ui-stack>
          <ready-ui-avatar [alt]="'t_shared_img_alt' | cpI18n: index + 1"
                           [src]="event.poster_thumb_url ? event.poster_thumb_url : event.store_logo_url">
          </ready-ui-avatar>
          <strong>
            <a cpTracker
               [eventData]="eventData"
               class="event__title"
               [routerLink]="[event.id]"
               queryParamsHandling="merge"
               *ngIf="event.event_attendance === 1 && canViewAttendance">
              {{ event.title }}
            </a>
            <a cpTracker
               [eventData]="eventData"
               class="event__title"
               queryParamsHandling="merge"
               [routerLink]="[event.id + '/info']"
               *ngIf="event.event_attendance === 0 || !canViewAttendance">
              {{ event.title }}
            </a>
          </strong>
        </ready-ui-stack>
      </td>
      <td ui-table-cell>
        {{ event.end | cpDatePipe: dateFormat }}
      </td>
      <td ui-table-cell>
        {{ event.verified_checkins }}
      </td>

      <td ui-table-cell>
        <cp-stars *ngIf="event.rating_scale_maximum > -1"
                  [maxRate]="event.rating_scale_maximum"
                  [avgRate]="event.avg_rating_percent">
        </cp-stars>
      </td>

      <td ui-table-cell
          align="right">
        <img ui-tooltip
             alt=""
             tabindex="-1"
             aria-hidden="true"
             class="js_event_external"
             *ngIf="event.is_external"
             [title]="isExternalToolTip"
             [src]="event.source | integrationSourceToIcon" />
      </td>
    </tr>
  </tbody>
</table>