<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="cp-card card">
          <div class="row">
            <div class="col-xs-12">
              <p class="card__title" i18n>{{ 'customization_title' | cpI18n }}</p>
              <p class="text-muted" i18n>
                {{ 'customization_description' | cpI18n }}
                <cp-tooltip
                  [toolTipContent]="customizeBannerTooltip">
                </cp-tooltip>
              </p>
            </div>
          </div>

          <div class="row canvas">
            <div class="col-xs-12">
              <div
                id="canvas_wrapper"
                *ngIf="!isEdit"
                class="canvas__wrapper canvas__wrapper--image"
                [ngStyle]="{'background-image': 'url(' + originalImage + ')'}">
              </div>
              <div
                id="canvas_wrapper"
                *ngIf="isEdit"
                class="canvas__wrapper">
                <div class="canvas__bounds"></div>
              </div>

              <cp-banner-upload-button
                *ngIf="!isEdit"
                class="upload-button"
                (reset)="onReset()"
                (error)="onError($event)"
                (upload)="onUpload($event)">
              </cp-banner-upload-button>

              <cp-banner-control-buttons
                *ngIf="isEdit"
                (save)="onSave()"
                (cancel)="onCancel()"
                [loading]="uploading"
                class="control-buttons">
              </cp-banner-control-buttons>

              <p class="tooltip" *ngIf="isEdit" i18n>{{ 'customization_instructions' | cpI18n }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
