<cp-one-column [width]="layoutWidth">
  <cp-card class="branding-form">
    <div class="row">
      <header class="col-12">
        <p class="card__title">{{ 't_studio_branding_header' | cpI18n }}</p>
      </header>
    </div>
    <cp-branding-form
      [form]="form"
      [textLogo]="textLogo"
      [tooltipContent]="tooltipContent"
      [imageSizeToolTip]="imageSizeToolTip"
      (onRemoveLogo)="onRemoveLogo()"
      (onUploadLogo)="onUploadLogo($event)"
      (onChangeColor)="onChangeColor($event)">
    </cp-branding-form>
  </cp-card>
  <cp-card>
    <div class="row">
      <header class="col-12">
        <p class="card__title">{{ 'customization_title' | cpI18n }}</p>
        <p class="text-muted">
          {{ 'customization_description' | cpI18n }}
          <i
            class="material-icons hover"
            [attr.title]="tooltipContent"
            [cpTooltip]="imageSizeToolTip">
            info_outline
          </i>
        </p>
      </header>
    </div>
    <cp-banner-upload
      [form]="form"
      [isEdit]="isEdit"
      [uploading]="uploading"
      (onCrop)="onCrop()"
      (onReset)="onReset()"
      (onError)="onError($event)"
      (onUpload)="onUpload($event)">
    </cp-banner-upload>
  </cp-card>
  <cp-form-fixed-footer
    [submitButtonDisabled]="form.pristine || form.invalid"
    (submitClick)="onSave()"
    (cancelClick)="onCancel()">
  </cp-form-fixed-footer>
</cp-one-column>
