@import '~projects/campus-cloud/src/sass/core/colors';

.cp-dashboard-app-usage {
  display: grid;
  column-gap: 2.1em;
  grid-template-columns: 1fr 1fr;

  .chart {
    height: 237px;
  }

  .active-users {
    .cp-line,
    .cp-dsh-point {
      stroke: $color-brand;
    }
  }

  .unique-opens {
    .cp-line,
    .cp-dsh-point {
      stroke: $color-warning;
    }
  }
}
