<ng-container [ngSwitch]="loading">
  <ng-container *ngSwitchCase="false">
    <div class="cp-dashboard-app-usage">
      <cp-card>
        <cp-dashboard-unique-active-users class="active-users"
                                          [labels]="uniqueUsersLabels"
                                          [series]="uniqueActiveUsers"
                                          [chartOptions]="uniqueAppOpenChartOptions">
        </cp-dashboard-unique-active-users>
      </cp-card>
      <cp-card>
        <cp-dashboard-total-app-opens class="unique-opens"
                                      [labels]="appOpenLabels"
                                      [series]="appOpenSeries"
                                      [chartOptions]="appOpenChartOptions">
        </cp-dashboard-total-app-opens>
      </cp-card>
    </div>
  </ng-container>
</ng-container>