@import '~styles/core/colors';
@import '~bootstrap/variables';
@import '~styles/components/form';
@import '~styles/components/card';
@import '~styles/components/button';

.no-content {
  @include card-margin();
}

.action-button {
  top: 8px;
  font-size: 1.8em;
  position: relative;
  color: $color-secondary-text;

  &:first-child {
    margin-right: 10px;
  }
}

.cp-form__header {
  span.hover {
    position: relative;

    > span i {
      top: -2px;
      position: absolute;
    }
  }
}

.calendars {
  padding: 0;
  list-style: none;

  @media all and (max-width: $screen-md) {
    li {
      > span:not(.calendars__thumbnail) {
        text-align: center;
        padding-bottom: 10px;
      }
    }
  }
}
