<div class="row">
  <div class="col-xs-12">
    <cp-calendars-list-action-box
      (search)="onSearch($event)"
      (launchCreateModal)="onLaunchCreateModal()">
    </cp-calendars-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!state.calendars.length"
      [noContentText]="cpI18n.translate('calendars_no_results_found')">
    </cp-no-content>

    <div *ngIf="state.calendars.length">
      <ul class="calendars cp-form">
        <li class="cp-form__header col-xs-12">
          <div class="row">
            <span
              class="col-xs-5 hover"
              (click)="doSort('name')">
              {{ 'name' | cpI18n }}
              <span *ngIf="state.sort_field === 'name'">
                <i class="material-icons">
                  {{ state.sort_direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                </i>
              </span>
            </span>
            <span
              class="col-xs-5 hover"
              (click)="doSort('created_time')">
              {{ 'created' | cpI18n }}
              <span *ngIf="state.sort_field === 'created_time'">
                <i class="material-icons">
                  {{ state.sort_direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                </i>
              </span>
            </span>
            <span class="col-xs-2"></span>
          </div>
        </li>

        <li class="cp-form__item col-xs-12" *ngFor="let calendar of state.calendars">
          <div class="row">
            <span class="col-xs-5 text-truncate hover">
              <a [routerLink]="calendar.id">
                <strong>
                  {{ calendar.name }}
                </strong>
              </a>
              <br>
              {{ calendar.description }}
            </span>
            <span class="col-xs-5 text-truncate">
              {{ calendar.created_time | cpDatePipe:dateFormat }}
            </span>
            <span class="col-xs-2 text-right">
              <span
                data-toggle="modal"
                data-target="#calendarEdit"
                (click)="launchEditModal = true"
                (click)="selectedCalendar = calendar"
                class="hover action-button material-icons text-right">
                mode_edit
              </span>
              <span
                data-toggle="modal"
                data-target="#calendarDelete"
                (click)="launchDeleteModal = true"
                (click)="selectedCalendar = calendar"
                class="hover action-button material-icons text-right">
                close
              </span>
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal modalId="calendarsCreate" *ngIf="launchCreateModal">
  <cp-calendars-create
    (created)="onCreated($event)"
    (resetCreateModal)="launchCreateModal = false">
  </cp-calendars-create>
</cp-modal>

<cp-modal modalId="calendarDelete" *ngIf="launchDeleteModal">
  <cp-calendars-delete
    [calendar]="selectedCalendar"
    (deleted)="onDeleted($event)"
    (resetDeleteModal)="launchDeleteModal = false">
  </cp-calendars-delete>
</cp-modal>

<cp-modal modalId="calendarEdit" *ngIf="launchEditModal">
  <cp-calendars-edit
    [calendar]="selectedCalendar"
    (edited)="onEditedLink($event)"
    (reset)="launchEditModal = false">
  </cp-calendars-edit>
</cp-modal>