<div class="cpmodal"
     [ngClass]="{ 'preview': widerModal$ | async }">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span>
          <strong>
            {{ 't_shared_integration_create_form_modal_title' | cpI18n }}
          </strong>
        </span>
        <button type="button"
                aria-label="close"
                data-dismiss="modal"
                (click)="resetModal()"
                class="float-right hover cpmodal__header__close unstyled-button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <cp-events-integrations-form [form]="form"
                                 [stores$]="stores$"
                                 [showPreview]="true"
                                 [preview$]="preview$"
                                 [selectedType]="selectedType"
                                 [previewError$]="previewError$"
                                 [typesDropdown]="typesDropdown"
                                 [pkdbUrl]="eventIntegrationPkdbUrl"
                                 [previewLoading$]="previewLoading$"
                                 (loadPreview)="loadPreview()"
                                 (hostSelected)="onHostSelected($event)">
    </cp-events-integrations-form>
  </div>

  <div class="cpmodal__footer">
    <div class="row justify-content-end">
      <div class="col-6 text-right">
        <button ui-button
                type="button"
                variant="stroked"
                data-dismiss="modal"
                (click)="resetModal()"
                class="js_cancel_button">
          {{ 'cancel' | cpI18n }}
        </button>

        <button ui-button
                type="button"
                variant="flat"
                color="primary"
                (click)="doSubmit()"
                [disabled]="disableSubmit$ | async"
                class="js_submit_button">
          {{ 'save' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>