<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span><strong>{{ 'lists_delete_modal_title' | cpI18n }}</strong></span>

        <button type="button"
                data-dismiss="modal"
                class="float-right hover cpmodal__header__close unstyled-button">
          &times;
        </button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!templateConflict">
    <div class="cpmodal__body">
      <div class="row">
        <div class="col-12">
          <p class="text-center">
            {{ 'lists_delete_modal_body' | cpI18n: audience.name }}
          </p>
        </div>
      </div>
    </div>

    <div class="cpmodal__footer">
      <div class="row">
        <div class="col-6 offset-6 text-right">
          <button type="button"
                  class="cpbtn cpbtn--cancel"
                  data-dismiss="modal">
            {{ 'cancel' | cpI18n }}
          </button>

          <cp-button [props]="buttonData"
                     (buttonClick)="onDelete()"> </cp-button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="templateConflict">
    <div class="cpmodal__body">
      <div class="row">
        <div class="col-12">
          <p class="text-center">
            {{ 'lists_error_template_conflict' | cpI18n }}
          </p>
        </div>
      </div>
    </div>

    <div class="cpmodal__footer">
      <div class="row justify-content-end">
        <div class="col-6 text-right">
          <button type="button"
                  data-dismiss="modal"
                  (click)="resetModal()"
                  class="cpbtn cpbtn--primary">
            {{ 'ok' | cpI18n }}
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>