@import '~client/style/components/form';
@import '~client/style/components/modal';
@import '~client/style/components/button';
@import '~client/style/components/tooltip';

.cpmodal__body {
  margin-top: 15px;

  label i {
    @include toolTipIcon;
  }
}

.banner__wrapper {
  height: 120px;
  border-radius: 4px;
  position: relative;
  border: 1px solid $border-color;

  img {
    height: 120px;
    margin-bottom: 15px;
  }

  &--with-image {
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid $border-color;
    background-position: center center;

    button {
      top: 6px;
      right: 5px;
      padding: 0;
      border: none;
      font-size: 1.5em;
      box-shadow: none;
      position: absolute;
      background: transparent;
      color: $color-light-grey;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);

      &:active,
      &:focus {
        outline: none;
      }
    }
  }

  &__button {
    margin-top: 45px;
  }
}
