<cp-spinner *ngIf="!response"></cp-spinner>

<ng-container  *ngIf="response">

  <ready-ui-card class="page-card">

    <div class="page-title">
      {{ 'contact_trace_forms_responder' | cpI18n }}
    </div>

    <div class="row form-row" *ngIf="!response.extern_user_id">
      <div class="col-3 label-text">
        {{ 'contact_trace_forms_name' | cpI18n }}
      </div>
      <div class="col-9">
        {{response | respondentNameFromFormResponse}}
      </div>
    </div>

    <div class="row form-row">
      <div class="col-3 label-text">
        {{ 'contact_trace_forms_email' | cpI18n }} <!-- ToDo: PJ: Localize -->
      </div>
      <div class="col-9">
        <ng-container *ngIf="response.extern_user_id">
          {{response.extern_user_id}}
        </ng-container>
        <ng-container *ngIf="!response.extern_user_id">
          {{response.email}}
        </ng-container>
      </div>
    </div>

    <div class="row form-row">
      <div class="col-3 label-text">
        {{ 'contact_trace_forms_date' | cpI18n }}
      </div>
      <div class="col-9">
        {{ response.response_completed_epoch | cpDatePipe: dateFormat }}
      </div>
    </div>

    <div class="row form-row">
      <div class="col-3 label-text">
        {{ 'contact_trace_forms_collection_method' | cpI18n }} <!-- ToDo: PJ: Localize -->
      </div>
      <div class="col-9">
        {{ (response.collection_method | collectionMethodCodeToDisplayString) | cpI18n }}
      </div>
    </div>

  </ready-ui-card>

  <cp-spinner *ngIf="!form"></cp-spinner>

  <ready-ui-card *ngIf="form" class="page-card">

    <div class="page-title">
      {{ 'contact_trace_forms_responses' | cpI18n }}
    </div>

    <ng-container *ngFor="let block of form.form_block_list; let index = index;">

      <div class="block-row" *ngIf="index > 0 && !block.is_terminal">
        <!-- Question Block -->
        <div class="label-text">
          {{ index + '. ' + block.text }}
        </div>
        <cp-respondent-question-response
          [formBlock]="block"
          [response]="response"
        >
        </cp-respondent-question-response>
      </div>

      <div class="block-row" *ngIf="block.is_terminal && block.id === response.terminal_form_block_id">
        <!-- Result Block -->
        <div class="label-text">
          {{ (totalNumberOfQuestionsInForm + 1) + '. ' + block.text }}
        </div>
        <cp-respondent-question-response
          [formBlock]="block"
          [response]="response"
        >
        </cp-respondent-question-response>
      </div>

    </ng-container>

  </ready-ui-card>

</ng-container>
