<cp-jobs-list-action-box (search)="onSearch($event)"
                         (listAction)="doFilter($event)">
</cp-jobs-list-action-box>

<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.jobs.length"
                   [noContentText]="cpI18n.translate('jobs_no_results_found')">
    </cp-no-content>

    <ng-container *ngIf="state.jobs.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell
                (sort)="doSort('title')"
                [sorting]="state.sort_field === 'title'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.name }}
            </th>
            <th ui-table-cell
                (sort)="doSort('employer_name')"
                [sorting]="state.sort_field === 'employer_name'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.employer_name }}
            </th>
            <th ui-table-cell
                (sort)="doSort('posting_start')"
                [sorting]="state.sort_field === 'posting_start'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.posting_start }}
            </th>
            <th ui-table-cell>
              {{ 'jobs_posting_end' | cpI18n }}
            </th>
            <th ui-table-cell></th>
          </tr>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let job of state.jobs">
            <td ui-table-cell>
              <a cpTracker
                 [eventData]="eventData"
                 [routerLink]="[job.id + '/info']">
                <strong>
                  {{ job.title }}
                </strong>
              </a>
            </td>
            <td ui-table-cell>
              {{ job.employer_name }}
            </td>
            <td ui-table-cell>
              {{ job.posting_start | cpDatePipe: dateFormat }}
            </td>
            <td ui-table-cell
                *ngIf="!utils.isOnGoing(job)">
              {{ job.posting_end | cpDatePipe: dateFormat }}
            </td>
            <td ui-table-cell
                *ngIf="utils.isOnGoing(job)">
              {{ 't_jobs_ongoing' | cpI18n }}
            </td>
            <td ui-table-cell
                align="right">
              <button ui-button
                      type="button"
                      variant="inline"
                      data-toggle="modal"
                      data-target="#deleteJobModal"
                      (click)="deleteJob = job; launchDeleteModal = true">
                <ready-ui-icon name="close"></ready-ui-icon>
              </button>
            </td>
        </tbody>
      </table>

      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </ng-container>
  </ng-container>
</ng-container>

<cp-modal modalId="deleteJobModal"
          *ngIf="launchDeleteModal">
  <cp-jobs-delete [job]="deleteJob"
                  (deleted)="onDeleted($event)"
                  (resetDeleteModal)="launchDeleteModal = false">
  </cp-jobs-delete>
</cp-modal>