@import '~projects/campus-cloud/style/components/card';
@import '~projects/campus-cloud/style/core/typography';

.cp-card {
  .margin-top {
    margin-top: 24px;
  }

  p.title {
    @include font-24px();
    @include font-bold();

    margin: 0;
    display: inline-block;
  }
}
