<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div class="tile" *ngSwitchCase="false">
    <div class="row">
      <div class="col-12">
        <p class="tile--title">{{ 'dashboard_assessment_title' | cpI18n }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-9 tile--stat">
        <p>{{ 'dashboard_assessment_event_checkins' | cpI18n }}</p>
      </div>
      <div class="col-3 text-right tile--amount">{{ data.event_checkins }}</div>
    </div>

    <div class="row">
      <div class="col-9 tile--stat">
        <p>{{ 'dashboard_assessment_service_checkins' | cpI18n }}</p>
      </div>
      <div class="col-3 text-right tile--amount">{{ data.service_checkins }}</div>
    </div>

    <div class="row">
      <div class="col-9 tile--stat">
        <p>{{ 'dashboard_event_feedback' | cpI18n }}</p>
      </div>
      <div class="col-3 text-right tile--amount">
        {{ data.event_total_feedback }} ({{ data.event_feedback_rate }}%)
      </div>
    </div>

    <div class="row">
      <div class="col-9 tile--stat">
        <p>{{ 'dashboard_service_feedback' | cpI18n }}</p>
      </div>
      <div class="col-3 text-right tile--amount">
        {{ data.service_total_feedback }} ({{ data.service_feedback_rate }}%)
      </div>
    </div>
  </div>
</ng-container>
