<form [formGroup]="locationForm">
  <div formArrayName="schedule">
    <div *ngFor="let schedule of locationForm.get('schedule')['controls']; let i= index">
      <div class="row" [formGroupName]="i">
        <div class="col-5">
          <div class="row">
            <div class="col-6 horizontal day">
              <label> {{ schedule.controls.day.value | locationsDayLabel | cpI18n }}</label>
            </div>
            <div class="col-6 horizontal day">
              <cp-checkbox
                class="checkbox"
                [labelRight]="false"
                [cpTarget]="'open_' + i"
                [label]="'t_shared_open' | cpI18n"
                [isChecked]="schedule.controls.is_checked.value"
                (toggle)="onDayCheck($event, i)">
              </cp-checkbox>
            </div>
          </div>
        </div>

        <div class="col-7" *ngFor="let item of schedule.get('items')['controls']; let itemIndex = index">
          <div formArrayName="items">
            <div class="row" [formGroupName]="itemIndex">
              <div class="col-6 horizontal">
                <label class="margin-right">{{ 't_shared_from' | cpI18n }}</label>
                <cp-dropdown
                  [items]="locationTiming"
                  [cpTarget]="'start_time_' + i"
                  [selectedItem]="getSelectedTime(item.controls.start_time.value)"
                  (selected)="onTimeSelected($event, 'start_time', i)">
                </cp-dropdown>
              </div>

              <div class="col-6 horizontal">
                <label class="margin-right">{{ 't_shared_to' | cpI18n }}</label>
                <cp-dropdown
                  [items]="locationTiming"
                  [cpTarget]="'end_time_' + i"
                  [selectedItem]="getSelectedTime(item.controls.end_time.value)"
                  (selected)="onTimeSelected($event, 'end_time', i)">
                </cp-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>