@import '~styles/components/form';
@import '~styles/components/card';
@import '~styles/components/button';

ul {
  padding-left: 0;
  list-style: none;
}

.cp-form__header {
  span.hover {
    position: relative;

    > span i {
      top: 1px;
      font-size: 17px;
      position: absolute;
      padding-left: 6px;
    }
  }
}

.deletebutton {
  font-size: 2em;
}
