@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/card';

.chart {
  @include card-margin();

  height: 416px;
  display: block;
}

.chart--title {
  @include font-24px;
  @include font-bold();

  margin-bottom: 25px;
}

.margin-top {
  margin-top: 15px;
}
