@import '~styles/core/colors';
@import '~styles/components/modal';
@import '~styles/components/button';

.cp-form {
  padding: 0 10px;
  padding-bottom: 0;

  &__header {
    margin-bottom: 15px;
  }

  &__body {
    max-height: 200px;
    overflow: scroll;
  }

  &__item {
    padding: 12px 0;
    border-top: 1px solid $border-color;

    .title {
      span {
        margin-top: 5px;
        display: inline-block;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

}