<div class="row">
  <div class="col-12">
    <div class="cp-card actions">
      <div class="row">
        <div class="col-3">
          <cp-searchbox (query)="onSearch($event)"
                        [placeholder]="cpI18n.translate('services_provider_search_tootlip')">
          </cp-searchbox>
        </div>
        <div class="col-3">
          <cp-dropdown class="topbar--dropdown"
                       [items]="studentFilter$ | async"
                       (selected)="onStudentFilter($event)">
          </cp-dropdown>
        </div>
        <div class="col-3">
          <cp-range-picker [class]="'cancel'"
                           [icon]="'date_range'"
                           [dateRanges]="dateRanges"
                           (rangeChange)="onDateChange($event)">
          </cp-range-picker>
        </div>
        <div class="col-3 text-right float-right">
          <button type="button"
                  class="cpbtn cpbtn--primary cpbtn--square-right no-right-padding"
                  (click)="onLaunchProviderAdd()">
            {{ 'services_button_add_service_provider' | cpI18n }}
          </button>
          <cp-menu>
            <cp-menu-item *ngIf="!noProviders">
              <span
                    (click)="onDownload()">{{ 'services_button_download_assessment_data' | cpI18n }}</span>
            </cp-menu-item>
          </cp-menu>
        </div>
      </div>
    </div>
  </div>
</div>