<ng-container *ngIf="view$ | async as view">
  <cp-feed-edit [feed]="feed"
                *ngIf="view.editMode"
                (updated)="updateHandler($event)"></cp-feed-edit>
  <div class="feed"
       *ngIf="!view.editMode">
    <div class="row feed__message">
      <div class="col-12 feed__content">
        <p [innerHTML]="feed.message | cpUrlify"></p>
      </div>
    </div>
    <div ready-ui-lightbox
         class="feed__image-container"
         *ngIf="feed.image_list.length">
      <div class="feed__image-container__item"
           *ngFor="let image of feed.image_list; index as index"
           [ngClass]="{
          'feed__image-container__item--full-width': feed.image_list.length === 1,
          'feed__image-container__item--full-height': feed.image_list.length < 3 || feed.image_list.length < 4 && index === 0
        }">
        <img [src]="image.url"
             ready-ui-lighbox-item
             (click)="trackViewLightBoxEvent()" />
      </div>
    </div>
  </div>
  <ready-ui-stack class="feed__footer"
                  alignment="between">
    <ready-ui-stack>
      <cp-feed-interactions likeType="1"
                            [feed]="feed"
                            [maxCount]="feed.likes">
        <ready-ui-icon name="thumb_up"
                       size="small"></ready-ui-icon>
        {{ feed.likes }}
      </cp-feed-interactions>
      <button ui-button
              variant="inline"
              color="primary"
              *ngIf="!replyView"
              (click)="toggleReplies.emit(isCommentsOpen); trackEvent(isCommentsOpen)">
        <ready-ui-icon name="mode_comment"
                       size="small"></ready-ui-icon>
        {{ 'reply_verb' | cpI18n }}
      </button>
      <cp-feed-interactions class="flag"
                            [feed]="feed"
                            *ngIf="feed.dislikes > 0 && feed.flag !== 2"
                            likeType="-1"
                            [maxCount]="feed.dislikes">
        <ready-ui-icon name="flag"
                       size="small"
                       color="inherit"></ready-ui-icon>
        {{ feed.dislikes }}
      </cp-feed-interactions>
    </ready-ui-stack>
    <ready-ui-stack size="small"
                    *ngIf="view.commentCount > 0 && !isRemovedPosts">
      <button ui-button
              type="button"
              variant="inline"
              (click)="onToggleComments()">
        <ready-ui-icon size="small"
                       [name]="view.isCommentsOpen ? 'expand_more' : 'chevron_right'">
        </ready-ui-icon>
        {{ view.isCommentsOpen ? ('hide' | cpI18n) : ('show' | cpI18n) }}
        {{ view.commentCount }}
        {{ view.commentCount > 1 ? ('comments' | cpI18n) : ('comment' | cpI18n) }}
      </button>
    </ready-ui-stack>
  </ready-ui-stack>
</ng-container>