<div class="feed">
  <div class="row feed__message">
    <div class="col-12 feed__content">
      <p [innerHTML]="feed.message | cpUrlify"></p>
    </div>
  </div>
  <div ready-ui-lightbox
       class="feed__image-container"
       *ngIf="feed.image_list.length">
    <div class="feed__image-container__item"
         *ngFor="let image of feed.image_list; index as index"
         [ngClass]="{
          'feed__image-container__item--full-width': feed.image_list.length === 1,
          'feed__image-container__item--full-height': feed.image_list.length < 3 || feed.image_list.length < 4 && index === 0
        }">
      <img [src]="image.url"
           ready-ui-lighbox-item
           (click)="trackViewLightBoxEvent()" />
    </div>
  </div>
</div>
<ready-ui-stack class="feed__footer"
                alignment="between">
  <ready-ui-stack>
    <span>
      <ready-ui-icon name="thumb_up"
                     size="small"></ready-ui-icon>
      {{ feed.likes }}
    </span>
    <button ui-button
            variant="inline"
            color="primary"
            *ngIf="!replyView"
            (click)="isCommentsOpen = !isCommentsOpen"
            (click)="toggleReplies.emit(isCommentsOpen)"
            (click)="trackEvent(isCommentsOpen)">
      <ready-ui-icon name="mode_comment"
                     size="small"></ready-ui-icon>
      {{ 'reply_verb' | cpI18n }}
    </button>
    <span class="flag"
          *ngIf="feed.dislikes > 0 && feed.flag !== 2">
      <ready-ui-icon name="flag"
                     size="small"></ready-ui-icon>
      {{ feed.dislikes }}
    </span>
  </ready-ui-stack>
  <ready-ui-stack size="small"
                  *ngIf="(commentCount$ | async) > 0 && !isRemovedPosts">
    <button ui-button
            type="button"
            variant="inline"
            (click)="onToggleComments()">
      <ready-ui-icon size="small"
                     [name]="(isCommentsOpen$ | async) ? 'expand_more' : 'chevron_right'">
      </ready-ui-icon>
      {{ (isCommentsOpen$ | async) ? cpI18n.translate('hide') : cpI18n.translate('show') }}
      {{ commentCount$ | async }}
      {{ (commentCount$ | async) > 1 ? cpI18n.translate('comments') : cpI18n.translate('comment') }}
    </button>
  </ready-ui-stack>
</ready-ui-stack>
