@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/components/card';
@import '~projects/campus-cloud/src/sass/components/button';

.cp-feed-body {
  .avatar {
    width: 100%;
    height: 144px;
    margin-right: 8px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .feed {
    margin-top: 14px;
    position: relative;

    button i {
      font-size: 16px;
      vertical-align: -4px;
    }

    &__image-wrapper {
      margin-bottom: 15px;

      img {
        height: 140px;
        width: 100%;
        object-fit: cover;
      }
    }

    &__content {
      p {
        word-break: break-word;
      }

      a {
        max-width: 100%;
        color: $color-brand;
      }
    }

    &__footer {
      &--absolute {
        left: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
        padding-right: 20px;
      }

      span {
        font-size: 12px;
        margin-right: 25px;

        &:not(.cpbtn--link) {
          color: $color-secondary-text;
        }

        i {
          font-size: 15px;
          margin-right: 3px;
          vertical-align: -3px;
          display: inline-block;
        }

        &.flag {
          color: $color-danger;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
