<div class="feed">
  <div class="row feed__image-wrapper"
       *ngIf="feed.image_list.length">
    <div class="col-3"
         *ngFor="let image of feed.image_list; let i = index"
         [cpLightbox]="lightbox"
         [host]="cpHost"
         (click)="trackViewLightBoxEvent()"
         [images]="mapImages(feed.image_list)"
         [selectedImageIndex]="i">
      <img ready-ui-image
           [dataSrc]="image.url"
           class="img-fluid feed__image"
           [alt]="'t_shared_img_alt' | cpI18n: i + 1" />
    </div>
  </div>
  <div class="row feed__message">
    <div class="col-12 feed__content">
      <p [innerHTML]="feed.message | cpUrlify"></p>
    </div>
  </div>
  <div class="row feed__footer">
    <div class="col-6">
      <span>
        <i class="material-icons">thumb_up</i>
        {{ feed.likes }}
      </span>
      <span *ngIf="!replyView"
            class="cpbtn cpbtn--link"
            (click)="isCommentsOpen = !isCommentsOpen"
            (click)="toggleReplies.emit(isCommentsOpen)"
            (click)="trackEvent(isCommentsOpen)">
        <i class="material-icons">mode_comment</i>
        {{ 'reply_verb' | cpI18n }}
      </span>
      <span class="flag"
            *ngIf="feed.dislikes > 0 && feed.flag !== 2">
        <i class="material-icons">flag</i>
        {{ feed.dislikes }}
      </span>
    </div>
    <div *ngIf="(commentCount$ | async) > 0 && !isRemovedPosts"
         class="col-6 float-right text-right">
      <button class="cpbtn cpbtn--link-dark"
              (click)="onToggleComments()">
        <i class="material-icons"
           *ngIf="!(isCommentsOpen$ | async)">chevron_right</i>
        <i class="material-icons"
           *ngIf="isCommentsOpen$ | async">expand_more</i>
        {{ (isCommentsOpen$ | async) ? cpI18n.translate('hide') : cpI18n.translate('show') }}
        {{ commentCount$ | async }}
        {{ (commentCount$ | async) > 1 ? cpI18n.translate('comments') : cpI18n.translate('comment') }}
      </button>
    </div>
  </div>
</div>

<ng-template cpHost></ng-template>
