<div class="row">
  <div class="col-12">
    <div class="cp-card">
      <div class="row">
        <div class="col-8 offset-2">
          <cp-feedback-confirmation *ngIf="_isSubmitted">
          </cp-feedback-confirmation>

          <form *ngIf="!_isSubmitted"
                (ngSubmit)="onSubmit()"
                [formGroup]="feedbackForm">
            <div class="form-group">
              <p class="title text-center"
                 *ngIf="!defaultQuestion">
                {{
                  isEvent
                    ? cpI18n.translate('feedback_form_event_help')
                    : cpI18n.translate('feedback_form_service_help')
                }}
              </p>
              <p class="title text-center"
                 *ngIf="defaultQuestion">
                {{ defaultQuestion }}
              </p>
            </div>

            <div class="form-group">
              <cp-feedback-stars (rated)="onRated($event)"></cp-feedback-stars>
            </div>

            <div class="form-group">
              <textarea class="form-control"
                        formControlName="user_feedback_text"
                        [placeholder]="cpI18n.translate('feedback_form_placeholder')">
              </textarea>
            </div>

            <div class="row form-group">
              <div class="col-12">
                <button type="submit"
                        [disabled]="!feedbackForm.valid"
                        class="cpbtn cpbtn--tall cpbtn--full-width cpbtn--primary">
                  {{
                    isEvent
                      ? cpI18n.translate('feedback_label_rate_event')
                      : cpI18n.translate('feedback_label_rate_service')
                  }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>