<div class="row">
  <div class="col-3">
    <cp-api-how-to-use></cp-api-how-to-use>
  </div>

  <div class="col-9">
    <cp-api-topbar></cp-api-topbar>

    <ng-container [ngSwitch]="loading$ | async">

      <cp-spinner *ngSwitchCase="true"></cp-spinner>

      <ng-container *ngSwitchCase="false">
        <ng-container *ngIf="(items$ | async).length">
          <cp-api-list-item [items$]="items$"
                            (formStatus)="formStatus($event)">
          </cp-api-list-item>

          <cp-pagination (next)="onPaginationNext($event)"
                         [pageNext]="(pagination$ | async)?.next"
                         [pagePrev]="(pagination$ | async)?.previous"
                         (previous)="onPaginationPrevious($event)"
                         [pageNumber]="(pagination$ | async)?.page">
          </cp-pagination>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>