<div
  class="pull-left avatar avatar--small"
  [ngStyle]="{'background-image': 'url(' + feed.avatar_thumb + ')'}">
</div>
<div class="feed__meta pull-left">
  <span class="name">
    {{ feed.display_name }}
  </span>
  <span class="email">
    (no@data.com)
  </span>
  <span *ngIf="!isComment">
    <span class="text-muted" i18n>
      posted in
    </span>
    <span class="cpbtn cpbtn--link cpbtn--no-hover">
      Wall Name
    </span>
  </span>
  <br>
  <span class="text-muted">
    {{ feed.added_time | cpDatePipe: FORMAT }}
  </span>
</div>