<div class="recipients">
  <div class="recipients__names">
    <strong
      *ngFor="let name of recipients; let last = last">
      {{ name }}<span *ngIf="!last">, </span><span *ngIf="recipients_more.length && last">...</span>
    </strong>
  </div>
  <div
    class="recipients__more"
    *ngIf="recipients_more.length">
    <button type="button" class="cpbtn cpbtn--link cpbtn--no-border" data-toggle="dropdown">View More</button>

    <ul class="dropdown-menu recipients__list">
      <li *ngFor="let name of recipients_more" class="recipients__item">{{ name }}</li>
    </ul>
  </div>
</div>

