<div class="recipients">
  <div class="row">
    <div [class]="recipients_more.length ? 'recipients__names col-xs-9 no-right-padding' : 'recipients__names col-xs-12'">
      <strong
        *ngFor="let name of recipients; let last = last">
        {{ name }}<span *ngIf="!last">, </span><span *ngIf="recipients_more.length && last">...</span>
      </strong>
    </div>
    <div
      class="recipients__more col-xs-3 no-left-padding"
      *ngIf="recipients_more.length">
      <button type="button" class="cpbtn cpbtn--link cpbtn--no-border" data-toggle="dropdown">View More ({{ recipients_more.length }})</button>

      <ul class="dropdown-menu recipients__list">
        <li *ngFor="let name of recipients_more" class="recipients__item">{{ name }}</li>
      </ul>
    </div>
  </div>
</div>

