@import '~projects/campus-cloud/src/sass/components/card';
@import '~projects/campus-cloud/src/sass/core/colors';

.delete-provider {
  font-size: 2em;
}

.actions {
  @include card-margin();

  margin-top: 0;
}

cp-menu {
  margin-left: -3px;

  cp-menu-item {
    span {
      width: 200px;
      padding: 12px;
      cursor: pointer;
    }

    .disabled {
      color: $color-med-grey;
      cursor: not-allowed !important;
      &:hover {
        background-color: $color-white;
      }
    }
  }
}
