@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/components/button';

form {
  margin-top: 60px;

  button {
    width: 100%;
    margin-top: 12px;
  }
}

p {
  @include font-bold();
  @include font-36px();

  margin-top: 90px;
}
