@import '~projects/campus-cloud/src/sass/components/form';

.form {
  &__row {
    margin-bottom: 25px;
  }
}

input.hex {
  top: 6px;
  left: 10px;
  max-width: 100px;
  position: relative;
}

cp-upload-button {
  margin-top: 10px;
}
