<div class="row">
  <div class="col-12">
    <cp-orientation-list-action-box
      (search)="onSearch($event)"
      (launchCreateModal)="onLaunchCreateModal()">
    </cp-orientation-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!state.orientationPrograms.length"
      [noContentText]="cpI18n.translate('orientation_no_results_found')">
    </cp-no-content>

    <div *ngIf="state.orientationPrograms.length">
      <ul class="orientation cp-form">
        <li class="cp-form__header col-12">
          <div class="row">
            <span
              class="col-5 hover"
              (click)="doSort('name')">
              {{ 'name' | cpI18n }}
              <span *ngIf="state.sort_field === 'name'">
                <i class="material-icons">
                  {{ state.sort_direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                </i>
              </span>
            </span>
            <span
              class="col-3">
              {{ 'duration' | cpI18n }}
            </span>
            <span class="col-2">
              {{ 'members' | cpI18n }}
            </span>
            <span class="col-2">
              {{ 'events' | cpI18n }}
            </span>
            <span class="col-1 hover"></span>
          </div>
        </li>

        <li class="cp-form__item col-12" *ngFor="let program of state.orientationPrograms;">
          <div class="row">
            <span class="col-5 text-truncate hover">
              <a [routerLink]="[program.id+'/events']">
                <strong>
                  {{ program.name }}
                </strong>
              </a>
              <br>
              {{ program.description }}
            </span>
            <span class="col-3 text-truncate">
              <div *ngIf="program.active_from !== noDuration && program.active_until !== noDuration">
                {{ program.active_from | cpDatePipe:dateFormat }} - {{ program.active_until | cpDatePipe:dateFormat }}
              </div>
            </span>
            <span class="col-2">
              {{ program.members_count }}
            </span>
            <span class="col-1">
              {{ program.events_count }}
            </span>
            <span class="col-1 action">
             <button
               data-toggle="dropdown"
               class="cpbtn cpbtn--link-dark"
               (click)="selectedProgram = program">
               <i class="material-icons">more_horiz</i>
             </button>
              <div class="orientation__dropdown">
                <ul>
                  <li
                    (click)="launchDuplicateModal = true;"
                    class="col-12"
                    data-toggle="modal"
                    data-target="#programDuplicate">
                      <i class="material-icons col-2">control_point_duplicate</i>
                      <span class="col-10">{{ 'orientation_duplicate_program' | cpI18n }}</span>
                  </li>
                  <li
                    (click)="launchDeleteModal = true;"
                    class="col-12"
                    data-toggle="modal"
                    data-target="#programDelete">
                      <i class="material-icons col-2">close</i>
                      <span class="col-10">{{ 'orientation_delete_program' | cpI18n }}</span>
                  </li>
                </ul>
              </div>
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal modalId="programCreate" *ngIf="launchCreateModal">
  <cp-orientation-program-create
    (resetCreateModal)="launchCreateModal = false">
  </cp-orientation-program-create>
</cp-modal>

<cp-modal modalId="programDuplicate" *ngIf="launchDuplicateModal">
  <cp-orientation-duplicate-program
    [orientationProgram]="selectedProgram"
    (resetDuplicateModal)="launchDuplicateModal = false">
  </cp-orientation-duplicate-program>
</cp-modal>

<cp-modal modalId="programDelete" *ngIf="launchDeleteModal">
  <cp-orientation-program-delete
    (deleted)="onDeleted($event)"
    [orientationProgram]="selectedProgram"
    (resetDeleteModal)="launchDeleteModal = false">
  </cp-orientation-program-delete>
</cp-modal>