@import '~styles/core/colors';
@import '~styles/components/form';
@import '~styles/components/card';
@import '~styles/components/button';
@import '~styles/components/dropdown';

.no-content {
  @include card-margin();
}

.cp-form {
  overflow: inherit;
  float: left;
  width: 100%;

  &__header {
    span.hover {
      position: relative;

      > span i {
        top: 1px;
        font-size: 17px;
        position: absolute;
        padding-left: 6px;
      }
    }
  }
}

.action {
  &.open {
    .orientation__dropdown {
      display: block;
    }
  }

  .orientation__dropdown {
    display: none;
  }
}

.orientation {
  padding: 0;
  list-style: none;

  &__dropdown {
    right: 50px;
    position: absolute;
    z-index: 1000;

    ul {
      @include cpDropdownMenu();

      width: 245px;
      border-radius: 4px;
      overflow-y: auto;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);

      li {
        padding: 10px 0 10px 0;

        span {
          padding: 2px 0 0 8px;
        }
      }
    }
  }
}
