<div [ngSwitch]="loading$ | async">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <div class="row justify-content-center">
      <div class="col-8">
        <cp-locations-info-resource-banner [location]="dining"
                                           (editClick)="onEditClick()"
                                           [resourceBanner]="resourceBanner">
        </cp-locations-info-resource-banner>

        <cp-locations-info-card [location]="dining"
                                [mapCenter]="mapCenter">
        </cp-locations-info-card>

        <cp-locations-meta-data *ngIf="hasMetaData"
                                [location]="dining"> </cp-locations-meta-data>

        <cp-dining-opening-hours [openingHours]="openingHours"
                                 *ngIf="dining.schedule.length">
        </cp-dining-opening-hours>
      </div>
    </div>
  </div>
</div>