<div class="row content">
  <div class="col-4 text-center">
    <div class="cp-card cp-card--half-padding visits">
      <div class="row justify-content-center">
        <div class="col-8">
          <span>
            <div class="row">
              <div class="col-9 text-truncate">
                {{ 't_services_total_visits' | cpI18n }}
              </div>
              <div class="col-3">
                <strong>{{ service.total_visits }}</strong>
              </div>
            </div>
          </span>
          <span>
            <div class="row">
              <div class="col-9 text-truncate">
                {{ 'services_unique_visits' | cpI18n }}
              </div>
              <div class="col-3">
                <strong>{{ service.unique_visits }}</strong>
              </div>
            </div>
          </span>
          <span>
            <div class="row">
              <div class="col-9 text-truncate">
                {{ 'services_repeat_visits' | cpI18n }}
              </div>
              <div class="col-3">
                <strong>{{ service.total_visits - service.unique_visits }}</strong>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 text-center">
    <div class="cp-card cp-card--half-padding">
      <p class="header__digit">{{ service.num_ratings || 'N/A' }}</p>
      <p>{{ 'ratings' | cpI18n }}</p>
    </div>
  </div>
  <div class="col-4 text-center">
    <div class="cp-card cp-card--half-padding">
      <p
        class="header__digit"
        *ngIf="service.service_attendance !== attendanceEnabled">
        0
      </p>

      <p
        class="header__digit"
        *ngIf="service.service_attendance === attendanceEnabled">
        <cp-stars
          [size]="detailStarSize"
          [avgRate]="service.avg_rating_percent"
          [maxRate]="service.rating_scale_maximum">
        </cp-stars>
      </p>
      <p>{{ 't_shared_average_rating' | cpI18n }} {{ service.avg_rating_percent !== -1 ? serviceRating : '0.0' }}
      </p>
    </div>
  </div>
</div>