<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span>
          <strong>
            {{ 't_shared_integration_create_form_modal_title' | cpI18n }}
          </strong>
        </span>
        <button type="button"
                aria-label="close"
                data-dismiss="modal"
                (click)="resetModal()"
                cpTarget="reset_modal"
                class="float-right hover cpmodal__header__close unstyled-button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <cp-walls-integration-form [form]="form"
                               [types]="typesDropdown"
                               [channels]="channels$ | async">
    </cp-walls-integration-form>
  </div>

  <div class="cpmodal__footer">
    <div class="row justify-content-end">
      <div class="col-6 text-right">
        <button type="button"
                data-dismiss="modal"
                cpTarget="reset_btn"
                (click)="resetModal()"
                class="cpbtn cpbtn--cancel">
          {{ 'cancel' | cpI18n }}
        </button>

        <button type="button"
                (click)="doSubmit()"
                [disabled]="!form.valid"
                cpTarget="submit_button"
                class="cpbtn cpbtn--primary js_submit_button">
          {{ 'save' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>