
<div class="row margin-bottom">
  <div class="col-8 col-offset-2">
    <cp-audience-card 
      (count)="onUsersCount($event)"
      (importClick)="onImportClick()"
      [canReadAudience]="canReadAudience"
      (resetNewAudience)="onResetNewAudience()"
      (selectedUsers)="onSelectedUsers($event)"
      (saveAudienceClick)="onSaveAudienceClick()"
      (resetSavedAudience)="onResetSavedAudience()"
      (selectedAudience)="onAudienceChange($event)"
      (selectedFilters)="onSelectedFilters($event)"
      (newAudienceTypeChange)="onNewAudienceTypeChange($event)">
    </cp-audience-card>

    <div class="cp-card">
      <p class="section__name">{{'message' | cpI18n}}</p>
      <div class="row">
        <div class="col-12">
          <form [formGroup]="form">
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-12">
                      <label i18n>{{ 'from' | cpI18n }}</label>
                      <cp-dropdown
                        [items]="stores$ | async"
                        [reset]="resetCustomFields$"
                        [selectedItem]="session.defaultHost"
                        (selected)="onSelectedStore($event)">
                      </cp-dropdown>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label i18n>{{ 'announcements_type' | cpI18n }}</label>
                  <div class="row">
                    <div class="col-12">
                      <cp-check-dropdown
                        [items]="types"
                        [reset]="resetCustomFields$"
                        [selectedItem]="selectedType"
                        buttonClass="cpbtn cpbtn--cancel"
                        (selected)="onTypeChanged($event)">
                      </cp-check-dropdown>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label i18n>
                {{ 'subject' | cpI18n }}
                <span class="float-right">
                  {{ getSubjectLength() }}/128
                </span>
              </label>
              <div class="cpInput subject-input">
                <div class="row">
                  <div class="col-2 no-right-padding" *ngIf="subject_prefix.label">
                    <span [class]="'subject-input__label text-center ' + subject_prefix.type">
                      {{ subject_prefix.label }}
                    </span>
                  </div>
                  <div [class]="subject_prefix.label ? 'col-10 no-left-padding' : 'col-12' ">
                    <input
                    type="text"
                    formControlName="subject"
                    class="form-control transparent subject-input__input">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label i18n>
                {{ 'message_noun' | cpI18n }}
                <span class="float-right">
                  {{ form.controls.message.value ? form.controls.message.value.length : 0 }}/400
                </span>
              </label>
              <textarea
                class="form-control"
                formControlName="message">
              </textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="footer">
    <div class="cp-wrapper cp-wrapper--outer">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="text-right">
              <label class="error" *ngIf="formError" i18n>
                <span>&#x26A0;</span>
                {{ isDateError ? dateErrorMessage : cpI18n.translate('error_fill_out_marked_fields') }}
              </label>
              <a [routerLink]="['../']"
                  class="cpbtn cpbtn--cancel" i18n>
                {{ 'cancel' | cpI18n }}
              </a>
              <cp-button
                [props]="buttonData"
                (buttonClick)="doValidate()">
              </cp-button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<cp-modal
  modalId="audienceImport"
  *ngIf="isAudienceImport">
  <cp-audience-import
    (error)="onImportError($event)"
    (success)="redirectToSaveTab($event)"
    (teardown)="isAudienceImport = !isAudienceImport"
    (launchCreateModal)="onLaunchCreateModal($event)">
  </cp-audience-import>
</cp-modal>

<cp-modal modalId="audienceSaveModal">
  <cp-audience-save-modal 
    (onSubmit)="onAudienceNamed($event)"
    (teardown)="onTeardownAudienceSaveModal()">
  </cp-audience-save-modal>
</cp-modal>

<cp-modal 
  *ngIf="shouldConfirm"
  modalId="announcementConfirmModal" >
  <cp-announcements-confirm
    [state]="state"
    (confirmed)="onConfirmed()"
    (teardown)="shouldConfirm = false">
  </cp-announcements-confirm>
</cp-modal>
