<div *ngIf="isFormReady">
  <div class="row">
    <cp-import-top-bar></cp-import-top-bar>
  </div>
  <!--<div class="row header">
    <div class="col-xs-2 no-left-padding">
      <cp-checkbox class="checkbox pull-left"></cp-checkbox>
      <button class="cpbtn cpbtn--default-alt" type="button" i18n>Upload Photo</button>
    </div>
    <div class="col-xs-2">
      <cp-dropdown [items]="stores"></cp-dropdown>
    </div>
    <div class="col-xs-2">
      <cp-import-action-dropdown
        (bulkAction)="onBulkAction($event)">
      </cp-import-action-dropdown>
    </div>
    <div class="col-xs-2">
      <button
        type="button"
        class="cpbtn cpbtn--danger" i18n>
        Delete
      </button>
    </div>
    <div class="pull-right">
      <button
        type="button"
        class="cpbtn cpbtn--default" i18n>
        Upload Another Excel File
      </button>
    </div>
  </div>-->

  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="form" class="form">
        <div formArrayName="events">
          <div
            class="row cp-form"
            *ngFor="let event of form.controls.events.controls; let i=index">
            <div [formGroupName]="i" class="col-xs-12">
              <div class="row form__item">
                <div class="col-xs-3 text-truncate">
                  <div class="row">
                    <div class="col-xs-4 no-left-padding">
                      <cp-checkbox class="checkbox pull-left"></cp-checkbox>

                      <div class="event__avatar placeholder placeholder--small"></div>
                    </div>
                    <div class="col-xs-8">
                      <span class="event__title">
                        <strong>{{ event.controls.title.value }}</strong>
                      </span>
                      <br>
                      <span class="event__description">
                        {{ event.controls.description.value }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3">
                  <label i18n>Host</label>
                  <cp-dropdown [items]="stores"></cp-dropdown>
                </div>
                <div class="col-xs-2">
                  <label i18n>Event Attendance</label>
                  <cp-switch [id]="i"></cp-switch>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="footer">
        <div class="pull-right">
          <button
            type="button"
            class="cpbtn cpbtn--tall cpbtn--default-alt" i18n>
            Cancel
          </button>
          <button
            type="button"
            (click)="onSubmit()"
            class="cpbtn cpbtn--tall cpbtn--primary" i18n>
            Import Event
          </button>
        </div>
      </div>
    </div>
  </div>
</div>