@import '~styles/components/form';
@import '~styles/components/button';
@import '~styles/core/typography';


.checkbox {
  margin: 0 auto;
  margin-top: 6px;
}

.header {
  padding: 0 8px;
}

.form {
  label {
    margin-bottom: 8px;
  }

  &__item {
    padding: 10px 8px;

    > div {
       > div:first-child {
        margin-top: 15px;
      }
    }
  }
}

.footer {
  margin-top: 25px;
  border-top: 1px solid $border-color;

  > div {
    padding-top: 25px;
  }
}
