<div *ngIf="isFormReady">
  <div class="row">
    <cp-import-top-bar
      (deleteEvent)="onBulkDelete()"
      (bulkChange)="onBulkChange($event)"
      (checkAll)="onCheckAll($event)"
      (hostChange)="onHostBulkChange($event)"
      (imageChange)="onImageBulkChange($event)">
    </cp-import-top-bar>
  </div>

  <div class="row margin-bottom">
    <div class="col-xs-12">
      <form [formGroup]="form" class="form">
        <div formArrayName="events">
          <div
            *ngIf="!form.controls.events.controls.length">
            <br>
            <p class="text-center"><strong i18n>No Events to Add</strong></p>
          </div>
          <div
            class="row cp-form"
            *ngFor="let event of form.controls.events.controls; let i=index">
            <div [formGroupName]="i" class="col-xs-12">
              <div class="row form__item">
                <div class="col-xs-3 text-truncate">
                  <div class="row margin-top">
                    <div class="col-xs-4 no-left-padding">
                      <cp-checkbox
                        class="checkbox pull-left"
                        [isChecked]="isChecked[i].checked"
                        (toggle)="onCheckSingle($event, i)">
                      </cp-checkbox>

                      <div class="event__avatar placeholder placeholder--small"></div>
                    </div>
                    <div class="col-xs-8 no-left-padding">
                      <span class="event__title">
                        <strong>{{ event.controls.title.value }}</strong>
                      </span>
                      <br>
                      <span class="event__description">
                        {{ event.controls.description.value }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2">
                  <label i18n>Host</label>
                  <cp-dropdown
                    [items]="stores"
                    (selected)="onSingleHostSelected($event, i)">
                  </cp-dropdown>
                </div>
                <div class="col-xs-2">
                  <label i18n>Event Attendance</label>
                  <cp-switch
                    [id]="i"
                    [isChecked]="event.controls['event_attendance'].value"
                    (toggle)="toggleSingleEventAttendance($event, i)">
                  </cp-switch>

                </div>
                <div
                  class="col-xs-5 no-left-padding" *ngIf="event.controls.event_attendance.value">
                  <div class="row">
                    <div class="col-xs-4 no-left-padding">
                      <label i18n>Attd Feedback</label>
                      <select
                        class="form-control"
                        formControlName="event_attendance_feedback">
                        <option
                          value=1
                          [selected]="event.controls['event_attendance_feedback'].value == 1"
                          i18n>Enabled</option>
                        <option
                          value=2
                          [selected]="event.controls['event_attendance_feedback'].value == 2"
                          i18n>Disabled</option>
                      </select>
                    </div>
                    <div class="col-xs-4">
                      <label i18n>Manager</label>
                      <select class="form-control">
                        <option value="" i18n>Manager</option>
                      </select>
                    </div>
                    <div class="col-xs-4">
                      <label i18n>Attd Manager</label>
                      <input
                        type="email"
                        class="form-control"
                        placeholder="john@example.com"
                        formControlName="attendance_manager"
                        ([value])="event.controls['attendance_manager'].value">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
            <button
              type="button"
              class="cpbtn cpbtn--tall cpbtn--default-alt" i18n>
              Cancel
            </button>
            <button
              type="button"
              (click)="onSubmit()"
              class="cpbtn cpbtn--tall cpbtn--primary" i18n
              [disabled]="!form.controls.events.controls.length">
              Import Event
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>