@import '~styles/components/card';
@import '~styles/components/table';
@import '~styles/components/button';
@import '~styles/components/dropdown';

.dropdown-menu,
.action-dropdown-list {
  @include cpDropdownMenu();
  overflow-y: unset;
}

.actions {
  @include card-margin();
  margin-bottom: 0;
}

.margin-right {
  margin-right: 20px;
}

.action-dropdown {
  margin-left: -2px;
  position: relative;

  i {
    padding: 4px;
    font-size: 23px;
  }

  .dropdown-menu {
    top: 115%;
    padding: 0;
    min-width: 200px;

    a:hover {
      background: none;
    }
  }

  .disabled {
    cursor: default !important;
    background: none !important;
    color: $color-grey !important;
  }
}
