<div class="cp-card actions">
  <div class="row">
    <div class="col-3">
      <cp-searchbox (query)="onSearch($event)"></cp-searchbox>
    </div>
    <div class="col text-right">
      <button
        *ngIf="hasPermission"
        (click)="downloadExcel()"
        class="cpbtn cpbtn--cancel margin-right">
        {{ 'download_csv' | cpI18n }}
      </button>
      <a
        [routerLink]="[eventCheckinRoute + event.encrypted_id]"
        class="cpbtn cpbtn--primary no-right-padding cpbtn--square-right">
        {{ 't_event_assessment_web_checkin_page' | cpI18n }}
      </a>
      <div class="cpbtn cpbtn--square-left cpbtn--no-padding cpbtn--primary no-left-padding hover action-dropdown">
        <i class="material-icons" data-toggle="dropdown">expand_more</i>
        <ul class="dropdown-menu dropdown-menu-right text-left action-dropdown-list">
          <li
            data-toggle="tooltip"
            data-placement="left"
            [title]="tooltipText"
            class="list-as-anchor"
            [class.disabled]="disabled"
            (click)="sendAttendeesMessage()">
            {{ 't_events_assessment_message_attendees' | cpI18n }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>