<div class="cp-card actions">
  <div class="row">
    <div class="col-3">
      <cp-searchbox (query)="onSearch($event)"></cp-searchbox>
    </div>
    <div class="col text-right">
      <button
        *ngIf="canDownload"
        (click)="downloadExcel()"
        class="cpbtn cpbtn--cancel margin-right">
        {{ 'download_csv' | cpI18n }}
      </button>
      <button
        (click)="onAddCheckIn()"
        class="cpbtn cpbtn--primary no-right-padding cpbtn--square-right">
        {{ 't_events_assessment_add_check_in' | cpI18n }}
      </button>
      <div class="cpbtn cpbtn--square-left cpbtn--no-padding cpbtn--primary no-left-padding hover action-dropdown">
        <i class="material-icons" data-toggle="dropdown">expand_more</i>
        <ul class="dropdown-menu dropdown-menu-right text-left action-dropdown-list">
          <li>
            <a
              target="_blank"
              (click)="trackCheckIn.emit(event.encrypted_id)"
              [routerLink]="[eventCheckinRoute + event.encrypted_id + '/' + checkInSource]">
              {{ 't_event_assessment_web_checkin_page' | cpI18n }}
            </a>
          </li>
          <li
            (click)="onEnableDisableQR()"
            class="list-as-anchor"> {{ qrLabel }}</li>
          <li
            data-toggle="tooltip"
            data-placement="left"
            class="list-as-anchor"
            (click)="sendAttendeesMessage()"
            [title]="messageAttendeesTooltipText"
            [class.disabled]="disableMessageAttendees">
            {{ 't_events_assessment_message_attendees' | cpI18n }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>