<div class="row student">
  <div class="col-xs-12">
    <div class="cp-card card">
      <div class="col-xs-4 student__profile no-left-padding no-right-padding">
        <img src="https://source.unsplash.com/random/190x190" class="img-rounded">
      </div>
      <div class="col-xs-8 student__details no-left-padding">
        <p class="student__name">Peter Cen</p>
        <p class="student__email text-muted">peter@oohlalamobile.com</p>

        <button
          type="buton"
          (click)="message.emit()"
          class="cpbtn cpbtn--primary student__message" i18n>
          Message
        </button>
      </div>
    </div>
  </div>
</div>