<div class="row student">
  <div class="col-xs-12">
    <div class="cp-card card">
      <div class="col-xs-3 student__profile no-left-padding no-right-padding">
        <img [src]="avatarUrl" class="img-rounded">
      </div>
      <div class="col-xs-8 student__details">
        <p class="student__name">{{ student.firstname }} {{ student.lastname }}</p>
        <p class="student__email text-muted">{{ student.email }}</p>

        <button
          type="buton"
          (click)="message.emit()"
          class="cpbtn cpbtn--primary student__message" i18n>
          Message
        </button>
      </div>
    </div>
  </div>
</div>