<div class="row canvas">
  <div class="col-12">
    <div
      *ngIf="!isEdit"
      id="canvas_wrapper"
      class="canvas__wrapper canvas__wrapper--image"
      [ngStyle]="{ 'background-image': 'url(' + form.controls['logo_url'].value + ')' }"></div>
    <div *ngIf="isEdit" id="canvas_wrapper" class="canvas__wrapper">
      <div class="canvas__bounds"></div>
    </div>

    <cp-banner-upload-button
      *ngIf="!isEdit"
      class="upload-button"
      (reset)="resetClick.emit()"
      (error)="error.emit($event)"
      (upload)="upload.emit($event)">
    </cp-banner-upload-button>

    <cp-banner-control-buttons
      *ngIf="isEdit"
      class="control-buttons"
      [loading]="uploading"
      (save)="crop.emit()"
      (cancel)="resetClick.emit()">
    </cp-banner-control-buttons>

    <p class="tooltip" *ngIf="isEdit">{{ 'customization_instructions' | cpI18n }}</p>
  </div>
</div>
