<div class="row">
  <div class="col-xs-12">
    <cp-links-list-action-box
      (search)="onSearch($event)"
      (launchCreateModal)="onLaunchCreateModal()">
    </cp-links-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!state.links.length"
      [noContentText]="cpI18n.translate('links_no_results_found')">
    </cp-no-content>

    <div *ngIf="state.links.length">
      <ul class="links cp-form">
        <li class="cp-form__header col-xs-12">
          <div class="row">
            <span
              (click)="doSort('name')"
              class="col-xs-5 hover">
              {{ 'name' | cpI18n }}
              <span *ngIf="state.sort_field === 'name'">
                <i class="material-icons">
                  {{ state.sort_direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                </i>
              </span>
            </span>
            <span class="col-xs-6">{{ 'description' | cpI18n }}</span>
            <span class="col-xs-1"></span>
          </div>
        </li>

        <li class="cp-form__item col-xs-12" *ngFor="let link of state.links">
          <div class="row">
            <span class="col-xs-5 text-truncate links__thumbnail">
              <img *ngIf="link.img_url !== ''" class="img-rounded" [src]="link.img_url">
              <img *ngIf="link.img_url === ''" class="img-rounded" [src]="defaultImage">

              <strong>
                <button
                  (click)="editLink = link"
                  class="cpbtn cpbtn--link-dark"
                  (click)="isLinksEdit = true"
                  data-toggle="modal" data-target="#linksEdit">
                  {{ link.name }}
                </button>
              </strong>
              <br>
              {{ link.link_url }}
            </span>
              <span class="col-xs-6 text-truncate">
              {{ link.description }}
            </span>

            <span
              (click)="deleteLink = link;"
              (click)="isLinksDelete = true"
              data-toggle="modal" data-target="#linksDelete"
              class="col-xs-1 hover delete-link text-center">
              &times;
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal modalId="linksCreate" *ngIf="isLinksCreate">
  <cp-links-create
    (createLink)="onCreatedLink($event)"
    (resetCreateModal)="isLinksCreate = false">
  </cp-links-create>
</cp-modal>

<cp-modal modalId="linksDelete" *ngIf="isLinksDelete">
  <cp-links-delete
    [link]="deleteLink"
    (deleteLink)="onDeletedLink($event)"
    (resetDeleteModal)="isLinksDelete = false">
  </cp-links-delete>
</cp-modal>

<cp-modal modalId="linksEdit" *ngIf="isLinksEdit">
  <cp-links-edit
    [link]="editLink"
    (editLink)="onEditedLink($event)"
    (resetEditModal)="isLinksEdit = false">
  </cp-links-edit>
</cp-modal>