@import '~styles/components/form';
@import '~styles/components/button';
@import '~styles/core/typography';

.checkbox {
  margin: 0 auto;
  margin-top: 6px;
}

.full-width {
  width: 100%;
}

.header {
  padding: 0 8px;
}
