  <div class="header">
    <div class="col-xs-2 no-left-padding">
      <cp-checkbox
        class="checkbox pull-left"
        [isChecked]="isChecked"
        (toggle)="this.checkAll.emit($event)">
      </cp-checkbox>
      <cp-upload-button
        buttonText="Upload Picture"
        [buttonClass]="['cpbtn cpbtn--' + props.class]"
        (fileUpload)="onFileUpload($event)"
        [props]="props" >
      </cp-upload-button>
    </div>
    
    <div class="col-xs-2 no-left-padding">
      <cp-import-action-dropdown
        [props]="props"
        [storeId]="storeId"
        [clubId]="clubId"
        [isClub]="isClub"
        [serviceId]="serviceId"
        [isService]="isService"
        [isOrientation]="isOrientation"
        (bulkAction)="bulkChange.emit($event)">
      </cp-import-action-dropdown>
    </div>
  </div>