@import '~client/style/components/form';
@import '~client/style/components/button';
@import '~client/style/core/typography';

.checkbox {
  top: 6px;
  position: relative;
}

.full-width {
  width: 100%;
}

.header {
  padding: 0 8px;
}
