<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div class="cp-wrapper"
       *ngSwitchCase="false">
    <div class="row">
      <form [formGroup]="form"
            class="col-8 offset-2 margin-bottom">
        <div class="section cp-card form-group">
          <p class="section__title">{{ 'admin_edit_profile' | cpI18n }}</p>
          <div class="row">
            <div class="col-4">
              <label for="first_name">{{ 'first_name' | cpI18n }}</label>
              <input type="text"
                     id="first_name"
                     class="form-control"
                     formControlName="firstname"
                     [attr.disabled]="!isCurrentUser ? '' : null" />
            </div>

            <div class="col-4">
              <label for="last_name">{{ 'last_name' | cpI18n }}</label>
              <input type="text"
                     id="last_name"
                     class="form-control"
                     formControlName="lastname"
                     [attr.disabled]="!isCurrentUser ? '' : null" />
            </div>

            <div class="col-4">
              <label for="email">{{ 'email' | cpI18n }}</label>
              <input id="email"
                     type="email"
                     class="form-control"
                     [attr.disabled]="true"
                     formControlName="email" />
            </div>
          </div>

          <div class="row"
               *ngIf="!isCurrentUser">
            <div class="col-12">
              <div class="all-access"
                   [class.isEnabled]="isAllAccessEnabled">
                <div class="row">
                  <div class="col-8">
                    <p class="section-sub-title">
                      {{ 'admin_all_access' | cpI18n }}</p>
                    <p class="section-description">
                      {{ 'admin_all_acceess_help' | cpI18n }}
                    </p>
                  </div>
                  <div class="col-4">
                    <div class="float-right">
                      <cp-switch [isChecked]="isAllAccessEnabled"
                                 (toggle)="toggleAllAccess($event)"
                                 (toggle)="isAllAccessEnabled = !isAllAccessEnabled">
                      </cp-switch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Permissions -->
        <fieldset [disabled]="isAllAccessEnabled || isCurrentUser">
          <div class="section cp-card form-group"
               [class.isDisabled]="isAllAccessEnabled || isCurrentUser">
            <!-- Manage Team Members -->
            <div class="section__item">
              <p class="section__title">{{ 'admin_permissions' | cpI18n }}</p>
              <div class="row">
                <div class="col-8">
                  <p class="section-sub-title">
                    {{ 'manage_team_members' | cpI18n }}</p>
                  <p class="section-description">
                    {{ 'admin_grant_permissions' | cpI18n }}
                  </p>
                </div>
                <div class="col-4">
                  <cp-dropdown [items]="manageAdmins"
                               (selected)="onManageAdminSelected($event)"
                               [selectedItem]="
                      schoolPrivileges[CP_PRIVILEGES_MAP.manage_admin]
                        ? manageAdmins[1]
                        : manageAdmins[0]
                    ">
                  </cp-dropdown>
                </div>
              </div>
            </div>
            <!-- END Manage Admin -->

            <!-- Service Owner -->
            <div class="section__item">
              <div class="row">
                <div class="col-8">
                  <p class="section-sub-title">
                    {{ 'admin_service_owner' | cpI18n }}</p>
                  <p class="section-description">
                    {{ 'admin_service_owner_help' | cpI18n }}
                  </p>
                </div>
                <div class="col-4">
                  <cp-dropdown [items]="servicesMenu"
                               (selected)="onServicesSelected($event)"
                               [selectedItem]="servicesDefaultPermission()">
                  </cp-dropdown>
                </div>
              </div>
            </div>
            <!-- END Service Owner -->

            <!-- Club Owner -->
            <div class="section__item">
              <div class="row">
                <div class="col-8">
                  <p class="section-sub-title">{{ 'admin_club_owner' | cpI18n }}
                  </p>
                  <p class="section-description">
                    {{ 'admin_club_owner_help' | cpI18n }}
                  </p>
                </div>
                <div class="col-4">
                  <cp-dropdown [items]="clubsMenu"
                               (selected)="onClubsSelected($event)"
                               [selectedItem]="clubsDefaultPermission()">
                  </cp-dropdown>
                </div>
              </div>
            </div>
            <!-- END Club Owner -->

            <!-- Athletics Owner -->
            <div class="section__item">
              <div class="row">
                <div class="col-8">
                  <p class="section-sub-title">
                    {{ 'admin_athletics_owner' | cpI18n }}</p>
                  <p class="section-description">
                    {{ 'admin_athletics_owner_help' | cpI18n }}
                  </p>
                </div>
                <div class="col-4">
                  <cp-dropdown [items]="athleticsMenu"
                               (selected)="onAthleticsSelected($event)"
                               [selectedItem]="athleticsDefaultPermission()">
                  </cp-dropdown>
                </div>
              </div>
            </div>
            <!-- END Athletics Owner -->

            <!-- Audience -->
            <div class="section__item">
              <div class="row">
                <div class="col-8">
                  <p class="section-sub-title">
                    {{ 'admin_audience_title' | cpI18n }}</p>
                  <p class="section-description">
                    {{ 'admin_audience_help' | cpI18n }}
                  </p>
                </div>
                <div class="col-4">
                  <cp-dropdown [items]="audienceMenu"
                               (selected)="onAudienceSelected($event)"
                               [selectedItem]="audienceDefaultPermission()">
                  </cp-dropdown>
                </div>
              </div>
            </div>
            <!-- END Audience -->

            <!-- Events -->
            <div class="section__item">
              <div class="row">
                <div class="col-8">
                  <p class="section-sub-title">
                    {{ 'admin_events_title' | cpI18n }}</p>
                  <p class="section-description">
                    {{ 'admin_events_help' | cpI18n }}
                  </p>
                </div>
                <div class="col-4">
                  <cp-dropdown [items]="eventsMenu"
                               (selected)="onEventsSelected($event)"
                               [selectedItem]="eventsDefaultPermission()">
                  </cp-dropdown>
                </div>
              </div>
            </div>
            <!-- END Events -->

            <!-- App Content -->
            <div class="section__item section--content">
              <div class="row">
                <div class="col-12">
                  <p class="section-sub-title">
                    {{ 'admin_app_content' | cpI18n }}</p>
                  <p class="section-description">
                    {{ 'admin_app_content_help' | cpI18n }}
                  </p>
                </div>
              </div>
              <div class="row options-row">
                <div class="col-4"
                     [class.isDisabled]="!formData.content.feeds.active">
                  <cp-checkbox class="cpcheckbox"
                               [label]="cpI18n.translate('feeds')"
                               [isDisabled]="!formData.content.feeds.active"
                               [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.moderation]"
                               (toggle)="
                      checkControl($event, CP_PRIVILEGES_MAP.moderation, formData.content.feeds)
                    ">
                  </cp-checkbox>
                </div>

                <div class="col-4"
                     [class.isDisabled]="!formData.content.calendars.active">
                  <cp-checkbox class="cpcheckbox"
                               [label]="cpI18n.translate('calendar')"
                               [isDisabled]="!formData.content.calendars.active"
                               [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.calendar]"
                               (toggle)="
                      checkControl($event, CP_PRIVILEGES_MAP.calendar, formData.content.calendars)
                    ">
                  </cp-checkbox>
                </div>

                <div class="col-4"
                     [class.isDisabled]="!formData.content.dining.active">
                  <cp-checkbox class="cpcheckbox"
                               [label]="cpI18n.translate('dining')"
                               [isDisabled]="!formData.content.dining.active"
                               [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.dining]"
                               (toggle)="
                      checkControl($event, CP_PRIVILEGES_MAP.dining, formData.content.dining)
                    ">
                  </cp-checkbox>
                </div>
              </div>

              <div class="row options-row">
                <div class="col-4"
                     [class.isDisabled]="!formData.content.maps.active">
                  <cp-checkbox class="cpcheckbox"
                               [label]="cpI18n.translate('maps')"
                               [isDisabled]="!formData.content.maps.active"
                               [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.campus_maps]"
                               (toggle)="
                      checkControl($event, CP_PRIVILEGES_MAP.campus_maps, formData.content.maps)
                    ">
                  </cp-checkbox>
                </div>

                <div class="col-4 admin_studio_tooltip"
                     [class.isDisabled]="!formData.content.appCustomizaton.active">
                  <cp-checkbox class="cpcheckbox"
                               [label]="cpI18n.translate('customise')"
                               [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.app_customization]"
                               (toggle)="
                      checkControl(
                        $event,
                        CP_PRIVILEGES_MAP.app_customization,
                        formData.content.appCustomizaton
                      )
                    "
                               [isDisabled]="!formData.content.appCustomizaton.active">
                  </cp-checkbox>
                  <button cpTooltip
                          class="cpbtn cpbtn--link danger"
                          [attr.title]="'t_admin_invite_studio_limited_tooltip' | cpI18n"
                          *ngIf="
                      utils.hasStudio(schoolPrivileges) &&
                      !utils.hasFullStudioPrivilege(schoolPrivileges)
                    ">
                    {{ 't_shared_limited' | cpI18n }}
                  </button>
                </div>

                <div class="col-4"
                     [class.isDisabled]="!formData.content.orientation.active">
                  <cp-checkbox class="cpcheckbox"
                               [label]="cpI18n.translate('orientation')"
                               [isDisabled]="!formData.content.orientation.active"
                               [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.orientation]"
                               (toggle)="
                      checkControl(
                        $event,
                        CP_PRIVILEGES_MAP.orientation,
                        formData.content.orientation
                      )
                    ">
                  </cp-checkbox>
                </div>
              </div>

              <div class="row options-row">
                <div class="col-4"
                     [class.isDisabled]="!formData.content.jobs.active">
                  <cp-checkbox class="cpcheckbox"
                               [label]="cpI18n.translate('jobs')"
                               [isDisabled]="!formData.content.jobs.active"
                               [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.jobs]"
                               (toggle)="checkControl($event, CP_PRIVILEGES_MAP.jobs, formData.content.jobs)">
                  </cp-checkbox>
                </div>

                <div class="col-4"
                     [class.isDisabled]="!formData.content.deals.active">
                  <cp-checkbox class="cpcheckbox"
                               [label]="cpI18n.translate('deals')"
                               [isDisabled]="!formData.content.deals.active"
                               [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.deals]"
                               (toggle)="checkControl($event, CP_PRIVILEGES_MAP.deals, formData.content.deals)">
                  </cp-checkbox>
                </div>
              </div>
            </div>
            <!-- END App Content -->

            <!-- Notify -->
            <div class="section__item">
              <div class="row">
                <div class="col-12">
                  <p class="section-sub-title">
                    {{ 'notify' | cpI18n }}
                    <i cpTooltip
                       class="material-icons"
                       *ngIf="!hasStorePrivileges()"
                       [attr.title]="'t_admin_invite_notify_permission_tooltip' | cpI18n">
                      lock
                    </i>
                  </p>
                  <p class="section-description">
                    {{ 'admin_notify_help' | cpI18n }}
                  </p>
                </div>
              </div>
              <fieldset [disabled]="!hasStorePrivileges()">
                <div class="section row"
                     [class.isDisabled]="!hasStorePrivileges()">
                  <div class="col-12">
                    <div class="row options-row">
                      <div class="col-5"
                           [class.isDisabled]="!formData.notify.campus.active">
                        <cp-checkbox class="cpcheckbox"
                                     [isDisabled]="!formData.notify.campus.active"
                                     [label]="'admin_campus_announcements' | cpI18n"
                                     [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.campus_announcements]"
                                     (toggle)="
                            checkControl(
                              $event,
                              CP_PRIVILEGES_MAP.campus_announcements,
                              formData.notify.campus
                            )
                          ">
                        </cp-checkbox>
                      </div>
                      <div class="col-5"
                           [class.isDisabled]="!formData.notify.emergency.active">
                        <cp-checkbox class="cpcheckbox"
                                     [isDisabled]="!formData.notify.emergency.active"
                                     [label]="'admin_emergency_announcements' | cpI18n"
                                     [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.emergency_announcement]"
                                     (toggle)="
                            checkControl(
                              $event,
                              CP_PRIVILEGES_MAP.emergency_announcement,
                              formData.notify.emergency
                            )
                          ">
                        </cp-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <!-- END Notify -->

            <!-- Assess -->
            <div class="section__item">
              <div class="row">
                <div class="col-12">
                  <p class="section-sub-title">{{ 'assess' | cpI18n }}</p>
                  <p class="section-description">
                    {{ 'admin_assess_help' | cpI18n }}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-5 options-row"
                     [class.isDisabled]="!formData.assess.engagement.active">
                  <cp-checkbox class="cpcheckbox"
                               [isDisabled]="!formData.assess.engagement.active"
                               [label]="cpI18n.translate('admin_engagement_dashboard')"
                               [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.assessment]"
                               (toggle)="
                      checkControl($event, CP_PRIVILEGES_MAP.assessment, formData.assess.engagement)
                    ">
                  </cp-checkbox>
                </div>
              </div>
            </div>
            <!-- END Assess -->
          </div>
        </fieldset>
        <!-- END Permissions -->

        <div class="footer">
          <div class="cp-wrapper cp-wrapper--outer">
            <div class="row">
              <div class="col-12">
                <div class="float-right">
                  <label *ngIf="isFormError"
                         class="error">{{ formError }}</label>
                  <a [routerLink]="[currentUserCanManage ? '/settings/team' : '/dashboard']"
                     class="cpbtn cpbtn--cancel">
                    {{ 'cancel' | cpI18n }}
                  </a>

                  <cp-button [props]="buttonData"
                             (buttonClick)="onSubmit(form.value)"> </cp-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <cp-modal [type]="MODAL_TYPE"
            *ngIf="isServiceModal"
            modalId="selectServicesModal">
    <cp-select-services-modal [reset]="resetServiceModal$"
                              (cancel)="updateServiceDropdownLabel()"
                              (selected)="onServicesModalSelected($event)"
                              [selectedServices]="accountPrivileges">
    </cp-select-services-modal>
  </cp-modal>

  <cp-modal [type]="MODAL_TYPE"
            *ngIf="isClubsModal"
            modalId="selectClubsModal">
    <cp-select-clubs-modal [reset]="resetClubsModal$"
                           (cancel)="updateClubDropdownLabel()"
                           (selected)="onClubsModalSelected($event)"
                           [selectedClubs]="accountPrivileges">
    </cp-select-clubs-modal>
  </cp-modal>

  <cp-modal [type]="MODAL_TYPE"
            *ngIf="isAthleticsModal"
            modalId="selectAthleticsModal">
    <cp-select-athletics-modal [reset]="resetAthleticsModal$"
                               (cancel)="updateAthleticDropdownLabel()"
                               (selected)="onAthleticsModalSelected($event)"
                               [selectedAthletics]="accountPrivileges">
    </cp-select-athletics-modal>
  </cp-modal>

  <cp-modal modalId="teamUnauthorziedModal">
    <cp-team-unauthorized></cp-team-unauthorized>
  </cp-modal>
</div>