<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div class="cp-wrapper" *ngSwitchCase="false">
    <div class="row">
      <form
        [formGroup]="form"
        class="col-8 offset-2 margin-bottom">

        <cp-team-profile-form
          [form]="form"
          [isEdit]="true"
          [isCurrentUser]="isCurrentUser"
          [isAllAccessEnabled]="isAllAccessEnabled"
          (toggleAllAccess)="onToggleAllAccess($event)">
        </cp-team-profile-form>

        <cp-team-privileges-form
          [form]="form"
          [isEdit]="true"
          [isCurrentUser]="isCurrentUser"
          (formSubmitted)="onSubmit($event)"
          [schoolPrivileges]="schoolPrivileges"
          [accountPrivileges]="accountPrivileges"
          [isAllAccessEnabled]="isAllAccessEnabled">
        </cp-team-privileges-form>

      </form>
    </div>
  </div>
</div>

<cp-modal modalId="teamUnauthorziedModal">
  <cp-team-unauthorized></cp-team-unauthorized>
</cp-modal>