<div class="row form-group">
  <div class="col-6">
    <label>{{ 't_personas_tile_modal_create_label_type' | cpI18n }}</label>
    <cp-dropdown 
      [items]="contentTypes"
      (selected)="onContentTypeChange($event)">
    </cp-dropdown>
  </div>
</div>

<div class="row form-group" *ngIf="state.textInput">
  <div class="col-12">
    <label>{{ 't_personas_tile_modal_create_link_url' | cpI18n }}</label>
    <cp-personas-tile-form-type-text 
      (valueChange)="onUrlChange($event)">
    </cp-personas-tile-form-type-text>
  </div>
</div>

<div class="row form-group" *ngIf="state.resource">
  <div class="col-12">
    <label>{{ 't_personas_tile_modal_create_resource_type' | cpI18n }}</label>
    <cp-personas-tile-form-resource-list 
      (selected)="onResourceTypeSelected($event)">
    </cp-personas-tile-form-resource-list>
  </div>
</div>

<div class="row form-group" *ngIf="state.resourceList">
  <div class="col-12">
    <label>{{ 't_personas_tile_create_type_resource_resource_list' | cpI18n }}</label>
    <cp-personas-tile-form-link-of-links
      (selected)="onResourceTypeSelected($event)">
    </cp-personas-tile-form-link-of-links>
  </div>
</div>
