<div class="row">
  <div class="col-xs-4">
    <ng-container class="typeahead">
      <textarea #input data-toggle="dropdown"></textarea>

      <div
        class="typeahead__chips input">
        <cp-chip
          [chip]="chip"
          class="typeahead__chip"
          [icon]="chipOptions.icon"
          [withClose]="chipOptions.close"
          [withAvatar]="chipOptions.avatar"
          *ngFor="let chip of state.selected"
          (handleClose)="onHandleRemove($event)">
        </cp-chip>
      </div>

      <ul class="typeahead__list dropdown-menu" *ngIf="suggestions.length">
        <li
          class="typeahead__item"
          (click)="onHandleClick(suggestion)"
          *ngFor="let suggestion of suggestions">
          {{ suggestion.label }}
        </li>
      </ul>
    </ng-container>
  </div>
</div>