@import '~styles/core/colors';
@import '~styles/components/form';
@import '~styles/components/dropdown';

:host {
  display: block;
  padding: 10px 0;
}

textarea {
  height: 38px;
  min-height: 38px;
  position: relative;
}

.typeahead {
  position: relative;

  &__input {
    height: 100%;
    padding: 3px;
    min-height: 38px;
    margin-bottom: 10px;
    background: $color-white;
  }

  &__chips {
    height: 100%;
    overflow: auto;
    min-height: 38px;
    background: $color-white;
  }

  &__chip {
    padding: 3px;
    // margin-right: 6px;
    display: inline-block;
  }

  &__list {
    @include cpDropdownMenu();

    top: 100%;
    left: 15px;
    border-radius: 4px;
  }
}