@import '~styles/core/colors';
@import '~styles/components/form';
@import '~styles/components/dropdown';

:host {
  display: block;
  padding: 10px 0;
}

.typeahead {
  &__input {
    height: 100%;
    padding: 3px;
    min-height: 38px;
    margin-bottom: 10px;
    background: $color-white;
  }

  &__chip {
    margin-right: 6px;
    display: inline-block;
  }

  &__list {
    @include cpDropdownMenu();

    top: 115%;
    border-radius: 4px;
  }
}