<cp-students-top-bar (filter)="onFilter($event)"
                     [listIdFromUrl]="listIdFromUrl">
</cp-students-top-bar>

<ng-container [ngSwitch]="loading">
    <cp-spinner *ngSwitchCase="true"></cp-spinner>
    <ng-container *ngSwitchCase="false">

        <cp-no-content
                class="no-content"
                *ngIf="!students.length"
                noContentText="No students found..."></cp-no-content>

        <table *ngIf="students.length"
               ui-table>
            <thead>
            <tr ui-table-row>
                <th ui-table-cell
                    (sort)="doSort('firstname')"
                    [sorting]="state.sort_field === 'firstname'"
                    [sortDirection]="state.sort_direction">{{ 'name' | cpI18n }}</th>
                <th ui-table-cell>{{ 'assess_student_last_active' | cpI18n }}</th>
                <th ui-table-cell>{{ 't_shared_student_muted' | cpI18n }}</th>
                <th ui-table-cell></th>
            </tr>
            </thead>
            <tbody>
            <tr ui-table-row
                *ngFor="let student of students; index as index">
                <td ui-table-cell>
                    <a cpTracker
                       [eventData]="eventData"
                       queryParamsHandling="merge"
                       [routerLink]="[student.id]">
                        <div ui-stack>
                            <ready-ui-avatar
                                    [src]="student.avatar <= avatarCustomCodeThreshold ?
                              defaultImage :
                              student.avatar_url"
                                    [alt]="[student.firstname + student.lastname]"></ready-ui-avatar>
                            <div>
                                <strong>{{ student.firstname }} {{ student.lastname }}</strong>
                            </div>
                        </div>
                    </a>
                </td>
                <td ui-table-cell>
                    {{ student.last_active_epoch > -1 ?
                  (student.last_active_epoch | cpDatePipe: dateFormat) :
                  '---'
                    }}
                </td>
                <td ui-table-cell>
                    <ready-ui-icon name="volume_off"
                                   size="small"
                                   *ngIf="student.social_restriction"></ready-ui-icon>
                </td>
                <td ui-table-cell
                    align="right">
                    <button
                            type="button"
                            ui-button
                            variant="inline"
                            color="primary"
                            (click)="messageStudent(student)">{{ 'assess_message_student' | cpI18n }}</button>
                </td>
            </tr>
            </tbody>
        </table>
        <cp-pagination [pageNext]="pageNext"
                       [pagePrev]="pagePrev"
                       [pageNumber]="pageNumber"
                       (next)="onPaginationNext()"
                       (previous)="onPaginationPrevious()">
        </cp-pagination>

    </ng-container>
</ng-container>

<cp-modal *ngIf="isStudentComposeModal"
          modalId="studentsComposeModal">
    <cp-students-compose [props]="messageData"
                         (success)="onFlashMessage($event)"
                         (teardown)="onComposeTeardown()">
    </cp-students-compose>
</cp-modal>


