<form [formGroup]="form">
  <div class="row form-group">
    <div class="col-xs-12">
      <label>
        {{ 'calendars_label_name' | cpI18n }}
        <span class="pull-right">
          {{ form.controls.name.value ? form.controls.name.value.length : 0 }}/225
        </span>
      </label>
      <input
        type="text"
        class="form-control"
        formControlName="name">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <label>
        {{ 'calendars_label_description' | cpI18n }}
        <span class="pull-right">
          {{ form.controls.description.value ? form.controls.description.value.length : 0 }}/512
        </span>
      </label>
      <textarea
        class="form-control"
        formControlName="description">
      </textarea>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="isOrientation">
    <div class="col-xs-10">
      <label>{{ 'orientation_enable_membership' | cpI18n }}</label>
      <p>{{ 'orientation_enable_membership_description' | cpI18n }}</p>
    </div>
    <div class="col-xs-2">
      <span class="pull-right">
        <cp-switch
          [id]="orientationProgram?.id"
          [isChecked]="isChecked"
          (toggle)="toggleMembership($event)">
        </cp-switch>
      </span>
    </div>
  </div>
</form>