<cp-card [ngSwitch]="loading">
  <div class="services services--no-data"
       *ngSwitchCase="true">
    <div class="row">
      <div class="col-12">
        <p class="services--heading">{{ 'services' | cpI18n }}</p>

        <div class="services--no-data-wrapper text-center">
          <cp-spinner></cp-spinner>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngSwitchCase="false">
    <ng-container [ngSwitch]="isDisable">
      <div class="services services--no-data"
           *ngSwitchCase="true">
        <div class="row">
          <div class="col-12">
            <p class="services--heading">{{ 'services' | cpI18n }}</p>

            <div class="services--no-data-wrapper text-center">
              <p class="heading">{{ 'assess_no_service_data' | cpI18n }}</p>
              <p class="text-muted">{{ 'assess_no_service_data_help' | cpI18n }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="services"
           *ngSwitchCase="false">
        <cp-engagement-resource-stats [stats]="stats"
                                      [labels]="labels"
                                      [loading]="loading"
                                      [sortingBy]="sortingBy"
                                      [isSorting]="isSorting"
                                      [items]="servicesRanking"
                                      (sortBy)="onSortBy($event)">
        </cp-engagement-resource-stats>
      </div>
    </ng-container>
  </ng-container>
</cp-card>