<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <div class="row">
      <div class="col-xs-6">
        <p i18n>
          To import events from Facebook, input your Facebook page's event
          link below eg.https://www.facebook.com/oohlalamobileapp/events/
        </p>
      </div>
    </div>
    <cp-facebook-events-create
      [stores]="stores"
      [clubId]="clubId"
      [storeId]="storeId"
      (created)="onCreated()">
    </cp-facebook-events-create>

    <cp-facebook-update
      [stores]="stores"
      [clubId]="clubId"
      [storeId]="storeId"
      [reload]="reload$">
    </cp-facebook-update>
  </div>
</div>
