<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <div class="row">
      <div class="col-6">
        <p i18n>
          {{ 'events_facebook_help' | cpI18n }}
        </p>
      </div>
    </div>
    <cp-facebook-events-create
      [stores]="stores"
      [clubId]="clubId"
      [storeId]="storeId"
      (created)="onCreated()">
    </cp-facebook-events-create>

    <cp-facebook-update
      [stores]="stores"
      [clubId]="clubId"
      [storeId]="storeId"
      [reload]="reload$">
    </cp-facebook-update>
  </div>
</div>
