@import '~styles/components/button';
@import '~styles/components/dropdown';

.upload-menu {
  button {
    line-height: 1;
  }
  i {
    font-size: 20px;
  }

  .pencil {
  }

  .down {
  }

  .dropdown-menu {
    @include cpDropdownMenu();

    top: 115%;
  }
}
