@import '~styles/components/card';
@import '~styles/components/button';
@import '~styles/core/typography';

.info {
  &__banner {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__map,
  &__banner {
    height: 200px;
  }

  &__meta {
    margin-top: 25px;
    p {
      margin-bottom: 10px;
    }
    i {
      margin-right: 5px;
      vertical-align: -7px;
    }
  }

  &__admins {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid $border-color;

    &__title {
      @include font-16px();
      @include font-semi-bold();
    }

    &__list {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }

    &__admin {
      padding: 12px 0;

      span {
        font-size: 0.9em;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &__title {
    @include font-semi-bold();

    font-size: 1.6em;
    margin-bottom: 3px;
  }
}