<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="cp-card info">
            <div class="row">
                <div class="col-xs-12">
                    <div
                            class="info__banner placeholder img-responsive img-rounded"
                            [ngStyle]="{ 'background-image' : 'url(' + data.banner + ')' }">
                    </div>

                    <div class="row" *ngIf="data.type == 'events'">
                        <div [class]="!utils.isPastEvent(data.event) ? 'col-xs-10' : 'col-xs-12'">
                            <p class="info__title">{{ data.title }}</p>
                        </div>
                        <div class="col-xs-2" *ngIf="!utils.isPastEvent(data.event)">
                            <a
                                    [routerLink]="['../edit']"
                                    class="cpbtn cpbtn--primary pull-right" i18n>
                                {{ 'edit' | cpI18n }}
                            </a>
                        </div>
                    </div>

                    <div class="row" *ngIf="data.type == 'services'">
                        <div [class]="'col-xs-10'">
                            <p class="info__title">{{ data.title }}</p>
                        </div>
                        <div class="col-xs-2">
                            <a
                                    [routerLink]="['../edit']"
                                    class="cpbtn cpbtn--primary pull-right" i18n>
                                {{ 'edit' | cpI18n }}
                            </a>
                        </div>
                    </div>

                    <p *ngIf="data.type == 'events'">
                        <span i18n>{{ 'events_hosted_by' | cpI18n }} </span> {{ data.event.store_name }}
                    </p>

                    <div class="info__meta text-truncate">
                        <p *ngIf="data.type == 'events'">
                            <strong i18n *ngIf="!utils.isPastEvent(data.event)">{{ 'starts' | cpI18n }}</strong>
                            <strong i18n *ngIf="utils.isPastEvent(data.event)">{{ 'started' | cpI18n }}</strong>
                            {{ data.event.start | cpDatePipe:dateFormat }}
                            <br>
                            <strong i18n *ngIf="!utils.isPastEvent(data.event)">{{ 'ends' | cpI18n }}</strong>
                            <strong i18n *ngIf="utils.isPastEvent(data.event)">{{ 'ended' | cpI18n }}</strong>
                            {{ data.event.end | cpDatePipe:dateFormat }}
                        </p>

                        <div class="info__meta" *ngIf="data.type == 'services'">
                            <p *ngIf="data.contactphone">
                                <i class="material-icons">phone</i> {{ data.contactphone }}
                            <p>

                            <p *ngIf="data.email">
                                <i class="material-icons">email</i>{{ data.email }}
                            </p>

                            <p *ngIf="data.website">
                                <i class="material-icons">web</i>{{ data.website }}
                            </p>

                            <p *ngIf="data.address">
                                <i class="material-icons">place</i>
                                {{ data.address }}
                            </p>
                        </div>

                        <p *ngIf="data.address && data.type == 'events'">{{ data.address }}</p>
                    </div>

                    <hr>

                    <p>{{ data.description }}</p>

                    <div class="row">
                        <div class="col-xs-12 info__map">
                            <cp-maps
                                    [center]="data.mapCenter"
                                    [draggable]="data.draggable">
                            </cp-maps>
                        </div>
                    </div>

                    <div class="row" *ngIf="data.type == 'services'">
                        <div class="col-xs-12">
                            <div class="info__admins">
                                <p class="info__admins__title i18n">{{ 'services_admin' | cpI18n }}</p>

                                <p *ngIf="!admins" i18n>{{ 'no_admins_found' | cpI18n }}...</p>

                                <ul class="info__admins__list" *ngIf="admins">
                                    <li
                                            *ngFor="let admin of admins"
                                            class="info__admins__admin">
                                        {{ admin.firstname }} {{ admin.lastname }}
                                        <br>
                                        <span class="text-muted">{{ admin.email }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>