<div class="row">
  <div class="col-12">
    <cp-personas-list-action-box (search)="onSearch($event)"
                                 (filterBy)="onFilterByPersonaType($event)">
    </cp-personas-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.personas.length"
                   [noContentText]="'t_personas_no_results_found' | cpI18n">
    </cp-no-content>

    <div *ngIf="state.personas.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell>{{ 'name' | cpI18n }}</th>
            <th ui-table-cell>{{ 't_shared_type' | cpI18n }}</th>
            <th ui-table-cell>
              {{ 't_persona_list_column_heading_authentication' | cpI18n }}
            </th>
            <th ui-table-cell></th>
          </tr>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let persona of state.personas; let i = index">
            <td ui-table-cell>
              {{ persona.localized_name_map.en }}
            </td>

            <td ui-table-cell>{{ personaType[persona.platform] | cpI18n }}</td>

            <td ui-table-cell>
              {{ personaAuthentication[persona.login_requirement] | cpI18n }}
            </td>

            <td ui-table-cell
                align="right">
              <fieldset [disabled]="state.updating">
                <ready-ui-stack>
                  <button ui-button
                          type="button"
                          color="primary"
                          variant="inline"
                          [disabled]="i === 0"
                          (click)="onRankUp(persona, i)">
                    <ready-ui-icon name="keyboard_arrow_up"
                                   [color]="[i === 0 ? 'ccc' : '2096f3']">
                    </ready-ui-icon>
                  </button>
                  <button ui-button
                          type="button"
                          color="primary"
                          variant="inline"
                          (click)="onRankDown(persona, i)"
                          [disabled]="i === state.personas.length - 1">
                    <ready-ui-icon name="keyboard_arrow_down"
                                   [color]="[i === state.personas.length - 1 ? 'ccc' : '2096f3']">
                    </ready-ui-icon>
                  </button>
                  <a ui-button
                     color="primary"
                     variant="inline"
                     [routerLink]="[persona.id]"
                     (click)="trackViewedMovedExperience(persona, true)">
                    <ready-ui-icon name="settings_applications"
                                   color="2096f3"></ready-ui-icon>
                    {{ 't_persona_list_button_customize' | cpI18n }}
                  </a>
                  <a ui-button
                     color="primary"
                     variant="inline"
                     [routerLink]="[persona.id + '/edit']">
                    <ready-ui-icon name="edit"
                                   color="2096f3"></ready-ui-icon>
                    {{ 't_persona_list_button_edit' | cpI18n }}
                  </a>
                </ready-ui-stack>
              </fieldset>
            </td>
          </tr>
        </tbody>
      </table>

      <cp-pagination [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()"
                     [pageNext]="pageNext && !state.search_str"
                     [pagePrev]="pagePrev && !state.search_str">
      </cp-pagination>
    </div>
  </div>
</div>