@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/components/tooltip';

form {
  .margin-top {
    margin-top: 24px;
  }

  p.title {
    @include font-24px();
    @include font-bold();

    margin: 0;
    display: inline-block;
  }

  .event-details {
    margin-top: 40px;
  }

  label {
    margin-top: 10px;
    display: inline-block;
  }
}

label {
  margin-top: 10px;
  display: inline-block;

  &.with-tooltip {
    i {
      @include toolTipIcon();
    }
  }
}

.tooltip {
  width: 15px;
  height: 15px;
  font-size: 0.7em;
  text-align: center;
  border-radius: 50%;
  color: $color-white;
  display: inline-block;
  background: $color-black;
}
