<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span i18n><strong>{{ 'admin_club_service_modal_title' | cpI18n: title }}</strong></span>

        <span
          data-dismiss="modal"
          (click)="emitAndClose()"
          class="float-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <ng-container [ngSwitch]="loading">
      <cp-spinner *ngSwitchCase="true"></cp-spinner>

      <ng-container *ngSwitchCase="false">
        <div class="row">
          <div class="col-4 items-list">
            <div class="row items-list__search-box">
              <div class="col-12">
                <cp-searchbox (query)="query = $event"></cp-searchbox>
              </div>
            </div>

            <div class="row">
              <ul class="col-12 items-list__results">
                <li class="cp-form__item"
                  *ngFor="let item of state.selected | cpTeamFilterPipe:{query: query, filterBy: 'name'}">
                  <div class="row">
                    <span class="col-10" i18n>
                      <div class="row">
                        <div class="col-3 items-list__thumbnail">
                          <img class="rounded img-fit-cover img-fluid" [src]="item.data.logo_url">
                        </div>
                        <div class="col-9 text-truncate no-left-padding">
                          <strong>
                            {{ item.data.name }}
                          </strong>
                          <br>
                          {{ item.data.description }}
                        </div>
                      </div>
                    </span>
                    <span
                      class="col-2">
                      <cp-checkbox
                        class="checkbox"
                        [isChecked]="item.checked"
                        (toggle)="onCheckedItem($event, item)">
                      </cp-checkbox>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-8 items-list">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <ul class="col-12 items-list__results items-list__results--full-height">
                    <li class="cp-form__item col-12" *ngFor="let item of state.selected | cpTeamSelectedPipe">
                      <div class="row" *ngIf="item.checked">
                        <span class="col-9" i18n>
                          <div class="row">
                            <div class="col-2 items-list__thumbnail">
                              <img class="rounded img-fit-cover img-fluid" [src]="item.data.logo_url">
                            </div>
                            <div class="col-9 text-truncate no-left-padding">
                              <strong>
                                {{ item.data.name }}
                              </strong>
                              <br>
                              {{ item.data.description }}
                            </div>
                          </div>
                        </span>
                        <span class="col-2 no-right-padding text-right hover privileges-menu">
                          <button class="cpbtn cpbtn--cancel hover" data-toggle="dropdown">
                            <span>
                              <i class="material-icons">{{ item.icon }}</i>
                              <i class="material-icons">keyboard_arrow_down</i>
                            </span>
                          </button>

                          <ul class="dropdown-menu dropdown-menu-right privileges-menu__list">
                            <li
                              class="privileges-menu__item"
                              *ngFor="let privilege of privileges | cpFilterByStorePrivileges: privilegeType:item.id"
                              (click)="updateItem(item.id, 'type', privilege.type, privilege.icon)">
                              <div class="row">
                                <div class="col-2 text-center no-left-padding no-right-padding">
                                  <i 
                                    class="material-icons" 
                                    *ngIf="item.type === privilege.type">
                                    check
                                  </i>
                                </div>
                                <div class="col-10 no-left-padding">
                                  <p class="privileges-menu__item--title" i18n>
                                    {{ privilege.title }}
                                  </p>
                                  <p
                                    [innerHTML]="privilege.description"
                                    class="privileges-menu__item--description" i18n>
                                  </p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </span>
                        <span
                          class="col-1 hover text-right delete-button"
                          (click)="removeSelectedItem(item)">
                          &times;
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-6 offset-6 text-right">
        <button
          type="button"
          (click)="emitAndClose()"
          class="cpbtn cpbtn--cancel"
          data-dismiss="modal" i18n>
          Cancel
        </button>

        <button
          type="button"
          (click)="onSubmit()"
          data-dismiss="modal"
          class="cpbtn cpbtn--primary"i18n>
          Done
        </button>
      </div>
    </div>
  </div>
</div>
