<div class="row">
  <div class="col-xs-12">
    <div class="cp-card">
      <div class="row">
        <div class="col-xs-3">
          <cp-searchbox (query)="query.emit($event)"></cp-searchbox>
        </div>
        <div class="col-xs-3 float-right">
          <button
            cpTracker
            type="button"
            (click)="create.emit()"
            [eventData]="trackEvent(amplitudeEvents.clicked_create)"
            class="cpbtn cpbtn--primary float-right">
            {{ 'templates_button_new' | cpI18n }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>