<div class="row margin-bottom">
  <form [formGroup]="form">
    <div class="col-xs-6">
      <div class="cp-card">
        <div class="row">
          <div class="col-xs-12">
            <p class="title" i18n>{{ 'events_event_banner' | cpI18n }}</p>
            <div class="row margin-top">
              <cp-image-upload
                (uploaded)="onUploadedImage($event)"
                [required]="formError && form.controls['poster_url'].hasError('required')">
              </cp-image-upload>
            </div>
          </div>
        </div>

        <div class="row event-details">
          <div class="col-xs-12">
            <p class="title" i18n>{{ 'events_event_details' | cpI18n }}</p>
            <div class="form-group margin-top">
              <label i18n>{{ 'events_event_name' | cpI18n }}</label>
              <input
                type="text"
                class="form-control"
                formControlName="title"
                [class.error]="formError && form.controls['title'].hasError('required')">
            </div>

            <div class="row form-group" *ngIf="!isClub && !isService && !isOrientation">
              <div class="col-xs-12">
                <label i18n>{{ 'select_host' | cpI18n }}</label>
                <cp-dropdown
                  [items]="stores$ | async"
                  [selectedItem]="session.defaultHost"
                  (selected)="onSelectedHost($event)"
                  [isRequiredError]="formError && form.controls['store_id'].hasError('required')">
                </cp-dropdown>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-6">
                <label i18n>{{ 'start_date' | cpI18n }}</label>
                <cp-datepicker
                  [options]="startdatePickerOpts"
                  [error]="formError && form.controls['start'].hasError('required')">
                </cp-datepicker>
              </div>
              <div class="col-xs-6">
                <label i18n>{{ 'end_date' | cpI18n }}</label>
                <cp-datepicker
                  [options]="enddatePickerOpts"
                  [error]="formError && form.controls['end'].hasError('required')">
                </cp-datepicker>
              </div>
            </div>

            <div class="row form-group" *ngIf="isOrientation">
              <div class="col-xs-12">
                <cp-checkbox
                  class="checkbox"
                  (toggle)="onAllDayToggle($event)">
                </cp-checkbox>
                <label i18n>{{ 'all_day' | cpI18n }}</label>
              </div>
            </div>

            <div class="form-group">
              <label i18n>{{ 'events_event_description' | cpI18n }}</label>
              <textarea formControlName="description"></textarea>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <label i18n>{{ 'location' | cpI18n }}</label>
                <div class="row form-group">
                  <div class="col-xs-12">
                    <cp-place-autocomplete
                      [newAddress]="newAddress"
                      (backToDefault)="onResetMap()"
                      (placeChange)="onPlaceChange($event)"
                      [defaultValue]="form.controls.address.value">
                    </cp-place-autocomplete>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-xs-6">
                    <label i18n>{{ 'building' | cpI18n }}</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="location">
                  </div>

                  <div class="col-xs-6">
                    <label i18n>{{ 'room' | cpI18n }}</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="room_data">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="maps">
                  <cp-maps
                    [center]="mapCenter"
                    (mapSelection)="onMapSelection($event)">
                  </cp-maps>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <fieldset [disabled]="isOrientation">
        <div class="cp-card" [class.isDisabled]="isOrientation">
          <div class="row">
            <div class="col-xs-12">
              <p class="title" i18n>{{ 'assessment' | cpI18n }}</p>
              <span class="pull-right">
              <cp-switch
                [id]="attendance"
                (toggle)="attendance = !attendance"
                (toggle)="toggleEventAttendance($event)">
              </cp-switch>
            </span>
              <div class="col-xs-12 temporarily_disabled" *ngIf="isOrientation">
                <div class="col-xs-1 temp-icon"><i class="material-icons">info_outline</i></div>
                <div class="col-xs-11 temp-text">{{ 'temporarily_disabled' | cpI18n }}</div>
              </div>
            </div>
          </div>

          <div *ngIf="attendance">
            <div class="row margin-top">
              <div class="col-xs-6">
                <div class="form-group">
                  <label i18n>{{ 'events_event_manager' | cpI18n }}
                    <cp-tooltip
                      [toolTipContent]="eventManagerToolTip">
                    </cp-tooltip>
                  </label>
                  <cp-dropdown
                    [items]="managers"
                    (selected)="onSelectedManager($event)"
                    [isRequiredError]="formError && form.controls['event_manager_id'].hasError('required')">
                  </cp-dropdown>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label i18n>{{ 'events_attendance_manager_full' | cpI18n }}
                    <cp-tooltip
                      [toolTipContent]="attendanceManagerToolTip">
                    </cp-tooltip>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="attendance_manager_email">
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-6">
                <label i18n>{{ 'student_feedback' | cpI18n }}
                  <cp-tooltip
                    [toolTipContent]="studentFeedbackToolTip">
                  </cp-tooltip>
                </label>
                <cp-dropdown
                  [items]="booleanOptions"
                  (selected)="onEventFeedbackChange($event)"
                  [isRequiredError]="formError && form.controls['event_feedback'].hasError('required')">
                </cp-dropdown>
              </div>
            </div>

            <div class="row form-group" *ngIf="form.controls['event_feedback'].value === eventFeedbackEnabled">
              <div class="col-xs-12">
                <label i18n>{{ 'events_default_question' | cpI18n }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="custom_basic_feedback_label">
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="footer">
      <div class="cp-wrapper cp-wrapper--outer">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="text-right">
                <label class="error" *ngIf="formError" i18n>
                  <span>&#x26A0;</span>
                  {{ isDateError ? dateErrorMessage : cpI18n.translate('error_fill_out_marked_fields') }}
                </label>
                <a [routerLink]="['../']"
                   class="cpbtn cpbtn--cancel" i18n>
                  {{ 'cancel' | cpI18n }}
                </a>
                <cp-button
                  [props]="buttonData"
                  (buttonClick)="onSubmit()">
                </cp-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>