<div class="row margin-bottom">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="col-xs-12 col-sm-6">
      <div class="cp-card">
        <div class="row">
          <div class="col-xs-12">
            <em i18n>Event Photo</em>
            <div class="row">
              <div class="col-xs-3 event-image">
                <div
                  class="placeholder text-center"
                  *ngIf="!form.controls['poster_url'].value">
                  <i class="material-icons">image</i>
                </div>
                <img
                  *ngIf="form.controls['poster_url'].value"
                  [src]="form.controls['poster_url'].value" class="img-rounded img-responsive">
              </div>
              <div class="col-xs-9">
                <small i18n><strong>Upload your photo</strong></small>
                <p class="text-muted" i18n>.png, .jpg, .jpeg with maximum file size of 5MB</p>
                <p *ngIf="imageError">
                  <label class="error"><span>&#x26A0;</span> {{ imageError }}</label>
                </p>

                <cp-upload-button
                  buttonClass="default"
                  buttonText="Upload Photo"
                  (fileUpload)="onFileUpload($event)">
                </cp-upload-button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <em i18n>Event Details</em>
            <div class="form-group">
              <label i18n>Event Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="title"
                placeholder="Add a short, clear name"
                [class.error]="formError && form.controls['title'].hasError('required')">
            </div>

            <div class="form-group">
              <label i18n>Select Host</label>
              <select
                class="form-control"
                formControlName="store_id"
                [class.error]="formError && form.controls['store_id'].hasError('required')">
                <option value="" i18n>ABC Host</option>
              </select>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <label i18n>Start</label>
                <cp-datepicker [options]="datePickerOpts"></cp-datepicker>
              </div>
              <div class="col-xs-12 col-sm-6">
                <label i18n>End</label>
                <cp-datepicker [options]="datePickerOpts"></cp-datepicker>
              </div>
            </div>

            <div class="form-group">
              <label i18n>Description</label>
              <textarea
                formControlName="description"
                placeholder="Tell people more about the event"
                [class.error]="formError && form.controls['description'].hasError('required')">
              </textarea>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <label i18n>Location</label>
                <div class="row">
                  <div class="col-xs-6 col-sm-4">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Building"
                        formControlName="location"
                        [class.error]="formError && form.controls['location'].hasError('required')">
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-4">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Room"
                        formControlName="room_data"
                        [class.error]="formError && form.controls['room_data'].hasError('required')">
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-4">
                    <div class="form-group">
                      <!--<input
                        type="text"
                        class="form-control"
                        placeholder="Address"
                        formControlName="address"
                        [class.error]="formError && form.controls['address'].hasError('required')">-->
                      <cp-place-autocomplete
                        (placeChange)="onPlaceChange($event)">
                      </cp-place-autocomplete>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 maps">
                <cp-maps [center]="mapCenter"></cp-maps>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="cp-card">
        <div class="row">
          <div class="col-xs-12">
            <em i18n>Event Attendance</em>
            <span class="pull-right">
              <cp-switch
                [id]="attendance"
                (toggle)="attendance = !attendance">
              </cp-switch>
            </span>
          </div>
        </div>

        <div *ngIf="attendance">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label i18n>Event Manager <span class="tooltip">&#63;</span></label>
                <select class="form-control">
                  <option value="">---</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label i18n>
                  Attendance Manager (optional)
                  <span class="tooltip">&#63;</span>
                </label>
                <input type="text" class="form-control" placeholder="example@mail.com">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <label i18n>Attendance Feedback</label>
              <select class="form-control">
                  <option value="" i18n>Enabled</option>
                  <option value="" i18n>Disabled</option>
                </select>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <label i18n>QR Code</label>
              <div class="placeholder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="text-right">
                <label class="error" *ngIf="formError" i18n>
                    <span>&#x26A0;</span> Please fill out the marked fields
                </label>
                 <a [routerLink]="['../']"
                  class="cpbtn cpbtn--tall cpbtn--secondary" i18n>
                  Cancel
                </a>
                <button
                  type="submit"
                  class="cpbtn cpbtn--tall cpbtn--primary" i18n>
                  Create Event
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>