<div class="row margin-bottom">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="col-xs-6">
      <div class="cp-card">
        <div class="row">
          <div class="col-xs-12">
            <p class="title" i18n>Event Photo</p>
            <div class="row margin-top">
              <cp-image-upload
                (uploaded)="onUploadedImage($event)"
                [required]="formError && form.controls['poster_url'].hasError('required')">
              </cp-image-upload>
            </div>
          </div>
        </div>

        <div class="row event-details">
          <div class="col-xs-12">
            <p class="title" i18n>Event Details</p>
            <div class="form-group margin-top">
              <label i18n>Event Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="title"
                placeholder="Add a short, clear name"
                [class.error]="formError && form.controls['title'].hasError('required')">
            </div>

            <div class="row form-group" *ngIf="!storeId">
              <div class="col-xs-6">
                <label i18n>Select Host</label>
                <cp-dropdown
                  [items]="stores$ | async"
                  (selected)="onSelectedHost($event)"
                  [isRequiredError]="formError && form.controls['store_id'].hasError('required')">
                </cp-dropdown>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-6">
                <label i18n>Start</label>
                <cp-datepicker
                  [options]="startdatePickerOpts"
                  [error]="formError && form.controls['start'].hasError('required')">
                </cp-datepicker>
              </div>
              <div class="col-xs-6">
                <label i18n>End</label>
                <cp-datepicker
                  [options]="enddatePickerOpts"
                  [error]="formError && form.controls['end'].hasError('required')">
                </cp-datepicker>
              </div>
            </div>

            <div class="form-group">
              <label i18n>Description</label>
              <textarea
                formControlName="description"
                placeholder="Tell people more about the event">
              </textarea>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <label i18n>Location</label>
                <div class="row form-group">
                  <div class="col-xs-12">
                    <cp-place-autocomplete
                      placeHolder="Address..."
                      (placeChange)="onPlaceChange($event)">
                    </cp-place-autocomplete>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-xs-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Building"
                      formControlName="location">
                  </div>

                  <div class="col-xs-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Room"
                      formControlName="room_data">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="maps">
                  <cp-maps [center]="mapCenter"></cp-maps>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="cp-card">
        <div class="row">
          <div class="col-xs-12">
            <p class="title" i18n>Event Attendance</p>
            <span class="pull-right">
              <cp-switch
                [id]="attendance"
                (toggle)="attendance = !attendance"
                (toggle)="toggleEventAttendance($event)">
              </cp-switch>
            </span>
          </div>
        </div>

        <div *ngIf="attendance">
          <div class="row margin-top">
            <div class="col-xs-6">
              <div class="form-group">
                <label i18n>Event Manager</label>
                <cp-dropdown
                  [items]="managers"
                  (selected)="onSelectedManager($event)"
                  [isRequiredError]="formError && form.controls['event_manager_id'].hasError('required')">
                </cp-dropdown>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label i18n>Attendance Manager (optional)</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="example@mail.com"
                  formControlName="attendance_manager_email">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <label i18n>Attendance Feedback</label>
              <cp-dropdown
                [items]="booleanOptions"
                (selected)="onEventFeedbackChange($event)"
                [isRequiredError]="formError && form.controls['event_feedback'].hasError('required')">
              </cp-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="cp-wrapper cp-wrapper--outer">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="text-right">
                <label class="error" *ngIf="formError" i18n>
                    <span>&#x26A0;</span> Please fill out the marked fields
                </label>
                 <a [routerLink]="['../']"
                  class="cpbtn cpbtn--tall cpbtn--cancel" i18n>
                  Cancel
                </a>
                <button
                  type="submit"
                  class="cpbtn cpbtn--tall cpbtn--primary" i18n>
                  Create Event
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>