@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/components/button';

.delete-event {
  font-size: 2em;
}

.cp-form__header {
  span.hover {
    position: relative;

    > span i {
      top: 1px;
      font-size: 17px;
      position: absolute;
      padding-left: 6px;
    }
  }
}

.events {
  padding: 0;
  list-style: none;

  .no-content {
    padding: 15px 0;
  }

  .event__title {
    display: inherit;
  }

  &__thumbnail {
    img {
      float: left;
      width: 30px;
      height: 30px;
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}

.actions {
  color: $color-secondary-text;

  i,
  img {
    top: -5px;
    right: 10px;
    position: relative;
  }
}
