<table ui-table>
  <thead>
    <tr ui-table-row>
      <th ui-table-cell
          (sort)="doSort('title')"
          [sorting]="state.sort_field === 'title'"
          [sortDirection]="state.sort_direction">
        {{ sortingLabels.name }}
      </th>
      <th ui-table-cell
          *ngIf="!isOrientation">{{ 'host' | cpI18n }}</th>
      <th ui-table-cell
          (sort)="doSort('start')"
          [sorting]="state.sort_field === 'start'"
          [sortDirection]="state.sort_direction">{{sortingLabels.start_date}}
      </th>
      <th ui-table-cell>{{ 'assessment' | cpI18n }}</th>
      <th ui-table-cell></th>
    </tr>
  </thead>

  <tbody>
    <tr ui-table-row
        *ngFor="let event of events; index as index">
      <td ui-table-cell>
        <ready-ui-stack>
          <ready-ui-avatar [alt]="'t_shared_img_alt' | cpI18n:index + 1"
                           [src]="event.poster_thumb_url ? event.poster_thumb_url : event.store_logo_url">
          </ready-ui-avatar>

          <strong>
            <a cpTracker
               [eventData]="eventData"
               class="event__title"
               [routerLink]="[event.id + '/info']"
               queryParamsHandling="merge">
              {{ event.title }}
            </a>
          </strong>

        </ready-ui-stack>
      </td>
      <td ui-table-cell
          *ngIf="!isOrientation">
        {{ event.store_name }}
      </td>
      <td ui-table-cell>
        {{ event.start | cpDatePipe: dateFormat }}
      </td>

      <td ui-table-cell>
          <cp-checkin-methode-list [kioskCheckinLink]="[eventCheckinRoute + event.encrypted_id]"
                                   [displaySelfCheckIn]="displaySelfCheckInLink(event)"
                                   [selfCheckinLink]="event.deep_link_url"
                                   (kioskCheckinLinkEvent)="trackKioskCheckinEvent(event)"
                                   (selfCheckinLinkEvent)="trackSelfCheckinEvent(event)"
                                   *ngIf="event.event_attendance === attendanceEnabled"
                                   class="btn-checkin-list w-100">
          </cp-checkin-methode-list>
      </td>

      <td ui-table-cell
          align="right">
        <ready-ui-stack>
          <img ui-tooltip
               alt=""
               tabindex="-1"
               aria-hidden="true"
               class="js_event_external"
               *ngIf="event.is_external"
               [title]="isExternalToolTip"
               [src]="event.source | integrationSourceToIcon" />
          <button ui-button
                  type="button"
                  variant="inline"
                  aria-label="Delete Event"
                  (click)="onDelete(event)">
            <ready-ui-icon name="close"></ready-ui-icon>
          </button>
        </ready-ui-stack>
      </td>
  </tbody>
</table>
