@import '~styles/core/colors';
@import '~styles/components/form';
@import '~styles/components/button';
@import '~bootstrap/variables';

.delete-link {
  font-size: 2em;
}

.cp-form__header {
  span.hover {
    position: relative;

    > span i {
      top: -2px;
      position: absolute;
    }
  }
}

.links {
  padding: 0;
  list-style: none;
  padding-bottom: 20px;

  .no-content {
    padding: 15px 0;
  }

  &__thumbnail {
    img {
      float: left;
      width: 30px;
      height: 30px;
      margin-top: 5px;
      margin-right: 10px;
    }
  }

  @media all and (max-width: $screen-md) {
    li {
      > span:not(.links__thumbnail) {
        text-align: center;
        padding-bottom: 10px;
      }
    }
  }
}