<div class="feed">
  <div class="row feed__image-wrapper" *ngIf="feed.image_list.length">
    <div class="col-3" *ngFor="let image of feed.image_list">
      <img [attr.data-src]="image.url" class="img-fluid feed__image">
    </div>
  </div>
  <div class="row feed__message">
    <div class="col-12">
        <p>{{ feed.message }}</p>
    </div>
  </div>
  <div class="row feed__footer">
    <div class="col-6">
      <span>
        <i class="material-icons">thumb_up</i>
        {{ feed.likes }}
      </span>
      <span
        *ngIf="!replyView"
        class="cpbtn cpbtn--link"
        (click)="isCommentsOpen = !isCommentsOpen"
        (click)="toggleReplies.emit(isCommentsOpen)"
        (click)="trackEvent(isCommentsOpen)">
        <i class="material-icons">mode_comment</i>
        {{ 'reply_verb' | cpI18n }}
      </span>
      <span class="flag" *ngIf="feed.dislikes > 0 && feed.flag !== 2">
        <i class="material-icons">flag</i>
        {{ feed.dislikes }}
      </span>
    </div>
    <div
      *ngIf="feed.comment_count > 0 && !isRemovedPosts"
      class="col-6 float-right text-right">
      <button
        class="cpbtn cpbtn--link-dark"
        (click)="isCommentsOpen = !isCommentsOpen"
        (click)="viewComments.emit(isCommentsOpen)"
        (click)="trackEvent(isCommentsOpen)">
        <i class="material-icons" *ngIf="!isCommentsOpen">chevron_right</i>
        <i class="material-icons" *ngIf="isCommentsOpen">expand_more</i>
        {{ isCommentsOpen ? cpI18n.translate('hide') : cpI18n.translate('show') }}
        {{ feed.comment_count }}
        {{ feed.comment_count > 1 ? cpI18n.translate('comments') : cpI18n.translate('comment') }}
      </button>
    </div>
  </div>
</div>