<section class="new-section">
  <div class="row">
    <div class="col-xs-12">
      <cp-personas-section-add-button></cp-personas-section-add-button>
    </div>
  </div>
</section>

<section class="section-details">
  <div class="row">
    <div class="col-xs-6">
      <cp-personas-section-title [name]="guide.name"></cp-personas-section-title>
    </div>
    <div class="col-xs-6 text-right">
      <cp-personas-section-controls></cp-personas-section-controls>
    </div>
  </div>
</section>

<section class="section-tiles">
  <div class="row">
    <div 
      class="col-xs-2" 
      *ngFor="let tile of guide.tiles">
      <cp-personas-section-tile [tile]="tile"></cp-personas-section-tile>
    </div>
    <div class="col-xs-2">
      <cp-personas-section-add-tile-button></cp-personas-section-add-tile-button>
    </div>
  </div>
</section>