<section class="new-section">
  <div class="row">
    <div class="col-12">
      <cp-personas-section-add-button></cp-personas-section-add-button>
    </div>
  </div>
</section>

<section class="section-details">
  <div class="row">
    <div class="col-6">
      <cp-personas-section-title 
        [name]="guide.name">
      </cp-personas-section-title>
    </div>
    <div class="col-6 text-right">
      <cp-personas-section-controls></cp-personas-section-controls>
    </div>
  </div>
</section>

<section class="section-tiles">
  <div class="row">
    <div 
      class="col-2" 
      *ngFor="let tile of guide.tiles">
        <cp-personas-tile></cp-personas-tile>
      <!-- <cp-personas-section-tile 
        [tile]="tile"
        [visible]="utils.isTileVisible(tile)"
        (deleteClick)="deleteTile.emit($event)"
        (editClick)="editTileClick.emit($event)"
        [defaultTile]="utils.isTileDefault(tile)"
        (toggleVisibility)="toggleTileVisibility.emit($event)">
      </cp-personas-section-tile> -->
    </div>
    <div class="col-2">
      <cp-personas-tile-add-button
        (buttonClick)="addTileClick.emit()">
      </cp-personas-tile-add-button>
    </div>
  </div>
</section>