@import '~styles/core/colors';
@import '~styles/components/form';
@import '~styles/components/card';
@import '~styles/components/button';

.delete-location {
  font-size: 2em;
}

.updateLocationBtn {
  max-width: 100%;
}

.no-content {
  @include card-margin();
}

.cp-form__header {
  span.hover {
    position: relative;

    > span i {
      top: 1px;
      font-size: 17px;
      position: absolute;
      padding-left: 6px;
    }
  }
}

.locations {
  padding: 0;
  list-style: none;
}
