<div class="row">
  <div class="col-12">
    <cp-locations-list-top-bar
      (search)="onSearch($event)"
      (launchModal)="onLaunchModal()">
    </cp-locations-list-top-bar>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!state.locations.length"
      noContentText="No locations found...">
    </cp-no-content>

    <div *ngIf="state.locations.length">
      <ul class="locations cp-form">
        <li class="cp-form__header col-12">
          <div class="row">
            <cp-sorting-header
              class="col-5"
              sortLabel="name"
              (click)="doSort('name')"
              [sortField]="state.sort_field"
              [label]="sortingLabels.locations"
              [sortDirection]="state.sort_direction">
            </cp-sorting-header>

            <span class="col-6">{{ 'locations_label_acronym' | cpI18n }}</span>
            <span class="col-1"></span>
          </div>
        </li>

        <li class="cp-form__item col-12" *ngFor="let location of state.locations">
          <div class="row">
            <span class="col-5 text-truncate">
              <strong>
                <button
                  cpTracker
                  [eventData]="eventData"
                  data-toggle="modal"
                  data-target="#locationsUpdate"
                  (click)="updateLocation = location"
                  (click)="isLocationsUpdate = true"
                  class="cpbtn cpbtn--link-dark text-truncate updateLocationBtn">
                  {{ location.name }}
                </button>
              </strong>
            </span>
              <span class="col-6 text-truncate">
              {{ location.short_name }}
            </span>

            <span
              (click)="deleteLocation = location;"
              (click)="isLocationsDelete = true"
              data-toggle="modal" data-target="#locationsDelete"
              class="col-1 hover delete-location text-center">
              &times;
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal
  modalId="locationsCreate"
  *ngIf="isLocationsCreate">
  <cp-locations-create
    (teardown)="isLocationsCreate = false"
    (locationCreated)="onLocationCreated($event)">
  </cp-locations-create>
</cp-modal>

<cp-modal modalId="locationsDelete">
  <cp-locations-delete
    [location]="deleteLocation"
    (locationDeleted)="onLocationDeleted($event)">
  </cp-locations-delete>
</cp-modal>

<cp-modal
  modalId="locationsUpdate"
  *ngIf="isLocationsUpdate">
  <cp-locations-update
    [location]="updateLocation"
    (teardown)="isLocationsUpdate = false"
    (locationUpdated)="onLocationUpdated($event)">
  </cp-locations-update>
</cp-modal>