<div class="row">
  <div class="col-12">
    <cp-locations-list-top-bar
      [categories$]="categories$"
      (search)="onSearch($event)"
      (selectedCategory)="onCategorySelect($event)">
    </cp-locations-list-top-bar>
  </div>
</div>

<div [ngSwitch]="loading$ | async">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="margin-top"
      *ngIf="!(locations$ | async).length"
      [noContentText]="'t_locations_no_record_found' | cpI18n">
    </cp-no-content>

    <cp-locations-list-view
      [data$]="locations$"
      [sortBy]="state.sort_field"
      (doSort)="onDoSort($event)"
      *ngIf="(locations$ | async).length"
      [sortDirection]="state.sort_direction"
      (deleteClick)="onLaunchDeleteModal($event)">
    </cp-locations-list-view>

    <cp-pagination
      [pageNext]="pageNext"
      [pagePrev]="pagePrev"
      [pageNumber]="pageNumber"
      (next)="onPaginationNext()"
      (previous)="onPaginationPrevious()">
    </cp-pagination>
  </div>
</div>

<cp-modal
  *ngIf="showDeleteModal"
  modalId="locationsDelete">
  <cp-locations-delete
    [location]="deleteLocation">
  </cp-locations-delete>
</cp-modal>