<div class="row">
  <div class="col-12">
    <cp-locations-list-top-bar
      (search)="onSearch($event)">
    </cp-locations-list-top-bar>
  </div>
</div>

<div [ngSwitch]="loading$ | async">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!(locations$ | async).length"
      [noContentText]=" 't_locations_no_location_found' | cpI18n">
    </cp-no-content>

    <div *ngIf="(locations$ | async).length">
      <ul class="locations cp-form">
        <li class="cp-form__header col-12">
          <div class="row">
            <cp-sorting-header
              class="col-5"
              sortLabel="name"
              (click)="doSort('name')"
              [sortField]="state.sort_field"
              [label]="sortingLabels.locations"
              [sortDirection]="state.sort_direction">
            </cp-sorting-header>

            <span class="col-6">{{ 'locations_label_acronym' | cpI18n }}</span>
            <span class="col-1"></span>
          </div>
        </li>

        <li class="cp-form__item col-12" *ngFor="let location of locations$ | async">
          <div class="row">
            <span class="col-5 text-truncate">
              <strong>
                <a
                  cpTracker
                  [eventData]="eventData"
                  [routerLink]="[location.id + '/edit']"
                  class="cpbtn cpbtn--link-dark text-truncate updateLocationBtn">
                  {{ location.name }}
                </a>
              </strong>
            </span>
              <span class="col-6 text-truncate">
              {{ location.short_name }}
            </span>

            <span
              (click)="deleteLocation = location;"
              (click)="isLocationsDelete = true"
              data-toggle="modal" data-target="#locationsDelete"
              class="col-1 hover delete-location text-center">
              &times;
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal modalId="locationsDelete">
  <cp-locations-delete
    [location]="deleteLocation">
  </cp-locations-delete>
</cp-modal>