<cp-deals-action-box (search)="onSearch($event)"
                     (listAction)="doFilter($event)">
</cp-deals-action-box>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.deals.length"
                   [noContentText]="cpI18n.translate('deals_no_results_found')">
    </cp-no-content>

    <ng-container *ngIf="state.deals.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell
                (sort)="doSort('title')"
                [sorting]="state.sort_field === 'title'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.name }}
            </th>
            <th ui-table-cell
                (sort)="doSort('start')"
                [sorting]="state.sort_field === 'start'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.start }}
            </th>
            <th ui-table-cell
                (sort)="doSort('expiration')"
                [sortDirection]="state.sort_direction"
                [sorting]="state.sort_field === 'expiration'">
              {{ sortingLabels.expiration }}
            </th>
            <th ui-table-cell
                (sort)="doSort('store_name')"
                [sortDirection]="state.sort_direction"
                [sorting]="state.sort_field === 'store_name'">
              {{ sortingLabels.store_name }}
            </th>
            <th ui-table-cell></th>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let deal of state.deals; index as index">
            <td ui-table-cell>
              <ready-ui-stack>
                <ready-ui-avatar [src]="deal.image_url"
                                 [alt]="'t_shared_img_alt' | cpI18n: index + 1">
                </ready-ui-avatar>
                <a cpTracker
                   [eventData]="eventData"
                   [routerLink]="[deal.id + '/info']">
                  <strong>
                    {{ deal.title }}
                  </strong>
                </a>
              </ready-ui-stack>
            </td>
            <td ui-table-cell
                [ngClass]="{ 'pre-tab': deal.start <= 0 }">
              {{ deal.start <= 0 ? '--' : (deal.start | cpDatePipe: dateFormat) }}
            </td>
            <td ui-table-cell>
              {{
                deal.expiration < 0
                  ? ('t_deals_ongoing' | cpI18n)
                  : (deal.expiration | cpDatePipe: dateFormat)
              }}
            </td>
            <td ui-table-cell>
              {{ deal.store_name }}
            </td>
            <td ui-table-cell
                align="right">
              <button ui-button
                      variant="inline"
                      type="button"
                      (click)="deleteDeal = deal; launchDeleteModal = true"
                      data-toggle="modal"
                      data-target="#deleteModal"
                      aria-label="Delete Deal"
                      class="delete-deal unstyled-button">
                <ready-ui-icon name="close"></ready-ui-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </ng-container>
  </div>
</div>

<cp-modal modalId="deleteModal"
          *ngIf="launchDeleteModal">
  <cp-deals-delete [deal]="deleteDeal"
                   (deleted)="onDeleted($event)"
                   (resetDeleteModal)="launchDeleteModal = false">
  </cp-deals-delete>
</cp-modal>