<div class="page">
  <div class="page__nav">
    <div class="cp-wrapper cp-wrapper--outer">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <p class="page__title" i18n>Check In Instructions</p>
          <div class="pull-right">
            <button
              data-toggle="modal"
              class="cpbtn cpbtn--primary"
              data-target="#checkinInstruction" i18n>
              Instructions
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cp-wrapper cp-wrapper--outer">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <cp-service-header
          [service]="data"
          *ngIf="isService"
          class="card-margin">
        </cp-service-header>

        <cp-event-header
          [event]="data"
          *ngIf="isEvent"
          class="card-margin">
        </cp-event-header>

        <cp-checkin-register
          [data]="data"
          class="card-margin"
          (send)="send.emit($event)">
        </cp-checkin-register>

        <cp-attendees-list
          class="card-margin"
          [attendees]="data.external_attendees"
          *ngIf="data.external_attendees.length">
        </cp-attendees-list>
      </div>
    </div>
  </div>
</div>

<cp-modal modalId="checkinInstruction">
  <cp-instructions-modal></cp-instructions-modal>
</cp-modal>