<div class="page">
  <div class="page__nav">
    <div class="cp-wrapper cp-wrapper--outer">
      <div class="row justify-content-center">
        <div class="col-8">
          <p class="page__title" i18n>{{ 'checkin_header_title' | cpI18n }}</p>
          <div class="float-right">
            <button
              (click)="handlePdf()"
              class="cpbtn cpbtn--primary"i18n>
              {{ 'checkin_download_qr_code' | cpI18n }}
            </button>
            <button
              data-toggle="modal"
              class="cpbtn cpbtn--primary"
              data-target="#checkinInstruction" i18n>
              {{ 'instructions' | cpI18n }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cp-wrapper cp-wrapper--outer">
    <div class="row justify-content-center">
      <div class="col-8">
        <cp-service-header
          [service]="data"
          *ngIf="isService"
          class="card-margin">
        </cp-service-header>

        <cp-event-header
          [event]="data"
          *ngIf="isEvent"
          class="card-margin">
        </cp-event-header>

        <cp-checkin-register
          [data]="data"
          class="card-margin"
          (send)="send.emit($event)">
        </cp-checkin-register>

        <cp-attendees-list
          class="card-margin"
          [attendees]="data.attendees"
          *ngIf="data.attendees.length">
        </cp-attendees-list>
      </div>
    </div>
  </div>
</div>

<cp-modal modalId="checkinInternalModal">
  <cp-checkin-internal-modal
    [data]="data"
    [isEvent]="isEvent"
    [isService]="isService"
    (teardown)="onInternalModalTeardown()"
    (updated)="onInternaleModalUpdate($event)">
  </cp-checkin-internal-modal>
</cp-modal>

<cp-modal modalId="checkinInstruction">
  <cp-instructions-modal></cp-instructions-modal>
</cp-modal>