<div class="row">
  <div class="col-12">
    <cp-todos-list-action-box
      (search)="onSearch($event)"
      (launchCreateModal)="onLaunchCreateModal()">
    </cp-todos-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!state.todos.length"
      [noContentText]="cpI18n.translate('todos_no_results_found')">
    </cp-no-content>

    <div *ngIf="state.todos.length">
      <ul class="todos cp-form">
        <li class="cp-form__header col-12">
          <div class="row">
            <span
              class="col-5 hover"
              (click)="doSort('title')">
              {{ 'name' | cpI18n }}
              <span *ngIf="state.sort_field === 'name'">
                <i class="material-icons">
                  {{ state.sort_direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                </i>
              </span>
            </span>
            <span
              class="col-5 hover"
              (click)="doSort('end')">
              {{ 'due_date' | cpI18n }}
              <span *ngIf="state.sort_field === 'end'">
                <i class="material-icons">
                  {{ state.sort_direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                </i>
              </span>
            </span>
            <span class="col-2"></span>
          </div>
        </li>

        <li class="cp-form__item col-12" *ngFor="let todo of state.todos">
          <div class="row">
            <span
              data-toggle="modal"
              data-target="#todoEdit"
              class="col-5 text-truncate hover"
              (click)="launchEditModal = true; selectedTodo = todo">
                <strong>
                  {{ todo.title }}
                </strong>
              <br>
              {{ todo.description }}
            </span>
            <span class="col-5 text-truncate">
              {{ todo.end | cpDatePipe:dateFormat }}
            </span>
            <span class="col-2 text-right">
              <span
                data-toggle="modal"
                data-target="#todoDelete"
                (click)="launchDeleteModal = true; selectedTodo = todo"
                class="hover action-button delete-button text-center">
                &times;
              </span>
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>


<cp-modal modalId="todoCreate" *ngIf="launchCreateModal">
  <cp-orientation-todo-create
    (created)="onCreated($event)"
    (resetCreateModal)="launchCreateModal = false">
  </cp-orientation-todo-create>
</cp-modal>

<cp-modal modalId="todoDelete" *ngIf="launchDeleteModal">
  <cp-orientation-todos-delete
    [todo]="selectedTodo"
    (deleted)="onDeleted($event)"
    (resetDeleteModal)="launchDeleteModal = false">
  </cp-orientation-todos-delete>
</cp-modal>
<cp-modal modalId="todoEdit" *ngIf="launchEditModal">
  <cp-orientation-todos-edit
    [todo]="selectedTodo"
    (edited)="onEditedLink($event)"
    (resetEditModal)="launchEditModal = false">
  </cp-orientation-todos-edit>
</cp-modal>
