<div class="component">
  <button 
    data-toggle="dropdown"
    [disabled]="!items.length"
    class="cpbtn cpbtn--cancel text-truncate component__button">
    <div class="row">
      <div class="col-10 no-right-padding text-truncate">
        {{state.label ? state.label : placeholder }}
      </div>
      <div class="col-2 no-right-padding">
        <i class="material-icons cp-dropdown--arrow">keyboard_arrow_down</i>
      </div>
    </div>
  </button>
  
  <ul class="component__content dropdown-menu">
    <li 
      class="hover"
      (click)="onToggle($event, opt)"
      *ngFor="let opt of items">
      <div class="row">
        <div class="col-12">
          <p>
            <cp-checkbox
              [label]="opt.label"
              (toggle)="onToggle(null, opt)"
              [isChecked]="opt.selected">
            </cp-checkbox>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>