<div class="cpmodal">
    <div class="cpmodal__header">
      <div class="row">
        <div class="col-xs-12 text-center">
          <span><strong>{{ 'save_audience_modal_title' | cpI18n }}</strong></span>
  
          <span
            data-dismiss="modal"
            (click)="resetModal()"
            class="float-right hover cpmodal__header__close">
            &times;
          </span>
        </div>
      </div>
    </div>
  
    <div class="cpmodal__body">
      <form [formGroup]="form">
        <div class="row form-group">
          <div class="col-xs-12">
            <label>{{ 'audience_modal_label_audience_name' | cpI18n }}</label>
            <input
              type="text"
              class="form-control"
              formControlName="name">
          </div>
        </div>
      </form>
    </div>
  
    <div class="cpmodal__footer">
      <div class="row">
        <div class="col-xs-12 float-right text-right">
          <button
            type="button"
            (click)="resetModal()"
            class="cpbtn cpbtn--cancel">
            {{ 't_shared_cancel' | cpI18n }}
          </button>

          <cp-button
            [props]="buttonData"
            (buttonClick)="doSubmit()">
          </cp-button>
        </div>
      </div>
    </div>
  </div>
  