<form [formGroup]="form">
  <div class="row form-group">
    <div class="col-12">
      <label>
        {{ 'name' | cpI18n }}
        <cp-char-counter
          class="float-right"
          [limit]="225"
          [charCount]="form.controls.title.value">
        </cp-char-counter>
      </label>
      <input
        type="text"
        class="form-control"
        formControlName="title">
    </div>
  </div>
  <div class="row item-details">
    <div class="col-6">
      <label>
        {{ 'due_date' | cpI18n }}
      </label>
      <cp-datepicker
        [options]="dueDate"
        [error]="formError && form.controls['end'].hasError('required')"
        (dateSet)="setEnd($event)">
      </cp-datepicker>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <label>
        {{ 'description' | cpI18n }}
        <cp-char-counter
          class="float-right"
          [limit]="512"
          [charCount]="form.controls.description.value">
        </cp-char-counter>
      </label>
      <textarea
        class="form-control"
        formControlName="description">
      </textarea>
    </div>
  </div>
</form>