@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/dropdown';

:host {
  display: block;
}

.help-desk {
  @include cpDropdownMenu();

  overflow-y: auto;
  max-height: 229px;
  overflow-x: hidden;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);

  &__item {
    display: block;
    border-bottom: 1px solid $border-color;

    .emoji {
      width: 20px;
      height: 20px;
      float: left;
      margin: 14px 4px 0 16px;
    }

    .text-padding {
      height: 100%;
      padding: 9px 0 0 18px;

      span {
        @include font-12px();
      }
    }

    a {
      width: 100%;
      color: inherit;
      display: block;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0 0 4px 4px;
    }
  }
}
