<ul class="help-desk no-scroll-bar">
  <li class="help-desk__item">
    <span class="emoji">🌟</span>
    <a
      target="_blank"
      href="https://www.notion.so/0946933abeab4f6ca906b73c1fc29383"
      (click)="trackHelpDeskAction('What\'s New')">
        {{ 't_help_desk_whats_new' | cpI18n }}
    </a>
  </li>
  <li class="help-desk__item">
    <span class="emoji">❓</span>
    <a
      href="javascript:void(0);"
      onclick="zE.activate()"
      (click)="trackHelpDeskAction('Help')">
        {{ 't_shared_help' | cpI18n }}
    </a>
  </li>
  <li class="help-desk__item">
    <span class="emoji">📚</span>
    <a
      target="_blank"
      [href]="helpDeskUrl"
      (click)="trackHelpDeskAction('Guides & FAQ')">
        {{ 't_help_desk_faq' | cpI18n }}
    </a>
  </li>
  <li class="help-desk__item no-hover">
    <div class="text-padding">
      <span>{{ 't_shared_last_update' | cpI18n }}:</span>
      <p>{{ lastBuildTime | cpLastUpdateDate }}</p>
    </div>
  </li>
</ul>
