<ul class="help-desk no-scroll-bar">
  <li class="help-desk__item">
    <a target="_blank"
       class="whats_new dropdown-item"
       cpTarget="whats_new"
       href="https://www.notion.so/0946933abeab4f6ca906b73c1fc29383"
       (click)="trackHelpDeskAction('What\'s New')">
      <span class="emoji"
            role="img"
            aria-label="new"
            [class.help-desk__item--whats-new]="highlight">🌟</span>

      {{ 't_help_desk_whats_new' | cpI18n }}
    </a>
  </li>
  <li class="help-desk__item">
    <a class="help dropdown-item"
       cpTarget="help"
       href="javascript:void(0);"
       (click)="loadHelpDeskWidget()"
       (click)="trackHelpDeskAction('Help')">
      <span class="emoji"
            role="img"
            aria-label="question">❓</span>

      {{ 't_shared_help' | cpI18n }}
    </a>
  </li>
  <li class="help-desk__item">
    <a class="faq dropdown-item"
       target="_blank"
       cpTarget="faq"
       [href]="helpDeskUrl"
       (click)="trackHelpDeskAction('Guides & FAQ')">
      <span class="emoji"
            role="img"
            aria-label="guides">📚</span>
      {{ 't_help_desk_faq' | cpI18n }}
    </a>
  </li>
  <li class="help-desk__item no-hover help-desk__item--timestamp dropdown-item">
    <span>{{ 't_shared_last_update' | cpI18n }}:</span>
    <p>{{ lastBuildTime | lastUpdateDate }}</p>
  </li>
</ul>