@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/dropdown';

:host {
  display: block;
}

.help-desk {
  @include cpDropdownMenu();

  overflow-y: auto;
  max-height: 236px;
  overflow-x: hidden;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);

  &__item {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $border-color;

    .emoji {
      margin-right: 0.5rem;
    }

    &--timestamp {
      height: 100%;
      flex-direction: column;

      p,
      span {
        color: $color-grey;
      }

      span {
        font-size: 0.8em;
      }

      p {
        margin-bottom: 0;
      }
    }

    a {
      width: 100%;
      color: inherit;
      display: block;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0 0 4px 4px;

      &:hover {
        cursor: default;
      }
    }
  }
}
