<div class="row">
  <div class="col-12">
    <cp-audience-list-action-box (search)="onSearch($event)"
                                 (filterBy)="onFilterByListType($event)"
                                 (launchCreateModal)="onLaunchCreateModal()"
                                 (launchImportModal)="onLaunchImportModal()">
    </cp-audience-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.audiences.length"
                   [noContentText]="cpI18n.translate('lists_no_results_found')">
    </cp-no-content>

    <div *ngIf="state.audiences.length">
      <ul class="audiences cp-form">
        <li class="cp-form__header col-12">
          <div class="row">
            <cp-sorting-header class="col-5"
                               sortLabel="name"
                               (click)="doSort('name')"
                               [label]="sortingLabels.name"
                               [sortField]="state.sort_field"
                               [sortDirection]="state.sort_direction">
            </cp-sorting-header>
            <span class="col-2">
              {{ 't_shared_type' | cpI18n }}
            </span>
            <span class="col-2">
              {{ 'lists_number_of_users' | cpI18n }}
            </span>
            <span class="col-2"></span>
          </div>
        </li>

        <li class="cp-form__item col-12"
            *ngFor="let audience of state.audiences">
          <div class="row">
            <span class="col-5 text-truncate">
              <button cpTracker
                      [eventData]="eventData"
                      class="cpbtn cpbtn--link-dark"
                      (click)="isAudienceEdit = true; editAudience = audience"
                      data-toggle="modal"
                      data-target="#audienceEdit">
                <strong>{{ audience.name }}</strong>
              </button>
            </span>

            <span class="col-2">
              <ng-container *ngIf="audience.type === custom">
                {{ 'audience_type_custom' | cpI18n }}
              </ng-container>
              <ng-container *ngIf="audience.type !== custom">
                {{ 'audience_type_dynamic' | cpI18n }}
              </ng-container>
            </span>
            <span class="col-2">
              <button class="unstyled-button download-file"
                      (click)="downloadAudience(audience)">
                <i class="material-icons">file_download</i>
                {{ audience.count }} {{ 'users' | cpI18n }}
              </button>
            </span>
            <span class="col-1 offset-2 text-right">
              <button type="button"
                      (click)="deleteAudience = audience; isAudienceDelete = true"
                      data-toggle="modal"
                      data-target="#audienceDeleteModal"
                      class="delete-list unstyled-button">
                &times;
              </button>
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal modalId="audienceDeleteModal"
          *ngIf="isAudienceDelete">
  <cp-audience-delete [audience]="deleteAudience"
                      (deleteAudience)="onDeletedAudience($event)"
                      (resetDeleteModal)="isAudienceDelete = false">
  </cp-audience-delete>
</cp-modal>

<cp-modal *ngIf="isAudienceCreate"
          modalId="audienceCreate">
  <cp-audience-create [users]="audienceUsers"
                      (created)="onCreatedAudience($event)"
                      (reset)="onResetCreateAudience()">
  </cp-audience-create>
</cp-modal>

<cp-modal modalId="audienceImport"
          *ngIf="isAudienceImport">
  <cp-audience-import (error)="onImportError($event)"
                      (success)="onImportSuccess($event)"
                      (teardown)="isAudienceImport = !isAudienceImport"
                      (launchCreateModal)="onLaunchCreateModal($event)">
  </cp-audience-import>
</cp-modal>

<cp-modal modalId="audienceEdit"
          *ngIf="isAudienceEdit">
  <cp-audience-edit [audienceId]="editAudience.id"
                    (reset)="isAudienceEdit = false"
                    (edited)="onEditedAudience($event)">
  </cp-audience-edit>
</cp-modal>