<div class="row">
  <div class="col-12">
    <cp-audience-list-action-box (search)="onSearch($event)"
                                 (filterBy)="onFilterByListType($event)"
                                 (launchCreateModal)="onLaunchCreateModal()"
                                 (launchImportModal)="onLaunchImportModal()">
    </cp-audience-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.audiences.length"
                   [noContentText]="cpI18n.translate('lists_no_results_found')">
    </cp-no-content>

    <ng-container *ngIf="state.audiences.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell
                (sort)="doSort('name')"
                [sorting]="state.sort_field === 'name'"
                [sortDirection]="state.sort_direction">{{ sortingLabels.name }}
            </th>
            <th ui-table-cell>
              {{ 't_shared_type' | cpI18n }}
            </th>
            <th ui-table-cell>
              {{ 'lists_number_of_users' | cpI18n }}
            </th>
            <th ui-table-cell></th>
          </tr>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let audience of state.audiences">
            <td ui-table-cell>
              <button cpTracker
                      ui-button
                      type="button"
                      variant="inline"
                      data-toggle="modal"
                      [eventData]="eventData"
                      data-target="#audienceEdit"
                      (click)="isAudienceEdit = true; editAudience = audience">
                <strong>{{ audience.name }}</strong>
              </button>
            </td>

            <td ui-table-cell>
              {{ audience.type === custom ? ('audience_type_custom' | cpI18n) : ('audience_type_dynamic' | cpI18n) }}
            </td>
            <td ui-table-cell>
              <button ui-button
                      variant="inline"
                      type="button"
                      class="unstyled-button download-file"
                      (click)="downloadAudience(audience)">
                <ready-ui-stack>
                  <ready-ui-icon name="save_alt"></ready-ui-icon>
                  {{ audience.count }} {{ 'users' | cpI18n }}
                </ready-ui-stack>
              </button>
            </td>
            <td ui-table-cell
                align="right">
              <button ui-button
                      type="button"
                      variant="inline"
                      data-toggle="modal"
                      data-target="#audienceDeleteModal"
                      (click)="deleteAudience = audience; isAudienceDelete = true">
                <ready-ui-icon name="close"
                               aria-label="Delete Audience"></ready-ui-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </ng-container>
  </div>
</div>

<cp-modal modalId="audienceDeleteModal"
          *ngIf="isAudienceDelete">
  <cp-audience-delete [audience]="deleteAudience"
                      (deleteAudience)="onDeletedAudience($event)"
                      (resetDeleteModal)="isAudienceDelete = false">
  </cp-audience-delete>
</cp-modal>

<cp-modal *ngIf="isAudienceCreate"
          modalId="audienceCreate">
  <cp-audience-create [users]="audienceUsers"
                      (created)="onCreatedAudience($event)"
                      (reset)="onResetCreateAudience()">
  </cp-audience-create>
</cp-modal>

<cp-modal modalId="audienceImport"
          *ngIf="isAudienceImport">
  <cp-audience-import (error)="onImportError($event)"
                      (success)="onImportSuccess($event)"
                      (teardown)="isAudienceImport = !isAudienceImport"
                      (launchCreateModal)="onLaunchCreateModal($event)">
  </cp-audience-import>
</cp-modal>

<cp-modal modalId="audienceEdit"
          *ngIf="isAudienceEdit">
  <cp-audience-edit [audienceId]="editAudience.id"
                    (reset)="isAudienceEdit = false"
                    (edited)="onEditedAudience($event)">
  </cp-audience-edit>
</cp-modal>