@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/components/card';
@import '~projects/campus-cloud/src/sass/components/button';

.no-content {
  @include card-margin();
}

.delete-list {
  font-size: 2em;
}

.cp-form__item {
  span i {
    font-size: 18px;
    vertical-align: -6px;
  }
}

.audiences {
  padding: 0;
  list-style: none;
}

button.download-file {
  display: flex;
  i {
    margin-right: 0.5rem;
  }
}
