<ng-container [ngSwitch]="isEmpty && !isLoading">
  <cp-no-testers *ngSwitchCase="true"
                 (create)="doCreateModal()">
  </cp-no-testers>
  <ng-container *ngSwitchCase="false">
    <div class="row">
      <div class="col-12">
        <cp-testers-action-box (create)="doCreateModal()"
                               (search)="doSearch($event)">
        </cp-testers-action-box>
      </div>
    </div>
    <div [ngSwitch]="isLoading">
      <cp-spinner *ngSwitchCase="true"></cp-spinner>
      <cp-test-users *ngSwitchCase="false"
                     [users]="testers$ | async"
                     [sortDirection]="sortDirection$ | async"
                     [noContentText]="cpI18n.translate('t_sandbox_no_results_found')"
                     (sort)="doSort($event)"
                     (resend)="doResend($event)"
                     (delete)="doDelete($event)">
      </cp-test-users>
    </div>
  </ng-container>
</ng-container>