<div [ngSwitch]="isFormReady">
  <cp-spinner *ngSwitchCase="false"></cp-spinner>

  <div *ngSwitchCase="true">
    <div class="row margin-bottom">
      <div class="col-12">

        <cp-no-content
          noContentText="No Clubs to Add..."
          *ngIf="!form.controls.clubs.controls.length">
        </cp-no-content>

        <form
          class="form"
          [formGroup]="form"
          *ngIf="form.controls.clubs.controls.length">
          <ul class="col-12 cp-form" formArrayName="clubs">
            <div class="clubs">
              <li class="cp-form__header row">
                <span class="col-4">{{ labels.create_edit_name | cpI18n }}</span>
                <span class="col-3">{{ 'email' | cpI18n }}</span>
                <span class="col-2">{{ 'phone_number' | cpI18n }}</span>
                <span class="col-2">{{ 'website' | cpI18n }}</span>
                <span class="col-1"></span>
              </li>

              <li
                class="cp-form__item row"
                *ngFor="let club of form.controls.clubs.controls; let i=index">
                <div [formGroupName]="i" class="col-12">
                  <div class="row">
                    <span class="col-4 text-truncate clubs__thumbnail">
                      <div class="avatar float-left">
                        <span
                          class="deleteButton hover"
                          (click)="onRemoveImage(i)"
                          *ngIf="club.controls['logo_url'].value">
                          &times;
                        </span>
                        <cp-upload-button
                          theme="small"
                          [isRequired]="formError && club.controls.logo_url.hasError('required')"
                          (fileUpload)="onImageUpload($event, i)"
                          *ngIf="!club.controls['logo_url'].value">
                        </cp-upload-button>
                        <img
                          class="rounded img-fit-cover"
                          *ngIf="club.controls['logo_url'].value"
                          [src]="club.controls['logo_url'].value" >
                      </div>
                      {{ club.controls.name.value }}
                      <br>
                      <span class="text-muted">{{ club.controls.description.value }}</span>
                    </span>

                    <span class="col-3 text-truncate">
                      {{ club.controls.email.value }}
                    </span>
                    <span class="col-2 text-truncate">
                      {{ club.controls.phone.value }}
                    </span>
                    <span class="col-3 text-truncate">
                      {{ club.controls.website.value }}
                    </span>
                  </div>
                </div>
              </li>
            </div>
          </ul>
        </form>
      </div>
    </div>

    <div class="footer">
      <div class="cp-wrapper cp-wrapper--outer">
        <div class="row">
          <div class="col-12">
            <div class="float-right">
              <a [routerLink]="['/manage/' + labels.club_athletic]"
                class="cpbtn cpbtn--cancel">
                {{ 'cancel' | cpI18n }}
              </a>
              <cp-button
                [props]="buttonData"
                (buttonClick)="onSubmit()">
              </cp-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>