<form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)"
  class="col-xs-12 col-sm-4 col-sm-offset-4">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="email"
      name="username"
      class="form-control"
      formControlName="username"
      [class.isOk]="form.controls.username.valid && form.controls.username.touched"
      [class.isError]="!form.controls.username.valid && form.controls.username.touched">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      formControlName="password"
      [class.isOk]="form.controls.password.valid && form.controls.password.touched"
      [class.isError]="!form.controls.password.valid && form.controls.password.touched">
  </div>

  <div class="row text-center">
    <div class="col-xs-12">
      <button
        type="submit"
        class="btn btn-primary">
        Submit
      </button>
    </div>
  </div>
</form>