<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span><strong>{{ 'contact_trace_notification_users' | cpI18n }}</strong></span>

        <button type="button"
                data-dismiss="modal"
                class="float-right hover cpmodal__header__close unstyled-button">
          &times;
        </button>
      </div>
    </div>
  </div>

  <ng-container>
    <div class="cpmodal__body">

      <div class="page-container">
        <div
          class="row user-row"
          *ngFor="let user of notification.user_details"
        >
          <div class="left-col w-50" *ngIf="!isPrivacyOn else healthId">
            <div class="user-name-cell">
              {{user | fullName}}
            </div>
            <div class="email-cell">
              {{user.email}}
            </div>
          </div>
          <ng-template #healthId>
          <div class="left-col w-50">
            {{user.anonymous_identifier}}
          </div>
          </ng-template>
          <div class="right-col w-50">
            <div class="cpbtn cpbtn--no-border cpbtn--no-padding cpbtn--secondary item-link-button">
              <a class="link" *ngIf="user.case_id" (click)="resetModal();"
                 [routerLink]="['/contact-trace', 'cases', user.case_id]">
                {{ ('contact_trace_notification_view_case' | cpI18n) + ' (' + user.case_id  + ')' }}
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </ng-container>

</div>
