@import '~styles/core/colors';

.alerts {
  margin: 15px auto 0 auto;

  p {
    line-height: 1.4;
    margin-bottom: 0;
  }
}

.cpalert {
  &-success {
    color: $color-success;
  }

  &-info {
    color: $color-info;
  }

  &-warning {
    color: $color-warning;
  }

  &-danger {
    color: $color-danger;
  }
}
