<div class="picker dropdown">
    <button
      type="button"
      aria-haspopup="true"
      aria-expanded="false"
      data-toggle="dropdown"
      class="picker--master-button cpbtn cpbtn--primary dropdown-toggle">
      {{ selected.label }}
    </button>
    <div
      aria-labelledby="dropdownMenuButton"
      class="dropdown-menu picker--content">
      <div class="row">
        <div class="col-xs-12">
          <div class="picker--calendars" (click)="$event.stopPropagation()">
            <div class="calendar">
              <div #calendarEl></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="picker--controls">
            <button
              type="button"
              class="cpbtn cpbtn--link"
              (click)="handleCustomDate(date)"
              *ngFor="let date of customDates">
              {{ date.label }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>