<form [formGroup]="diningForm">
  <div formArrayName="schedule" class="dining">
    <div *ngFor="let schedule of diningForm.get('schedule')['controls']; let i= index">
      <div class="row" [formGroupName]="i">
        <div class="col-12">
          <div class="row">
            <div class="col-9 dining___day">
              <p class="heading"> {{ schedule.controls.day.value | locationsDayLabel | cpI18n }}</p>
            </div>
            <div class="col-3 dining___day">
              <cp-checkbox
                class="checkbox"
                [labelRight]="false"
                [cpTarget]="'open_' + i"
                [label]="'t_shared_open' | cpI18n"
                [isChecked]="schedule.controls.is_checked.value"
                (toggle)="onDayCheck($event, i)">
              </cp-checkbox>
            </div>
          </div>
        </div>

        <div *ngIf="schedule.controls.is_checked.value">
          <div class="col-12" *ngFor="let item of schedule.get('items')['controls']; let itemIndex = index">
            <div formArrayName="items">
              <div class="row" [formGroupName]="itemIndex">
                <div class="col-4">
                  <label *ngIf="itemIndex === 0">
                    {{ 't_shared_meal' | cpI18n }}
                  </label>
                  <input
                    type="text"
                    cpTarget="name"
                    formControlName="name">
                </div>

                <div class="col-4 dining__horizontal">
                  <label class="margin-right">{{ 't_shared_from' | cpI18n }}</label>
                  <cp-dropdown
                    [items]="diningTiming"
                    [cpTarget]="'start_time_' + i"
                    [selectedItem]="getSelectedTime(item.controls.start_time.value)"
                    (selected)="onTimeSelected($event, 'start_time', i, itemIndex)">
                  </cp-dropdown>
                </div>

                <div class="col-3 dining__horizontal no-left-padding">
                  <label class="margin-right">{{ 't_shared_to' | cpI18n }}</label>
                  <cp-dropdown
                    [items]="diningTiming"
                    [cpTarget]="'end_time_' + i"
                    [selectedItem]="getSelectedTime(item.controls.end_time.value)"
                    (selected)="onTimeSelected($event, 'end_time', i, itemIndex)">
                  </cp-dropdown>
                </div>

                <div class="col-1">
                  <i
                    cpTarget="delete"
                    class="material-icons hover margin-top"
                    (click)="removeItem(schedule, itemIndex)"
                    *ngIf="schedule.get('items')['controls'].length > 1">
                    close
                  </i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="rows">
              <button
                (click)="addItem(schedule, i)"
                class="cpbtn cpbtn--no-border cpbtn--no-padding cpbtn--secondary">
                {{ 't_dining_form_add_meal' | cpI18n }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>