@import '~client/style/components/form';
@import '~client/style/components/button';

form {
  .checkbox {
    display: flex;
  }

  .margin-right {
    margin-right: 5px;
  }

  .horizontal {
    display: flex;
    margin-top: 28px;
    flex-direction: row;
    align-items: center
  }

  .day {
    margin-top: 12px;
  }

  .remove-item {
    font-size: 2em;
  }
}