@import '~client/style/components/form';
@import '~client/style/components/button';

.dining {
  .checkbox {
    display: flex;
  }

  .margin-right {
    margin-right: 5px;
  }

  p.heading {
    @include font-16px();
    @include font-semi-bold();
  }

  &__horizontal {
    display: flex;
    margin-top: 8px;
    flex-direction: row;
    align-items: center
  }

  &__day {
    margin-top: 10px;
  }

  .margin-top {
    margin-top: 6px;
  }

  .margin-left {
    margin-left: 26px;
  }

  button {
    margin: 10px 0;
  }
}