<div class="header">
  <div class="row">
    <div class="col-12">
      <p class="title">
        {{ 't_personas_tile_modal_create_appearance' | cpI18n }}
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <cp-personas-tile-guide-form 
        [form]="campusGuideTileForm"
        (change)="campusGuideTileFormChange.emit(campusGuideTileForm)">
      </cp-personas-tile-guide-form>
    </div>
  </div>
</div>

<div class="footer">
  <div class="row">
    <div class="col-12">
        <p class="title">
          {{ 't_personas_tile_modal_create_content' | cpI18n }}
        </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <cp-personas-link-form 
        [form]="campusLinkForm"
        (change)="campusLinkFormChange.emit(campusLinkForm)">
      </cp-personas-link-form>
    </div>
  </div>
</div>