<div [ngSwitch]="pageLoading">
  <div class="col-12" *ngSwitchCase="true">
    <cp-spinner class="float-center"></cp-spinner>
  </div>
  <div class="col-12" *ngSwitchCase="false">
    <cp-case-view *ngIf="!loading"
      (onSubmitted)="onSubmitted($event)"
      (onEditing)="onEditing($event)"
      (onEditFinished)="onEditFinished($event)"
      [case]="case"
    >
    </cp-case-view>

    <cp-case-log #caseLogList
          *ngIf="!isEditing && isSubmitted"
          [case]="case" 
          [isSubmitted]="isSubmitted"        
    >
    </cp-case-log>
  </div>
</div>

