<div class="cppagination">
  <div class="row">
    <div class="col-xs-12 text-center">
      <span
        class="hover noselect"
        (click)="onPrevious()"
        [class.disabled]="pageNumber === 1">
        <i class="material-icons">keyboard_arrow_left</i>
      </span>
      <span class="cppagination__page noselect">{{ pageNumber }}</span>
      <span class="hover noselect" (click)="onNext()">
        <i class="material-icons">keyboard_arrow_right</i>
      </span>
    </div>
  </div>
</div>