<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span><strong>{{ 't_external_check_in_check_out_modal_title' | cpI18n }}</strong></span>

        <button type="button"
                data-dismiss="modal"
                (click)="resetModal()"
                class="float-right hover cpmodal__header__close unstyled-button">
          &times;
        </button>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <form [formGroup]="form">
      <div class="row item-details">
        <div class="col-6">
          <label>
            {{ 't_external_check_in_check_out_time' | cpI18n }}
          </label>
          <cp-datepicker cpTarget="check_out_time_epoch"
                         [options]="checkOutOptions"
                         [error]="formErrors && form.controls['check_out_time_epoch'].hasError('required')"
                         (dateSet)="setCheckout($event)">
          </cp-datepicker>
        </div>
      </div>
      <br />
    </form>
  </div>

  <div class="cpmodal__footer">
    <div class="row justify-content-end">
      <div class="col-12">
        <label role="alert"
               class="error"
               *ngIf="formErrors">
          <i class="material-icons">warning</i>
          {{
            errorMessage
              ? errorMessage
              : cpI18n.translate('t_external_check_in_error_fill_out_all_fields')
          }}
        </label>
      </div>
      <div class="col-12 text-right">
        <button type="button"
                data-dismiss="modal"
                (click)="resetModal()"
                class="cpbtn cpbtn--cancel">
          {{ 'cancel' | cpI18n }}
        </button>

        <cp-button (buttonClick)="onSubmit()"
                   [props]="buttonData"> </cp-button>
      </div>
    </div>
  </div>
</div>