<div class="row">
  <div class="col-xs-12">
    <label>{{'audience_label_filters' | cpI18n}}</label>
  </div>
</div>
<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>
  <ng-container *ngSwitchCase="false">
    <form [formGroup]="form">
      <div 
        class="group-item"
        formArrayName="filters"
        *ngFor="let item of form.get('filters').controls; let i = index;">
        <div [formGroupName]="i">
          <div class="row">
            <div class="col-xs-11">
              <fieldset [disabled]="counting">
                <div class="row">
                  <div class="col-xs-6">
                    <cp-dropdown  
                      [selectedItem]="selectedItem[i]"
                      (selected)="onFilterSelected($event, i)"
                      [items]="filtersData | cpAudienceFilterPipe:usedFiltersAsArray()">
                    </cp-dropdown>
                  </div>
                  <div class="col-xs-6">
                    <cp-dropdown-multiselect 
                      (selection)="onChoices($event, i)"
                      [items]="selectedFilterOptions[i]"
                      [placeholder]="filterDropdownPlaceholer">
                    </cp-dropdown-multiselect>
                  </div>
                </div>
              </fieldset>
            </div>
            <div 
              *ngIf="state.filterCount > 1"
              class="col-xs-1 delete-button hover">
              <span (click)="removeFilterGroup(i)">&times;</span>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    <div class="row footer">
      <div class="col-xs-6">
        <button 
          type="button" 
          (click)="addFilterGroup()" 
          class="cpbtn cpbtn--link"
          [disabled]="state.filterCount === maxFilterCount">
          {{'audience_add_filter_button' | cpI18n}}
        </button>
      </div>
      <div class="col-xs-6">
        <cp-audience-counter 
          [message]="message"
          [loading]="counting">
        </cp-audience-counter>
      </div>
    </div>
  </ng-container>
</ng-container>
