<div class="row">
  <div class="col-12">
    <cp-jobs-list-action-box
      (search)="onSearch($event)"
      (listAction)="doFilter($event)">
    </cp-jobs-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!state.jobs.length"
      [noContentText]="cpI18n.translate('jobs_no_results_found')">
    </cp-no-content>

    <div *ngIf="state.jobs.length">
      <ul class="cp-form">
        <li class="cp-form__header col-12">
          <div class="row">
            <span
              class="col-5 hover"
              (click)="doSort('title')">
              {{ 'name' | cpI18n }}
              <span *ngIf="state.sort_field === 'title'">
                <i class="material-icons">
                  {{ state.sort_direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                </i>
              </span>
            </span>
            <span
              class="col-2 hover"
              (click)="doSort('employer_name')">
              {{ 'employer' | cpI18n }}
              <span *ngIf="state.sort_field === 'employer_name'">
                <i class="material-icons">
                  {{ state.sort_direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                </i>
              </span>
            </span>
            <span
              class="col-2 hover"
              (click)="doSort('posting_start')">
              {{ 'jobs_posting_start' | cpI18n }}
              <span *ngIf="state.sort_field === 'posting_start'">
                <i class="material-icons">
                  {{ state.sort_direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                </i>
              </span>
            </span>
            <span
              class="col-2">
              {{ 'jobs_posting_end' | cpI18n }}
            </span>
            <span class="col-1 hover"></span>
          </div>
        </li>

        <li class="cp-form__item col-12" *ngFor="let job of state.jobs;">
          <div class="row">
            <span class="col-5 text-truncate">
              <a [routerLink]="[job.id+'/info']">
                <strong>
                  {{ job.title }}
                </strong>
              </a>
              <br>
              {{ job.description }}
            </span>
            <span class="col-2 text-truncate">
              {{ job.employer_name }}
            </span>
            <span class="col-2">
              {{ job.posting_start | cpDatePipe:dateFormat }}
            </span>
            <span class="col-2">
              {{ job.posting_end | cpDatePipe:dateFormat }}
            </span>
            <span
              (click)="deleteJob = job; launchDeleteModal = true"
              data-toggle="modal" data-target="#deleteJobModal"
              class="col-1 hover text-truncate delete-job text-center">
              &times;
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal modalId="deleteJobModal" *ngIf="launchDeleteModal">
  <cp-jobs-delete
    [job]="deleteJob"
    (deleted)="onDeleted($event)"
    (resetDeleteModal)="launchDeleteModal = false">
  </cp-jobs-delete>
</cp-modal>