<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span i18n><strong>{{ 'services_provider_delete_modal_title' | cpI18n }}</strong></span>

        <span
          data-dismiss="modal"
          class="float-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-12">
        <p class="text-center" i18n>
          {{ 'services_provider_delete_modal_body' | cpI18n: provider.provider_name }}
        </p>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-6 col-offset-6 text-right">
        <button
          type="button"
          class="cpbtn cpbtn--cancel"
          data-dismiss="modal" i18n>
          {{ 'cancel' | cpI18n }}
        </button>

        <button
          type="button"
          (click)="onDelete()"
          class="cpbtn cpbtn--danger"i18n>
          {{ 'delete' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>
