<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <cp-feedback-already-submitted *ngIf="alreadySubmitted"
                                    [heading]="'t_external_check_in_event_feedback_already_provided' | cpI18n">
    </cp-feedback-already-submitted>

    <ng-container *ngIf="!alreadySubmitted">
    <cp-base-feedback [data]="event"
                      *ngIf="isExist"
                      [isEvent]="isEvent"
                      (send)="onSubmit($event)"
                      [isSubmitted]="isSubmitted$">
    </cp-base-feedback>

      <div *ngIf="!isExist"
           class="not-found">
        <p>{{ 't_external_event_not_found' | cpI18n }}</p>
      </div>
    </ng-container>
  </ng-container>
</div>
