<div [ngSwitch]="shouldConfirm">
  <div class="cpmodal" *ngSwitchCase="false">
    <div class="cpmodal__header">
      <div class="row">
        <div class="col-xs-12 text-center">
          <span i18n><strong>Compose</strong></span>

          <span
            data-dismiss="modal"
            (click)="resetModal()"
            class="pull-right hover cpmodal__header__close">
            &times;
          </span>
        </div>
      </div>
    </div>

    <div class="cpmodal__body">
      <div class="row">
        <div class="col-xs-12">
          <form [formGroup]="form">
            <div class="form-group campus-switch" [class.isActive]="isCampusWide">
              <div class="row">
                <div class="col-xs-8">
                  <p class="title" i18n>Campus Wide</p>
                  <p class="text-muted" i18n>Announce to all students</p>
                </div>
                <div class="col-xs-4">
                  <div class="pull-right">
                    <cp-switch
                      (toggle)="isCampusWide = !isCampusWide"
                      [isChecked]="isCampusWide">
                    </cp-switch>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="!isCampusWide">
              <label i18n>To</label>
              <div class="row">
                <div class="col-xs-12">
                  <cp-typeahead
                    (query)="onSearch($event)"
                    [suggestions]="suggestions">
                  </cp-typeahead>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <label i18n>Announcement Type</label>
                  <div class="row">
                    <div class="col-xs-12">
                      <cp-check-dropdown
                        [items]="types"
                        buttonClass="cpbtn cpbtn--cancel"
                        (selected)="onTypeChanged($event)">
                      </cp-check-dropdown>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="row">
                    <div class="col-xs-12">
                      <label i18n>From</label>
                      <cp-dropdown
                        [items]="stores$ | async"
                        (selected)="onSelectedStore($event)">
                      </cp-dropdown>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label i18n>
                Subject
                <span class="pull-right">
                  {{ getSubjectLength() }}/128
                </span>
              </label>
              <div class="input subject-input">
                <div class="row">
                  <div class="col-xs-2" *ngIf="subject_prefix.label">
                    <span [class]="'subject-input__label text-center ' + subject_prefix.type">
                      {{ subject_prefix.label }}
                    </span>
                  </div>
                  <div [class]="subject_prefix.label ? 'col-xs-10 no-left-padding' : 'col-xs-12' ">
                    <input
                    type="text"
                    formControlName="subject"
                    class="form-control transparent subject-input__input">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label i18n>
                Message
                <span class="pull-right">
                  {{ form.controls.message.value ? form.controls.message.value.length : 0 }}/400
                </span>
              </label>
              <textarea
                class="form-control"
                formControlName="message"
                placeholder="Message" >
              </textarea>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="cpmodal__footer">
      <div class="row">
        <div class="col-xs-6 pull-right text-right">
          <button
            type="button"
            data-dismiss="modal"
            (click)="resetModal()"
            class="cpbtn cpbtn--cancel" i18n>
            Cancel
          </button>

          <button
            type="button"
            (click)="doValidate()"
            [disabled]="!form.valid"
            class="cpbtn cpbtn--primary"i18n>
            Announce
          </button>
        </div>
      </div>
    </div>
  </div>

  <cp-announcements-confirm
    *ngSwitchCase="true"
    (confirmed)="onConfirmed()"
    (teardown)="shouldConfirm = false">
  </cp-announcements-confirm>
</div>
