<form [formGroup]="form">
  <div class="row form-group">
    <div class="col-xs-12">
      <label>{{ 'name' | cpI18n }}</label>
      <input
        type="text"
        class="form-control"
        formControlName="name">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>{{ 'description' | cpI18n }}</label>
      <textarea
        class="form-control"
        formControlName="description">
      </textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-10">
      <label>{{ 'orientation_enable_membership' | cpI18n }}</label>
      <p>{{ 'orientation_enable_membership_description' | cpI18n }}</p>
    </div>
    <div class="col-xs-2">
      <span class="pull-right">
        <cp-switch
          [isChecked]="isChecked"
          (toggle)="toggleMembership($event)">
        </cp-switch>
      </span>
    </div>
  </div>
</form>