@import '~client/style/components/card';
@import '~client/style/components/button';

:host {
  display: block;
  @include card-margin();

  margin-top: 0;
}

a,
button {
  i {
    line-height: 1;
    font-size: 19px;
    vertical-align: -4px;
  }
}
