<div class="row">
  <div class="col-12">
    <div class="cp-card">

      <div class="row justify-content-between">
        <div class="col-4" *ngIf="campusWallView">
          <cp-dropdown
            [items]="walls$ | async"
            (selected)="onFilterSelected($event, 'wall_type')">
          </cp-dropdown>
        </div>

        <div class="col-4 no-left-padding" *ngIf="campusWallView">
          <fieldset [disabled]="state.wall_type !== 1">
            <cp-dropdown
              [items]="channels$ | async"
              [selectedItem]="selectedItem"
              (selected)="onFilterSelected($event, 'post_types')">
            </cp-dropdown>
          </fieldset>
        </div>

        <div [class]="[!campusWallView ? 'col-3' : 'col-3 no-left-padding']">
          <cp-dropdown
            [items]="posts"
            (selected)="onFlaggedOrRemoved($event.action)">
          </cp-dropdown>
        </div>

        <div [class]="[!campusWallView ? 'col-1 no-left-padding float-right' : 'col-1 no-left-padding']">
          <button
            type="button"
            class="cpbtn cpbtn--cancel"
            data-toggle="modal" data-target="#settingsModal">
            <i class="material-icons">settings</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<cp-modal modalId="settingsModal">
  <cp-feed-settings-modal
    [groupId]="groupId"
    [groupType]="groupType"
    [isCampusWallView]="isCampusWallView"
    (updateWallSettings)="onUpdateWallSettings($event)">
  </cp-feed-settings-modal>
</cp-modal>