  <div class="header">
    <div class="col-xs-2 no-left-padding">
      <cp-checkbox
        class="checkbox pull-left"
        (toggle)="this.checkAll.emit($event)">
      </cp-checkbox>
      <cp-upload-button
        buttonText="Upload Photo"
        buttonClass="cpbtn cpbtn--cancel"
        (fileUpload)="onFileUpload($event)">
      </cp-upload-button>
    </div>

    <!--<div class="col-xs-2">
      <cp-dropdown
        [items]="stores"
        (selected)="hostChange.emit($event)">
      </cp-dropdown>
    </div>-->
    <div class="col-xs-2 no-left-padding">
      <cp-import-action-dropdown
        [storeId]="storeId"
        (bulkAction)="bulkChange.emit($event)">
      </cp-import-action-dropdown>
    </div>
    <!--<div class="col-xs-2">
      <button
        type="button"
        (click)="deleteEvent.emit()"
        class="cpbtn cpbtn--danger" i18n>
        Delete
      </button>
    </div>
    <div class="pull-right">
      <button
        type="button"
        class="cpbtn cpbtn--secondary" i18n
        data-toggle="modal" data-target="#excelEventsModal">
        Upload Another Excel File
      </button>
    </div>-->
  </div>