@import '~projects/campus-cloud/src/sass/components/button';

.name-label {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

.item-link-button {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  font-weight: 600;
}
