<ng-container *ngIf="notification.user_details">

  <ng-container *ngIf="notification.user_details.length === 1">
    <div class="name-label">
      {{(notification.user_details[0].firstname || notification.user_details[0].lastname) ? ((notification.user_details[0].firstname ? (notification.user_details[0].firstname + ' ') : '') + (notification.user_details[0].lastname ? notification.user_details[0].lastname : '')) : (notification.user_details[0].email ? notification.user_details[0].email : '')}}
    </div>
  </ng-container>

  <ng-container *ngIf="notification.user_details.length > 1">
    <div class="name-label">
      {{ 'contact_trace_notification_custom_list' | cpI18n }}
    </div>
    <div class="cpbtn cpbtn--no-border cpbtn--no-padding cpbtn--secondary popup-link">
      {{ '(' + ('contact_trace_notification_x_users' | cpI18n : notification.user_details.length) + ')' }}
    </div>
  </ng-container>

</ng-container>

<ng-container *ngIf="notification.list_details && notification.list_details.length > 0">
  <div *ngFor="let list of notification.list_details">
    <div class="name-label">
      {{list.name}}
    </div>
  </div>
</ng-container>
