<div class="row">
  <div class="col-xs-12">
    <div 
      class="tile"
      (mouseenter)="hover = true"
      (mouseleave)="hover = false">
      <cp-personas-section-tile-hover *ngIf="hover"></cp-personas-section-tile-hover>
      <ng-container *ngIf="!hover">
        <div 
          [ngStyle]="{'border-bottom': '2px solid #' + tile.color }">
          <div class="tile__image">
            <img 
              [alt]="tile.name"
              class="img-responsive" 
              [src]="tile.img_url">
          </div>
          <div class="tile__meta text-truncate">
            {{tile.name}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>