@import '~styles/core/typography';

.tile {
  width: 100%;
  height: 158px;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

  &.backdrop {
    &:before {
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &.hover {
    .tile__hover {
      visibility: visible;
    }
  }

  &__hover {
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    position: absolute;
  }

  &__image {
    height: 120px;

    img {
      height: 100%;
      margin: 0 auto;
      object-fit: cover;
    }
  }

  &__meta {
    @include font-14px();

    padding: 8px;
  }
}
