<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false" class="comments">
    <cp-feed-comment
      [last]="last"
      [comment]="comment"
      [replyView]="isReplyView"
      (deleted)="onDeletedComment($event)"
      [isCampusWallView]="isCampusWallView"
      *ngFor="let comment of state.comments; let last = last">
    </cp-feed-comment>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <cp-feed-input-box
      [clubId]="clubId"
      [threadId]="feed.id"
      [postType]="feed.post_type"
      [replyView]="isReplyView"
      [isCampusWallView]="isCampusWallView"
      (created)="onReplied($event)">
    </cp-feed-input-box>
  </div>
</div>
