<div class="cp-card">
  <div class="row justify-content-between">
    <div class="col-3">
      <cp-searchbox (query)="onSearch($event)"></cp-searchbox>
    </div>
    <div class="col-5 text-right">
      <a cpTracker
         [eventData]="eventData"
         routerLink="integrations"
         class="cpbtn cpbtn--cancel integrations">
        <i class="material-icons">link</i>
      </a>
      <a cpTracker
         [routerLink]="['items/create']"
         [eventData]="clickedItemEventData"
         class="cpbtn cpbtn--primary cpbtn--square-right no-right-padding">
        {{ 'calendars_items_button_new' | cpI18n }}
      </a>
      <button class="cpbtn cpbtn--square-left cpbtn--no-padding cpbtn--primary no-left-padding hover action-dropdown"
              type="button"
              id="calendar-create"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <i class="material-icons">expand_more</i>
      </button>
      <div class="dropdown-menu dropdown-menu-right"
           aria-labelledby="calendar-create">
        <button (click)="launchModal()"
                class="dropdown-item unstyled-button">{{ 'import_from_csv' | cpI18n }}</button>
      </div>
    </div>
  </div>
</div>
