@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/components/modal';
@import '~projects/campus-cloud/src/sass/components/button';

:host {
  width: 100%;
  display: block;
}

.cpmodal__body {
  margin-top: 15px;
}

.emails-input {
  resize: none;
  height: 40px;
  min-height: 40px;
}
