<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span>
          <strong>
            {{ 't_sandbox_invite_testers' | cpI18n }}
          </strong>
        </span>
        <span class="float-right hover cpmodal__header__close" (click)="doCancel()">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <form [formGroup]="form">
      <div class="formGroup">
        <div class="row">
          <div class="col-12">
            <label for="emails">{{ 't_sandbox_email_addresses' | cpI18n }}</label>
            <textarea
              id="emails"
              cpTarget="emails"
              cdkTextareaAutosize
              class="emails-input"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3"
              formControlName="emails"
              placeholder="{{ 't_sandbox_email_addresses_hint' | cpI18n }}"
              (keydown.enter)="$event.preventDefault()">
            </textarea>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="cpmodal__footer">
    <div class="row justify-content-end">
      <div class="col-6 text-right">
        <button type="button" data-dismiss="modal" class="cpbtn cpbtn--cancel" (click)="doCancel()">
          {{ 'cancel' | cpI18n }}
        </button>

        <button
          type="button"
          cpTarget="submit"
          class="cpbtn cpbtn--primary"
          [disabled]="!form.valid"
          (click)="doCreate()">
          {{ 't_sandbox_invite' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>
