<cp-clubs-members-action-box
  (query)="onFilter($event)"
  (create)="onLaunchCreateModal()">
</cp-clubs-members-action-box>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      *ngIf="!state.members.length"
      noContentText="No Members Found...">
    </cp-no-content>

    <div *ngIf="state.members.length">
      <ul class="members cp-form">
        <li class="cp-form__header col-xs-12">
          <div class="row">
            <span class="col-xs-3" i18n>Name</span>
            <span class="col-xs-2" i18n>Member Type</span>
            <span class="col-xs-2 col-xs-2-offset-3"></span>
          </div>
        </li>

        <li
          class="cp-form__item col-xs-12"
          *ngFor="let member of state.members | cpFilterPipe: { query: query, filterBy: ['firstname', 'lastname'] }">
          <div class="row">
            <span class="col-xs-3 text-truncate members__thumbnail">
              <img
                class="img-rounded"
                [src]="member.avatar_url"
                *ngIf="member.avatar_url !== ''">
              <img
                class="img-rounded"
                src="/dist/default/user.png"
                *ngIf="member.avatar_url === ''">
              <strong>
                  <button
                    (click)="isEdit = true"
                    (click)="editMember = member"
                    class="cpbtn cpbtn--link-dark member__title"
                    data-toggle="modal" data-target="#membersEdit">
                    {{ member.firstname }} {{ member.lastname }}
                  </button>
              </strong>
              <br>
              {{ member.role }}
            </span>
            <span class="col-xs-2 text-truncate">
              {{ member.member_type === 2 ? 'Executive' : 'Member' }}
            </span>

            <span
              (click)="deleteMember = member"
              data-toggle="modal" data-target="#membersDelete"
              class="col-xs-1 col-xs-offset-5 pull-right text-center delete-member hover">
              &times;
            </span>
          </div>
        </li>
      </ul>
    </div>

    <cp-modal modalId="membersEdit">
      <cp-members-edit
        *ngIf="isEdit"
        [groupId]="groupId"
        [member]="editMember"
        (edited)="onEdited($event)"
        (teardown)="isEdit = false">
      </cp-members-edit>
    </cp-modal>

    <cp-modal modalId="membersDelete">
      <cp-members-delete
        [groupId]="groupId"
        [member]="deleteMember"
        (deleted)="onDeleted($event)">
      </cp-members-delete>
    </cp-modal>

    <cp-modal modalId="membersCreate">
      <cp-members-create
        [groupId]="groupId"
        (added)="onAdded($event)">
      </cp-members-create>
    </cp-modal>
  </div>
</div>