<cp-clubs-members-action-box
  (create)="onLaunchCreateModal()">
</cp-clubs-members-action-box>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      *ngIf="!members.length"
      noContentText="No Members Found...">
    </cp-no-content>

    <div *ngIf="members.length">
      <ul class="members cp-form">
        <li class="cp-form__header col-xs-12">
          <div class="row">
            <span class="col-xs-3" i18n>Name</span>
            <span class="col-xs-2" i18n>Member Type</span>
            <span class="col-xs-2 col-xs-2-offset-3"></span>
          </div>
        </li>

        <li class="cp-form__item col-xs-12" *ngFor="let member of members">
          <div class="row">
            <span class="col-xs-3 text-truncate members__thumbnail">
              <img class="img-rounded" [src]="member.avatar_url">
              <strong>
                  <button
                    (click)="editMember = member"
                    class="cpbtn cpbtn--link-dark member__title"
                    data-toggle="modal" data-target="#membersEdit">
                    {{ member.firstname }} {{ member.lastname }}
                  </button>
              </strong>
              <br>
              {{ member.role }}
            </span>
            <span class="col-xs-2 text-truncate">
              {{ member.member_type }}
            </span>

            <span
              (click)="deleteMember = member"
              data-toggle="modal" data-target="#membersDelete"
              class="col-xs-1 col-xs-offset-5 pull-right text-center delete-member hover">
              &times;
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<cp-modal modalId="membersEdit">
  <cp-members-edit [member]="editMember"></cp-members-edit>
</cp-modal>

<cp-modal modalId="membersDelete">
  <cp-members-delete [member]="deleteMember"></cp-members-delete>
</cp-modal>

<cp-modal modalId="membersCreate">
  <cp-members-create></cp-members-create>
</cp-modal>