.dsh-series-a .ct-bar {
  stroke: #F65031;
}

.dsh-series-b .ct-bar {
  stroke: #FBAB42;
}

.dsh-series-c .ct-bar {
  stroke: #8CDD51;
}

.dsh-series-d .ct-bar {
  stroke: #609DF5;
}

.dsh-series-e .ct-bar {
  stroke: #989EB1;
}