@import '~styles/core/colors';
@import '~styles/core/typography';

:host {
  display: block;
  position: relative;
}

.dsh-series-a .ct-bar {
  stroke: #F65031;
}

.dsh-series-b .ct-bar {
  stroke: #FBAB42;
}

.dsh-series-c .ct-bar {
  stroke: #8CDD51;
}

.dsh-series-d .ct-bar {
  stroke: #609DF5;
}

.dsh-series-e .ct-bar {
  stroke: #989EB1;
}

.chartist-tooltip.cp-social-activity {
  border-radius: 4px;
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: 8px 13px;
  background: #212121;
  color: #bdbdbd;
  font-size: 12px;
  text-align: left;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  .chartist-tooltip.cp-social-activity:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -7px;
    border: 7px solid transparent;
    border-top-color: #212121; }
  .chartist-tooltip.cp-social-activity.tooltip-show {
    opacity: 1; }

.chartist-tooltip.cp-social-activity {
  text-align: center;
  display: inline-block;

  span.chartist-tooltip-value {
    @include font-semi-bold();
    @include font-16px();
  }
}
