 <div>
  <table ui-table>
    <thead>
      <tr ui-table-row>
        <th ui-table-cell>
          {{ 't_shared_identifier' | cpI18n }}
        </th>
        <th ui-table-cell>{{ 't_shared_status' | cpI18n }}</th>
        <th ui-table-cell>{{ 't_shared_last_update' | cpI18n }}</th>
        <th ui-table-cell>{{ 't_shared_action' | cpI18n }}</th>
        <th ui-table-cell></th>
      </tr>
    </thead>

    <tbody>
      <tr ui-table-row
          *ngFor="let case of data$ | async; index as i">
        <td ui-table-cell>
          <ready-ui-stack direction="vertical">
            <strong>
              <a ui-button
                  cpTracker
                  variant="inline"
                  cpTarget="view_info"
                  [eventData]="eventData"
                  [routerLink]="[case.id]">
                {{ case.firstname }} {{ case.lastname }}
              </a>
            </strong>
            {{ case.extern_user_id }}
          </ready-ui-stack>
        </td>

        <td ui-table-cell>
          {{ case.current_status.name }}
        </td>

        <td ui-table-cell>
          {{ case.date_last_modified | cpDatePipe: dateFormat }}
        </td>

        <td ui-table-cell>
          <div *ngIf="case.current_action.id !== 0">
            <a class="action-to-do-link" *ngIf="case.current_action.code !== 'ct:trace_contacts'"
               [routerLink]="['/contact-trace', 'exposure-notification', 'case-action', case.id]">
              {{ case.current_action.name }}</a>
            <p class="action-to-do-link" *ngIf="case.current_action.code === 'ct:trace_contacts'"
               (click)="traceContactAction(case)">
              {{ case.current_action.name }}</p>
          </div>

          <p *ngIf="case.current_action.id === 0">{{ 'contact_trace_notification_none' | cpI18n }}</p>
        </td>
        
        <td ui-table-cell
            align="right">
          <button ui-button
                  type="button"
                  variant="inline"
                  cpTarget="delete"
                  (click)="deleteClick.emit(case)">
            <ready-ui-icon name="close"></ready-ui-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


