@import '~styles/core/typography';
@import '~styles/components/button';

.stepwizard {
  padding-bottom: 16px;

  hr {
    margin-bottom: 12px;
  }

  ul {
    margin: 10px 0 0 -70px;
  }
  ul li {
      width: 13px;
      height: 13px;
      list-style: none;
      border-radius: 13px;
      display: inline-block;
      -moz-border-radius: 13px;
      -webkit-border-radius: 13px;
      background: $color-light-grey;
      margin-left: 12px;
      &.current {
        background: $color-med-grey;
    }
  }
}