<div class="stepwizard">
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
        <button
          class="cpbtn cpbtn--cancel pull-left"
          (click)="backStep(currentStep)"
          *ngIf="currentStep > start">
          {{ 'back' | cpI18n }}
        </button>
      </div>
      <div class="col-xs-6 text-center">
        <ul>
          <li
            *ngFor=" let step of totalSteps"
            [class.current]="step === currentStep">&nbsp;
          </li>
        </ul>
      </div>
      <div class="col-xs-3">
        <button
          class="cpbtn cpbtn--primary pull-right"
          (click)="nextStep(currentStep)">
          {{ currentStep >= totalSteps.length ? ('done' | cpI18n) : ('next' | cpI18n) }}
        </button>
      </div>
    </div>
  </div>
</div>
