<div class="row header">
  <div class="col-2 no-left-padding">
    <div class="row">
      <div class="col-2">
        <cp-checkbox
          [isChecked]="isChecked"
          class="checkbox float-left"
          (toggle)="checkAll.emit($event)"
        >
        </cp-checkbox>
      </div>
      <div class="col-6">
        <cp-upload-button
          [buttonClass]="['cpbtn cpbtn--' + uploadImageButtonClass]"
          [buttonText]="cpI18n.translate('upload_picture')"
          (fileUpload)="onFileUpload($event)"
        >
        </cp-upload-button>
      </div>
    </div>
  </div>

  <div class="col-2 no-left-padding">
    <cp-dropdown
      [items]="categories"
      [disabled]="categoryDropDownStatus"
      (selected)="categoryChange.emit($event)"
    >
    </cp-dropdown>
  </div>
  <!--<div class="col-2">
    <button
      type="button"
      (click)="deleteServices.emit()"
      class="cpbtn cpbtn--danger" i18n>
      Delete
    </button>
  </div>-->
  <!--<div class="float-right">
    <button
      type="button"
      class="cpbtn cpbtn--secondary" i18n
      data-toggle="modal" data-target="#excelServicesModal">
      Upload Another Excel File
    </button>
  </div>-->
</div>
<cp-modal modalId="excelServicesModal">
  <cp-services-excel-modal></cp-services-excel-modal>
</cp-modal>
