<cp-store-action-box (search)="onSearch($event)"
                     (launchCreateModal)="onLaunchCreateModal()">
</cp-store-action-box>
<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.stores.length"
                   [noContentText]="cpI18n.translate('stores_no_results_found')">
    </cp-no-content>

    <ng-container *ngIf="state.stores.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell
                (sort)="doSort('name')"
                [sorting]="state.sort_field === 'name'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.name }}
            </th>
            <th ui-table-cell></th>
          </tr>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let store of state.stores; index as index">
            <td ui-table-cell>
              <ready-ui-stack>
                <ready-ui-avatar [alt]="'t_shared_img_alt' | cpI18n: index + 1"
                                 [src]="store.logo_url"></ready-ui-avatar>
                <button ui-button
                        cpTracker
                        type="button"
                        variant="inline"
                        data-toggle="modal"
                        [eventData]="eventData"
                        data-target="#editModal"
                        (click)="launchEditModal = true; selectedStore = store">
                  <strong>
                    {{ store.name }}
                  </strong>
                </button>
              </ready-ui-stack>
            </td>
            <td ui-table-cell
                align="right">
              <button ui-button
                      variant="inline"
                      type="button"
                      data-toggle="modal"
                      aria-label="Delete Store"
                      data-target="#deleteModal"
                      (click)="deleteStore = store; launchDeleteModal = true">
                <ready-ui-icon name="close"></ready-ui-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </ng-container>
  </div>
</div>

<cp-modal position="center"
          modalId="createModal"
          *ngIf="launchCreateModal">
  <cp-store-create (created)="onCreated($event)"
                   (resetCreateModal)="launchCreateModal = false">
  </cp-store-create>
</cp-modal>

<cp-modal position="center"
          modalId="editModal"
          *ngIf="launchEditModal">
  <cp-store-edit [store]="selectedStore"
                 (edited)="onEdited($event)"
                 (resetEditModal)="launchEditModal = false">
  </cp-store-edit>
</cp-modal>

<cp-modal modalId="deleteModal"
          *ngIf="launchDeleteModal">
  <cp-store-delete [store]="deleteStore"
                   (deleted)="onDeleted($event)"
                   (resetDeleteModal)="launchDeleteModal = false">
  </cp-store-delete>
</cp-modal>