<div class="row">
  <div class="col-12">
    <cp-store-action-box (search)="onSearch($event)"
                         (launchCreateModal)="onLaunchCreateModal()">
    </cp-store-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.stores.length"
                   [noContentText]="cpI18n.translate('stores_no_results_found')">
    </cp-no-content>

    <div *ngIf="state.stores.length">
      <ul class="cp-form">
        <li class="cp-form__header col-12">
          <div class="row">
            <cp-sorting-header class="col-11"
                               sortLabel="name"
                               (click)="doSort('name')"
                               [label]="sortingLabels.name"
                               [sortField]="state.sort_field"
                               [sortDirection]="state.sort_direction">
            </cp-sorting-header>

            <span class="col-1 hover"></span>
          </div>
        </li>

        <li class="cp-form__item col-12"
            *ngFor="let store of state.stores; index as index">
          <div class="row">
            <span class="col-11 text-truncate cp-form__thumbnail">
              <img [alt]="'t_shared_img_alt' | cpI18n: index + 1"
                   [src]="store.logo_url"
                   class="rounded img-fit-cover" />
              <span cpTracker
                    [eventData]="eventData"
                    data-toggle="modal"
                    data-target="#editModal"
                    (click)="launchEditModal = true; selectedStore = store">
                <strong class="hover">
                  {{ store.name }}
                </strong>
                <br />
              </span>
              {{ store.description }}
            </span>
            <button type="button"
                    (click)="deleteStore = store; launchDeleteModal = true"
                    data-toggle="modal"
                    data-target="#deleteModal"
                    class="col-1 hover text-truncate delete-store text-center unstyled-button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </li>
      </ul>

      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal position="center"
          modalId="createModal"
          *ngIf="launchCreateModal">
  <cp-store-create (created)="onCreated($event)"
                   (resetCreateModal)="launchCreateModal = false">
  </cp-store-create>
</cp-modal>

<cp-modal position="center"
          modalId="editModal"
          *ngIf="launchEditModal">
  <cp-store-edit [store]="selectedStore"
                 (edited)="onEdited($event)"
                 (resetEditModal)="launchEditModal = false">
  </cp-store-edit>
</cp-modal>

<cp-modal modalId="deleteModal"
          *ngIf="launchDeleteModal">
  <cp-store-delete [store]="deleteStore"
                   (deleted)="onDeleted($event)"
                   (resetDeleteModal)="launchDeleteModal = false">
  </cp-store-delete>
</cp-modal>