@import '~styles/components/card';
@import '~styles/core/typography';

:host {
  width: 100%;
  // margin-top: 25px;
  display: inline-block;
}

.content {
  padding: 30px 10px;
  text-align: center;

  p {
    @include font-semi-bold();

    margin-bottom: 0;
  }
}
