@import "node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

button:focus {
  outline: none !important;
}

.hamburger {
  padding: 0;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 30px;
}

.hamburger-box {
  top: 12px;
}