<div class="search" [class.isFixed]="fixed">
  <i class="material-icons">search</i>
  <input
    #q
    type="text"
    autocomplete="off"
    id="search-disable-lastpass"
    [placeholder]="placeholder ? placeholder : cpI18n.translate('search') + '...'">
  <ng-container *ngIf="isSearch$ | async">
    <button
      (click)="onClear()"
      title="Clear Search...."
      class="material-icons cpbtn cpbtn--cancel cpbtn--link-dark cpbtn--no-border search__close">
      close
    </button>
  </ng-container>
</div>