<div class="row">
  <div class="col-xs-12">
    <cp-services-list-action-box
      (listAction)="doFilter($event)">
    </cp-services-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ul class="services cp-form" *ngSwitchCase="false">
    <li class="cp-form__header col-xs-12">
      <div class="row">
        <span class="col-sm-4 col-xs-12" i18n>Name</span>
        <span class="col-sm-2 col-xs-12" i18n>Total Visits</span>
        <span class="col-sm-3 col-xs-12" i18n>Total Ratings</span>
        <span class="col-sm-2 col-xs-12" i18n>Average Ratings</span>
        <span class="col-sm-1 col-xs-12"></span>
      </div>
    </li>

    <li class="cp-form__item col-xs-12" *ngFor="let service of services">
      <div class="row">
        <span class="col-sm-4 col-xs-12" i18n>
          <div class="row">
            <div class="col-sm-2 col-xs-12 services__thumbnail">
              <img class="img-rounded" [src]="service.logo_url">
            </div>
            <div class="col-sm-8 col-xs-12 text-truncate no-left-padding">
              <strong>
                <a [routerLink]="[service.id]">{{ service.name }}</a>
              </strong>
              <br>
              {{ service.description }}
            </div>
          </div>
        </span>
        <span class="col-sm-2 col-xs-12" i18n>Total Visits</span>
        <span class="col-sm-3 col-xs-12" i18n>Total Ratings</span>
        <span class="col-sm-2 col-xs-12" i18n>Average Ratings</span>
        <span
          (click)="onDelete(service)"
          data-toggle="modal" data-target="#deleteServicesModal"
          class="col-sm-1 col-xs-12 hover text-truncate delete-service text-center">
          &times;
        </span>
      </div>
    </li>
  </ul>

  <div class="row">
    <div class="col-xs-12">
      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal modalId="excelServicesModal">
  <cp-services-excel-modal></cp-services-excel-modal>
</cp-modal>

<cp-modal modalId="deleteServicesModal">
  <cp-services-delete [service]="deleteService"></cp-services-delete>
</cp-modal>
