<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <form [formGroup]="form" class="margin-bottom">
      <cp-one-column [width]="layoutWidth">
        <cp-card>
            <div class="row form-group">
              <div class="col-12">
                <p class="title">{{ 't_personas_edit_form_title' | cpI18n }}</p>
                <cp-personas-form
                  #editForm
                  [form]="form"
                  isEdit="true"
                  (valueChanges)="onFormValueChanges($event)">
                </cp-personas-form>
              </div>
            </div>

            <ng-container *ngIf="showHomeExperience">
              <div class="row form-group">
                <div class="col-12">
                  <p class="title">{{ 't_personas_form_title_home_customization' | cpI18n }}</p>
                </div>
              </div>
            </ng-container>

            <div class="row">
              <div class="col-6">
                <label>{{ 't_personas_edit_label_campus_security' | cpI18n }}</label>
                <cp-dropdown
                  [items]="services$ | async"
                  [selectedItem]="selectedSecurityService"
                  (selected)="onSecurityServiceChanged($event)">
                </cp-dropdown>
              </div>
            </div>
            <br/>
            <ng-container *ngIf="showHomeExperience">
              <div class="row" *ngFor="let home of homeExperience">
                <div class="col-10">
                  <label class="heading">{{ home.heading | cpI18n }}</label>
                  <p>{{ home.subHeading | cpI18n }}</p>
                </div>
                <div class="col-2">
              <span class="float-right switchbar">
                <cp-switch
                  [id]="home.id"
                  [formControlName]="home.name"
                  (toggle)="togglePersona($event, home.name)">
                </cp-switch>
              </span>
                </div>
              </div>
            </ng-container>

            <br/>
            <div class="row">
              <div class="col-6">
                <button
                  type="button"
                  class="cpbtn cpbtn--danger"
                  (click)="onDeleted()">
                  {{ 't_personas_edit_delete_button' | cpI18n }}
                </button>
              </div>
            </div>
        </cp-card>
      </cp-one-column>
    </form>
    <div class="footer">
      <div class="cp-wrapper cp-wrapper--outer">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="text-right">
                <a [routerLink]="['/studio/experiences']" class="cpbtn cpbtn--cancel">
                  {{ 't_persona_edit_cancel_button' | cpI18n }}
                </a>
                <cp-button [props]="submitButtonData" (buttonClick)="onSubmit()"> </cp-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
