<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>
  <ng-container *ngSwitchCase="false">
    <p *ngIf="error"
       class="center">{{ errorMessage | cpI18n }}</p>
    <ng-container *ngIf="!error">
      <cp-feedback-already-submitted *ngIf="alreadySubmitted"
                                     [heading]="'t_external_check_in_service_feedback_already_provided' | cpI18n">
      </cp-feedback-already-submitted>

      <cp-base-feedback [data]="event"
                        [isService]="isService"
                        (send)="onSubmit($event)"
                        [isSubmitted]="isSubmitted$"
                        *ngIf="!alreadySubmitted">
      </cp-base-feedback>
    </ng-container>
  </ng-container>
</ng-container>