<ng-container *ngIf="view$ | async as view">
  <ng-container [ngSwitch]="view.loading">
    <cp-spinner *ngSwitchCase="true"></cp-spinner>
    <ng-container *ngSwitchCase="false">
      <div class="page">
        <div class="page__sidebar">
          <div class="page__sticky__wrapper">
            <cp-feed-host-selector [host]="view.host"
                                   [socialGroup]="view.socialGroup">
            </cp-feed-host-selector>
          </div>
        </div>
        <div class="page__content">
          <ng-container [width]="layoutWidth"
                        *ngIf="!error; else errorTpl">
            <cp-feed-item [feed]="feed$ | async"
                          [isCampusWallView]="isCampusWallView$"
                          [readOnlyMode]="!view.host && !view.socialGroup">
            </cp-feed-item>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #errorTpl>
    {{ 'something_went_wrong' | cpI18n }}
  </ng-template>
</ng-container>