<div class="editor">
  <div #editor="ui-editor"
       ready-ui-text-editor
       className="edit-editor"
       [toolbar]="showToolbar"
       (editor)="onTextChange()"
       [events]="['text-change']"
       [placeholder]="'feeds_input_placeholder' | cpI18n"></div>
</div>

<ready-ui-stack
                [alignment]="form.get('message_image_url_list').value.length ? 'end' : 'between'">
  <label class="file"
         *ngIf="!form.get('message_image_url_list').value.length">
    <input multiple
           type="file"
           aria-label="Select Images"
           (change)="addImageInputHandler($event)"
           accept="image/png, image/jpeg, image/png, image/jpg" />
    <span>
      <ready-ui-icon name="collections"
                     color="inherit"></ready-ui-icon>
      {{ 't_shared_add_images' | cpI18n }}
    </span>
  </label>
  <ready-ui-stack spacing="tight">
    <ui-text-style color="muted">
      {{ form.controls.message.value.length }}/500
    </ui-text-style>
    <button type="reset"
            ui-button
            (click)="cancelHandler()"
            variant="stroked">{{ 'cancel' | cpI18n }}</button>
    <button type="submit"
            ui-button
            variant="flat"
            color="primary"
            (click)="submitHandler()"
            [disabled]="disableSubmit$ | async">{{ 'save' | cpI18n }}</button>
  </ready-ui-stack>

</ready-ui-stack>
<ready-ui-gallery-group *ngIf="form.get('message_image_url_list').value.length">
  <ready-ui-gallery-item [src]="image"
                         (close)="removeImage(image)"
                         *ngFor="let image of form.get('message_image_url_list').value">
  </ready-ui-gallery-item>
  <ready-ui-gallery-add-item (add)="addImages($event)"
                             (error)="imageUploadError($event)"
                             *ngIf="form.get('message_image_url_list').value.length < maxImages">
  </ready-ui-gallery-add-item>
</ready-ui-gallery-group>