<div class="cp-card">
  <div class="row">
    <div class="col-xs-3">
      <cp-searchbox (query)="onSearch($event)"></cp-searchbox>
    </div>

    <div class="col-xs-9">
      <div class="pull-right">
        <button
          cpTracker
          (click)="onLaunchCreateModal()"
          class="cpbtn cpbtn--primary pull-right"
          [eventData]="trackEvent(amplitudeEvents.clicked_create)">
          {{ 'employers_create_employer' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>