<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span><strong>{{ 'checkin_button_pdf_kit' | cpI18n }}</strong></span>
        <button type="button"
                data-dismiss="modal"
                (click)="resetModal()"
                class="float-right hover cpmodal__header__close unstyled-button">
          &times;
        </button>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <form [formGroup]="form">
      <div class="row form-group">
        <div class="col-12">
          <label>{{ isService ? 'Service ' : 'Event ' }}Name</label>
          <input type="text"
                 class="form-control"
                 [formControlName]="name" />
        </div>
      </div>

      <div class="row form-group"
           *ngIf="isService">
        <div class="col-12">
          <label>{{ 'service_provider_name' | cpI18n }}</label>
          <input type="text"
                 class="form-control"
                 formControlName="provider_name" />
        </div>
      </div>

      <div class="row form-group">
        <div class="col-12">
          <label>{{ 'app_name' | cpI18n }}</label>
          <input type="text"
                 class="form-control"
                 formControlName="school_name" />
        </div>
      </div>
    </form>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-6 offset-6 text-right">
        <button type="button"
                data-dismiss="modal"
                (click)="resetModal()"
                class="cpbtn cpbtn--cancel">
          {{ 'cancel' | cpI18n }}
        </button>

        <button type="button"
                (click)="onSubmit()"
                [disabled]="!form.valid"
                class="cpbtn cpbtn--primary">
          {{ 'save_changes' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>