<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center"></div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-12 text-center">
        <img [src]="[brandingImage]" width="200">
        <p>
            {{ 'ga_onboarding_text_1' | cpI18n}}
            {{ 'ga_onboarding_text_2' | cpI18n}}
            <strong>{{ 'ga_onboarding_date' | cpI18n}}</strong>
            {{ 'ga_onboarding_text_3' | cpI18n}}
        </p>
          <p>
            {{ 'ga_onboarding_text_4' | cpI18n}}
            <a href=" https://oohlalamobile.zendesk.com/hc/en-us" target="_blank">
              {{ 'help_desk' | cpI18n}}
            </a>.
          </p>
          <p>
            {{ 'ga_onboarding_text_5' | cpI18n}}
            <a href="mailto:support@oohlalamobile.com">support@oohlalamobile.com</a>
          </p>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
       <div class="row">
        <div class="col-12 text-center">
          <button
            cpTracker
            [eventData]="returnCCEventData"
            class="cpbtn cpbtn--primary"
            data-dismiss="modal">
            {{ 'return_to_campus_cloud' | cpI18n }}
          </button>
          <br>
          <a
            cpTracker
            [eventData]="goToOldCPEventData"
            [href]="oldCPUrl">
            {{ 'return_to_old_control_panel' | cpI18n }}
          </a>
        </div>
      </div>
  </div>

</div>