@import '~styles/components/button';
@import '~styles/core/colors';

.cpmodal {

  &__body {
    padding-top: 40px;
    min-height: 321px;
    max-height: 321px;
    img {
      padding-bottom: 20px;
    }

    p {
      text-align: left;
      margin-top: 20px;
      padding: 0 25px 0 25px;
    }

    p a {
      color: $color-brand;
    }
  }

  &__footer {
    padding-bottom: 16px;

    hr {
      margin-bottom: 12px;
    }
  }
}
