@import '~styles/core/colors';
@import '~bootstrap/variables';
@import '~styles/components/form';
@import '~styles/components/card';
@import '~styles/components/button';

.no-content {
  @include card-margin();
}

.cp-form__header {
  span.hover {
    position: relative;

    > span i {
      top: 1px;
      font-size: 17px;
      position: absolute;
      padding-left: 6px;
    }
  }
}

.personas {
  padding: 0;
  list-style: none;

  &__name {
    top: 5px;
    position: relative;
  }

  &__actions {
    top: -6px;
    position: relative;

    a {
      margin-right: 35px;

      i {
        top: 8px;
        line-height: 1;
        position: relative;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
