<form [formGroup]="form">
  <div class="form-group category">
    <div class="form-group">
      <cp-image-upload
        cpTarget="upload_icon"
        (uploaded)="onUploadedImage($event)"
        [defaultImage]="form.controls['img_url'].value"
        [buttonText]="['t_shared_upload_icon' | cpI18n]"
        [heading]="['t_shared_cpimage_icon_heading' | cpI18n]"
        [description]="['t_shared_cpimage_icon_help' | cpI18n]">
      </cp-image-upload>
    </div>

    <div class="form-group">
      <label>
        {{ 't_shared_category_name' | cpI18n }}
      </label>
      <input
        type="text"
        cpTarget="name"
        class="form-control"
        formControlName="name"
        [class.error]="formError && requiredControls.name.invalid">
    </div>

    <div class="form-group">
      <label>{{ 't_shared_type' | cpI18n }}</label>
      <cp-dropdown
        cpTarget="category_type"
        [items]="categoryTypes$ | async"
        [selectedItem]="selectedCategory"
        (selected)="onCategoryTypeSelect($event)"
        [isRequiredError]="formError && requiredControls.type.invalid">
      </cp-dropdown>
    </div>
  </div>
</form>