@import '~client/style/components/form';
@import '~client/style/core/typography';

.category {
  span {
    @include font-normal();
  }

  img {
    float: left;
    width: 38px;
    height: 38px;
    margin-right: 5px;
    background: #bdbdbd;
  }

  .active {
    border: 1px solid #2096f3;
  }

  .label {
    clear: both;
    margin-top: 20px;
  }
  .border {
    float: left;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #2096f3;
  }
  .pin-color {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
  }
}
