<form [formGroup]="form">
  <div class="form-group category">
    <div class="form-group">
      <label>{{ 't_categories_map_pin_icon' | cpI18n }}</label>
      <div *ngFor="let category of categoryIcons">
        <img
          class="hover"
          [src]="category.icon"
          (click)="onIconClick(category.icon)"
          [class.active]="category.icon === form.get('img_url').value">
      </div>

      <label class="label">{{ 't_categories_map_pin_color' | cpI18n }}</label>
      <div class="border" *ngFor="let color of categoryIconColors">
        <span
          class="color pin-color hover"
          (click)="onColorClick(color.code)"
          [ngStyle]="{ 'background' :  '#' + color.code}"
          [class.active]="color.code === form.get('color').value"></span>
      </div>
      <label
        class="error"
        *ngIf="formError && (requiredControls.icon.invalid || requiredControls.color.invalid)">
        {{ 't_categories_icon_color_required' | cpI18n }}
      </label>
    </div>

    <div class="form-group">
      <label>
        {{ 't_shared_category_name' | cpI18n }}
      </label>
      <input
        type="text"
        cpTarget="name"
        class="form-control"
        formControlName="name"
        [class.error]="formError && requiredControls.name.invalid">
    </div>

    <div class="form-group">
      <label>{{ 't_shared_type' | cpI18n }}</label>
      <cp-dropdown
        cpTarget="category_type"
        [items]="categoryTypes$ | async"
        [selectedItem]="selectedCategory"
        (selected)="onCategoryTypeSelect($event)"
        [isRequiredError]="formError && requiredControls.type.invalid">
      </cp-dropdown>
    </div>
  </div>
</form>