<form [formGroup]="form">
  <div class="form-group category">
    <div class="form-group">
      <label>Map Pin Icon</label>
      <div *ngFor="let category of categoryIcons">
        <img [src]="category.icon">
      </div>

      <label>Map Pin Color</label>
      <div class="border" *ngFor="let color of categoryIconsColors">
        <span
          class="color pin-color"
          [ngStyle]="{ 'background' :  color.code}"></span>
      </div>
    </div>

    <div class="form-group">
      <label>
        {{ 't_shared_category_name' | cpI18n }}
      </label>
      <input
        type="text"
        cpTarget="name"
        class="form-control"
        formControlName="name"
        [class.error]="formError && requiredControls.name.invalid">
    </div>

    <div class="form-group">
      <label>{{ 't_shared_type' | cpI18n }}</label>
      <cp-dropdown
        cpTarget="category_type"
        [items]="categoryTypes$ | async"
        [selectedItem]="selectedCategory"
        (selected)="onCategoryTypeSelect($event)"
        [isRequiredError]="formError && requiredControls.type.invalid">
      </cp-dropdown>
    </div>
  </div>
</form>