<fieldset [disabled]="guide._disabled || state.sorting">
  <section
    *ngIf="addSection"
    class="new-section">
    <div class="row">
      <div class="col-12">
        <cp-personas-section-add-button
          (addSection)="onAddSection()"
          [disabled]="state.working || utils.isTemporaryGuide(guide)">
        </cp-personas-section-add-button>
      </div>
    </div>
  </section>

  <fieldset [disabled]="state.working">
    <section
      class="section-details"
      [class.no_margin_top]="hideName">
      <div class="row">
        <div class="col-8" *ngIf="guide.name">
          <cp-personas-section-title
            [name]="guide.name"
            (nameChanged)="onNameChange($event, guide)">
          </cp-personas-section-title>
        </div>
        <div class="col-4 text-right" *ngIf="!noControls">
          <cp-personas-section-controls
            [disableUp]="first"
            [disableDown]="last"
            (moveUp)="onMove('up')"
            (moveDown)="onMove('down')"
            (deleteClick)="onDeleteSectionClick()">
          </cp-personas-section-controls>
        </div>
      </div>
    </section>

    <section class="section-tiles">
      <div
        class="row"
        [sortablejs]="guide.tiles"
        [attr.data-section]="sectionId"
        [sortablejsOptions]="sortableOptions">
        <cp-personas-tile
          class="tile"
          [tile]="tile"
          (edit)="onEditTile(tile)"
          [attr.data-tile]="tile.id"
          [class.sorting]="state.sorting"
          (edited)="onEditedTile($event)"
          [ngClass]="['col-' + tileWidth]"
          [class.draggable]="!state.sorting"
          (deleteClick)="onDeleteTileClick($event)"
          *ngFor="let tile of guide.tiles; let i = index"
          [class.mb-4]="guide.tiles.length >= (12 / +tileWidth)">
        </cp-personas-tile>
        <div [ngClass]="['col-' + tileWidth]">
          <cp-personas-tile-add-button
            [disabled]="guide._disabled"
            (buttonClick)="goToCreateTile()">
          </cp-personas-tile-add-button>
        </div>
      </div>
    </section>
  </fieldset>
</fieldset>

<cp-modal
  [modalId]="tileDeleteModalId"
  *ngIf="state.tileDeleteModal">
  <cp-personas-tile-delete
    [tile]="selectedTile"
    (error)="errorHandler(err)"
    (deleted)="onTileDeleted($event)"
    (teardown)="onTileDeleteTeardown()">
  </cp-personas-tile-delete>
</cp-modal>

<cp-modal
  [modalId]="sectionDeleteModalId"
  *ngIf="state.sectionDeleteModal">
  <cp-personas-section-delete
    [section]="guide"
    (error)="errorHandler($event)"
    (deleted)="deleted.emit(guide)"
    (teardown)="onSectionDeleteTeardown()">
  </cp-personas-section-delete>
</cp-modal>