<section class="new-section">
  <div class="row">
    <div class="col-12">
      <cp-personas-section-add-button></cp-personas-section-add-button>
    </div>
  </div>
</section>

<fieldset [disabled]="state.working">
  <section class="section-details">
    <div class="row">
      <div class="col-8">
        <cp-personas-section-title 
          [name]="guide.name"
          (nameChanged)="onNameChange($event)">
        </cp-personas-section-title>
      </div>
      <div class="col-4 text-right">
        <cp-personas-section-controls
          (deleteClick)="onDeleteSection()">
        </cp-personas-section-controls>
      </div>
    </div>
  </section>

  <section class="section-tiles">
    <div class="row">
      <div 
        class="col-2" 
        *ngFor="let tile of guide.tiles">
          <cp-personas-tile 
            [tile]="tile"
            (edited)="onEditedTile($event)"
            (deleted)="onDeletedTile($event)">
          </cp-personas-tile>
      </div>
      <div class="col-2">
        <cp-personas-tile-add-button
          (buttonClick)="addTileClick.emit()">
        </cp-personas-tile-add-button>
      </div>
    </div>
  </section>
</fieldset>