@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/form';

.section {
  transition: opacity 200ms ease-in-out;

  h2.section__title {
    @include font-24px();
    @include font-bold();

    margin-bottom: 20px;
  }
}

ready-ui-settings-toggle {
  display: block;
  margin-top: 25px;
}