<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <div class="row">
      <div class="header">
        <div class="col-xs-4 text-center">
          <div class="cp-card cp-card--half-padding">
            <p class="header__digit">{{ provider.num_ratings }}</p>
            <p i18n>Total Ratings</p>
          </div>
        </div>
        <div class="col-xs-4 text-center">
          <div class="cp-card cp-card--half-padding">
            <p class="header__digit">{{ provider.total_visits }}</p>
            <p i18n>Total Visits</p>
          </div>
        </div>
        <div class="col-xs-4 text-center">
          <div class="cp-card cp-card--half-padding rating-box">
            <cp-stars
              [size]="starSize"
              class="rating-box__star"
              [avgRate]="provider.avg_rating_percent"
              [maxRate]="MAX_RATE">
            </cp-stars>
            <p i18n>Average Rating
              {{ provider.avg_rating_percent !== -1 ? eventRating : '0.0' }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="cp-card actions">
          <div class="row">
            <div class="col-xs-4">
              <cp-searchbox
                (query)=query$.next($event)
                placeholder="Search Attendees...">
              </cp-searchbox>
            </div>
            <div class="col-xs-6 col-xs-offset-2 text-right">
              <button
                (click)="download$.next(true)"
                class="cpbtn cpbtn--secondary" i18n>
                Download Attendance Data
              </button>
              <a
                target="_blank"
                class="cpbtn cpbtn--primary" i18n
                [routerLink]="['/cb/checkin/s/' + provider.encrypted_campus_service_id + '/' + provider.encrypted_id]">
                Start Web Check-in
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <cp-providers-attendees-list
        [serviceId]="serviceId"
        [query]="query$"
        [download]="download$"
        [providerId]="providerId">
        </cp-providers-attendees-list>
      </div>
    </div>
  </div>
</div>