@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/components/button';
@import '~projects/campus-cloud/src/sass/components/tooltip';

p {
  margin-bottom: 3px;
}

i {
  @include toolTipIcon;
}

.branding-preview {
  margin-top: 1em;

  p {
    margin-bottom: 1em;
  }
}

.color-preview {
  display: grid;
  grid-template-areas:
    'title title'
    'display input';
  grid-template-rows: 2.6em auto;
  grid-template-columns: 2em auto;

  p {
    grid-area: title;
  }
}

div.color-display {
  width: 2em;
  height: 2em;
  margin-top: 0.2em;
  border-radius: 1em;
  display: inline-block;
}

div.color-input {
  margin-left: 1em;
  position: relative;
  display: inline-block;

  span {
    z-index: 1;
    top: 0.55em;
    left: 0.5em;
    position: absolute;
  }

  input {
    top: 0;
    left: 0;
    width: 100px;
    padding-left: 1.1em;
  }
}

.logo-preview {
  width: 400px;
  height: 82.5px;
  text-align: center;

  &.animate {
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-property: background-color;
  }

  img {
    max-width: 400px;
    max-height: 82.5px;
    object-fit: cover;
  }

  .text-logo {
    @include font-bold();

    width: 100%;
    font-size: 2em;
    text-align: center;
    line-height: 82.5px;
    color: $color-white;
  }
}

cp-upload-button {
  margin-right: 2em;
}

button.remove-logo {
  @include font-semi-bold();
}
