@import '~styles/core/colors';
@import '~styles/components/button';
@import '~styles/components/dropdown';

:host {
  display: block;
}

.switch {
  @include cpDropdownMenu();

  width: 245px;
  max-height: 245px;
  overflow-x: hidden;
  border-radius: 4px;
  overflow-y: scroll;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);

  &__item {
    display: block;
    border-bottom: 1px solid $border-color;

    &--no-hover:hover {
      color: initial;
      background: $color-white;
    }

    i {
      font-size: 20px;
    }

    a {
      width: 100%;
      width: 100%;
      color: inherit;
      display: block;
    }

    &.isFirstItem {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0 0 4px 4px;
    }
  }

  &__school {
    height: 55px;
    &__thumb {
      float: left;
      height: 36px;
      width: 36px;
      margin-right: 8px;
      border-radius: 4px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &__name,
    &__default {
      padding-top: 6px;
    }
  }
}
