<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>
  <ng-container *ngSwitchCase="false">
    <div class="row">
      <div class="col-12">
        <h3 class="title">{{ 'dashboard_downloads_title' | cpI18n }}</h3>
      </div>
    </div>

    <ready-ui-line-chart [xLabels]="labels"
                         [series]="series"
                         [colors]="['#2096f3', '#ffa941']">
    </ready-ui-line-chart>

    <div class="row">
      <div class="col-12">
        <div class="legend">
          <span class="legend--downloads"> {{ downloads }}
            {{ 'downloads' | cpI18n }} </span>
          <span class="legend--registrations">
            {{ registrations }} {{ 'registrations' | cpI18n }}
          </span>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>