@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';

ready-ui-line-chart {
  width: 100%;
  height: 310px;
  display: block;
}

h3.title {
  @include font-24px();
  @include font-bold();

  margin-bottom: 38px;
}

@mixin badge() {
  top: 5px;
  left: 4px;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
}

.legend {
  padding: 12px 0 0 0;

  span {
    @include font-semi-bold();

    display: inline-block;
  }

  &--downloads {
    position: relative;
    padding-left: 20px;
    margin-right: 25px;

    &:before {
      @include badge();

      background: $color-brand;
    }
  }

  &--registrations {
    position: relative;
    padding-left: 20px;

    &:before {
      top: 3px;
      left: -1px;
      width: 16px;
      height: 8px;
      font-size: 10px;
      content: '- - -';
      border-radius: 50%;
      position: absolute;
      color: $color-warning;
    }
  }
}
