<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>
  <ng-container *ngSwitchCase="false">
    <div class="row">
      <div class="col-12">
        <p class="title">{{ 'dashboard_downloads_title' | cpI18n }}</p>
      </div>
    </div>

    <cp-line-chart [series]="series" [labels]="labels" [chartOptions]="chartOptions">
    </cp-line-chart>

    <div class="row">
      <div class="col-12">
        <div class="legend">
          <span class="legend--downloads"> {{ downloads }} {{ 'downloads' | cpI18n }} </span>
          <span class="legend--registrations">
            {{ registrations }} {{ 'registrations' | cpI18n }}
          </span>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
