<div class="cp-card actions col-12">
  <div class="row">
    <cp-searchbox (query)="onSearch($event)"
                  class="col-2 no-right-padding"> </cp-searchbox>

    <div class="col-3">
      <div class="row">
        <div class="col-9">
          <cp-dropdown [items]="eventFilter"
                       (selected)="onEventDate($event.action)"> </cp-dropdown>
        </div>
        <div class="col-3 text-center no-left-padding">
          <button type="button"
                  [class.isOpen]="isCalendar"
                  [class.isSelected]="isFilteredByDate"
                  (click)="onToggleCalendar($event)"
                  class="cpbtn cpbtn--cancel cpbtn--no-padding calendar">
            <i class="material-icons hover">date_range</i>
          </button>
          <cp-small-datepicker [hidden]="!isCalendar"
                               (reset)="onDateReset()"
                               (rangeChange)="isCalendar = false"
                               (rangeChange)="onDateRange($event)"
                               [options]="dateFilterOpts">
          </cp-small-datepicker>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col-6"
             *ngIf="!isSimple">
          <div class="row">
            <div class="col-12 no-left-padding">
              <cp-dropdown [items]="stores$ | async"
                           (selected)="onFilterByHost($event.value)">
              </cp-dropdown>
            </div>
          </div>
        </div>
        <div class="col-6">
          <cp-checkbox class="checkbox"
                       labelRight="false"
                       (toggle)="onAttendanceToggle($event)"
                       [label]="cpI18n.translate('assessment')">
          </cp-checkbox>
        </div>
      </div>
    </div>

    <div class="col-3 text-right float-right"
         *ngIf="canCreateEvent">
      <ng-container *ngIf="showIntegration">
        <a cpTracker
           routerLink="integrations"
           [eventData]="viewedIntegrationEventData"
           class="cpbtn cpbtn--cancel integrations">
          <i class="material-icons">link</i>
        </a>
      </ng-container>
      <a cpTracker
         [routerLink]="['create']"
         [eventData]="eventData"
         class="cpbtn cpbtn--primary no-right-padding cpbtn--square-right">
        {{ 'events_button_new' | cpI18n }}
      </a>
      <button class="cpbtn cpbtn--square-left cpbtn--no-padding cpbtn--primary no-left-padding hover action-dropdown"
              type="button"
              id="calendar-create"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <i class="material-icons">expand_more</i>
      </button>
      <div class="dropdown-menu dropdown-menu-right"
           aria-labelledby="calendar-create">
        <button (click)="launchModal()"
                class="dropdown-item unstyled-button">{{ 'import_from_csv' | cpI18n }}</button>
      </div>
    </div>
  </div>
</div>