@import '~projects/campus-cloud/src/sass/components/button';
@import '~projects/campus-cloud/src/sass/core/typography';

.list {
  padding: 16px 24px;
  background-color: $color-white;
  border-bottom: 1px solid $border-color;
  box-shadow: 4px 4px 20px 0 rgba(204, 204, 204, .3);

  &__key-id-as-label {
    @include font-normal();

    margin-left: 8px;
    margin-bottom: 0;
    color: $color-secondary-text;
    font-family: 'Courier New', Courier, monospace;
  }

  &__timestamp {
    color: $color-grey;
  }

  &__title {
    display: flex;
    align-items: baseline;
    justify-content: left;
  }

  &__key-as-label {
    @include font-16px();
    @include font-semi-bold();

    max-width: 390px;
    margin-bottom: 0;
  }

  &__revoke {
    margin-right: 24px;
    color: $color-danger;
  }

  &__edit,
  &__revoke {
    @include font-semi-bold()
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__separator{
    margin-top: 16px;
  }
}

.edit {
  margin: 8px 0;
}