<ng-container *ngFor="let item of (items$ | async); trackBy: trackByFn; let i = index">
  <div class="list row" *ngIf="i !== widgetIndex">
    <div class="col-12">
      <div class="row">
        <div class="col-9 no-left-padding no-right-padding list__title">
          <span
            class="list__key-as-label text-truncate">{{ item.name }}</span>
          <span class="list__key-id-as-label">{{ item.id }}</span>
        </div>
        <div class="col-3 no-left-padding no-right-padding text-right list__timestamp">
          {{ 't_shared_created' | cpI18n }}:
          {{ item.date_created | cpDatePipe: dateFormat}}
        </div>
      </div>

      <div class="row list__separator">
        <div class="col-9 no-left-padding no-right-padding">
          <cp-api-management-key [key]="item.token">
          </cp-api-management-key>
        </div>

        <div class="col-3 no-left-padding no-right-padding text-right list__actions">
          <button type="button"
                  [cpTarget]="'delete_' + i"
                  (click)="revokeAccessToken(item)"
                  class="list__revoke cpbtn cpbtn--no-border cpbtn--no-padding cpbtn--ghost">
            {{ 't_shared_revoke' | cpI18n }}
          </button>

          <button type="button"
                  [cpTarget]="'edit_' + i"
                  (click)="onShowEditWidget(i, item.id)"
                  class="list__edit cpbtn cpbtn--no-border cpbtn--no-padding cpbtn--ghost cpbtn--link-dark">
            {{ 't_shared_edit' | cpI18n }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="isEdit && i === widgetIndex">
    <ng-container [ngSwitch]="loading$ | async">

      <cp-spinner *ngSwitchCase="true"></cp-spinner>

      <ng-container *ngSwitchCase="false">
        <div class="row edit">
          <div class="col-12 no-right-padding no-left-padding">
            <cp-api-form
              [isEdit]="isEdit"
              [formData]="item$ | async"
              (cancelEdit)="hideEditWidget()"
              (valueChanges)="onValueChanges($event)"
              (submitted)="onFormSubmitted(item.id, $event)">
            </cp-api-form>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>