@import '~styles/core/colors';

.rate {
  padding: 15px 0;

  &__item {
    font-size: 4em;
    color: $border-color;

    &.filled {
      color: #FED431;
    }

    &:hover {
      cursor: pointer;
    }
  }
}