@import '~client/style/components/card';
@import '~client/style/components/form';

.no-content {
  @include card-margin();
}

.delete-category {
  top: -5px;
  font-size: 2em;
  position: relative;
}

.categories {
  padding: 0;
  list-style: none;
}
