<div class="row">
  <div class="col-12">
    <cp-categories-action-box
      (search)="onSearch($event)"
      (launchCreateModal)="onLaunchCreateModal()">
    </cp-categories-action-box>
  </div>
</div>

<div [ngSwitch]="loading$ | async">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!(categories$ | async)?.length"
      [noContentText]="cpI18n.translate('t_shared_no_categories_found')">
    </cp-no-content>

    <div *ngIf="(categories$ | async)?.length">
      <ul class="categories cp-form">
        <li class="cp-form__header col-12">
          <div class="row">
            <cp-sorting-header
              sortLabel="name"
              (click)="doSort('name')"
              [label]="'name' | cpI18n"
              [sortField]="state.sort_field"
              class="col-4 js_test_sorting_name"
              [sortDirection]="state.sort_direction">
            </cp-sorting-header>
            <span class="col-3">{{ 't_shared_type' | cpI18n }}</span>
            <span class="col-2">{{ 't_shared_icon' | cpI18n }}</span>
            <span class="col-2">{{ 't_shared_default' | cpI18n }}</span>
            <span class="col-1"></span>
          </div>
        </li>

        <li
          class="cp-form__item col-12"
          *ngFor="let category of categories$ | async">
          <div class="row height">
            <span
              cpTarget="name"
              class="col-4 text-truncate"
              [attr.title]="category.name">
              {{ category.name }}
            </span>
            <span
              class="col-3"
              cpTarget="category_type">
              {{ category.category_type_name }}
            </span>
            <span class="col-2">
              <img
                class="icon"
                cpTarget="image"
                *ngIf="category.img_url"
                [src]="category.img_url">
            </span>
            <span
              class="col-2"
              cpTarget="is_default">
              {{ category.is_default | cpIsDefaultCategory | cpI18n }}
            </span>
            <span class="col-1 text-right">
              <span *ngIf="!category.is_default">
                <i
                  cpTarget="edit"
                  (click)="onLaunchEditModal(category)"
                  class="material-icons hover action-button margin-right">
                   edit
                </i>
                <i
                  cpTarget="delete"
                  (click)="onLaunchDeleteModal(category)"
                  class="material-icons hover action-button">
                   close
                </i>
              </span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<cp-modal
  *ngIf="showCreateModal"
  modalId="categoriesCreate"
  (modalClose)="onCreateTeardown()">
  <cp-categories-create
    (teardown)="onCreateTeardown()">
  </cp-categories-create>
</cp-modal>

<cp-modal
  *ngIf="showEditModal"
  modalId="categoriesEdit"
  (modalClose)="onEditTeardown()">
  <cp-categories-edit
    [category]="selectedCategory"
    (teardown)="onEditTeardown()">
  </cp-categories-edit>
</cp-modal>

<cp-modal
  *ngIf="showDeleteModal"
  modalId="categoryDelete">
  <cp-categories-delete
    [category]="deletedCategory"
    (teardown)="onDeleteTeardown()">
  </cp-categories-delete>
</cp-modal>