<div class="row margin-bottom">
  <div class="col-8 offset-2">
    <cp-audience-card (count)="onUsersCount($event)"
                      (importClick)="onImportClick()"
                      [canReadAudience]="canReadAudience"
                      (resetNewAudience)="onResetNewAudience()"
                      (selectedUsers)="onSelectedUsers($event)"
                      (saveAudienceClick)="onSaveAudienceClick()"
                      (resetSavedAudience)="onResetSavedAudience()"
                      (selectedAudience)="onAudienceChange($event)"
                      (selectedFilters)="onSelectedFilters($event)"
                      (newAudienceTypeChange)="onNewAudienceTypeChange($event)">
    </cp-audience-card>

    <cp-card>
      <header>
        <h2 class="section__name">{{ 'message' | cpI18n }}</h2>
        <cp-datetime-picker (dateSet)="onSchedule($event)"
                            [clearable]="isScheduledAnnouncement"
                            [label]="isScheduledAnnouncement ? (form.get('notify_at_epoch').value | cpDatePipe:dateTimeFormat) : 't_notify_send_later' | cpI18n">

        </cp-datetime-picker>
      </header>
      <div class="row">
        <div class="col-12">
          <form [formGroup]="form">
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-12">
                      <label>{{ 'from' | cpI18n }}</label>
                      <cp-dropdown [items]="stores$ | async"
                                   [selectedItem]="session.defaultHost"
                                   (selected)="onSelectedStore($event)">
                      </cp-dropdown>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label>{{ 'announcements_type' | cpI18n }}</label>
                  <div class="row">
                    <div class="col-12">
                      <cp-check-dropdown [items]="types"
                                         [selectedItem]="selectedType"
                                         buttonClass="cpbtn cpbtn--cancel"
                                         (selected)="onTypeChanged($event)">
                      </cp-check-dropdown>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>
                {{ 'subject' | cpI18n }}
                <cp-char-counter class="float-right"
                                 [limit]="255"
                                 [charCount]="form.get('subject').value">
                </cp-char-counter>
              </label>
              <div class="cpInput subject-input">
                <div class="row">
                  <div class="col-2 no-right-padding"
                       *ngIf="subject_prefix.label">
                    <span
                          [ngClass]="'subject-input__label text-center ' + subject_prefix.type">
                      {{ subject_prefix.label }}
                    </span>
                  </div>
                  <div
                       [ngClass]="subject_prefix.label ? 'col-10 no-left-padding' : 'col-12'">
                    <input type="text"
                           formControlName="subject"
                           class="form-control transparent subject-input__input" />
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>
                {{ 'message_noun' | cpI18n }}
                <cp-char-counter class="float-right"
                                 [limit]="2048"
                                 [charCount]="form.controls.message.value">
                </cp-char-counter>
              </label>
              <textarea class="form-control"
                        formControlName="message"> </textarea>
            </div>
          </form>
        </div>
      </div>
    </cp-card>
  </div>
</div>
<div class="row">
  <div class="footer">
    <div class="cp-wrapper cp-wrapper--outer">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="text-right">
              <a routerLink="/notify/sent"
                 class="cpbtn cpbtn--cancel">
                {{ 'cancel' | cpI18n }}
              </a>
              <cp-button [props]="buttonData"
                         (buttonClick)="doValidate()"> </cp-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <cp-modal modalId="audienceImport"
            *ngIf="isAudienceImport">
    <cp-audience-import (error)="onImportError()"
                        (success)="redirectToSaveTab($event)"
                        (teardown)="isAudienceImport = !isAudienceImport">
    </cp-audience-import>
  </cp-modal>
</div>
