<div class="cp-card actions col-12">
  <div class="row">
    <cp-searchbox
      (query)="onSearch($event)"
      class="col-3">
    </cp-searchbox>

    <div class="col-3">
      <label class="float-left" i18n>{{ 'assessment' | cpI18n }}</label>
      <cp-checkbox
        (toggle)="onAttendanceToggle($event)"
        class="checkbox">
      </cp-checkbox>
    </div>

    <div class="col-3 float-right text-right" *ngIf="canWriteSchoolWide">
      <a
        cpTracker
        [routerLink]="['create']"
        [eventData]="trackEvent(amplitudeEvents.clicked_create)"
        class="cpbtn cpbtn--primary cpbtn--square-right no-right-padding">
        {{ 'services_button_create' | cpI18n }}
      </a>
      <div
        class="cpbtn cpbtn--square-left cpbtn--no-padding cpbtn--primary no-left-padding hover action-dropdown">
        <i class="material-icons" data-toggle="dropdown">expand_more</i>
        <ul class="dropdown-menu dropdown-menu-right text-left action-dropdown-list">
          <li i18n (click)="launchModal()">{{ 'import_from_csv' | cpI18n }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
