<div [ngSwitch]="isFormReady">
  <cp-spinner *ngSwitchCase="false"></cp-spinner>

  <div *ngSwitchCase="true">
    <div class="row">
      <cp-import-top-bar
        [storeId]="storeId"
        [clubId]="clubId"
        [isClub]="isClub"
        [serviceId]="serviceId"
        [isService]="isService"
        [isChecked]="isChecked"
        [isOrientation]="isOrientation"
        (bulkChange)="onBulkChange($event)"
        (checkAll)="onCheckAll($event)"
        (hostChange)="onHostBulkChange($event)"
        (imageChange)="onImageBulkChange($event)"
        [props]="uploadButtonData" >
      </cp-import-top-bar>
    </div>

    <div class="row margin-bottom">
      <div class="col-xs-12">
        <form [formGroup]="form" class="form">
          <div formArrayName="events">
            <div class="row" *ngIf="!form.controls.events.controls.length">
              <div class="col-xs-12">
                <cp-no-content class="no-content" noContentText="No Events to Add..."></cp-no-content>
              </div>
            </div>
            <div
              class="row excel-form"
              *ngFor="let event of form.controls.events.controls; let i=index">
              <div [formGroupName]="i" class="col-xs-12">
                <div class="row form__item">
                  <div [class]="[storeId || clubId || isOrientation ? 'col-xs-5 text-truncate' : 'col-xs-3 text-truncate']">
                    <div class="row margin-top">
                      <div [class]="[storeId || clubId || isOrientation ? 'col-xs-3 no-left-padding' : 'col-xs-4 no-left-padding']">
                        <cp-checkbox
                          class="checkbox float-left"
                          [isChecked]="isSingleChecked[i].checked"
                          (toggle)="onSingleCheck($event, i)">
                        </cp-checkbox>

                        <div class="event__thumbnail">
                          <span
                             class="deleteButton hover"
                             (click)="onRemoveImage(i)"
                             *ngIf="event.controls['poster_url'].value">
                            &times;
                          </span>
                          <cp-upload-button
                            theme="small"
                            [isRequired]="formError && event.controls['poster_url'].hasError('required')"
                            (fileUpload)="onImageUpload($event, i)"
                            *ngIf="!event.controls['poster_url'].value"
                            (click)="resetAllCheckboxes($event, i)">
                          </cp-upload-button>
                          <img
                            class="img-rounded img-fit-cover"
                            *ngIf="event.controls['poster_url'].value"
                            [src]="event.controls['poster_url'].value">
                        </div>
                        </div>

                      <div [class]="[storeId || clubId || isOrientation ? 'col-xs-9 no-left-padding text-truncate' : 'col-xs-8 no-left-padding text-truncate']">
                        <span class="event__title">
                          <strong>{{ event.controls.title.value }}</strong>
                        </span>
                        <br>
                        <span class="event__description">
                          {{ event.controls.description.value }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2" *ngIf="!storeId && !clubId && !isOrientation">
                    <label i18n>{{ 'host' | cpI18n }}</label>
                    <cp-dropdown
                      [selectedItem]="selectedHost[i]"
                      [items]="stores"
                      (selected)="onSingleHostSelected($event, i)"
                      [isRequiredError]="formError && event.controls.store_id.hasError('required')">
                    </cp-dropdown>
                  </div>
                  <div class="col-xs-2">
                    <label i18n>{{ 'assessment' | cpI18n }}</label>
                    <cp-switch
                      [id]="i"
                      [isChecked]="event.controls['event_attendance'].value"
                      (toggle)="toggleSingleEventAttendance($event, i)">
                    </cp-switch>

                  </div>
                  <div
                    class="col-xs-5 no-left-padding" *ngIf="event.controls.event_attendance.value">
                    <div class="row">
                      <div class="col-xs-4 no-left-padding">
                        <label i18n>{{ 'student_feedback' | cpI18n }}</label>
                        <cp-dropdown
                          [selectedItem]="attendanceFeedback[i]"
                          [items]="eventAttendanceFeedback"
                          (selected)="updateAttendanceFeedback($event, i)"
                          [isRequiredError]="formError && event.controls.event_feedback.hasError('required')">
                        </cp-dropdown>
                      </div>
                      <div class="col-xs-4">
                        <label i18n>{{ 'events_event_manager' | cpI18n }}</label>
                        <cp-dropdown
                          [selectedItem]="eventManager[i]"
                          [reset]="resetManagerDropdown$"
                          [items]="event.controls['managers'].value"
                          (selected)="updateEventManager($event, i)"
                          [isRequiredError]="formError && event.controls.event_manager_id.hasError('required')">
                        </cp-dropdown>
                      </div>
                      <div class="col-xs-4">
                        <label i18n>{{ 'events_attendance_manager' | cpI18n }}</label>
                        <input
                          type="email"
                          class="form-control"
                          formControlName="attendance_manager_email">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="footer">
      <div class="cp-wrapper cp-wrapper--outer">
        <div class="row">
          <div class="col-xs-12">
            <div class="float-right">
              <a [routerLink]="[urlPrefix]"
                class="cpbtn cpbtn--cancel" i18n>
                {{ 'cancel' | cpI18n }}
              </a>
              <cp-button
                [props]="buttonData"
                (buttonClick)="onSubmit()">
              </cp-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
