<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span><strong>{{ 't_events_assessment_add_checkin_modal_title' | cpI18n }}</strong></span>

        <button type="button"
                aria-label="close"
                data-dismiss="modal"
                class="float-right hover cpmodal__header__close unstyled-button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-12">
        <cp-check-in-form [form]="form"
                          [data]="data"
                          [isEdit]="true"
                          [isPrivacyOn]="isPrivacyOn"
                          [formErrors]="formErrors">
        </cp-check-in-form>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row justify-content-end">
      <div class="col-12">
        <label class="error"
               *ngIf="formErrors">
          <i class="material-icons">
            warning
          </i>
          {{
            errorMessage
              ? errorMessage
              : cpI18n.translate('t_events_attendance_add_check_in_error_fill_out_all_fields')
          }}
        </label>
      </div>
      <div class="col-12 text-right">
        <button type="button"
                (click)="resetModal()"
                class="cpbtn cpbtn--cancel"
                data-dismiss="modal">
          {{ 'cancel' | cpI18n }}
        </button>

        <cp-button [props]="buttonData"
                   (buttonClick)="onSubmit()"> </cp-button>
      </div>
    </div>
  </div>
</div>
