<div class="row">
  <div class="col-12">
    <cp-deals-action-box
      (search)="onSearch($event)"
      (listAction)="doFilter($event)">
    </cp-deals-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!state.deals.length"
      [noContentText]="cpI18n.translate('deals_no_results_found')">
    </cp-no-content>

    <div *ngIf="state.deals.length">
      <ul class="cp-form">
        <li class="cp-form__header col-12">
          <div class="row">
            <cp-sorting-header
              class="col-8"
              sortLabel="title"
              (click)="doSort('title')"
              [label]="sortingLabels.name"
              [sortField]="state.sort_field"
              [sortDirection]="state.sort_direction">
            </cp-sorting-header>

            <cp-sorting-header
              class="col-3"
              sortLabel="store_name"
              (click)="doSort('store_name')"
              [sortField]="state.sort_field"
              [label]="sortingLabels.store_name"
              [sortDirection]="state.sort_direction">
            </cp-sorting-header>
            <span class="col-1 hover"></span>
          </div>
        </li>

        <li class="cp-form__item col-12" *ngFor="let deal of state.deals;">
          <div class="row">
            <span class="col-8 text-truncate cp-form__thumbnail">
              <img
                *ngIf="deal.image_url"
                [src]="deal.image_url"
                class="rounded img-fit-cover">
              <a
                cpTracker
                [eventData]="eventData"
                [routerLink]="[deal.id+'/info']">
                <strong>
                  {{ deal.title }}
                </strong>
              </a>
              <br>
              {{ deal.description }}
            </span>
            <span class="col-3">
              {{ deal.store_name }}
            </span>
            <span
              (click)="deleteDeal = deal; launchDeleteModal = true"
              data-toggle="modal" data-target="#deleteModal"
              class="col-1 hover text-truncate delete-deal text-center">
              &times;
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal modalId="deleteModal" *ngIf="launchDeleteModal">
  <cp-deals-delete
    [deal]="deleteDeal"
    (deleted)="onDeleted($event)"
    (resetDeleteModal)="launchDeleteModal = false">
  </cp-deals-delete>
</cp-modal>