<div class="d-flex justify-content-center">
  <div class="start-sheet">
    <h1>{{ 'web_form_start_page_intro' | cpI18n }}</h1>
    <div class="row">
      <div *ngIf="webFormData.qr_img_url !== ''" class="col-12 col-sm-5">
        <div class="d-flex justify-content-center align-items-center">
          <div class="qr">
            <h2>{{ 't_shared_app' | cpI18n }} {{ 'qr_code' | cpI18n }}</h2>
            <p>{{ 't_checkin_pdf_scan_qr' | cpI18n }}</p>
            <img class="qr-code-image" [src]="webFormData.qr_img_url" alt="QR Code" />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-7">
        <form [formGroup]="startForm" (ngSubmit)="continue($event)">
          <div class="email">
            <h2>{{ 'email' | cpI18n }}</h2>
            <div class="form-group mb-4">
              <label for="email">{{ 'email' | cpI18n }}</label>
              <input
                id="email"
                type="email"
                formControlName="email"
                class="form-control"
                required
              />
              <div class="error-wrapper">
                <div *ngIf="email.invalid && email.touched">
                  <div *ngIf="email.errors.required" class="error-text">
                    {{ 'web_form_required_field' | cpI18n }}
                  </div>
                  <div *ngIf="email.errors.pattern" class="error-text">
                    {{ 'web_form_email_invalid' | cpI18n }}
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-danger btn-continue">
              {{ 'web_form_continue' | cpI18n }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
