.start-sheet {
  width: 100%;
  max-width: 1043px;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 56px;
  margin-top: 125px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 50px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

label {
  font-weight: 700;
}

.qr {
  text-align: center;
  margin-bottom: 40px;
  .qr-code-image {
    width: 175px;
    height: auto;
  }
}

.error-wrapper {
  height: 20px;
  padding-top: 2px;
  .error-text {
    font-size: 12px;
    color: red;
  }
}

.btn-continue {
  background: #f20000;
  border-radius: 0;
  padding: 11px 31px;
}
