<div class="row form-group">
  <div class="col-12">
    <cp-dropdown
      [items]="resources"
      (selected)="onResourceSelected($event)">
    </cp-dropdown>
  </div>
</div>

<div class="row form-group" *ngIf="resourceSelection === 'store_list'">
  <div class="col-12">
    <label>{{ t_personas_tile_create_label_store_list }}</label>
    <cp-personas-tile-form-stores-list
      (storeListChange)="selected.emit($event)">
    </cp-personas-tile-form-stores-list>
  </div>
</div>

<div 
  class="row form-group" 
  *ngIf="typeSearchComponent.includes(resourceSelection)">
  <div class="col-12">
    <label>{{ 't_personas_tile_modal_create_resource_type' | cpI18n }}</label>
    <cp-personas-forms-type-search
      [resourceId]="resourceSelection"
      (selected)="selected.emit($event)">
    </cp-personas-forms-type-search>
  </div>
</div>

<div class="row" *ngIf="resourceSelection === 'service_by_category_id'">
  <div class="col-12">
    <label>{{ 't_personas_tile_modal_create_categories' | cpI18n }}</label>
    <cp-personas-tile-form-service-by-category 
      (selected)="selected.emit($event)">
    </cp-personas-tile-form-service-by-category>
  </div>
</div>