@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';

.tabs {
  &__nav {
    list-style: none;
    padding-left: 0;
    border-bottom: 1px solid $color-light-grey;
  }

  &__nav_item {
    margin-right: 25px;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 2px solid transparent;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      border-bottom: 2px solid $color-brand;
    }

    button {
      @include font-16px();

      color: $color-grey;
    }
  }

  &__content {
    margin-top: 15px;
  }
}
