<div class="cp-wrapper">
  <div class="row">
    <form [formGroup]="form"
          class="col-8 offset-2 margin-bottom">
      <cp-team-profile-form
        [form]="form"
        [isAllAccessEnabled]="isAllAccessEnabled"
        (toggleAllAccess)="onToggleAllAccess($event)">
      </cp-team-profile-form>

      <cp-team-privileges-form
        [form]="form"
        (formSubmitted)="onSubmit($event)"
        [schoolPrivileges]="schoolPrivileges"
        [accountPrivileges]="accountPrivileges"
        [isAllAccessEnabled]="isAllAccessEnabled">
      </cp-team-privileges-form>

    </form>
  </div>
</div>