<div class="chart cp-card">
  <div class="row">
    <div class="col-4 d-flex">
      <span class="chart--title">
        {{ 'qr_code' | cpI18n }}
      </span>
      <button ui-button
                variant="inline"
                type="button"
                class="unstyled-button download-file ml-2"
                (click)="downloadProvidersCSV()"
                [disabled]="downloading"
                >
        <ready-ui-stack>
            <ready-ui-icon *ngIf="!downloading" name="vertical_align_bottom"></ready-ui-icon>
            <ready-ui-icon *ngIf="downloading" name="vertical_align_bottom_disabled"></ready-ui-icon>
        </ready-ui-stack>
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-2">
      <button
          ui-button
          type="button"
          variant="flat"
          color="secondary"
          class="action-button"
          ready-ui-menu-trigger
          [triggerFor]="qrcodes"
      >
          {{ 'all_qr_codes' | cpI18n }}
        <ready-ui-icon name="keyboard_arrow_down"></ready-ui-icon>
      </button>
    </div>
  </div>
  <div [ngSwitch]="loading">
    <cp-spinner *ngSwitchCase="true"></cp-spinner>
    <div *ngSwitchCase="false">
      <div class="row mt-2">
          <div class="col-6 d-flex flex-column">
            <cp-health-dashboard-location-visits [locationVisits]="locationVisits"></cp-health-dashboard-location-visits>
            <cp-health-dashboard-location-view-graph class="flex-grow-1" [chartData]="locationChartData"></cp-health-dashboard-location-view-graph>
          </div>
          <div class="col-6 chart-wrapper">
            <cp-spinner *ngIf="trafficLoading" class="spinner"></cp-spinner>
            <cp-health-dashboard-traffic-location [locationTraffics]="locationTraffics"
                                                  (selectedSort)="onSelectSortBy($event)"
            ></cp-health-dashboard-traffic-location>
          </div>
      </div>
    </div>
  </div>
</div>

<ready-ui-menu #qrcodes="menu"
                maxHeight="20em">
  <ready-ui-menu-search (search)="qrCodeSearchTermStream.next($event)"
                        [placeholder]="'t_walls_search_placeholder' | cpI18n">
  </ready-ui-menu-search>
  <ng-container
              *ngIf="selectedQrCode.length && !isQrCodeSearching">
    <ready-ui-menu-section [headerTpl]="headerTpl"
                          class="custom-section-header">
      <ready-ui-menu-item *ngFor="let qrCode of selectedQrCode">
        <ready-ui-stack>
          <ready-ui-checkbox checked="true"
                            [context]="{qr: qrCode}"
                            (changed)="handleForm(form) ">
          </ready-ui-checkbox>
          {{ qrCode.provider_name }}
        </ready-ui-stack>
      </ready-ui-menu-item>
      <ready-ui-menu-divider></ready-ui-menu-divider>
    </ready-ui-menu-section>
  </ng-container>

  <ready-ui-menu-item *ngFor="let qrCode of qrCodeData">
    <ready-ui-stack>
      <ready-ui-checkbox
                [context]="{qr: qrCode}"
                (changed)="handleQrCode(qrCode)"
                [checked]="this.selectedQrCode.includes(qrCode)"
                [disabled]="false">
      </ready-ui-checkbox>
      {{ qrCode.provider_name }}
    </ready-ui-stack>
  </ready-ui-menu-item>

  <ready-ui-menu-item *ngIf="!qrCodeData.length">
  {{ 'contact_trace_no_qr_found' | cpI18n }}
  </ready-ui-menu-item>

  <ready-ui-menu-item class="load-more"
          *ngIf="qrCodeHasMorePages">
    <button ui-button
            type="button"
            variant="inline"
            fullWidth="true"
            (click)="qrCodeLoadMoreClickHandler()">
    <ui-text-style color="muted">{{ 't_load_more' | cpI18n }}
    </ui-text-style>
    </button>
  </ready-ui-menu-item>
</ready-ui-menu>

<ng-template #headerTpl>
  <ready-ui-stack *ngIf="selectedQrCode.length > 0" alignment="between">
    <ready-ui-stack spacing="tight">
      <ui-text-style variant="semibold">{{'t_shared_selection' | cpI18n}}
      </ui-text-style>
    </ready-ui-stack>
    <button ui-button
            type="button"
            variant="inline"
            (click)="handleClearSelectedQrCode()">
      {{ 't_shared_clear' | cpI18n }}
    </button>
  </ready-ui-stack>
</ng-template>

<ng-template #activeItem>
  <ready-ui-menu-dot></ready-ui-menu-dot>
</ng-template>

