<div class="feed__meta">
  <ready-ui-avatar round
                   [src]="feed.avatar_thumb"
                   [alt]="feed.display_name"></ready-ui-avatar>
  <div class="feed__details">
    <header>
      <ready-ui-icon size="small"
                     color="212121"
                     name="volume_off"
                     *ngIf="muted$ | async"
                     aria-label="Student is Muted"></ready-ui-icon>
      <span class="name"
            [innerHTML]="feed.display_name | cpUrlify"></span>
      <span class="email"
            *ngIf="feed.email && feed.email !== ''">
        {{ emailTextContent }}</span>
      <ng-container *ngIf="postCategoryName$ | async as postCategoryName">
        <ng-container *ngIf="isComment && mode === 'search'">
          <span class="text-muted">
            {{ 't_feeds_commented_in' | cpI18n }}
          </span>
          <span class="cpbtn cpbtn--link"
                (click)="loadCategory(feed)">
            {{ postCategoryName }}
          </span>
        </ng-container>
        <ng-container *ngIf="!isComment">
          <span class="text-muted">
            {{ 'feeds_posted_in' | cpI18n }}
          </span>
          <span class="cpbtn cpbtn--link"
                (click)="loadCategory(feed)">
            {{ postCategoryName }}
          </span>
        </ng-container>

      </ng-container>
    </header>
    <footer>
      <span class="text-muted">
        {{ feed.added_time | cpDatePipe: FORMAT }}
      </span>
    </footer>
  </div>
</div>