@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/button';

.cp-feed-header {
  ready-ui-avatar {
    margin-right: 0.5em;
  }
  .feed__meta {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .name {
    @include font-semi-bold();

    margin-left: 0.25em;
  }

  em {
    color: white;
    padding: 0px 4px;
    border-radius: 3px;
    font-style: normal;
    background: $color-brand;
  }
}
