<ng-container *ngIf="view$ | async as view">

  <ng-container [ngSwitch]="view.loading">
    <cp-one-column width="third">
      <cp-feed-search [groupId]="groupId"
                      [groupType]="groupType"
                      [filterParams]="filterParams"
                      (feedSearch)="searchHandler($event)"
                      (downloading)="onDownloadReport($event)"
                      [isCampusWallView]="state.isCampusThread"
                      [hideIntegrations]="hideIntegrations"></cp-feed-search>
      <div class="row justify-content-around">
        <div class="col-12">
          <ng-container *ngIf="downloadingReport">
            <div class="downloading">
              <cp-spinner></cp-spinner>
              <h2>{{ 't_data_export_waiting_title' | cpI18n }}</h2>
              <p>{{ 't_data_export_waiting_message' | cpI18n }}</p>
            </div>
          </ng-container>

          <ng-container *ngIf="!downloadingReport">
            <cp-feed-input-box></cp-feed-input-box>

            <cp-spinner *ngSwitchCase="true"></cp-spinner>

            <ng-container *ngSwitchCase="false">
              <ng-container *ngFor="let feed of view.results; trackBy: trackById">

                <cp-feed-item [feed]="feed"
                              [groupId]="groupId"
                              [groupType]="groupType"
                              [isCampusWallView]="isCampusWallView$"
                              (filterByCategory)="onFilterByCategory($event)"
                              *ngIf="!feed.campus_thread_id && !feed.group_thread_id">
                </cp-feed-item>
                <cp-feed-comment [comment]="feed"
                                 [replyView]="[true]"
                                 showParentThread="true"
                                 [isCampusWallView]="isCampusWallView$"
                                 *ngIf="!!feed.campus_thread_id || !!feed.group_thread_id">
                </cp-feed-comment>
              </ng-container>


              <cp-no-content class="no-content"
                             *ngIf="!view.results.length"
                             [noContentText]="'t_walls_no_results' | cpI18n">
              </cp-no-content>

              <div class="row">
                <div class="col-12">
                  <cp-pagination [pageNext]="pageNext"
                                 [pagePrev]="pagePrev"
                                 [pageNumber]="pageNumber"
                                 (next)="onPaginationNext()"
                                 (previous)="onPaginationPrevious()">
                  </cp-pagination>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </cp-one-column>
  </ng-container>
</ng-container>
