@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/components/card';

.no-content {
  @include card-margin();
}

.page {
  display: flex;

  &__sticky__wrapper {
    top: 15px;
    position: sticky;
  }

  &__sidebar {
    width: 250px;
    margin-right: 40px;
  }

  &__content {
    width: 715px;
  }

  &__sorting {
    display: block;
    padding-top: 1em;
    text-align: right;
    padding-bottom: 1em;
    margin-bottom: -#{$default_margin};

    cp-feed-sorting {
      display: block;
    }
  }
}


cp-feed-search {
  display: block;
  margin-bottom: $default_margin;
}

cp-feed-comment {
  @include card-shadow();

  border-radius: 4px;
  padding-bottom: 10px;
  border-radius: 0 0 4px 4px;
  background: $color-text-alt;
  padding-left: $default_padding;
  padding-right: $default_padding;
  border: 1px solid rgba(122, 136, 163, 0.2);
}

cp-feed-item,
cp-feed-comment {
  display: block;

  &:not(:last-child) {
    @include card-margin();
  }
}