<ng-container *ngIf="view$ | async as view">

  <ng-container [ngSwitch]="view.loading">
    <div class="page">
      <div class="page__sidebar">
        <div class="page__sticky__wrapper">
          <cp-feed-host-selector [host]="view.host"
                                 [socialGroup]="view.socialGroup">
          </cp-feed-host-selector>
        </div>
      </div>
      <div class="page__content">
        <cp-feed-search [groupId]="groupId"
                        [groupType]="groupType"
                        (feedSearch)="searchHandler($event, true)"
                        [hideIntegrations]="hideIntegrations"></cp-feed-search>

        <cp-feed-input-box *ngIf="(view.host || view.socialGroup) && !view.readOnly">
        </cp-feed-input-box>

        <cp-spinner *ngSwitchCase="true"></cp-spinner>

        <ng-container *ngSwitchCase="false">
          <div class="page__sorting"
               *ngIf="view.searching">
            <cp-feed-sorting [sortingBy]="state.orderBy"
                             (change)="sortingHandler($event)">
            </cp-feed-sorting>
          </div>

          <ng-container *ngFor="let feed of view.results; trackBy: trackById">
            <cp-feed-item [mode]="view.state"
                          [isCampusWallView]="isCampusWallView$"
                          (filterByCategory)="onFilterByCategory($event)"
                          [readOnlyMode]="!view.host && !view.socialGroup"
                          [feed]="!!feed.campus_thread_id || !!feed.group_thread_id ? undefined : feed"
                          [comment]="!feed.campus_thread_id || !feed.group_thread_id ? feed : undefined">
            </cp-feed-item>
          </ng-container>


          <cp-no-content class="no-content"
                         *ngIf="!view.results.length"
                         [noContentText]="'t_walls_no_results' | cpI18n">
          </cp-no-content>

          <div class="row">
            <div class="col-12">
              <cp-pagination [pageNext]="pageNext"
                             [pagePrev]="pagePrev"
                             [pageNumber]="pageNumber"
                             (next)="onPaginationNext()"
                             (previous)="onPaginationPrevious()">
              </cp-pagination>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
