@import '~projects/campus-cloud/style/components/modal';
@import '~projects/campus-cloud/style/components/button';

button i {
  font-size: 18px;
  margin-top: 2px;
  vertical-align: bottom;
}

label.error {
  margin-right: 10px;
  display: inline-block;
}
