<div class="row">
  <div class="event">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="event__header">
            <span i18n>Are you sure?</span>
            <span class="pull-right" (click)="close()">&#10006;</span>
          </div>
        </div>
      </div>

      <div class="row">
        <p i18n>Are you sure you want to delete {{ name }}?</p>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="event__footer">
            <div class="col-xs-4 col-xs-offset-4">
              <button type="button" i18n>Cancel</button>
            </div>
            <div class="col-xs-4">
              <button type="button" i18n>Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>