<div class="row">
  <div class="col-xs-12">
    <cp-list-action-box
      (listAction)="doFilter($event)">
    </cp-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>
  <div *ngSwitchCase="false">
    <cp-list-past
      [events]="events"
      *ngIf="!isUpcoming"
      (deleteEvent)="onDeleteEvent($event)">
    </cp-list-past>

    <cp-list-upcoming
      [events]="events"
      *ngIf="isUpcoming"
      (sortList)="onSortList($event)"
      (deleteEvent)="onDeleteEvent($event)">
    </cp-list-upcoming>
  </div>
</div>

<cp-modal modalId="deleteEventsModal">
  <cp-events-delete [event]="deleteEvent"></cp-events-delete>
</cp-modal>

<cp-modal modalId="excelEventsModal">
  <cp-events-excel-modal></cp-events-excel-modal>
</cp-modal>
