<div class="row">
  <div class="col-xs-12 header">
    <p i18n>
      To import events from Facebook pages, input the link to the page\'s
      event list eg. https://www.facebook.com/oohlala/events
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="cp-card">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
          <label i18n>Facebook Event Link</label>
          <div class="row">
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="link"
                    placeholder="https://www.facebook.com/oohlala/events">
                </div>
                <div class="col-xs-4">
                  <button
                    type="submit"
                    class="cpbtn cpbtn--secondary text-right" i18n>
                    Add Link
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>