<div class="row">
  <div class="col-xs-5 header">
    <p i18n>
      To import events from Facebook pages, input the link to the page's
      event list eg. https://www.facebook.com/oohlala/events
    </p>
  </div>
</div>

<div class="row margin-bottom">
  <div class="col-xs-12">
    <form [formGroup]="form">
      <div class="form-group" formArrayName="links">
        <div
          class="link-group"
          *ngFor="let link of form.controls.links.controls; let i = index">
          <div [formGroupName]="i">
            <div class="border-top">
              <div class="row">
                <div class="col-xs-12 col-md-3">
                  <label i18n>Facebook Event Link</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="link"
                    placeholder="https://www.facebook.com/oohlala/events">
                </div>
                <div class="col-sm-6 col-md-2">
                  <label i18n>Host</label>
                  <select formControlName="store_id">
                    <option value="">Host Name</option>
                    <option value="1">John Smith</option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-2">
                  <label>&nbsp;</label>
                  <button
                    type="button"
                    (click)="doSinglePost(i)"
                    [disabled]="!link.controls['link'].valid"
                    class="cpbtn cpbtn--primary text-right" i18n>
                    Add Link
                  </button>
                </div>
                <div class="col-xs-2 pull-right">
                  <div
                    (click)="onDeleteControl(i)"
                    class="delete hover text-right">
                    &times;
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="pull-right">
                <button
                  i18n
                  type="button"
                  class="cpbtn cpbtn--tall cpbtn--cancel submit">
                  Cancel
                </button>
                <button
                  i18n
                  type="submit"
                  class="cpbtn cpbtn--tall cpbtn--primary submit">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>

<!--<div class="row" *ngIf="form.controls.links.length > 1">
  <div class="col-xs-12">
    <button
      i18n
      type="button"
      (click)="doSubmit()"
      class="cpbtn cpbtn--primary submit pull-right">
      <span>&#10227;</span>Sync Facebook Events
    </button>
  </div>
</div>-->


