@import '~styles/components/form';
@import '~styles/components/card';
@import '~styles/components/button';

@import '~styles/core/typography';

.header {
  p {
    @include font-bold();

    margin-bottom: 30px;
  }
}

.form-group {
  margin-bottom: 0;

  .link-group {
    padding-bottom: 35px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}


button.submit {
  margin-top: 25px;

  span {
    margin-right: 8px;
    display: inline-block;
  }
}

.switch {
  margin-top: 6px;
  display: inline-block;
}

.delete {
  line-height: 1;
  font-size: 2em;
  margin-top: 15px;
}