@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/components/button';

.text-area-control {
  margin-top: 10px;
}

textarea.input-title {
  min-height: 36px;
  resize: none;
  overflow: hidden;
  line-height: 28px;
  padding-top: 2px;
}
