<div class="cp-wrapper cp-wrapper--outer">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-12">
          <div class="header">
            <p class="title">{{ 'auth_reset_password' | cpI18n }}</p>
          </div>
        </div>
      </div>
      <div class="row"
           *ngIf="isSubmitted">
        <div class="col-12">
          <p>{{ 'password_reset_success' | cpI18n }}</p>
        </div>
      </div>

      <div class="row"
           *ngIf="!isSubmitted">
        <div class="col-12">
          <p>
            {{ 'password_requirements_length' | cpI18n }} <br />
            {{ 'password_requirements_special_char' | cpI18n }}
          </p>

          <form [formGroup]="form"
                (ngSubmit)="onSubmit(form.value)">
            <div class="form-group">
              <label for="new_password">{{ 'new_password' | cpI18n }}</label>
              <input id="new_password"
                     autofocus
                     type="password"
                     formControlName="new_password" />
            </div>

            <div class="form-group">
              <label
                     for="confirmPassword">{{ 'confirm_password' | cpI18n }}</label>
              <input id="confirmPassword"
                     type="password"
                     formControlName="confirmPassword" />
            </div>

            <div class="row">
              <div class="col-12">
                <button type="submit"
                        class="cpbtn cpbtn--primary">
                  {{ 'auth_reset_password' | cpI18n }}
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <cp-alert></cp-alert>
              </div>
            </div>
          </form>

          <div class="row text-center footer">
            <div class="col-4 offset-4">
              <div class="row">
                <div class="col-12">
                  <a [routerLink]="['/login']">{{ 'login' | cpI18n }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>