@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/core/colors';

h3 {
  @include font-24px();
  @include font-bold();
}

.sortby_label {
  margin-top: auto;
  margin-bottom: auto;
}

.dashboard-table {
  height: 373px;
  margin-top: 20px;

  .traffic-content {
    text-align: center;
  }

  p {
    margin-bottom: 0;

    &.semi-bold {
      @include font-semi-bold();
    }
  }

  &--no-results {
    @include font-16px();
    @include font-semi-bold();

    margin-top: 180px;
  }

  &--header {
    padding: 16px 0;
    p {
      color: $color-secondary-text;
    }
  }

  &--item {
    padding: 10px 0;
    border-top: 1px solid $border-color;

    p {
      top: 12px;
      position: relative;
    }

    p.ranking {
      color: $color-secondary-text;
    }

    img.avatar {
      float: left;
      width: 38px;
      height: 38px;
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}
