<ng-container>
  <div class="row">
    <div class="col-6">
      <h3>{{ 'contact_trace_location_top_traffic' | cpI18n }}</h3>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4 text-right sortby_label">
          <label> {{ 'assess_sort_by' | cpI18n }}</label>
        </div>
        <div class="col-8">
          <cp-dropdown class="topbar--dropdown"
            [items]="sortBy"
            (selected)="onSortBySelected($event)">
          </cp-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="row dashboard-table">
    <div class="col-12">
      <ng-container *ngIf="!locationTraffics.length">
        <p class="dashboard-table--no-results text-center">
          {{ 'dashboard_no_data_found' | cpI18n }}
        </p>
      </ng-container>
      <ng-container *ngIf="locationTraffics.length">
        <div class="row dashboard-table--header">
          <div class="col-1">
            <p>#</p>
          </div>
          <div class="col-5 no-left-padding">
            <p>{{ 'location' | cpI18n }}</p>
          </div>
          <div class="col-2 no-left-padding traffic-content">
            <p>{{ 'contact_trace_location_traffic' | cpI18n }}</p>
          </div>
          <div class="col-3 no-right-padding traffic-content">
            <p>{{ 'contact_trace_location_peak_traffic' | cpI18n }}</p>
          </div>
        </div>
        <div class="row"
             *ngFor="let item of locationTraffics; index as index; last as last">
          <div class="col-12">
            <div class="dashboard-table--item"
                 [class.isLast]="last">
              <div class="row">
                <div class="col-1 no-right-padding">
                  {{ index + 1 }}
                </div>
                <div class="col-5 no-left-padding text-truncate">
                  {{ item.provider_name }}
                </div>
                <div class="col-2 no-left-padding traffic-content">
                  {{ item.total_visits }}
                </div>
                <div class="col-3 no-right-padding traffic-content">
                  {{ item.peak_hourly_visits }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
