<cp-personas-tile-base #base>
  <ng-container [ngSwitch]="state.working">
    <ng-container *ngSwitchCase="true">
      <div class="row"
           [ngStyle]="{ height: base.tileHeight + 'px' }">
        <div
             class="col-12 h-100 d-flex align-items-center justify-content-center">
          <cp-working></cp-working>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="false">
      <div class="wrapper"
           [ngStyle]="{ height: base.tileHeight + 2 + 'px' }">
        <div class="wrapper__default row h-100">
          <div class="col-12 h-100">
            <cp-personas-tile-content [name]="tile.name"
                                      [color]="tile.color"
                                      [image]="tile.img_url"
                                      [visible]="utils.isTileVisible(tile)">
            </cp-personas-tile-content>
          </div>
        </div>
        <div class="wrapper__on_hover row h-100">
          <div class="col-12 h-100">
            <cp-personas-tile-hover (editClick)="edit.emit()"
                                    (toggleVisibility)="onToggleTile()"
                                    [visible]="utils.isTileVisible(tile)"
                                    (deleteClick)="deleteClick.emit(tile)"
                                    [defaultTile]="utils.isTileDefault(tile)">
            </cp-personas-tile-hover>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</cp-personas-tile-base>