@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';

.page-container {
  width: 755px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 90px;

  hr {
    width: calc(100% - 32px);
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin-left: 16px;
  }

  h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
  }

  p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
  }

  textarea {
    resize: none;
  }
}


.container {
  padding-right: 17px !important;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  background: $color-white;
  border-top: 1px solid $border-color;

  .action-button {
    &:first-child {
      margin-left: calc(50% - 375px);
    }

    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
