<div class="row">
  <div class="col-12">
    <p>
      {{ 'csv_modal_body' | cpI18n }}
      <a [href]="props.templateUrl"
         download
         class="cpbtn cpbtn--link">
        {{ 'csv_modal_anchor_text' | cpI18n }}
      </a>
    </p>

    <small>{{ (instruction ? instruction : 'csv_modal_instruction') | cpI18n }}</small>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="dropzone"
         [class.isError]="state.error">
      <input id="file"
             type="file"
             name="file"
             class="dropzone__input"
             (change)="onChange($event)" />
      <label for="file"
             class="dropzone__label"
             *ngIf="!state.processing">
        <i class="material-icons">cloud_upload</i>
        <span *ngIf="!state.error">
          {{ state.fileName ? state.fileName : cpI18n.translate('csv_modal_button_text') }}
        </span>

        <span *ngIf="state.error">{{ state.errorMessage }}</span>
      </label>

      <label for="file"
             class="dropzone__label"
             *ngIf="state.processing">
        <i class="material-icons loading">refresh</i>
        <span>{{ 'uploading' | cpI18n }}....</span>
      </label>
    </div>
  </div>
</div>
