<div class="margin-bottom">
  <cp-two-columns>
    <cp-card layout-left-column>
      <cp-services-form
        [form]="form"
        [formError]="formError"
        (addedImage)="addedImage=true"
        (amplitudeProperties)="onSelectProperties($event)">
      </cp-services-form>
    </cp-card>

    <cp-card layout-right-column>
      <cp-services-assessment-form
        [form]="form">
      </cp-services-assessment-form>
    </cp-card>
  </cp-two-columns>
</div>

<div class="form-footer">
  <div class="cp-wrapper cp-wrapper--outer">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="text-right">
            <a [routerLink]="['/manage/services']"
               class="cpbtn cpbtn--cancel">
              {{ 'cancel' | cpI18n }}
            </a>

            <cp-button [props]="buttonData"
                       (buttonClick)="onSubmit()"></cp-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
