<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="cp-card page">
      <div class="row">
        <div class="col-xs-12">
          <p class="page__title" i18n>Welcome to your new Campus Cloud!</p>

          <br>

          <p>We're excited for you to start using the new Campus Cloud and we'd
            love to get your feedback to help us futher improve your experience.</p>

          <br>

          <p>To leave your feedback, you can use the chat box at the bottom right of your screen.
            Or book a time via this <a href="calendly.com/oohlala/30min">link</a> to schedule a call
            where we can learn more about your experience.</p>

          <br>

          <p>Your feedback will help us make Campus Cloud even more useful and amazing for everyone. 😀</p>

          <br>

          <p>Thanks from your friends at OOHLALA</p>

          <br>

          <p>PS" A few good things to keep in mind when leaving feedback:</p>

          <br>

          <ul>
            <li>Try to describe the steps you took that caused the issue, if applicable.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>