<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="cp-card page">
      <div class="row">
        <div class="col-xs-12">
          <p class="page__title" i18n>Welcome to your new Campus Cloud!</p>

          <br>

          <p>We're excited to announce the launch of the Campus Cloud 2.0 for administrators today
            - a faster, streamlined and more insightful dashboard for managing student engagement.</p>

          <br>

          <p>You'll see a notificaiton when you log in to your Campus Cloud that will take you to your new Campus Cloud
            - or you can go right there from this link.</p>

          <br>

          <p>We're excited for you to start using the new Campus Cloud and
            we'd love to get your feedback to help us futher improve your experience.</p>

          <br>

          <p>To leave your feedback, you can use the chat box at the bottom right of your screen. Or book a time via this
            <a href="http://calendly.com/oohlala/30min" target="_blank">link</a> to schedule a call where we can learn more
            about your experience.</p>

          <br>

          <p>Your feedback will help us make Campus Cloud even more useful and amazing for everyone.</p>

          <br>

          <p>Thanks from your friends at OOHLALA</p>

        </div>
      </div>
    </div>
  </div>
</div>