<div class="demo-assess">
  <section class="demo-assess--hero">
    <div class="cp-wrapper cp-wrapper--outer">
      <div class="demo-assess--hero--wrapper">
        <div class="row">
          <div class="col-xs-7">
            <p class="heading" i18n>
              Measure Your Outside of Classroom Engagement
            </p>
            <p class="sub-heading">
              OOHLALA Assessment Tools enable you to measure
              and assess student activity outside of the classroom
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <button class="cpbtn cpbtn--primary" i18n>
              Schedule a Demo now
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="cp-wrapper cp-wrapper--outer">
    <section class="demo-assess--features">
      <div class="row demo-assess--features--top">
        <div class="col-xs-6 demo-assess--features--feature">
          <div class="row">
            <div class="col-xs-3 demo-assess--features--image text-center">
              <img src="/png/request-demo/assess/ic_track.png" alt="Track Student Attendance">
            </div>
            <div class="col-xs-8 demo-assess--features--copy no-left-padding">
              <p class="heading" i18n>Track Student Attendance</p>
              <p i18n>
                Track student attendance at campus events and
                service without any additional hardware
              </p>
            </div>
          </div>
        </div>


        <div class="col-xs-6 demo-assess--features--feature">
          <div class="row">
            <div class="col-xs-3 demo-assess--features--image text-center">
              <img src="/png/request-demo/assess/ic_assess.png" alt="Assess Your Programs">
            </div>
            <div class="col-xs-8 demo-assess--features--copy no-left-padding">
              <p class="heading" i18n>Assess Your Programs</p>
              <p i18n>
                Get real-time feedback from your students
                on how to improve your programs
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row demo-assess--features--bottom">
        <div class="col-xs-6 demo-assess--features--feature">
          <div class="row">
            <div class="col-xs-3 demo-assess--features--image text-center">
              <img src="/png/request-demo/assess/ic_get.png" alt="Get Actionable Insights on Student Engagement">
            </div>
            <div class="col-xs-8 demo-assess--features--copy no-left-padding">
              <p class="heading" i18n>Get Actionable Insights on Student Engagement</p>
              <p i18n>
                Get insights on how students are engaged with events,
                co-curricular programming, and campus services
              </p>
            </div>
          </div>
        </div>


        <div class="col-xs-6 demo-assess--features--feature">
          <div class="row">
            <div class="col-xs-3 demo-assess--features--image text-center">
              <img src="/png/request-demo/assess/ic_identify.png" alt="Identify and Communicate with Students Directly">
            </div>
            <div class="col-xs-8 demo-assess--features--copy no-left-padding">
              <p class="heading" i18n>Identify and Communicate with Students Directly</p>
              <p i18n>
                Identify engaged and disengaged students and
                communicate with them directly
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="demo-assess--cta">
      <div class="row">
        <div class="col-xs-12 text-center">
          <p i18n>
            Speak to your Customer Success Manager<br>
            to set up OOHLALA Assessment on your campus
          </p>

          <button class="cpbtn cpbtn--primary" i18n>
            Schedule a Demo now
          </button>
        </div>
      </div>
    </section>
  </div>
</div>