<div class="demo-assess">
  <section
    class="demo-assess--hero"
    [ngStyle]="{'background': 'linear-gradient(to bottom, #1f2532 55px, transparent), url(' + [bgImage] + ') right 0px no-repeat'}">

    <div class="cp-wrapper cp-wrapper--outer">
      <div class="demo-assess--hero--wrapper">
        <div class="row">
          <div class="col-8">
            <p class="heading">
              {{ 'assess_demo_hero_title' | cpI18n }}
            </p>
            <p class="sub-heading">
              {{ 'assess_demo_hero_description' | cpI18n }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <a [attr.href]="mailTo" class="cpbtn cpbtn--primary">
              {{ 'assess_demo_hero_cta' | cpI18n }}
            </a>
            <small>{{ 'assess_demo_hero_cta_help' | cpI18n }}</small>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="cp-wrapper cp-wrapper--outer">
    <section class="demo-assess--features">
      <div class="row demo-assess--features--top">
        <div class="col-6 demo-assess--features--feature">
          <div class="row">
            <div class="col-3 demo-assess--features--image text-center">
              <img [src]="trackImage" alt="Track Student Attendance">
            </div>
            <div class="col-8 demo-assess--features--copy no-left-padding">
              <p class="heading">{{ 'assess_demo_feature_one_title' | cpI18n }}</p>
              <p>
                {{ 'assess_demo_feature_one_description' | cpI18n }}
              </p>
            </div>
          </div>
        </div>


        <div class="col-6 demo-assess--features--feature">
          <div class="row">
            <div class="col-3 demo-assess--features--image text-center">
              <img [src]="assessImage" alt="Assess Your Programs">
            </div>
            <div class="col-8 demo-assess--features--copy no-left-padding">
              <p class="heading">{{ 'assess_demo_feature_two_title' | cpI18n }}</p>
              <p>
                {{ 'assess_demo_feature_two_description' | cpI18n }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row demo-assess--features--bottom">
        <div class="col-6 demo-assess--features--feature">
          <div class="row">
            <div class="col-3 demo-assess--features--image text-center">
              <img [src]="insightImage" alt="Get Actionable Insights on Student Engagement">
            </div>
            <div class="col-8 demo-assess--features--copy no-left-padding">
              <p class="heading">{{ 'assess_demo_feature_three_title' | cpI18n }}</p>
              <p>
                {{ 'assess_demo_feature_three_description' | cpI18n }}
              </p>
            </div>
          </div>
        </div>


        <div class="col-6 demo-assess--features--feature">
          <div class="row">
            <div class="col-3 demo-assess--features--image text-center">
              <img [src]="identifyImage" alt="Identify and Communicate with Students Directly">
            </div>
            <div class="col-8 demo-assess--features--copy no-left-padding">
              <p class="heading">{{ 'assess_demo_feature_four_title' | cpI18n }}</p>
              <p>
                {{ 'assess_demo_feature_four_description' | cpI18n }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="demo-assess--cta">
      <div class="row">
        <div class="col-12 text-center">
          <p>
            {{ 'assess_demo_footer_top' | cpI18n }}<br>
            {{ 'assess_demo_footer_bottom' | cpI18n }}
          </p>

          <a [attr.href]="mailTo" class="cpbtn cpbtn--primary">
            {{ 'assess_demo_footer_cta' | cpI18n }}
          </a>
        </div>
      </div>
    </section>
  </div>
</div>