<div class="demo-assess">
  <section
    class="demo-assess--hero"
    [ngStyle]="{'background': 'linear-gradient(to bottom, #1f2532 55px, transparent), url(' + [bgImage] + ') right 0px no-repeat'}">

    <div class="cp-wrapper cp-wrapper--outer">
      <div class="demo-assess--hero--wrapper">
        <div class="row">
          <div class="col-xs-8">
            <p class="heading" i18n>
              Measure Student Engagement
              Anywhere on Campus
            </p>
            <p class="sub-heading">
              OOHLALA Assessment Tools enable you to measure
              and assess student activity outside of the classroom
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <a [attr.href]="mailTo" target="_blank" class="cpbtn cpbtn--primary" i18n>
              Schedule a Demo Today!
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="cp-wrapper cp-wrapper--outer">
    <section class="demo-assess--features">
      <div class="row demo-assess--features--top">
        <div class="col-xs-6 demo-assess--features--feature">
          <div class="row">
            <div class="col-xs-3 demo-assess--features--image text-center">
              <img [src]="trackImage" alt="Track Student Attendance">
            </div>
            <div class="col-xs-8 demo-assess--features--copy no-left-padding">
              <p class="heading" i18n>Communicate with Students</p>
              <p i18n>
                Conveniently track student attendance at campus events
                and services without any additional hardware or software.
              </p>
            </div>
          </div>
        </div>


        <div class="col-xs-6 demo-assess--features--feature">
          <div class="row">
            <div class="col-xs-3 demo-assess--features--image text-center">
              <img [src]="assessImage" alt="Assess Your Programs">
            </div>
            <div class="col-xs-8 demo-assess--features--copy no-left-padding">
              <p class="heading" i18n>Attendance Tracking</p>
              <p i18n>
                Get real-time feedback and input from your students on programs,
                including answers to custom questions for any events or services.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row demo-assess--features--bottom">
        <div class="col-xs-6 demo-assess--features--feature">
          <div class="row">
            <div class="col-xs-3 demo-assess--features--image text-center">
              <img [src]="insightImage" alt="Get Actionable Insights on Student Engagement">
            </div>
            <div class="col-xs-8 demo-assess--features--copy no-left-padding">
              <p class="heading" i18n>Actionable Insights</p>
              <p i18n>
                Positive student engagement is the key to success.
                Get detailed insights on how students engaged and interacted with events or services.
              </p>
            </div>
          </div>
        </div>


        <div class="col-xs-6 demo-assess--features--feature">
          <div class="row">
            <div class="col-xs-3 demo-assess--features--image text-center">
              <img [src]="identifyImage" alt="Identify and Communicate with Students Directly">
            </div>
            <div class="col-xs-8 demo-assess--features--copy no-left-padding">
              <p class="heading" i18n>Identify and Communicate</p>
              <p i18n>
                Assessment enables you to easily identify which students
                are disengaged and send them targeted communications via the mobile app.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="demo-assess--cta">
      <div class="row">
        <div class="col-xs-12 text-center">
          <p i18n>
            Speak to your Customer Success Manager<br>
            to set up OOHLALA Assessment on your campus
          </p>

          <a [attr.href]="mailTo" target="_blank" class="cpbtn cpbtn--primary" i18n>
            Get Started Today
          </a>
        </div>
      </div>
    </section>
  </div>
</div>