<div *ngIf="errorMessage" class="errorMessage">{{ errorMessage }}</div>
<div *ngIf="webFormData">
  <div *ngIf="formBlockId === 'start'; else formBlock">
    <app-web-form-start [webFormData]="webFormData"></app-web-form-start>
  </div>
  <ng-template #formBlock>
    <div *ngIf="currentFormBlock; else loading">
      <app-form-block
        [webFormData]="webFormData"
        [currentFormBlock]="currentFormBlock"
      ></app-form-block>
      <ng-template #loading>
        <cp-spinner></cp-spinner>
      </ng-template>
    </div>
  </ng-template>
</div>
