<form [formGroup]="form">
  <div class="col">
    <div class="row">
      <div class="col-12">
        <p class="title">{{ 'events_event_banner' | cpI18n }}</p>
        <div class="margin-top">
          <cp-image-upload (uploaded)="onUploadedImage($event)"
                           [defaultImage]="form.controls['poster_url'].value"
                           [required]="formError && form.get('poster_url').invalid">
          </cp-image-upload>
        </div>
      </div>
    </div>

    <div class="row event-details">
      <div class="col-12">
        <p class="title">{{ 'events_event_details' | cpI18n }}</p>
        <div class="form-group margin-top">
          <label id="title">{{ 'events_event_name' | cpI18n }}</label>
          <input for="title"
                 type="text"
                 class="form-control"
                 formControlName="title"
                 [class.error]="formError && form.get('title').invalid"/>
        </div>

        <div class="row form-group"
             *ngIf="!isClub && !isService && !isOrientation">
          <div class="col-12">
            <label>{{ 'select_host' | cpI18n }}</label>
            <cp-dropdown [items]="stores"
                         [selectedItem]="selectedHost"
                         (selected)="onSelectedHost($event)"
                         [isRequiredError]="formError && form.get('store_id').invalid">
            </cp-dropdown>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-6">
            <label>{{ 'start_date' | cpI18n }}</label>
            <cp-datepicker cpTarget="start_date"
                           [options]="startdatePickerOpts"
                           [error]="formError && form.get('start').invalid"
                           (dateSet)="setStart($event)">
            </cp-datepicker>
          </div>
          <div class="col-6">
            <label>{{ 'end_date' | cpI18n }}</label>
            <cp-datepicker cpTarget="end_date"
                           [options]="enddatePickerOpts"
                           [error]="formError && form.get('end').invalid"
                           (dateSet)="setEnd($event)">
            </cp-datepicker>
          </div>
        </div>

        <div class="row form-group"
             *ngIf="isOrientation">
          <div class="col-12">
            <cp-checkbox class="checkbox"
                         [label]="'all_day' | cpI18n"
                         (toggle)="onAllDayToggle($event)"
                         [isChecked]="form.controls['is_all_day'].value">
            </cp-checkbox>
          </div>
        </div>

        <div class="form-group">
          <label
            for="description">{{ 'events_event_description' | cpI18n }}</label>
          <textarea id="description"
                    formControlName="description"></textarea>
        </div>

        <div class="row form-group">
          <div class="col-12">
            <cp-checkbox class="checkbox"
                         [isChecked]="showLocationDetails"
                         (toggle)="onLocationToggle($event)"
                         [label]="'t_shared_label_location_toggle' | cpI18n">
            </cp-checkbox>
          </div>
        </div>

        <div *ngIf="showLocationDetails">
          <div class="row">
            <div class="col-12">
              <label>{{ 'location' | cpI18n }}</label>
              <div class="row form-group">
                <div class="col-12">
                  <cp-place-autocomplete [newAddress]="newAddress"
                                         (backToDefault)="onResetMap()"
                                         (placeChange)="onPlaceChange($event)"
                                         [defaultValue]="form.controls.address.value"
                                         [isRequired]="formError && form.get('address').invalid">
                  </cp-place-autocomplete>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-6">
                  <label id="location">{{ 'building' | cpI18n }}</label>
                  <input for="location"
                         type="text"
                         class="form-control"
                         formControlName="location"/>
                </div>

                <div class="col-6">
                  <label for="room_data">{{ 'room' | cpI18n }}</label>
                  <input id="room_data"
                         type="text"
                         class="form-control"
                         formControlName="room_data"/>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="maps">
                <cp-maps [center]="mapCenter"
                         [drawMarker]="drawMarker"
                         (mapSelection)="onMapSelection($event)">
                </cp-maps>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>