<cp-spinner *ngIf="webServiceCallInProgress"></cp-spinner>

<div [ngClass]="{'d-none' : !(!webServiceCallInProgress && notification)}">

  <div class="page-container">
    <ready-ui-card>
      <header>
        <h2 class="section__name">{{ 'message' | cpI18n }}</h2>
        <cp-datetime-picker class="with-shadow"
          (dateSet)="onSchedule($event)"
          [clearable]="true" [static]="false"
          [label]="isScheduledAnnouncement ? (this.notification.notify_at_epoch | cpDatePipe:dateTimeFormat) : 't_notify_send_later' | cpI18n">

        </cp-datetime-picker>
      </header>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <label>{{ 'from' | cpI18n }}</label>
                    <input
                      type="text"
                      class="form-control subject-input__input"
                      disabled
                      [value]="serviceName ? serviceName : ('contact_trace_notification_contact_tracing_service' | cpI18n)"
                    />
                  </div>
                </div>
              </div>
              <div class="col-6">
                <label>{{ 'announcements_type' | cpI18n }}</label>
                <div class="row">
                  <div class="col-12">
                    <cp-check-dropdown [dropdownListClass]="'small-width'"
                      [items]="types"
                      [selectedItem]="selectedType"
                      buttonClass="cpbtn cpbtn--cancel full-width"
                      (selected)="onTypeChanged($event)">
                    </cp-check-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <label>{{ 'to' | cpI18n }}</label>
                    <div class="row">
                      <div class="col-12">
                        <cp-check-dropdown [dropdownListClass]="'small-width'"
                          [class.disabled]="toSpecificUsers.length"
                          [items]="caseId ? toCaseOption : toOptions"
                          [selectedItem]="selectedToOption"
                          buttonClass="cpbtn cpbtn--cancel"
                          (selected)="onToOptionChanged($event)"
                          >
                        </cp-check-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <label>{{ 'contact_trace_notification_template' | cpI18n }}</label>
                <div class="row">
                  <div class="col-12">
                    <cp-check-dropdown [dropdownListClass]="'small-width'"
                      *ngIf="templates"
                      [items]="templates"
                      [selectedItem]="selectedTemplate"
                      buttonClass="cpbtn cpbtn--cancel"
                      (selected)="onTemplateOptionChanged($event)">
                    </cp-check-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="form-group"
            *ngIf="!caseId && (!selectedToOption || selectedToOption.action === 'case_status')"
          >
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <label>{{ 'contact_trace_notification_status' | cpI18n }}</label>
                    <div class="row">
                      <div class="col-12">
                        <cp-check-dropdown [dropdownListClass]="'small-width'"
                          *ngIf="filterOptions"
                          [items]="filterOptions"
                          [selectedItem]="selectedFilterOption"
                          buttonClass="cpbtn cpbtn--cancel {{(highlightFormError && selectedFilterOption.action === 0) ? 'validation-error' : ''}}"
                          (selected)="onFilterOptionChanged($event)">
                        </cp-check-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6" *ngIf="(caseStatus$ | async) && (caseStatus$ | async).case_count > 0">
                <div class="row d-flex h-100">
                  <div class="col-8 align-self-end">
                    <p class="cases-counter m-0 pb-2 d-flex"><i class="material-icons mr-2 align-self-end">group</i>
                      <span class="align-self-center">{{(caseStatus$ | async).case_count + ' ' + ('users' | cpI18n)}}</span>
                    </p>
                  </div>
                  <div class="col-4 align-self-end">
                    <div class="row">
                      <div class="col-12">
                        <p (click)="onDownloadCasesFromCaseStatus()" class="cursor-pointer import-link m-0 pb-2 float-right">{{'download' | cpI18n}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
                  class="form-group"
                  *ngIf="casesById"
          >
            <label>
              {{ 'users' | cpI18n }}
            </label>
            <div class="subject-input">
              <input *ngIf="notification.user_ids.length === 1" class="user-full-name" [value]="notifyDestination" [disabled]="true" />
              <textarea *ngIf="notification.user_ids.length > 1" class="user-full-name" [value]="notifyDestination" [disabled]="true"></textarea>
            </div>
          </div>

          <div
            class="form-group"
            [ngClass]="{'d-none' : !(!caseId && selectedToOption && selectedToOption.action === 'custom_list')}"
          >
            <div class="row">
              <div class="col-8">
                <div class="row d-flex h-100">
                  <div class="col-8 align-self-end">
                    <p class="cases-counter m-0 pb-2 d-flex"><i class="material-icons mr-2 align-self-end">group</i>
                      <span class="align-self-center">
                        {{((userList$ | async).length !== 0 ? (userList$ | async).length : '') + ' ' + ('users' | cpI18n)}}
                      </span>
                    </p>
                  </div>
                  <div class="col-4 align-self-end">
                    <div class="row">
                      <div class="col-12">
                        <p *ngIf="(userList$ | async).length > 0" (click)="onDownloadCasesFromUsers()" class="cursor-pointer import-link m-0 pb-2 float-right">{{'download' | cpI18n}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4" *ngIf="!toSpecificUsers.length && !isPrivacyOn">
                <p class="cursor-pointer float-right import-link m-0" (click)="importModal()">
                  {{ 'import_from_csv' | cpI18n}}
                </p>
              </div>
            </div>
            <div class="subject-input" *ngIf="!toSpecificUsers.length">
              <cp-audience-users-typeahead
                [ngClass]="{'typeahead-validation-error': highlightFormError && (!notification.user_ids || notification.user_ids.length === 0)}"
                [withChips]="[]"
                [isCt]="true"
                [isPrivacyOn]="isPrivacyOn"
                (users)="usersChanged($event)"
              >
              </cp-audience-users-typeahead>
            </div>
            <div class="specific-users" *ngIf="toSpecificUsers.length">
              {{toSpecificUsers.join(', ')}}
            </div>
          </div>

          <div class="form-group">
            <label>
              {{ 'subject' | cpI18n }}
              <cp-char-counter class="float-right"
                               [limit]="255"
                               [charCount]="notification.subject">
              </cp-char-counter>
            </label>
            <div class="cpInput subject-input">
              <div class="row">
                <div class="col-2 no-right-padding"
                     *ngIf="subject_prefix.label">
                    <span
                      [ngClass]="'subject-input__label text-center ' + subject_prefix.type">
                      {{ subject_prefix.label }}
                    </span>
                </div>
                <div
                  [ngClass]="subject_prefix.label ? 'col-10 no-left-padding' : 'col-12'">
                  <input
                    type="text"
                    class="form-control transparent subject-input__input"
                    [class.error]="highlightFormError && isNullOrEmptyString(notification.subject)"
                    [(ngModel)]="notification.subject"
                    [maxLength]="255"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>
              {{ 'message_noun' | cpI18n }}
              <cp-char-counter class="float-right"
                               [limit]="2048"
                               [charCount]="notification.message">
              </cp-char-counter>
            </label>
            <textarea
              class="form-control"
              [class.error]="highlightFormError && isNullOrEmptyString(notification.message)"
              [(ngModel)]="notification.message"
              [maxLength]="2048"
            >
            </textarea>
          </div>
        </div>
      </div>
    </ready-ui-card>
  </div>

  <div class="footer">
    <div class="cp-wrapper cp-wrapper--outer">
      <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-end">
          <button
                  ui-button
                  type="button"
                  variant="flat"
                  color="secondary"
                  class="action-button"
                  (click)="cancelClickHandler()">
            {{'cancel' | cpI18n}}
          </button>
          <button
            ui-button
            type="button"
            variant="flat"
            color="primary"
            class="action-button"
            [disabled]="webServiceCallInProgress"
            (click)="sendClickHandler()">
            {{(isScheduledAnnouncement ? 't_notify_send_later' : 'send') | cpI18n }}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
