@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/button';

.page-container {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 90px;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section__name {
    @include font-bold();
    @include font-24px();
  }

  .subject-input {
    width: 100%;

    &__label {
      @include font-semi-bold();

      width: 100%;
      height: 100%;
      padding: 0 8px;
      line-height: 3.1;
      font-size: 0.8em;
      color: $color-white;
      display: inline-block;
      text-transform: uppercase;
      border-radius: 4px 0 0 4px;

      &.warning {
        background: $color-warning;
      }

      &.danger {
        background: $color-danger;
      }
    }

    &__input {
      width: 100%;
    }
  }

  .form-group {
    margin-bottom: 15px;
    .import-link {
      color: $color-brand;
    }

    .cases-counter {
      span {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
      }
    }

    .h-100 {
      height: 100%;
    }
  }

  .user-full-name:disabled {
    background: $color-white;
    color: #121212;
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  background: $color-white;
  border-top: 1px solid $border-color;

  .action-button {
    min-width: 95px;
    &:first-child {
      margin-left: calc(50% - 375px);
    }

    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}

.typeahead-validation-error {
  ::ng-deep input {
    width: 100%;
    background-color: rgba(255, 96, 89, 0.25);
    border-color: #ff6059;
    color: #ff6059;
    font-weight: bold;
  }
}
