<cp-spinner *ngIf="webServiceCallInProgress"></cp-spinner>

<div *ngIf="!webServiceCallInProgress && notification">

  <div class="page-container">
    <ready-ui-card>
      <header>
        <h2 class="section__name">{{ 'message' | cpI18n }}</h2>
        <cp-datetime-picker
          (dateSet)="onSchedule($event)"
          [clearable]="false"
          [label]="'t_notify_send_later' | cpI18n">

        </cp-datetime-picker>
      </header>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <label>{{ 'from' | cpI18n }}</label>
                    <input
                      type="text"
                      class="form-control subject-input__input"
                      disabled
                      [value]="'contact_trace_notification_contact_tracing_service' | cpI18n"
                    />
                  </div>
                </div>
              </div>
              <div class="col-6">
                <label>{{ 'announcements_type' | cpI18n }}</label>
                <div class="row">
                  <div class="col-12">
                    <cp-check-dropdown
                      [items]="types"
                      [selectedItem]="selectedType"
                      buttonClass="cpbtn cpbtn--cancel"
                      (selected)="onTypeChanged($event)">
                    </cp-check-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <label>{{ 'to' | cpI18n }}</label>
                    <div class="row">
                      <div class="col-12">
                        <cp-check-dropdown
                          [items]="toOptions"
                          [selectedItem]="selectedToOption"
                          buttonClass="cpbtn cpbtn--cancel"
                          (selected)="onToOptionChanged($event)">
                        </cp-check-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <label>{{ 'contact_trace_notification_template' | cpI18n }}</label>
                <div class="row">
                  <div class="col-12">
                    <cp-check-dropdown
                      [items]="templates"
                      [selectedItem]="selectedTemplate"
                      buttonClass="cpbtn cpbtn--cancel"
                      (selected)="selectedTemplate = $event">
                    </cp-check-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="form-group"
            *ngIf="!selectedToOption || selectedToOption.action === 'case_status'"
          >
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <label>{{ 'contact_trace_notification_filter' | cpI18n }}</label>
                    <div class="row">
                      <div class="col-12">
                        <cp-check-dropdown
                          [items]="filterOptions"
                          [selectedItem]="selectedFilterOption"
                          buttonClass="cpbtn cpbtn--cancel"
                          (selected)="onFilterOptionChanged($event)">
                        </cp-check-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
              </div>
            </div>
          </div>

          <div
            class="form-group"
            *ngIf="selectedToOption && selectedToOption.action === 'custom_list'"
          >
            <label>
              {{ 'users' | cpI18n }}
            </label>
            <div class="subject-input">
              <cp-audience-users-typeahead
                [ngClass]="{'typeahead-validation-error': highlightFormError && (!notification.user_ids || notification.user_ids.length === 0)}"
                [withChips]="[]"
                (users)="usersChanged($event)"
              >
              </cp-audience-users-typeahead>
            </div>
          </div>

          <div class="form-group">
            <label>
              {{ 'subject' | cpI18n }}
              <cp-char-counter class="float-right"
                               [limit]="255"
                               [charCount]="notification.subject">
              </cp-char-counter>
            </label>
            <div class="cpInput subject-input">
              <div class="row">
                <div class="col-2 no-right-padding"
                     *ngIf="subject_prefix.label">
                    <span
                      [ngClass]="'subject-input__label text-center ' + subject_prefix.type">
                      {{ subject_prefix.label }}
                    </span>
                </div>
                <div
                  [ngClass]="subject_prefix.label ? 'col-10 no-left-padding' : 'col-12'">
                  <input
                    type="text"
                    class="form-control transparent subject-input__input"
                    [class.error]="highlightFormError && isNullOrEmptyString(notification.subject)"
                    [(ngModel)]="notification.subject"
                    [maxLength]="255"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>
              {{ 'message_noun' | cpI18n }}
              <cp-char-counter class="float-right"
                               [limit]="2048"
                               [charCount]="notification.message">
              </cp-char-counter>
            </label>
            <textarea
              class="form-control"
              [class.error]="highlightFormError && isNullOrEmptyString(notification.message)"
              [(ngModel)]="notification.message"
              [maxLength]="2048"
            >
            </textarea>
          </div>
        </div>
      </div>
    </ready-ui-card>
  </div>

  <div class="footer">
    <div class="cp-wrapper cp-wrapper--outer">
      <div class="row">
        <div class="col-12">
          <button
            ui-button
            type="button"
            variant="flat"
            color="primary"
            class="action-button"
            [disabled]="webServiceCallInProgress"
            (click)="sendClickHandler()">
            {{'send' | cpI18n}}
          </button>

          <button
            ui-button
            type="button"
            variant="flat"
            color="secondary"
            class="action-button"
            (click)="cancelClickHandler()">
            {{'cancel' | cpI18n}}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
