<div class="row margin-bottom">
  <form [formGroup]="form">
    <div class="col-12">
      <div class="cp-card">
        <div class="row item-details">
          <div class="col-12">
            <p class="title">{{ 'calendars_item_details' | cpI18n }}</p>
            <div class="form-group margin-top">
              <label
                     for="title">{{ 'calendars_item_name_label' | cpI18n }}</label>
              <input id="title"
                     type="text"
                     class="form-control"
                     formControlName="title"
                     [class.error]="formError && form.controls['title'].hasError('required')" />
            </div>

            <div class="row form-group">
              <div class="col-6">
                <label>{{ 'start_date' | cpI18n }}</label>
                <cp-datepicker [options]="startdatePickerOpts"
                               (dateSet)="setStart($event)"
                               [error]="formError && form.controls['start'].hasError('required')">
                </cp-datepicker>
              </div>
              <div class="col-6">
                <label>{{ 'end_date' | cpI18n }}</label>
                <cp-datepicker [options]="enddatePickerOpts"
                               (dateSet)="setEnd($event)"
                               [error]="formError && form.controls['end'].hasError('required')">
                </cp-datepicker>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-12">
                <cp-checkbox class="checkbox"
                             (toggle)="onAllDayToggle($event)"
                             [label]="cpI18n.translate('all_day')"
                             [isChecked]="form.controls['is_all_day'].value">
                </cp-checkbox>
              </div>
            </div>

            <div class="form-group">
              <label>{{ 'calendars_item_description_label' | cpI18n }}</label>
              <textarea formControlName="description"> </textarea>
            </div>

            <div class="row form-group">
              <div class="col-12">
                <cp-checkbox class="checkbox"
                             [isChecked]="showLocationDetails"
                             (toggle)="onLocationToggle($event)"
                             [label]="'t_shared_label_location_toggle' | cpI18n">
                </cp-checkbox>
              </div>
            </div>

            <div *ngIf="showLocationDetails">
              <div class="row">
                <div class="col-12">
                  <label>{{ 'location' | cpI18n }}</label>
                  <div class="row form-group">
                    <div class="col-12">
                      <cp-place-autocomplete [newAddress]="newAddress"
                                             (backToDefault)="onResetMap()"
                                             (placeChange)="onPlaceChange($event)">
                      </cp-place-autocomplete>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="maps">
                    <cp-maps [center]="mapCenter"
                             [drawMarker]="drawMarker">
                    </cp-maps>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="cp-wrapper cp-wrapper--outer">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="text-right">
                <label class="error"
                       *ngIf="formError">
                  <span>&#x26A0;</span>
                  {{
                    isDateError
                      ? dateErrorMessage
                      : cpI18n.translate('error_fill_out_marked_fields')
                  }}
                </label>
                <a [routerLink]="['/manage/calendars/' + calendarId]"
                   class="cpbtn cpbtn--cancel">
                  {{ 'cancel' | cpI18n }}
                </a>
                <cp-button [props]="buttonData"
                           (buttonClick)="onSubmit()"> </cp-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>