<div class="row">
  <div class="col-xs-12">
    <div class="wrapper">
      <div class="col-xs-3 wrapper__left-side">
        <div
          *ngIf="image"
          class="wrapper__image"
          [ngStyle]="{'background-image': 'url(' + image + ')' }">
          <button
            type="button"
            (click)="removeImage()"
            class="cpbtn cpbtn--link-dark wrapper__delete material-icons">
            close
          </button>
        </div>

        <div
          *ngIf="!image"
          [class.required]="required"
          class="wrapper__image wrapper__image--no-image">
          <cp-spinner theme="small" *ngIf="isLoading"></cp-spinner>
        </div>
      </div>
      <div class="col-xs-9 wrapper__right-side">
        <label class="no-margin dark" i18n>{{ description }}</label>
        <span class="text-muted" i18n>JPG or PNG. Max size of 5MB</span>
        <div class="row" *ngIf="errors.length">
          <div class="col-xs-12">
            <label
              class="error"
              *ngFor="let error of errors">
              {{ error }}
            </label>
          </div>
        </div>

        <cp-upload-button
          [buttonText]="buttonText"
          class="wrapper__button"
          buttonClass="cpbtn cpbtn--secondary"
          (fileUpload)="onFileUpload($event)">
        </cp-upload-button>
      </div>
    </div>
  </div>
</div>
