<div class="row">    
  <div class="col-12">
    <cp-cases-list-action-box #actionbox
                              (launchCreateCaseModal)="onLaunchCaseCreate($event)"
                              (search)="onSearch($event)"
                              (selectedFilter)="onSelectedFilter($event)"
                              (filterByDates)="onDateFilter($event)"
                              (onDownload)="onDownload()"
                              [isDownloading] = "isDownloading">
    </cp-cases-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading$ | async">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>
  <div *ngSwitchCase="false">
    
    <cp-no-content class="margin-top"
                    *ngIf="!(cases$ | async).length"
                    [noContentText]="'t_cases_no_record_found' | cpI18n">
    </cp-no-content>
    <div class="row" *ngIf="(cases$ | async).length">
      <div class="col-9">
        <cp-cases-list  [data$]="cases$"
                        (deleteClick)="onLaunchDeleteModal($event)"
                        (contactTraceAction)="onContactTraceAction($event)">
        </cp-cases-list>

        <div class="row">
          <div class="col-12">
            <cp-pagination [pageNext]="pageNext"
                           [pagePrev]="pagePrev"
                           [pageNumber]="pageNumber"
                           (next)="onPaginationNext()"
                           (previous)="onPaginationPrevious()">
            </cp-pagination>
          </div>
        </div>
      </div>

      <div class="col-3">
        <cp-case-total-count-view></cp-case-total-count-view>
      </div>
    </div>
  </div>
</div>

<cp-modal *ngIf="showDeleteModal"
          modalId="deleteCase">
  <cp-case-delete [case]="deleteCase"></cp-case-delete>
</cp-modal>
<cp-modal *ngIf="isCaseCreate"
          modalId="createCase"
          (modalClose)="isCaseCreate = false">
  <cp-case-create
                (teardown)="isCaseCreate = false">
  </cp-case-create>
</cp-modal>
<cp-modal modalId="excelCasesModal">
  <cp-cases-excel-modal></cp-cases-excel-modal>
</cp-modal>
