<div class="page">
  <div class="page__nav">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p class="page__title" i18n>Verified Attendance</p>
          <div class="pull-right">
            <button
              class="cpbtn cpbtn--primary" i18n>
              Instructions
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <cp-service-header class="card-margin"></cp-service-header>
      </div>
    </div>
  </div>
</div>