@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/components/card';
@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/table';

.cp-table {
  &__item {
    button.action-button--delete {
      font-size: 2em;
    }
    button.action-button {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      i,
      span {
        color: $color-secondary-text;
      }
    }
  }

  span.disabled {
    cursor: default;
    color: $color-med-grey;
  }

  &__feedback {
    padding: 10px;
    margin: 5px 0 0 0;
    background-color: $color-light-grey;
  }

  .margin-right {
    margin-right: 10px;
  }

  .avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

.add-card-margin {
  @include card-margin();
}

.header {
  @include card-margin();
  margin-top: 0;

  &__digit {
    @include font-semi-bold();

    font-size: 2.4em;
  }
}
