<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <cp-events-attendance-action-box [event]="event"
                                     [updateQrCode]="updateQrCode"
                                     [isOrientation]="isOrientation"
                                     [totalAttendees]="totalAttendees"
                                     (addCheckIn)="onAddCheckIn()"
                                     (toggleQr)="onToggleQr($event)"
                                     (createExcel)="onCreateExcel()"
                                     (querySearch)="doSearch($event)"
                                     (sendMessage)="messageAllAttendees()"
                                     (updateStudentFilter)="onStudentFilter($event)"
                                     (trackClickKioskCheckIn)="onTrackClickKioskCheckinEvent($event)"
                                     (trackClickSelfCheckIn)="onTrackClickSelfCheckinEvent($event)">
    </cp-events-attendance-action-box>

    <div *ngIf="!state.searchText && !summaryLoading"
         class="row">
      <div class="col-4 text-center">
        <cp-card>
          <p class="header__digit">{{ event.verified_checkins }}</p>
          <p>{{ 't_shared_checkins' | cpI18n }}</p>
        </cp-card>
      </div>
      <div class="col-4 text-center">
        <cp-card>
          <p class="header__digit">{{ event.num_ratings }}</p>
          <p>{{ 'ratings' | cpI18n }}</p>
        </cp-card>
      </div>
      <div class="col-4 text-center">
        <cp-card>
          <p class="header__digit">
            <cp-stars [size]="detailStarSize"
                      [avgRate]="event.avg_rating_percent"
                      [maxRate]="event.rating_scale_maximum">
            </cp-stars>
          </p>
          <p>
            {{ 't_shared_average_rating' | cpI18n }}:
            <strong *ngIf="event.rating_scale_maximum > -1">
              {{ ((event.rating_scale_maximum * event.avg_rating_percent) / 100).toFixed(1) }}
            </strong>
            <strong *ngIf="event.rating_scale_maximum === -1">---</strong>
          </p>
        </cp-card>
      </div>
    </div>

    <div [ngSwitch]="attendeesLoading">
      <cp-spinner *ngSwitchCase="true"></cp-spinner>

      <ng-container *ngSwitchCase="false">
        <cp-no-content *ngIf="!attendees.length"
                       [noContentText]="cpI18n.translate('events_no_attendees')">
        </cp-no-content>

        <table ui-table
               *ngIf="attendees.length">
          <thead>
            <tr ui-table-row>
              <th ui-table-cell
                  (sort)="doSort('firstname')"
                  [sorting]="state.sortField === 'firstname'"
                  [sortDirection]="state.sortDirection">
                {{ sortingLabels.name }}
              </th>
              <th ui-table-cell>
                {{ 't_event_assessment_check_in_date' | cpI18n }}
              </th>
              <th ui-table-cell
                  *ngIf="event.has_checkout">
                {{ 't_event_assessment_check_out_date' | cpI18n }}
              </th>
              <th ui-table-cell
                  (sort)="doSort('check_in_method')"
                  [sortDirection]="state.sortDirection"
                  [sorting]="state.sortField === 'check_in_method'">
                {{ sortingLabels.method }}
              </th>
              <th ui-table-cell
                  (sort)="doSort('feedback_rating')"
                  [sortDirection]="state.sortDirection"
                  [sorting]="state.sortField === 'feedback_rating'">
                {{ sortingLabels.rating }}
              </th>
              <th ui-table-cell></th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let attendee of attendees; index as i">
              <tr ui-table-row>
                <td ui-table-cell>
                  <ready-ui-stack>
                    <ready-ui-avatar [alt]="'t_shared_img_alt' | cpI18n: i + 1"
                                     [src]="attendee.avatar_thumb_url ? attendee.avatar_thumb_url : defaultImage">
                    </ready-ui-avatar>
                    <ready-ui-stack direction="vertical">
                      <strong>
                        {{ attendee.attendee_type !== deletedAttendee ? attendee.firstname + ' ' + attendee.lastname : ('t_shared_closed_account' | cpI18n) }}
                      </strong>
                      <small
                             class="text-muted">{{ attendee.attendee_type !== deletedAttendee ? attendee.email : '-' }}</small>
                    </ready-ui-stack>
                  </ready-ui-stack>
                </td>
                <td ui-table-cell>
                  {{ attendee.check_in_time | cpDatePipe: dateFormat }}
                </td>
                <td ui-table-cell
                    *ngIf="event.has_checkout">
                  <ng-container *ngIf="
                      attendee.check_out_time_epoch &&
                      attendee.check_out_time_epoch !== emptyCheckOutTime
                    ">
                    {{ attendee.check_out_time_epoch | cpDatePipe: dateFormat }}
                  </ng-container>
                </td>
                <td ui-table-cell>
                  <ready-ui-icon
                                 [name]="checkInMethodType(attendee.check_in_method)">
                  </ready-ui-icon>
                </td>
                <td ui-table-cell>
                  <cp-stars [size]="detailStarSize"
                            [avgRate]="attendee.feedback_rating"
                            [maxRate]="event.rating_scale_maximum">
                  </cp-stars>
                </td>
                <td ui-table-cell
                    align="right">
                  <ready-ui-stack>
                    <button ui-button
                            variant="inline"
                            type="button"
                            [disabled]="!canMessage"
                            (click)="messageAttendee(attendee)"
                            [title]="messageAttendeesTooltipText"
                            aria-label="Message Attendee"
                            *ngIf="attendee.check_in_method === appCheckIn && attendee.attendee_type !== deletedAttendee">
                      <ready-ui-icon name="chat_bubble"></ready-ui-icon>
                    </button>
                    <ng-container
                                  *ngIf="attendee.check_in_method === webCheckIn && attendee.attendee_type !== deletedAttendee">
                      <button ui-button
                              type="button"
                              variant="inline"
                              aria-label="Edit Checkin"
                              (click)="onEditCheckIn(attendee)">
                        <ready-ui-icon name="edit"></ready-ui-icon>
                      </button>
                      <button ui-button
                              type="button"
                              variant="inline"
                              aria-label="Delete Checkin"
                              (click)="onDeleteCheckIn(attendee)">
                        <ready-ui-icon name="close"></ready-ui-icon>
                      </button>
                    </ng-container>
                  </ready-ui-stack>
                </td>
              </tr>
              <tr ui-table-row
                  *ngIf="attendee.feedback_text">
                <td class="feedback"
                    [attr.colspan]="event.has_checkout ? 6 : 5">
                  <small>{{ attendee.feedback_text }}</small>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <cp-pagination [pageNext]="pageNext"
                       [pagePrev]="pagePrev"
                       [pageNumber]="pageNumber"
                       (next)="onPaginationNext()"
                       (previous)="onPaginationPrevious()">
        </cp-pagination>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<cp-modal [centered]="true"
          modalId="editCheckInModal"
          *ngIf="isEditCheckInModal">
  <cp-edit-check-in [data]="event"
                    [checkIn]="checkInData"
                    [orientationId]="orientationId"
                    (edited)="onEdited($event)"
                    (teardown)="isEditCheckInModal = false">
  </cp-edit-check-in>
</cp-modal>

<cp-modal modalId="deleteCheckInModal"
          *ngIf="isDeleteCheckInModal">
  <cp-delete-check-in [data]="event"
                      [checkIn]="checkInData"
                      [orientationId]="orientationId"
                      (deleted)="onDeleted($event)"
                      (teardown)="isDeleteCheckInModal = false">
  </cp-delete-check-in>
</cp-modal>

<cp-modal [centered]="true"
          modalId="addCheckInModal"
          *ngIf="isAddCheckInModal">
  <cp-create-check-in [data]="event"
                      (created)="onCreated($event)"
                      [orientationId]="orientationId"
                      (teardown)="isAddCheckInModal = false">
  </cp-create-check-in>
</cp-modal>

<cp-modal [centered]="true"
          modalId="sendMessageModal"
          *ngIf="isSendMessageModal">
  <cp-students-compose [props]="messageData"
                       [fromDisabled]="true"
                       (teardown)="onComposeTeardown()"
                       (success)="onFlashMessage($event)">
  </cp-students-compose>
</cp-modal>
