@import '~projects/campus-cloud/src/sass/components/card';
@import '~projects/campus-cloud/src/sass/core/typography';

table,
cp-no-content {
  margin-top: 2em;
}

.feedback {
  padding: 10px;
  background-color: $color-light-grey;
}

.header {
  @include card-margin();

  margin-top: 0;

  &__digit {
    @include font-semi-bold();

    font-size: 2.4em;
  }
}