<div class="cp-wrapper">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 col-lg-offset-3 col-xl-4 col-xl-offset-4">
      <div class="row">
        <div class="col-12">
          <div class="header">
            <p class="title" i18n>{{ 'lost_password' | cpI18n }}</p>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isSubmitted">
        <div class="col-12">
          <p i18n>{{ 'lost_password_success' | cpI18n:email }}</p>
        </div>
      </div>

      <div class="row" *ngIf="!isSubmitted">
        <div class="col-12">
          <p i18n>{{ 'auth_pwd_reset_heading' | cpI18n }}:</p>

          <ol>
            <li i18n>{{ 'auth_pwd_reset_step_one' | cpI18n }}</li>
            <li i18n>{{ 'auth_pwd_reset_step_two' | cpI18n }}</li>
            <li i18n>{{ 'auth_pwd_reset_step_three' | cpI18n }}</li>
          </ol>

          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="form-group">
              <label i18n>{{ 'email' | cpI18n }}</label>
              <input
                autofocus
                type="email"
                formControlName="email">
            </div>

            <div class="row">
              <div class="col-12">
                <button
                  type="submit"
                  class="cpbtn cpbtn--primary" i18n>
                  {{ 'auth_reset_password' | cpI18n }}
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <cp-alert></cp-alert>
              </div>
            </div>
          </form>

          <div class="row text-center footer">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <a [routerLink]="['/login']" i18n>{{ 'login' | cpI18n }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
