<div class="cp-wrapper">
  <cp-one-column [width]="layoutWidth" [aligned]="layoutAlign">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <p class="title">{{ 'lost_password' | cpI18n }}</p>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="isSubmitted">
      <div class="col-12">
        <p>{{ 'lost_password_success' | cpI18n:email }}</p>
      </div>
    </div>

    <div class="row" *ngIf="!isSubmitted">
      <div class="col-12">
        <p>{{ 'auth_pwd_reset_heading' | cpI18n }}:</p>

        <ol>
          <li>{{ 'auth_pwd_reset_step_one' | cpI18n }}</li>
          <li>{{ 'auth_pwd_reset_step_two' | cpI18n }}</li>
          <li>{{ 'auth_pwd_reset_step_three' | cpI18n }}</li>
        </ol>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="form-group">
            <label>{{ 'email' | cpI18n }}</label>
            <input
              autofocus
              type="email"
              formControlName="email">
          </div>

          <div class="row">
            <div class="col-12">
              <button
                type="submit"
                class="cpbtn cpbtn--primary">
                {{ 'auth_reset_password' | cpI18n }}
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <cp-alert></cp-alert>
            </div>
          </div>
        </form>

        <div class="row text-center footer">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <a [routerLink]="['/login']">{{ 'login' | cpI18n }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cp-one-column>
</div>
