<ng-container [ngSwitch]="loading || state.working">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>
  <ng-container *ngSwitchCase="false">

    <div class="cp-card mb-4">
      <div class="row">
        <div class="col-12">
          <span class="title">{{ 't_personas_details_feature' | cpI18n }}</span>
        </div>
      </div>
      <div
        class="row"
        *ngFor="let guide of state.featureTiles; let first = first; let last = last; let i = index">
        <div class="col-12">
          <cp-personas-section
            [last]="last"
            [guide]="guide"
            [first]="first"
            tileWidth="4"
            [hideName]="true"
            [noControls]="true"
            [addSection]="false"
            [personaId]="personaId"
            (shuffle)="onTileMoved($event)">
          </cp-personas-section>
        </div>
      </div>
    </div>

    <div class="cp-card">
      <div
        class="row"
        *ngFor="let guide of state.categoryZero; let first = first; let last = last; let i = index">
        <div class="col-12">
          <cp-personas-section
            [last]="last"
            [guide]="guide"
            [first]="first"
            [hideName]="true"
            [noControls]="true"
            [addSection]="false"
            [personaId]="personaId"
            (shuffle)="onTileMoved($event)">
          </cp-personas-section>
        </div>
      </div>
      <div
        class="row"
        *ngFor="let guide of state.guides; let first = first; let last = last; let i = index">
        <div class="col-12">
          <cp-personas-section
            [last]="last"
            [guide]="guide"
            [first]="first"
            [personaId]="personaId"
            (shuffle)="onTileMoved($event)"
            (deleted)="onDeletedSection($event)"
            (swap)="onSwapSection($event, guide)"
            (removeSection)="onRemoveSection($event)"
            (createNewSection)="onAddSectionBefore($event, guide.id)">
          </cp-personas-section>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>