<ng-container [ngSwitch]="loading || state.working">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>
  <ng-container *ngSwitchCase="false">
    <div 
      class="cp-card mb-4"
      *ngIf="state.featureTiles.length">
      <div class="row" [class.mb-4]="i % 5 === 0">
        <cp-personas-tile 
          [tile]="tile"
          class="col-2" 
          *ngFor="let tile of state.featureTiles; let i = index">
        </cp-personas-tile>
      </div>
    </div>

    <div class="cp-card">
      <div class="mb-4"
        *ngIf="state.categoryZero.length">
        <div class="row" [class.mb-4]="i % 5 === 0">
          <cp-personas-tile 
            [tile]="tile"
            class="col-2" 
            *ngFor="let tile of state.categoryZero; let i = index">
          </cp-personas-tile>
        </div>
      </div>
      <div 
        class="row" 
        *ngFor="let guide of state.guides; let first = first; let last = last; let i = index">
        <div class="col-12">
          <cp-personas-section 
            [last]="last"
            [guide]="guide"
            [first]="first"
            [personaId]="personaId"
            [previousRank]="previousRank(i)"
            (deleted)="onDeletedSection($event)"
            (swap)="onSwapSection($event, guide)"
            (created)="onAddSectionBefore($event, guide.id)">
          </cp-personas-section>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>