@import '~styles/core/colors';
@import '~styles/components/form';
@import '~styles/components/card';
@import '~styles/components/button';

.no-content {
  @include card-margin();
}

.delete-list {
  font-size: 2em;
}

.cp-form__item {
  span i {
    font-size: 18px;
    vertical-align: -6px;
  }
}

.audiences {
  padding: 0;
  list-style: none;
}
