<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
      <div class="row">
        <div class="col-xs-12">
          <div class="header">
            <p class="title" i18n>Reset Password</p>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isSubmitted">
        <div class="col-xs-12">
          <p i18n>
            Password saved, redirecting you to the login page
          </p>
        </div>
      </div>

      <div class="row" *ngIf="!isSubmitted">
        <div class="col-xs-12">
          <p i18n>
            Your password must contain at least 6 characters. <br>
            For added security, use numbers, letters and special characters such as @, #, $, &amp;, etc
          </p>

          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="form-group">
              <label i18n>New Password</label>
              <input
                autofocus
                type="password"
                formControlName="new_password">
            </div>

            <div class="form-group">
              <label i18n>Confirm Password</label>
              <input
                type="password"
                formControlName="confirmPassword">
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button
                  type="submit"
                  class="cpbtn cpbtn--primary" i18n>
                  Reset Password
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <cp-alert></cp-alert>
              </div>
            </div>
          </form>

          <div class="row text-center footer">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
              <div class="row">
                <div class="col-xs-12">
                  <a [routerLink]="['/login']" i18n>Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
