@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/components/modal';
@import '~projects/campus-cloud/src/sass/components/button';

.cpmodal__body {
  margin-top: 15px;
}

.subject-input {
  width: 100%;

  &__label {
    @include font-semi-bold();

    width: 83px;
    height: 100%;
    padding: 0 8px;
    line-height: 3.1;
    font-size: 0.8em;
    color: $color-white;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 4px 0 0 4px;

    &.warning {
      background: $color-warning;
    }

    &.danger {
      background: $color-danger;
    }
  }

  &__input {
    width: 100%;
  }
}

label {
  span {
    @include font-normal();

    color: $color-secondary-text;
  }
}

.cpmodal__footer {
  .from-label {
    margin-top: 7px;
  }
}

.form-group {
  margin-bottom: 15px;
}