<div class="row">
  <div class="col-12">
    <cp-locations-list-top-bar
      [categories$]="categories$"
      (search)="onSearch($event)"
      (selectedCategory)="onCategorySelect($event)">
    </cp-locations-list-top-bar>
  </div>
</div>

<div [ngSwitch]="loading$ | async">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!(locations$ | async).length"
      noContentText="No locations found...">
    </cp-no-content>

    <cp-list-view
      [state]="state"
      [data$]="locations$"
      (doSort)="onDoSort($event)"
      *ngIf="(locations$ | async).length">
    </cp-list-view>

    <cp-pagination
      [pageNext]="pageNext"
      [pagePrev]="pagePrev"
      [pageNumber]="pageNumber"
      (next)="onPaginationNext()"
      (previous)="onPaginationPrevious()">
    </cp-pagination>
  </div>
</div>