<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      *ngIf="!state.providers.length"
      noContentText="No service provider yet, use the button above to create a provider.">
    </cp-no-content>

    <div class="row" *ngIf="state.providers.length">
      <div class="col-xs-12">
        <div class="cp-table">
          <div class="cp-table__header">
            <div class="row">
              <div class="col-xs-3">
                <span i18n>{{ 'service_provider' | cpI18n }}</span>
              </div>
              <div class="col-xs-4" *ngIf="displayRatingColumn">
                <span i18n>{{ 'average_rating' | cpI18n }}</span>
              </div>
              <div class="col-xs-1" *ngIf="displayRatingColumn">
                <span i18n>{{ 'rating' | cpI18n }}</span>
              </div>
              <div [class]="[displayRatingColumn ? 'col-xs-1' : 'col-xs-1 col-xs-offset-5']">
                <span i18n>{{ 'services_visits' | cpI18n }}</span>
              </div>
              <div class="col-xs-2">
                <span i18n>{{ 'assessment' | cpI18n }}</span>
              </div>
              <div class="col-xs-1"></div>
            </div>
          </div>

          <div class="cp-table__item" *ngFor="let provider of state.providers">
            <div class="row">
              <div class="col-xs-3 text-truncate"><a [routerLink]="['provider/' +  provider.id]"><span><strong>{{ provider.provider_name }}</strong><br>{{ provider.email }}</span></a></div>
              <div class="col-xs-4" *ngIf="displayRatingColumn">
                <cp-stars
                  [size]="listStarSize"
                  [avgRate]="provider.avg_rating_percent"
                  [maxRate]="5">
                </cp-stars>
              </div>
              <div class="col-xs-1" *ngIf="displayRatingColumn">
                <span>{{ provider.num_ratings }}</span>
              </div>
              <div [class]="[displayRatingColumn ? 'col-xs-1' : 'col-xs-1 col-xs-offset-5']">
                <span>{{ provider.total_visits }}</span>
              </div>
              <div class="col-xs-2">
                <a
                  [routerLink]="['/cb/checkin/s/' + provider.encrypted_campus_service_id + '/' + provider.encrypted_id]"
                  class="startcheckin cpbtn cpbtn--no-border cpbtn--secondary" i18n>
                  {{ 'services_label_check_in_details' | cpI18n }}
                </a>
              </div>
              <div class="col-xs-1">
                <span
                  (click)="deleteProvider = provider"
                  data-toggle="modal" data-target="#deleteProvider"
                  class="col-xs-1 text-center hover text-truncate delete-provider">
                  &times;
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <cp-pagination
            [pageNext]="pageNext"
            [pagePrev]="pagePrev"
            [pageNumber]="pageNumber"
            (next)="onPaginationNext()"
            (previous)="onPaginationPrevious()">
          </cp-pagination>
        </div>
      </div>
    </div>

    <cp-modal modalId="deleteProvider">
      <cp-providers-delete
        [serviceId]="serviceId"
        [provider]="deleteProvider"
        (deleted)="onDeleted($event)">
      </cp-providers-delete>
    </cp-modal>
  </div>
</div>
