<div class="cpbtn-group">
  <button
    type="button"
    (click)="onNavigate(data.button.url)"
    [ngClass]="['cpbtn cpbtn--' + options.theme]">
    {{ data.button.label }}
  </button>
  <button
    type="button"
    aria-haspopup="true"
    aria-expanded="false"
    data-toggle="dropdown"
    [ngClass]="['cpbtn cpbtn--' + options.theme]">
    <span class="rotate">&#10094;</span>
  </button>
  <ul class="dropdown-menu">
    <li
      (click)="onClick(child)"
      *ngFor="let child of data.children">
      {{ child.label }}
    </li>
  </ul>
</div>
