<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span i18n><strong>{{ 'assess_new_message' | cpI18n }}</strong></span>

        <span
          data-dismiss="modal"
          (click)="resetModal()"
          class="float-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="to" i18n>{{ 'recipient' | cpI18n }}</label>
            <input
              disabled
              type="text"
              class="form-control"
              [placeholder]="props.name">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="from" i18n>{{ 'from' | cpI18n }}</label>
            <cp-dropdown
              [reset]="resetStores$"
              [items]="stores$ | async"
              (selected)="onSelectedHost($event)"
              [selectedItem]="session.defaultHost">
            </cp-dropdown>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="subject" i18n>
              {{ 'subject' | cpI18n }}
              <span class="float-right">
                {{ form.controls.subject.value ? form.controls.subject.value.length : 0 }}/128
              </span>
            </label>
            <input
              type="text"
              name="subject"
              class="form-control"
              formControlName="subject">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="message" i18n>
              {{ 'message_noun' | cpI18n }}
              <span class="float-right">
                {{ form.controls.message.value ? form.controls.message.value.length : 0 }}/400
              </span>
            </label>
            <textarea
              class="form-control"
              formControlName="message">
            </textarea>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isError">
        <div class="col-12 text-center">
          <label class="error">{{ errorMessage }}</label>
        </div>
      </div>
    </form>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-6 col-offset-6 text-right">
        <button
          type="button"
          data-dismiss="modal"
          (click)="resetModal()"
          class="cpbtn cpbtn--cancel" i18n>
          {{ 'cancel' | cpI18n }}
        </button>

        <button
          type="button"
          (click)="doSubmit()"
          [disabled]="!form.valid"
          class="cpbtn cpbtn--primary"i18n>
          {{ 'send' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>
