<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span><strong>{{ 'assess_new_message' | cpI18n }}</strong></span>

        <span
          data-dismiss="modal"
          (click)="resetModal()"
          class="float-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>{{ 'recipient' | cpI18n }}</label>
            <input
              disabled
              type="text"
              class="form-control"
              [placeholder]="props.name">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>{{ 'from' | cpI18n }}</label>
            <cp-dropdown
              [reset]="resetStores$"
              [items]="stores$ | async"
              [disabled]="disableStore"
              [selectedItem]="selectedStore"
              (selected)="onSelectedHost($event)">
            </cp-dropdown>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>
              {{ 'subject' | cpI18n }}
              <cp-char-counter
                class="float-right"
                [limit]="128"
                [charCount]="form.controls.subject.value">
              </cp-char-counter>
            </label>
            <input
              type="text"
              name="subject"
              class="form-control"
              formControlName="subject">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>
              {{ 'message_noun' | cpI18n }}
              <cp-char-counter
                class="float-right"
                [limit]="400"
                [charCount]="form.controls.message.value">
              </cp-char-counter>
            </label>
            <textarea
              class="form-control"
              formControlName="message">
            </textarea>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isError">
        <div class="col-12 text-center">
          <label class="error">{{ errorMessage }}</label>
        </div>
      </div>
    </form>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-6 offset-6 text-right">
        <button
          type="button"
          data-dismiss="modal"
          (click)="resetModal()"
          class="cpbtn cpbtn--cancel">
          {{ 'cancel' | cpI18n }}
        </button>

        <cp-button
          [props]="buttonData"
          (buttonClick)="doSubmit()">
        </cp-button>
      </div>
    </div>
  </div>
</div>
