<div class="row wrapper">
  <div class="col-4 wrapper__left-side">
    <div *ngIf="image"
         class="wrapper__image"
         [ngStyle]="{ 'background-image': 'url(' + image + ')' }">
      <button type="button"
              (click)="removeImage()"
              class="cpbtn cpbtn--link-dark wrapper__delete material-icons">
        close
      </button>
    </div>

    <div *ngIf="!image"
         [class.required]="required"
         class="wrapper__image wrapper__image--no-image">
      <cp-spinner theme="small"
                  *ngIf="isLoading"></cp-spinner>
    </div>
  </div>
  <div class="col-8 wrapper__right-side">
    <div>
      <label class="no-margin dark">{{ heading }}</label>
      <a target="_blank"
         [attr.href]="zdArticle">
        <span class="text-muted">{{ description }}</span>
      </a>
      <div class="row"
           *ngIf="error">
        <div class="col-12">
          <label class="error">
            {{ error }}
          </label>
        </div>
      </div>
    </div>
    <div>
      <label class="file"
             [attr.for]="['upload_component ' + id]">
        <input type="file"
               aria-label="Select Images"
               [id]="['upload_component ' + id]"
               (change)="onFileUpload($event.target.files[0])"
               accept="image/png, image/jpeg, image/png, image/jpg" />
        {{buttonText}}
      </label>
    </div>
  </div>
</div>