<div class="row">
  <div class="col-12">
    <div [ngClass]="[replyView ? '' : 'cp-card']">
      <form [formGroup]="form">
        <div class="row form-group">
          <div class="col-12">
            <div class="editor">
              <div class="editor__wrapper">
                <div class="editor__element"
                     cpTextEditor
                     formControlName="message"
                     [placeholder]="'feeds_input_placeholder' | cpI18n"></div>
                <ready-ui-stack alignment="between">
                  <label class="file"
                         *ngIf="!form.get('message_image_url_list').value.length">
                    <input multiple
                           type="file"
                           aria-label="Select Images"
                           (change)="addImageInputHandler($event)"
                           accept="image/png, image/jpeg, image/png, image/jpg" />
                    <span>
                      <ready-ui-icon name="collections"
                                     color="inherit"></ready-ui-icon>
                      {{ 't_shared_add_images' | cpI18n }}
                    </span>
                  </label>
                  <ui-text-style color="muted">
                    {{ form.controls.message.value ? form.controls.message.value.length : 0 }}/500
                  </ui-text-style>
                </ready-ui-stack>
                <ready-ui-gallery-group
                                        *ngIf="form.get('message_image_url_list').value.length || expandGallery">
                  <ready-ui-gallery-item [src]="image"
                                         (close)="removeImage(image)"
                                         *ngFor="let image of form.get('message_image_url_list').value">
                  </ready-ui-gallery-item>
                  <ready-ui-gallery-add-item (add)="addImages($event)"
                                             (error)="imageUploadError($event)"
                                             *ngIf="form.get('message_image_url_list').value.length < maxImages">
                  </ready-ui-gallery-add-item>
                </ready-ui-gallery-group>
              </div>
            </div>
          </div>
        </div>
        <ready-ui-stack
                        [alignment]="!state.group && state.isCampusWallView ? 'between' : 'end'">
          <ng-container *ngIf="!state.group && state.isCampusWallView">
            <ready-ui-stack>
              <ng-container *ngIf="!replyView">
                <span>{{ 'feeds_post_to' | cpI18n }}</span>
                <cp-dropdown [reset]="reset$"
                             class="dropdown"
                             [items]="channels$ | async"
                             [selectedItem]="selectedItem.value"
                             (selected)="onSelectedChannel($event)">
                </cp-dropdown>
              </ng-container>
            </ready-ui-stack>
          </ng-container>
          <cp-button [props]="buttonData"
                     (buttonClick)="onSubmit(form.value)"> </cp-button>
        </ready-ui-stack>
      </form>
    </div>
  </div>
</div>