<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span>
          <strong>{{ 'services_provider_label_add_service_provider' | cpI18n }}</strong>
        </span>
        <span
          (click)="resetModal()"
          data-dismiss="modal"
          class="float-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-12">
        <cp-providers-form #createForm [form]="form" [formErrors]="formErrors"> </cp-providers-form>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="col-12">
      <label class="error" *ngIf="formErrors">
        <i class="material-icons">
          warning
        </i>
        {{ errorMessage ? errorMessage : cpI18n.translate('error_fill_out_marked_fields') }}
      </label>
    </div>
    <div class="row justify-content-end">
      <div class="col-12 text-right">
        <button
          type="button"
          (click)="resetModal()"
          class="cpbtn cpbtn--cancel"
          data-dismiss="modal">
          {{ 'cancel' | cpI18n }}
        </button>

        <cp-button [props]="buttonData" (buttonClick)="onSubmit()"> </cp-button>
      </div>
    </div>
  </div>
</div>
