<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div class="tile" *ngSwitchCase="false">
    <div class="row">
      <div class="col-12">
        <h3 class="tile--title">{{ 'dashboard_social_activity_title' | cpI18n }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-8 tile--stat">
            <p>{{ 'dashboard_social_activity_messages' | cpI18n }}</p>
          </div>
          <div class="col-4 text-right tile--amount">
            {{ chartData.series[4] | cpStatsFormatter }}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-8 tile--stat">
            <p>{{ 'dashboard_social_activity_comments' | cpI18n }}</p>
          </div>
          <div class="col-4 text-right tile--amount">
            {{ chartData.series[3] | cpStatsFormatter }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-8 tile--stat">
            <p>{{ 'dashboard_social_activity_connections' | cpI18n }}</p>
          </div>
          <div class="col-4 text-right tile--amount">
            {{ chartData.series[2] | cpStatsFormatter }}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-8 tile--stat">
            <p>{{ 'dashboard_social_activity_wall_posts' | cpI18n }}</p>
          </div>
          <div class="col-4 text-right tile--amount">
            {{ chartData.series[1] | cpStatsFormatter }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-8 tile--stat">
            <p>{{ 'dashboard_social_activity_likes' | cpI18n }}</p>
          </div>
          <div class="col-4 text-right tile--amount">
            {{ chartData.series[0] | cpStatsFormatter }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <cp-dashboard-social-activity-chart [data]="chartData">
        </cp-dashboard-social-activity-chart>
      </div>
    </div>
  </div>
</ng-container>
