<ul class="integrations cp-form">
  <li class="cp-form__header col-12">
    <div class="row">
      <span class="col-4">{{ 't_shared_url' | cpI18n }}</span>
      <span class="col-2">{{ 't_shared_status' | cpI18n }}</span>
      <span class="col-1">{{ 't_shared_type' | cpI18n }}</span>
      <span class="col-2">{{ 'host' | cpI18n }}</span>
      <span class="col-2">{{ 't_shared_last_synced' | cpI18n }}</span>
      <span class="col-1"></span>
    </div>
  </li>

  <li
    [cpTarget]="['feed_' + i]"
    class="cp-form__item col-12"
    *ngFor="let integration of integrations$ | async; let i = index">
    <div class="row">
      <span
        class="col-4 text-truncate"
        [cpTarget]="['feed_title_' + i]"
        [attr.title]="integration.feed_url">
        {{ integration.feed_url }}
      </span>
      <span class="col-2">
        {{ integration.sync_status | cpIntegrationStatus | cpI18n }}
      </span>
      <span class="col-1">
        {{ integration.feed_type | cpIntegrationType }}
      </span>
      <span class="col-2 sender-name" [ngSwitch]="!getSender(integration.store_id)">
        <cp-working *ngSwitchCase="true"></cp-working>
        <span *ngSwitchCase="false">{{ getSender(integration.store_id).label }}</span>
      </span>
      <span class="col-2">
        {{ integration.last_successful_sync_epoch > notSynced ? (integration.last_successful_sync_epoch | cpDatePipe:dateFormat) : null }}
      </span>
      <span class="col-1 text-right">
        <span
          class="hover delete-integration"
          (click)="deleteClick.emit(integration)">
          &times;
        </span>
      </span>
    </div>
  </li>
</ul>