<ng-container *ngIf="view$ | async as view">
  <ng-container *ngIf="!view.deleted">

    <ng-container *ngIf="view.options.length === 1">
      <button type="button"
              class="cpbtn cpbtn--link-dark"
              (click)="selected.emit(3)">
        <ready-ui-icon name="close"></ready-ui-icon>
      </button>
    </ng-container>

    <button ui-button
            type="button"
            variant="inline"
            position="right"
            [triggerFor]="menu"
            ready-ui-menu-trigger
            direction="bottom-left"
            *ngIf="view.options.length > 1">
      <ready-ui-icon name="more_vert"
                     aria-label="Close"></ready-ui-icon>
    </button>
  </ng-container>

  <ready-ui-menu #menu="menu">
    <ready-ui-menu-item *ngFor="let option of view.options">
      <button ui-button
              type="button"
              variant="inline"
              fullWidth="true"
              (click)="onOptionClicked(option.action); menu.close()">{{ option.label }}</button>
    </ready-ui-menu-item>
  </ready-ui-menu>
</ng-container>