<ng-container *ngIf="options.length === 1">
  <button type="button"
          class="cpbtn cpbtn--link-dark"
          (click)="selected.emit(3)">
    <ready-ui-icon name="close"></ready-ui-icon>
  </button>
</ng-container>

<button ui-button
        type="button"
        variant="inline"
        position="right"
        readyUiPopoverTrigger
        *ngIf="options.length > 1"
        [uiPopoverTpl]="dropdownTpl">
  <ready-ui-icon name="expand_more"
                 aria-label="Close"></ready-ui-icon>
</button>

<ng-template #dropdownTpl
             let-popover="popover">
  <ul>
    <li *ngFor="let option of options"
        (click)="onOptionClicked(option.action); popover.close()">
      <button ui-button
              type="button"
              variant="inline">
        {{ option.label }}
      </button>
    </li>
  </ul>
</ng-template>