@import '~projects/campus-cloud/src/sass/core/typography';

.cp-table-rich-cell {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 0.5rem;
  }

  .meta {
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    align-items: flex-start;

    > * {
      @include font-bold();

      font-size: 1em;
      margin-bottom: 0;

      &.content {
        @include font-normal();
      }
    }
  }
}
