<div class="cp-wrapper">
  <div class="row">
    <form
      [formGroup]="form"
      class="col-8 offset-2 margin-bottom">
      <div class="section cp-card form-group">
        <p class="section__title">{{ 'admin_invite' | cpI18n }}</p>
        <div class="row">
          <div class="col-4">
            <label>{{ 'first_name' | cpI18n }}</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstname">
          </div>

          <div class="col-4">
            <label>{{ 'last_name' | cpI18n }}</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastname">
          </div>

          <div class="col-4">
            <label>{{ 'email' | cpI18n }}</label>
            <input
              type="text"
              class="form-control"
              formControlName="email">
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div
              class="all-access"
              [class.isEnabled]="isAllAccessEnabled">
              <div class="row">
                <div class="col-8">
                  <p class="section-sub-title">{{ 'admin_all_access' | cpI18n }}</p>
                  <p class="section-description">
                    {{ 'admin_all_acceess_help' | cpI18n }}
                  </p>
                </div>
                <div class="col-4">
                  <div class="float-right">
                    <cp-switch
                      (toggle)="toggleAllAccess($event)"
                      (toggle)="isAllAccessEnabled = !isAllAccessEnabled">
                    </cp-switch>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Permissions -->
      <fieldset [disabled]="isAllAccessEnabled">
      <div
        class="section cp-card form-group"
        [class.isDisabled]="isAllAccessEnabled">
        <!-- Manage Team Members -->
        <div class="section__item">
          <p class="section__title">{{ 'admin_permissions' | cpI18n }}</p>
          <div class="row">
            <div class="col-8">
              <p class="section-sub-title">{{ 'manage_team_members' | cpI18n }}</p>
              <p class="section-description">
                {{ 'admin_grant_permissions' | cpI18n }}
              </p>
            </div>
            <div class="col-4">
              <cp-dropdown
                [items]="manageAdmins"
                (selected)="onManageAdminSelected($event)">
              </cp-dropdown>
            </div>
          </div>
        </div>
        <!-- END Manage Admin -->

        <!-- Service Owner -->
        <fieldset [disabled]="!canReadServices">
          <div class="section__item">
            <div class="row">
              <div class="col-8">
                <p class="section-sub-title">{{ 'admin_service_owner' | cpI18n }}</p>
                <p class="section-description">
                  {{ 'admin_service_owner_help' | cpI18n }}
                </p>
              </div>
              <div class="col-4">
                <cp-dropdown
                  [items]="servicesMenu"
                  [selectedItem]="servicesCount"
                  (selected)="onServicesSelected($event)">
                </cp-dropdown>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- END Service Owner -->

        <!-- Club Owner -->
        <fieldset [disabled]="!canReadClubs">
          <div class="section__item">
            <div class="row">
              <div class="col-8">
                <p class="section-sub-title">{{ 'admin_club_owner' | cpI18n }}</p>
                <p class="section-description">
                  {{ 'admin_club_owner_help' | cpI18n }}
                </p>
              </div>
              <div class="col-4">
                <cp-dropdown
                  [items]="clubsMenu"
                  [selectedItem]="clubsCount"
                  (selected)="onClubsSelected($event)">
                </cp-dropdown>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- END Club Owner -->

        <!-- Athletics Owner -->
        <fieldset [disabled]="!canReadAthletics">
          <div class="section__item">
            <div class="row">
              <div class="col-8">
                <p class="section-sub-title">{{ 'admin_athletics_owner' | cpI18n }}</p>
                <p class="section-description">
                  {{ 'admin_athletics_owner_help' | cpI18n }}
                </p>
              </div>
              <div class="col-4">
                <cp-dropdown
                  [items]="athleticsMenu"
                  [selectedItem]="athleticsCount"
                  (selected)="onAthleticsSelected($event)">
                </cp-dropdown>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- END Athletics Owner -->

        <!-- Audience -->
        <fieldset [disabled]="!canReadAudience">
          <div class="section__item">
            <div class="row">
              <div class="col-8">
                <p class="section-sub-title">{{ 'admin_audience_title' | cpI18n }}</p>
                <p class="section-description">
                  {{ 'admin_audience_help' | cpI18n }}
                </p>
              </div>
              <div class="col-4">
                <cp-dropdown
                  [items]="audienceMenu"
                  (selected)="onAudienceSelected($event)">
                </cp-dropdown>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- END Audience -->

        <!-- Events -->
        <fieldset [disabled]="!canReadEvents">
          <div class="section__item">
            <div class="row">
              <div class="col-8">
                <p class="section-sub-title">{{ 'admin_events_title' | cpI18n }}</p>
                <p class="section-description">
                  {{ 'admin_events_help' | cpI18n }}
                </p>
              </div>
              <div class="col-4">
                <cp-dropdown
                  [items]="eventsMenu"
                  (selected)="onEventsSelected($event)">
                </cp-dropdown>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- END Events -->

        <!-- App Content -->
        <div class="section__item section--content">
          <div class="row">
            <div class="col-12">
              <p class="section-sub-title">{{ 'admin_app_content' | cpI18n }}</p>
              <p class="section-description">
                {{ 'admin_app_content_help' | cpI18n }}
              </p>
            </div>
          </div>
          <div class="row options-row">
          <div
            class="col-4"
            [class.isDisabled]="!formData.content.feeds.active">
            <cp-checkbox
              class="cpcheckbox"
              [label]="cpI18n.translate('feeds')"
              (toggle)="checkControl($event, CP_PRIVILEGES_MAP.moderation, formData.content.feeds)"
              [isDisabled]="!formData.content.feeds.active">
            </cp-checkbox>
          </div>

            <div
              class="col-4"
              [class.isDisabled]="!formData.content.calendars.active">
              <cp-checkbox
                class="cpcheckbox"
                [label]="cpI18n.translate('calendar')"
                (toggle)="checkControl($event, CP_PRIVILEGES_MAP.calendar, formData.content.calendars)"
                [isDisabled]="!formData.content.calendars.active">
              </cp-checkbox>
            </div>

            <div
              class="col-4"
              [class.isDisabled]="!formData.content.links.active">
              <cp-checkbox
                class="cpcheckbox"
                [label]="cpI18n.translate('links')"
                (toggle)="checkControl($event, CP_PRIVILEGES_MAP.links, formData.content.links)"
                [isDisabled]="!formData.content.links.active">
              </cp-checkbox>
            </div>
          </div>

          <div class="row options-row">
            <div
              class="col-4"
              [class.isDisabled]="!formData.content.maps.active">
              <cp-checkbox
                class="cpcheckbox"
                [label]="cpI18n.translate('maps')"
                (toggle)="checkControl($event, CP_PRIVILEGES_MAP.campus_maps, formData.content.maps)"
                [isDisabled]="!formData.content.maps.active">
              </cp-checkbox>
            </div>

            <div
              class="col-4 admin_studio_tooltip"
              [class.isDisabled]="!formData.content.appCustomizaton.active">
              <cp-checkbox
                class="cpcheckbox"
                [label]="cpI18n.translate('customise')"
                (toggle)="checkControl($event, CP_PRIVILEGES_MAP.app_customization, formData.content.appCustomizaton)"
                [isDisabled]="!formData.content.appCustomizaton.active">
              </cp-checkbox>
              <cp-tooltip
                [toolTipContent]="studioLimitedTooltip"
                *ngIf="utils.hasStudio(schoolPrivileges) && !utils.hasFullStudioPrivilege(schoolPrivileges)">
              </cp-tooltip>
            </div>

             <div
              class="col-4"
              [class.isDisabled]="!formData.content.orientation.active">
              <cp-checkbox
                class="cpcheckbox"
                [label]="cpI18n.translate('orientation')"
                (toggle)="checkControl($event, CP_PRIVILEGES_MAP.orientation, formData.content.orientation)"
                [isDisabled]="!formData.content.orientation.active">
              </cp-checkbox>
            </div>
          </div>

          <div class="row options-row">
            <div
              class="col-4"
              [class.isDisabled]="!formData.content.jobs.active">
              <cp-checkbox
                class="cpcheckbox"
                [label]="cpI18n.translate('jobs')"
                (toggle)="checkControl($event, CP_PRIVILEGES_MAP.jobs, formData.content.jobs)"
                [isDisabled]="!formData.content.jobs.active">
              </cp-checkbox>
            </div>

            <div
              class="col-4"
              [class.isDisabled]="!formData.content.deals.active">
              <cp-checkbox
                class="cpcheckbox"
                [label]="cpI18n.translate('deals')"
                (toggle)="checkControl($event, CP_PRIVILEGES_MAP.deals, formData.content.deals)"
                [isDisabled]="!formData.content.deals.active">
              </cp-checkbox>
            </div>
          </div>
        </div>
        <!-- END App Content -->

        <!-- Notify -->
        <div class="section__item">
          <div class="row">
            <div class="col-12">
              <p class="section-sub-title">{{ 'notify' | cpI18n }}</p>
              <p class="section-description">
                {{ 'admin_notify_help' | cpI18n }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row options-row">
                <div
                  class="col-5"
                  [class.isDisabled]="!formData.notify.campus.active">
                  <cp-checkbox
                    class="cpcheckbox"
                    [label]="cpI18n.translate('admin_campus_announcements')"
                    [isDisabled]="!formData.notify.campus.active"
                    [isChecked]="schoolPrivileges && schoolPrivileges[CP_PRIVILEGES_MAP.campus_announcements]"
                    (toggle)="checkControl($event, CP_PRIVILEGES_MAP.campus_announcements, formData.notify.campus)">
                  </cp-checkbox>
                </div>
                <div
                  class="col-5"
                  [class.isDisabled]="!formData.notify.emergency.active">
                  <cp-checkbox
                    class="cpcheckbox"
                    [label]="cpI18n.translate('admin_emergency_announcements')"
                    [isDisabled]="!formData.notify.emergency.active"
                    [isChecked]="schoolPrivileges && schoolPrivileges[CP_PRIVILEGES_MAP.emergency_announcement]"
                    (toggle)="checkControl($event, CP_PRIVILEGES_MAP.emergency_announcement, formData.notify.emergency)">
                  </cp-checkbox>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END Notify -->

        <!-- Assess -->
        <div class="section__item">
          <div class="row">
            <div class="col-12">
              <p class="section-sub-title">{{ 'assess' | cpI18n }}</p>
              <p class="section-description">
                {{ 'admin_assess_help' | cpI18n }}
              </p>
            </div>
          </div>
          <div class="row">
            <div
              class="col-5 options-row"
              [class.isDisabled]="!formData.assess.engagement.active">
              <cp-checkbox
                class="cpcheckbox"
                [label]="cpI18n.translate('admin_engagement_dashboard')"
                [isDisabled]="!formData.assess.engagement.active"
                [isChecked]="schoolPrivileges && schoolPrivileges[CP_PRIVILEGES_MAP.assessment]"
                (toggle)="checkControl($event, CP_PRIVILEGES_MAP.assessment, formData.assess.engagement)">
              </cp-checkbox>
            </div>
          </div>
        </div>
        <!-- END Assess -->
      </div>
      </fieldset>
      <!-- END Permissions -->

      <div class="footer">
        <div class="cp-wrapper cp-wrapper--outer">
          <div class="row">
            <div class="col-12">
              <div class="float-right">
                <label class="error" *ngIf="isFormError">{{ formError }}</label>

                <a [routerLink]="['/settings/team']"
                  class="cpbtn cpbtn--cancel">
                  {{ 'cancel' | cpI18n }}
                </a>

                <cp-button
                  [props]="buttonData"
                  (buttonClick)="onSubmit(form.value)">
                </cp-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<cp-modal
  [type]="MODAL_TYPE"
  *ngIf="isServiceModal"
  modalId="selectServicesModal">
  <cp-select-services-modal
    [reset]="resetServiceModal$"
    (selected)="onServicesModalSelected($event)">
  </cp-select-services-modal>
</cp-modal>

<cp-modal
  [type]="MODAL_TYPE"
  *ngIf="isClubsModal"
  modalId="selectClubsModal">
  <cp-select-clubs-modal
    [reset]="resetClubsModal$"
    (selected)="onClubsModalSelected($event)">
  </cp-select-clubs-modal>
</cp-modal>

<cp-modal
  [type]="MODAL_TYPE"
  *ngIf="isAthleticsModal"
  modalId="selectAthleticsModal">
  <cp-select-athletics-modal
    [reset]="resetAthleticsModal$"
    (selected)="onAthleticsModalSelected($event)"
    [selectedAthletics]="accountPrivileges">
  </cp-select-athletics-modal>
</cp-modal>