@import '~styles/core/colors';
@import '~styles/core/typography';
@import '~styles/components/form';
@import '~styles/components/card';
@import '~styles/components/button';

.isDisabled span {
  color: $color-secondary-text;
}

.cpbtn--cancel:disabled,
a.cpbtn--cancel:disabled {
  color: $color-text !important;
}

.margin-bottom {
  // to account for the fixed footer
  padding-bottom: 90px;
}

p {
  margin-bottom: 2px;

  &.section__title {
    @include font-24px();
    @include font-bold();

    margin-bottom: 20px;
  }

  &.section-sub-title {
    @include font-16px();
    @include font-semi-bold();
  }

  &.section-description {
    color: $color-med-grey;
  }
}

.all-access {
  margin-top: 25px;
  padding: 12px 20px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: $color-text-alt;
  border: 1px solid $border-color;
  transition: all 200ms ease-in-out;

  &.isEnabled {
    border: 1px solid $color-success;
    background-color: rgba(40, 202, 66, 0.06);
  }
}

.cpcheckbox {
  vertical-align: 2px;
  display: inline-block;
}

.options-row {
  margin-top: 18px;

  span {
    top: 9px;
    position: relative;
  }
}

.section {
  transition: opacity 200ms ease-in-out;

  &__item {
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 24px;
    }
  }

  &.isDisabled {
    opacity: 0.5;
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  background: $color-white;
  border-top: 1px solid $border-color;

  a {
    margin-right: 5px;
  }
}
