<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div class="cp-wrapper" *ngSwitchCase="false">
    <div class="row">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit(form.value)"
        class="col-xs-8 col-xs-offset-2 margin-bottom">
        <div class="section cp-card form-group">
          <p class="section__title" i18n>Invitee</p>
          <div class="row">
            <div class="col-xs-4">
              <label i18n>First Name</label>
              <input
                type="text"
                placeholder="John"
                class="form-control"
                formControlName="firstname"
                [attr.disabled]="!isCurrentUser ? '' : null">
            </div>

            <div class="col-xs-4">
              <label i18n>Last Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Smith"
                formControlName="lastname"
                [attr.disabled]="!isCurrentUser ? '' : null">
            </div>

            <div class="col-xs-4">
              <label i18n>Email</label>
              <input
                type="email"
                class="form-control"
                [attr.disabled]="true"
                formControlName="email"
                placeholder="john@smith.com">
            </div>
          </div>

          <div class="row" *ngIf="!isCurrentUser">
            <div class="col-xs-12">
              <div
                class="all-access"
                [class.isEnabled]="isAllAccessEnabled">
                <div class="row">
                  <div class="col-xs-8">
                    <p class="section-sub-title" i18n>All Access</p>
                    <p class="section-description" i18n>
                      Give access to all of the Services, Clubs and App Content
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <div class="pull-right">
                      <cp-switch
                        [isChecked]="isAllAccessEnabled"
                        (toggle)="toggleAllAccess($event)"
                        (toggle)="isAllAccessEnabled = !isAllAccessEnabled">
                      </cp-switch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <!-- Permissions -->
      <fieldset [disabled]="isAllAccessEnabled || isCurrentUser">
        <div
          class="section cp-card form-group"
          [class.isDisabled]="isAllAccessEnabled || isCurrentUser">
          <!-- Manage Team Members -->
          <div class="section__item">
            <p class="section__title" i18n>Permissions</p>
            <div class="row">
              <div class="col-xs-8">
                <p class="section-sub-title" i18n>Manage Team Members</p>
                <p class="section-description" i18n>
                  Grant Permissions
                </p>
              </div>
              <div class="col-xs-4">
                <cp-dropdown
                  [items]="manageAdmins"
                  (selected)="onManageAdminSelected($event)"
                  [selectedItem]="schoolPrivileges[CP_PRIVILEGES_MAP.manage_admin] ? manageAdmins[1] : manageAdmins[0]">
                </cp-dropdown>
              </div>
            </div>
          </div>
          <!-- END Manage Admin -->

          <!-- Service Owner -->
          <div class="section__item">
            <div class="row">
              <div class="col-xs-8">
                <p class="section-sub-title" i18n>Service Owner</p>
                <p class="section-description" i18n>
                  Manage service details, events and assessment
                </p>
              </div>
              <div class="col-xs-4">
                <cp-dropdown
                  [items]="servicesMenu"
                  (selected)="onServicesSelected($event)"
                  [selectedItem]="servicesDefaultPermission()">
                </cp-dropdown>
              </div>
            </div>
          </div>
          <!-- END Service Owner -->

          <!-- Club Owner -->
          <div class="section__item">
            <div class="row">
              <div class="col-xs-8">
                <p class="section-sub-title" i18n>Club Owner</p>
                <p class="section-description" i18n>
                  Manage club details, events and membership
                </p>
              </div>
              <div class="col-xs-4">
                <cp-dropdown
                  [items]="clubsMenu"
                  (selected)="onClubsSelected($event)"
                  [selectedItem]="clubsDefaultPermission()">
                </cp-dropdown>
              </div>
            </div>
          </div>
          <!-- END Club Owner -->

          <!-- Events -->
          <div class="section__item">
            <div class="row">
              <div class="col-xs-8">
                <p class="section-sub-title" i18n>Events</p>
                <p class="section-description" i18n>
                  Manage and assess events
                </p>
              </div>
              <div class="col-xs-4">
                <cp-dropdown
                  [items]="eventsMenu"
                  (selected)="onEventsSelected($event)"
                  [selectedItem]="eventsDefaultPermission()">
                </cp-dropdown>
              </div>
            </div>
          </div>
          <!-- END Events -->

          <!-- App Content -->
          <div class="section__item section--content">
            <div class="row">
              <div class="col-xs-12">
                <p class="section-sub-title" i18n>App Content</p>
                <p class="section-description" i18n>
                  Select the content that you want your invitee to access
                </p>
              </div>
            </div>
            <div class="row options-row">
              <div
                class="col-xs-4"
                [class.isDisabled]="!formData.content.orientation.active">
                <cp-checkbox
                  class="cpcheckbox"
                  [isDisabled]="!formData.content.orientation.active"
                  [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.orientation]"
                  (toggle)="checkControl($event, CP_PRIVILEGES_MAP.orientation, formData.content.orientation)">
                </cp-checkbox>
                <span i18n>Orientation</span>
              </div>

              <div
                class="col-xs-4"
                [class.isDisabled]="!formData.content.calendars.active">
                <cp-checkbox
                  class="cpcheckbox"
                  [isDisabled]="!formData.content.calendars.active"
                  [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.calendar]"
                  (toggle)="checkControl($event, CP_PRIVILEGES_MAP.calendar, formData.content.calendars)">
                </cp-checkbox>
                <span i18n>Calendar</span>
              </div>

              <div
                class="col-xs-4"
                [class.isDisabled]="!formData.content.maps.active">
                <cp-checkbox
                  class="cpcheckbox"
                  [isDisabled]="!formData.content.maps.active"
                  [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.campus_maps]"
                  (toggle)="checkControl($event, CP_PRIVILEGES_MAP.campus_maps, formData.content.maps)">
                </cp-checkbox>
                <span i18n>Maps</span>
              </div>
            </div>

            <div class="row options-row">
              <div
                class="col-xs-4"
                [class.isDisabled]="!formData.content.feeds.active">
                <cp-checkbox
                  class="cpcheckbox"
                  [isDisabled]="!formData.content.feeds.active"
                  [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.moderation]"
                  (toggle)="checkControl($event, CP_PRIVILEGES_MAP.moderation, formData.content.feeds)">
                </cp-checkbox>
                <span i18n>Feeds</span>
              </div>

              <div
                class="col-xs-4"
                [class.isDisabled]="!formData.content.links.active">
                <cp-checkbox
                  class="cpcheckbox"
                  [isDisabled]="!formData.content.links.active"
                  [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.links]"
                  (toggle)="checkControl($event, CP_PRIVILEGES_MAP.links, formData.content.links)">
                </cp-checkbox>
                <span i18n>Links</span>
              </div>

              <div
                class="col-xs-4"
                [class.isDisabled]="!formData.content.appCustomizaton.active">
                <cp-checkbox
                  class="cpcheckbox"
                  [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.app_customization]"
                  (toggle)="checkControl($event, CP_PRIVILEGES_MAP.app_customization, formData.content.appCustomizaton)"
                  [isDisabled]="!formData.content.appCustomizaton.active">
                </cp-checkbox>
                <span i18n>App Customization</span>
              </div>
            </div>
          </div>
          <!-- END App Content -->

          <!-- Notify -->
          <div class="section__item">
            <div class="row">
              <div class="col-xs-12">
                <p class="section-sub-title" i18n>Notify</p>
                <p class="section-description" i18n>
                  Select push notifications
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="row options-row">
                  <div
                    class="col-xs-5"
                    [class.isDisabled]="!formData.notify.campus.active">
                    <cp-checkbox
                      class="cpcheckbox"
                      [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.campus_announcements]"
                      [isDisabled]="!formData.notify.campus.active"
                      (toggle)="checkControl($event, CP_PRIVILEGES_MAP.campus_announcements, formData.notify.campus)">
                    </cp-checkbox>
                    <span i18n>Campus Announcements</span>
                  </div>
                  <div
                    class="col-xs-5"
                    [class.isDisabled]="!formData.notify.emergency.active">
                    <cp-checkbox
                      class="cpcheckbox"
                      [isDisabled]="!formData.notify.emergency.active"
                      [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.emergency_announcement]"
                      (toggle)="checkControl($event, CP_PRIVILEGES_MAP.emergency_announcement, formData.notify.emergency)">
                    </cp-checkbox>
                    <span i18n>Emergency Announcements</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END Notify -->

          <!-- Assess -->
          <div class="section__item">
            <div class="row">
              <div class="col-xs-12">
                <p class="section-sub-title" i18n>Assess</p>
                <p class="section-description" i18n>
                  View engagement and student attendance data
                </p>
              </div>
            </div>
            <div class="row">
              <div
                class="col-xs-5 options-row"
                [class.isDisabled]="!formData.assess.engagement.active">
                <cp-checkbox
                  class="cpcheckbox"
                  [isDisabled]="!formData.assess.engagement.active"
                  [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.assessment]"
                  (toggle)="checkControl($event, CP_PRIVILEGES_MAP.assessment, formData.assess.engagement)">
                </cp-checkbox>
                <span i18n>Engagement Dashboard</span>
              </div>
            </div>
          </div>
          <!-- END Assess -->
        </div>
      </fieldset>
      <!-- END Permissions -->

        <div class="footer">
          <div class="cp-wrapper cp-wrapper--outer">
            <div class="row">
              <div class="col-xs-12">
                <div class="pull-right">
                  <label *ngIf="isFormError"class="error">{{ formError }}</label>
                  <a [routerLink]="[currentUserCanManage ? '/manage/team' : '/welcome']"
                    class="cpbtn cpbtn--tall cpbtn--cancel" i18n>
                    Cancel
                  </a>
                  <button
                    type="submit"
                    [disabled]="!form.valid"
                    class="cpbtn cpbtn--tall cpbtn--primary" i18n>
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <cp-modal
    [type]="MODAL_TYPE"
    *ngIf="isServiceModal"
    modalId="selectServicesModal">
    <cp-select-services-modal
      [reset]="resetServiceModal$"
      (selected)="onServicesModalSelected($event)"
      [selectedServices]="accountPrivileges">
    </cp-select-services-modal>
  </cp-modal>

  <cp-modal
    [type]="MODAL_TYPE"
    *ngIf="isClubsModal"
    modalId="selectClubsModal">
    <cp-select-clubs-modal
      [reset]="resetClubsModal$"
      (selected)="onClubsModalSelected($event)"
      [selectedClubs]="accountPrivileges">
    </cp-select-clubs-modal>
  </cp-modal>
</div>