<div class="page">
  <div class="page__nav">
    <div class="cp-wrapper cp-wrapper--outer">
      <div class="row justify-content-center">
        <div class="col-8 offset-2">
          <p class="page__title">{{ pageTitle }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cp-wrapper cp-wrapper--outer">
    <div class="row justify-content-center">
      <div class="col-8 offset-2">
        <cp-service-header [service]="data"
                           *ngIf="isService"
                           class="card-margin">
        </cp-service-header>

        <cp-event-header [event]="data"
                         *ngIf="isEvent"
                         class="card-margin"> </cp-event-header>

        <cp-feedback-form class="card-margin"
                          [isEvent]="isEvent"
                          [isService]="isService"
                          (send)="send.emit($event)"
                          [isSubmitted]="isSubmitted"
                          [defaultQuestion]="data.custom_basic_feedback_label">
        </cp-feedback-form>
      </div>
    </div>
  </div>
</div>