@import '~projects/campus-cloud/src/sass/core/colors';

.switch {
  &:focus {
    border: 1px solid red;
  }

  input:focus {
    border: 1px solid blue;
  }
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round:focus + label {
  outline: 1px dotted #797878 !important;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 64px;
  height: 32px;
  background-color: #b5b4b4;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #727272;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 28px;
  margin-left: 1px;
  border-radius: 100%;
  transition: margin 0.4s;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
input.cmn-toggle-round.isChecked + label:before {
  background-color: $color-success;
}
input.cmn-toggle-round.isChecked + label:after {
  margin-left: 33px;
}
