<div class="cp-card feed">
  <div class="feed__header">
    <cp-feed-header [feed]="feed"
                    (filterByCategory)="filterByCategory.emit($event)">
    </cp-feed-header>
    <div class="feed__more">
      <cp-feed-dropdown [feed]="feed"
                        *ngIf="!isRemovedPosts"
                        (selected)="onSelected($event)"
                        [isComment]="!!feedIsAComment"
                        [isCampusWallView]="isCampusWallView"
                        [requiresApproval]="requiresApproval$">
      </cp-feed-dropdown>
    </div>
  </div>

  <div class="row feed__body">
    <div class="col-12">
      <cp-feed-body [feed]="feed"
                    [replyView]="!!feedIsAComment"
                    [isComment]="!!feedIsAComment"
                    [isRemovedPosts]="isRemovedPosts"
                    [isCampusWallView]="isCampusWallView"
                    (viewComments)="onExpandComments()"
                    (toggleReplies)="onExpandComments()">
      </cp-feed-body>
    </div>
  </div>

  <div class="feed__extras feed__comments"
       *ngIf="(matchedComments$ | async)?.length">
    <div class="row"
         *ngFor="let comment of matchedComments$ | async; let last = last">
      <div class="col-12">
        <cp-feed-comment [last]="last"
                         [comment]="comment"
                         [replyView]="[true]"
                         [isCampusWallView]="isCampusWallView">
        </cp-feed-comment>
      </div>
    </div>
  </div>

  <div class="feed__comments"
       *ngIf="isCommentsOpen$ | async">
    <div class="row">
      <div class="col-12">
        <cp-feed-comments [feed]="feed"
                          [groupId]="groupId"
                          (replied)="onReplied()"
                          [groupType]="groupType"
                          (deleted)="onDeletedComment()"
                          [isCampusWallView]="isCampusWallView">
        </cp-feed-comments>
      </div>
    </div>
  </div>
</div>

<cp-modal modalId="moveFeedModal"
          *ngIf="isMoveModal">
  <cp-feed-move-modal [feed]="feed"
                      (moved)="onMoved($event)"
                      (teardown)="isMoveModal = false">
  </cp-feed-move-modal>
</cp-modal>

<cp-modal modalId="deleteFeedModal"
          *ngIf="isDeleteModal">
  <cp-feed-delete-modal [feed]="feed"
                        [isCampusWallView]="isCampusWallView"
                        (teardown)="isDeleteModal = false; deleted.emit($event)">
  </cp-feed-delete-modal>
</cp-modal>

<cp-modal modalId="approveFeedModal"
          *ngIf="isApproveModal">
  <cp-feed-approve-modal [feed]="feed"
                         [isCampusWallView]="isCampusWallView"
                         (teardown)="isApproveModal = false"
                         (approved)="onApprovedPost($event)">
  </cp-feed-approve-modal>
</cp-modal>
