@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/components/card';
@import '~projects/campus-cloud/src/sass/components/button';

:host {
  display: block;
}

.feed {
  &.cp-card {
    padding: 0;
  }

  &__header {
    display: flex;
    padding-top: $default_padding;
    justify-content: space-between;
  }

  &__body,
  &__header,
  &__comments {
    padding-left: $default_padding;
    padding-right: $default_padding;
  }

  &__body {
    padding-top: $default_padding;
    padding-bottom: $default_padding;
  }
}