<div class="cp-wrapper">
  <cp-one-column [width]="layoutWidth" [aligned]="layoutAlign">
    <form [formGroup]="form">
      <div class="row" role="group">
        <div class="col-12 heading text-center">
          <h1 class="heading__image">
            <img class="float-left" [src]="logo" alt="Campus Cloud" />
          </h1>
        </div>
      </div>
      <div class="form-group">
        <label for="username">{{ 'email' | cpI18n }}</label>
        <input
          autofocus
          type="email"
          id="username"
          name="username"
          class="form-control"
          formControlName="username"
        />
      </div>
      <div class="form-group">
        <label for="password">{{ 'password' | cpI18n }}</label>
        <input
          id="password"
          type="password"
          name="password"
          class="form-control"
          formControlName="password" />
      </div>

      <div class="row text-center">
        <div class="col-12">
          <cp-button
            [props]="buttonData"
            [listenForEnterKeyEvent]="[true]"
            (buttonClick)="onSubmit(form.value)"
          >
          </cp-button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <cp-alert></cp-alert>
        </div>
      </div>
    </form>

    <div class="row text-center footer">
      <div class="col-12">
        <a [routerLink]="['/lost-password']">{{ 'lost_password_question' | cpI18n }}</a>
      </div>
    </div>
  </cp-one-column>
</div>
