<ng-container [ngSwitch]="loading">
    <cp-spinner *ngSwitchCase="true"></cp-spinner>

    <div class="tile" *ngSwitchCase="false">
      <div class="row">
        <div class="col-12">
          <p class="tile--title">{{ 'dashboard_top_five_clubs_title' | cpI18n }}</p>
        </div>
      </div>

      <div class="row table">
        <div class="col-12">
          <ng-container *ngIf="!items.length">
            <p class="table--no-results text-center">{{ 'dashboard_no_data_found' | cpI18n }}</p>
          </ng-container>
          <ng-container *ngIf="items.length">
            <div class="row table--header">
              <div class="col-1">
                <p>#</p>
              </div>
              <div class="col-9 no-left-padding">
                <p>{{ 'title' | cpI18n }}</p>
              </div>
              <div class="col-2 no-left-padding">
                <p>{{ 'members' | cpI18n }}</p>
              </div>
            </div>
            <div class="row" *ngFor="let item of items; index as index last as last">
              <div class="col-12">
                <div class="table--item" [class.isLast]="last">
                  <div class="row">
                    <div class="col-1 no-right-padding">
                      <p class="ranking">{{ index + 1 }}</p>
                    </div>
                    <div class="col-9 no-left-padding text-truncate">
                      <img
                        class="avatar img-rounded"
                        [src]="item.logo_url === '' ? defaultImage : item.logo_url">
                      <ng-container *ngIf="!isSuperAdmin">
                        <p class="title text-truncate">{{ item.name }}</p>
                      </ng-container>
                      <ng-container *ngIf="isSuperAdmin">
                        <p class="title text-truncate hover" (click)="router.navigate(['/manage/clubs/' + item.id + '/info'])">{{ item.name }}</p>
                      </ng-container>
                    </div>
                    <div class="col-2 no-left-padding text-right">
                      <p class="semi-bold">{{ item.member_count }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>