<div class="component">
  <div class="row">
    <div class="col-xs-5">
      <div class="component__border"></div>
    </div>
    <div class="col-xs-2 text-center">
      <button 
        type="button"
        class="cptbtn cpbtn--link"
        (click)="addSection.emit()">
        <i class="material-icons">add</i>
        <span>{{ 't_personas_section_button_add_section' | cpI18n }}</span>
      </button>
    </div>
    <div class="col-xs-5">
      <div class="component__border"></div>
    </div>
    <!-- <div class="col-xs-5 component__border"></div>
    <div class="col-xs-2 text-center">
      <button 
        type="button"
        class="cptbtn cpbtn--link"
        (click)="addSection.emit()">
        <i class="material-icons">add</i>
        <span>{{ 't_personas_section_button_add_section' | cpI18n }}</span>
      </button>
    </div>
    <div class="col-xs-5 component__border"></div> -->
  </div>
</div>