<ng-container [ngSwitch]="loading$ | async">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <h3 class="title">{{ 't_dashboard_total_app_opens' | cpI18n }}</h3>
    <ready-ui-line-chart [xLabels]="labels"
                         [series]="series"
                         [colors]="['#ffa941']">
    </ready-ui-line-chart>

    <span class="label">
      <span class="pill"></span>
      {{ 't_dashboard_total_app_opens' | cpI18n }}
    </span>
  </ng-container>
</ng-container>