<div class="row">
  <div class="col-xs-12">
    <cp-engagement-topbar
      (doFilter)="onDoFilter($event)">
    </cp-engagement-topbar>
  </div>
</div>

<div class="chart cp-card">
  <ng-container [ngSwitch]="loading">
    <cp-spinner *ngSwitchCase="true"></cp-spinner>

    <div class="row" *ngSwitchCase="false">
      <div class="col-xs-5">
        <p class="chart--title" i18n>
          Student Engagements
        </p>
        <cp-engagement-stats
          [props]="chartData"
          (doCompose)="onDoCompose($event)">
        </cp-engagement-stats>
      </div>
      <div class="col-xs-7">
        <p class="chart--title" i18n>
          Daily Total Engagements
        </p>
        <cp-engagement-chart
          [props]="chartData">
        </cp-engagement-chart>
      </div>
    </div>
  </ng-container>
</div>

<div class="boxes">
  <div class="row">
    <div class="col-xs-6">
      <cp-engagement-events-box
        [props]="filters$">
      </cp-engagement-events-box>
    </div>

    <div class="col-xs-6">
      <cp-engagement-services-box
        [props]="filters$">
      </cp-engagement-services-box>
    </div>
  </div>
</div>

<cp-modal
  *ngIf="isComposeModal"
  modalId="composeModal">
  <cp-engagement-compose
    [props]="messageData"
    (success)="onFlashMessage()"
    (teardown)="onComposeTeardown()">
  </cp-engagement-compose>
</cp-modal>
