<div class="row">
  <div class="col-12">
    <cp-engagement-topbar
      (download)="onDownload()"
      (doFilter)="onDoFilter($event)">
    </cp-engagement-topbar>
  </div>
</div>

<div class="chart cp-card">
  <ng-container [ngSwitch]="loading">
    <cp-spinner *ngSwitchCase="true"></cp-spinner>

    <div class="row" *ngSwitchCase="false">
      <div class="col-5">
        <p class="chart--title" i18n>
          {{ 'students' | cpI18n }}
        </p>
        <cp-engagement-stats
          [props]="statsData"
          (download)="onDownload($event)"
          (doCompose)="onDoCompose($event)">
        </cp-engagement-stats>
      </div>
      <div class="col-7">
        <p class="chart--title" i18n>
          {{ 'student_engagements' | cpI18n }}
        </p>
        <cp-line-chart
          [series]="series"
          [labels]="labels"
          [chartOptions]="chartOptions">
        </cp-line-chart>
      </div>
    </div>
  </ng-container>
</div>

<div class="boxes">
  <div class="row">
    <div class="col-6">
      <cp-engagement-events-box
        [props]="filters$">
      </cp-engagement-events-box>
    </div>

    <div class="col-6">
      <cp-engagement-services-box
        [props]="filters$">
      </cp-engagement-services-box>
    </div>
  </div>
</div>

<cp-modal
  *ngIf="isComposeModal"
  modalId="composeModal">
  <cp-engagement-compose
    [props]="messageData"
    (success)="onFlashMessage($event)"
    (teardown)="onComposeTeardown()">
  </cp-engagement-compose>
</cp-modal>
