@import '~styles/core/colors';
@import '~styles/core/typography';
@import '~styles/components/card';
@import '~styles/components/form';
@import '~styles/components/button';
@import '~bootstrap/variables';

.delete-event {
  font-size: 2em;
}

.add-margin {
  @include card-margin();
}

.events {
  padding: 0;
  list-style: none;

  &__thumbnail {
    img {
      float: left;
      width: 30px;
      height: 30px;
      margin-top: 5px;
      margin-right: 10px;
    }
  }

  @media all and (max-width: $screen-md) {
    li {
      > span:not(.events__thumbnail) {
        text-align: center;
        padding-bottom: 10px;
      }
    }
  }
}