<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span><strong>{{ 'employers_edit_employer' | cpI18n }}</strong></span>

        <button type="button"
                aria-label="close"
                (click)="resetModal()"
                class="float-right hover cpmodal__header__close unstyled-button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <cp-employer-form #editForm
                      [employerForm]="employerForm"> </cp-employer-form>
  </div>

  <div class="cpmodal__footer">
    <ready-ui-stack alignment="end"
                    spacing="tight">
      <button ui-button
              type="button"
              variant="stroked"
              aria-label="Cancel Edit Employer"
              (click)="resetModal()">
        {{ 'cancel' | cpI18n }}
      </button>
      <button ui-button
              type="button"
              variant="flat"
              color="primary"
              (click)="onSubmit()"
              aria-label="Edit Employer"
              [disabled]="disableButton">
        {{ 'save' | cpI18n }}
      </button>
    </ready-ui-stack>
  </div>
</div>
