<div class="cp-card actions">
  <div class="row justify-content-between">
    <div class="col">
      <div class="row">
        <cp-searchbox (query)="onSearch($event)"
                      class="col-7"> </cp-searchbox>
        <div class="col-5">
          <cp-checkbox class="checkbox"
                       [label]="cpI18n.translate('assessment')"
                       (toggle)="onAttendanceToggle($event)">
          </cp-checkbox>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div *ngIf="canWriteSchoolWide"
             class="col-12 float-right text-right">
          <a cpTracker
             [routerLink]="['create']"
             [eventData]="eventData"
             class="cpbtn cpbtn--primary cpbtn--square-right no-right-padding">
            {{ 'services_button_create' | cpI18n }}
          </a>
          <button
                  class="cpbtn cpbtn--square-left cpbtn--no-padding cpbtn--primary no-left-padding hover action-dropdown">
            <i class="material-icons"
               data-toggle="dropdown">expand_more</i>
            <ul
                class="dropdown-menu dropdown-menu-right text-left action-dropdown-list">
              <li (click)="launchModal()">{{ 'import_from_csv' | cpI18n }}</li>
            </ul>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>