<div class="cp-card">
  <div class="row justify-content-between">
    <div class="col-6 float-left">
      <div class="row">
        <div class="col-6">
          <cp-searchbox (query)="onSearch($event)"></cp-searchbox>
        </div>

        <div class="col-6">
          <cp-dropdown
            class="dropdown"
            [items]="categories$ | async"
            (selected)="onSelectedCategory($event)">
          </cp-dropdown>
        </div>
      </div>
    </div>
    <div class="col-6 float-right">
      <a
        cpTracker
        [eventData]="eventData"
        [routerLink]="['create']"
        class="cpbtn cpbtn--primary float-right">
        {{ 'locations_btn_create' | cpI18n }}
      </a>

      <a
        [routerLink]="['categories']"
        class="cpbtn cpbtn--cancel float-right margin-right">
        {{ 't_locations_manage_categories' | cpI18n }}
      </a>
    </div>
  </div>
</div>