<div class="margin-bottom"
     [ngSwitch]="isFormReady">
  <cp-spinner *ngSwitchCase="false"></cp-spinner>

  <ng-container *ngSwitchCase="true">
    <form [formGroup]="form">
      <cp-two-columns>
        <cp-card layout-left-column>
          <cp-events-form
            [form]="form"
            [isEdit]="true"
            [isClub]="isClub"
            [isService]="isService"
            [formError]="formError"
            [isOrientation]="isOrientation"
            (selectHost)="changedHost$.next($event)"
            (amplitudeProperties)="onSelectProperties($event)">
          </cp-events-form>
        </cp-card>

        <cp-card layout-right-column>
          <cp-events-assessment-form
            [form]="form"
            [clubId]="clubId"
            [storeId]="storeId"
            [formError]="formError"
            [changedHost$]="changedHost$"
            [isOrientation]="isOrientation">
          </cp-events-assessment-form>
        </cp-card>
      </cp-two-columns>

      <div class="footer">
        <div class="cp-wrapper cp-wrapper--outer">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <div class="text-right">
                  <a [routerLink]="['../info']"
                     class="cpbtn cpbtn--cancel">
                    {{ 'cancel' | cpI18n }}
                  </a>
                  <cp-button [props]="buttonData"
                             (buttonClick)="onSubmit()">
                  </cp-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</div>