<ng-container [ngSwitch]="loading">
  <div class="cp-card events events--no-data" *ngSwitchCase="true">
    <div class="row">
      <div class="col-xs-12">
        <p class="events--heading" i18n>{{ 'events' | cpI18n }}</p>

        <div class="events--no-data-wrapper text-center">
          <cp-spinner *ngSwitchCase="true"></cp-spinner>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngSwitchCase="false">
    <ng-container [ngSwitch]="isDisable">
      <div class="cp-card events events--no-data" *ngSwitchCase="true">
        <div class="row">
          <div class="col-xs-12">
            <p class="events--heading" i18n>{{ 'events' | cpI18n }}</p>

            <div class="events--no-data-wrapper text-center">
              <p class="heading" i18n>{{ 'assess_no_event_data' | cpI18n }}</p>
              <p class="text-muted">{{ 'assess_no_event_data_help' | cpI18n }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="cp-card events" *ngSwitchCase="false">
        <div class="row">
          <div class="col-xs-12">
            <p class="events--heading" i18n>{{ 'events' | cpI18n }}</p>

            <div class="events--stats">
              <div class="row">
                <div class="col-xs-4 events--stats--stat" *ngFor="let stat of stats">
                  <div class="row">
                    <div class="col-xs-4 events--stats--graph no-right-padding">
                      <img [src]="[stat.icon]" alt="total events">
                    </div>
                    <div class="col-xs-8 events--stats--data no-right-padding no-left-padding">
                      <p class="stat">{{ stat.value }}</p>
                      <p class="text-muted text-truncate" i18n>{{ stat.label }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="events--ranking">
              <div class="row">
                <div class="col-xs-4">
                  <p class="events--heading" i18n>{{ 'assess_top_events' | cpI18n }}</p>
                </div>
                <div class="events--ranking--sorting col-xs-8">
                  <div class="row">
                    <div class="col-xs-4 text-right no-right-padding">
                      <p i18n>{{ 'assess_sort_by' | cpI18n }}</p>
                    </div>
                    <div class="col-xs-8">
                      <cp-dropdown
                        [items]="sortyBy"
                        [selectedItem]="sortingBy"
                        (selected)="onSortBy($event)">
                      </cp-dropdown>
                    </div>
                  </div>
                </div>
              </div>
              <ng-container [ngSwitch]="isSorting">
                <cp-spinner *ngSwitchCase="true"></cp-spinner>
                <div class="row events--table" *ngSwitchCase="false">
                  <ng-container *ngIf="!eventsRanking.length">
                    <div class="col-xs-12 text-center events--not_found">
                        <p class="events--not_found--title" i18n>{{ 'zero_quantity' | cpI18n }} {{ sortingBy.label }}</p>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="eventsRanking.length">
                    <div class="col-xs-12">
                        <div class="row events--table--header">
                          <div class="col-xs-1">
                            <p>#</p>
                          </div>
                          <div class="col-xs-5 no-left-padding">
                            <p i18n>{{ 'title' | cpI18n }}</p>
                          </div>
                          <div class="col-xs-2 no-left-padding">
                            <p i18n>{{ 'attendees' | cpI18n }}</p>
                          </div>
                          <div class="col-xs-2 no-right-padding">
                            <p i18n>{{ 'feedback' | cpI18n }}</p>
                          </div>
                          <div class="col-xs-2 text-right no-left-padding">
                            <p i18n>{{ 'rating' | cpI18n }}</p>
                          </div>
                        </div>
                        <div class="row" *ngFor="let event of eventsRanking; index as index; last as last">
                          <div class="col-xs-12">
                            <div class="events--table--item" [class.isLast]="last">
                              <div class="row">
                                <div class="col-xs-1">
                                  <p class="ranking">{{ index + 1 }}</p>
                                </div>
                                <div class="col-xs-5 no-left-padding text-truncate">
                                  <img [src]="event.event_poster_thumb_url === '' ? defaultImage : event.event_poster_thumb_url" alt="" class="event-avatar img-rounded">
                                  <p class="event-title text-truncate">{{ event.event_title }}</p>
                                </div>
                                <div class="col-xs-2 no-left-padding">
                                  <p>{{ event.num_of_attendees }}</p>
                                </div>
                                <div class="col-xs-2 no-right-padding">
                                  <p>{{ event.num_of_feedbacks }}</p>
                                </div>
                                <div class="col-xs-2 text-right no-left-padding">
                                  <p>{{ ((event.average_of_feedbacks / 100) * 5).toFixed(1) }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
