<div class="cp-wrapper cp-wrapper--outer">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <div class="header">
            <h1 class="title">{{ 'admin_invite_heading' | cpI18n }}</h1>
          </div>
        </div>
      </div>
      <div class="row"
           *ngIf="isSubmitted">
        <div class="col-12">
          <p>{{ 'admin_password_sucess_redirect' | cpI18n }}</p>
        </div>
      </div>

      <div class="row"
           *ngIf="!isSubmitted">
        <div class="col-12">
          <div class="row">
            <div class="col-6 offset-3">
              <form [formGroup]="form"
                    (ngSubmit)="onSubmit(form.value)">
                <div class="form-group">
                  <label for="password">{{ 'password' | cpI18n }}</label>
                  <input id="password"
                         type="password"
                         formControlName="new_password" />
                </div>

                <div class="row">
                  <div class="col-12">
                    <button type="submit"
                            [disabled]="!form.valid"
                            class="cpbtn cpbtn--primary">
                      {{ 'admin_create_account' | cpI18n }}
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <cp-alert></cp-alert>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="row text-center footer">
            <div class="col-4 offset-4">
              <div class="row">
                <div class="col-12">
                  <a [routerLink]="['/login']">{{ 'login' | cpI18n }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>