<div class="row margin-bottom">
  <form [formGroup]="form">
    <div class="cp-card">
      <div class="row item-details">
        <div class="col-12">
          <p class="title">{{ 'jobs_job_details' | cpI18n }}</p>
          <div class="form-group margin-top">
            <label>
              {{ 'jobs_job_title' | cpI18n }}
            </label>
            <cp-char-counter
              class="float-right"
              [limit]="120"
              [charCount]="form.controls.title.value">
            </cp-char-counter>
            <input
              type="text"
              class="form-control"
              formControlName="title"
              [class.error]="formError && form.controls['title'].hasError('required')">
          </div>

          <div class="form-group">
            <label>{{ 'description' | cpI18n }}</label>
            <textarea formControlName="description"></textarea>
          </div>

          <div class="form-group">
            <label>{{ 'jobs_how_to_apply' | cpI18n }}</label>
            <textarea formControlName="how_to_apply"></textarea>
          </div>

          <div class="form-group">
            <label>{{ 't_jobs_ongoing' | cpI18n }}</label>
            <cp-switch
              class="float-right"
              (toggle)="toggleOngoing()"
              [isChecked]="form.controls.ongoing.value">
            </cp-switch>
          </div>

          <div class="row form-group">
            <div class="col-6">
              <label>{{ 'jobs_posting_start_date' | cpI18n }}</label>
              <cp-datepicker
                [options]="postingStartDatePickerOptions"
                [error]="formError && form.controls['posting_start'].hasError('required')">
              </cp-datepicker>
            </div>
            <div
              class="col-6"
              *ngIf="!form.controls.ongoing.value">
              <label>{{ 'jobs_posting_end_date' | cpI18n }}</label>
              <cp-datepicker
                [options]="postingEndDatePickerOptions"
                [error]="formError && form.controls['posting_end'].hasError('required')">
              </cp-datepicker>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-6">
              <label>{{ 'jobs_job_start_date' | cpI18n }}</label>
              <cp-datepicker
                [options]="contractStartDatePickerOptions">
              </cp-datepicker>
            </div>
            <div class="col-6">
              <label>{{ 'jobs_application_deadline' | cpI18n }}</label>
              <cp-datepicker
                [options]="applicationDeadlineDatePickerOptions">
              </cp-datepicker>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label>{{ 'location' | cpI18n }}</label>
              <div class="row form-group">
                <div class="col-12">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="location">
                </div>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-12">
              <label>{{ 'jobs_desired_year_of_study' | cpI18n }}</label>
              <div class="row form-group">
                <div class="col-4 jobs-study" *ngFor="let item of desiredStudy;">
                  <cp-checkbox
                    class="checkbox"
                    [label]="item.label"
                    (toggle)="onJobTypeDesiredStudyToggle(item.name, $event)"
                    [isChecked]="form.controls[item.name].value">
                  </cp-checkbox>
                </div>
              </div>
            </div>

            <div class="col-12">
              <label>{{ 'jobs_job_type' | cpI18n }}</label>
              <div class="row form-group">
                <div class="col-4 jobs-study" *ngFor="let job of jobsType;">
                  <cp-checkbox
                    class="checkbox"
                    [label]="job.label"
                    (toggle)="onJobTypeDesiredStudyToggle(job.name, $event)"
                    [isChecked]="form.controls[job.name].value">
                  </cp-checkbox>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>