@import '~client/style/components/card';
@import '~client/style/components/form';
@import '~client/style/core/typography';

form {
  .margin-top {
    margin-top: 24px;

    span {
      margin-top: 10px;
    }
  }

  label.no-margin {
    margin: 0;
  }

  p.title {
    @include font-24px();
    @include font-bold();

    margin: 0;
    display: inline-block;
  }

  label {
    margin-top: 10px;
    display: inline-block;

    i {
      @include font-14px();
    }
  }

  .checkbox {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
  }

  .jobs-study {
    span {
      vertical-align: middle;
    }
  }

  .jobs-study:nth-child(3n + 3) {
    margin-bottom: 13px;
  }
}

.margin-bottom {
  // to account for the fixed footer
  padding-bottom: 90px;
}
