<div class="row margin-bottom">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="col-xs-12 col-sm-6">
      <div class="cp-card">
        <div class="row">
          <div class="col-xs-12">
            <p class="title" i18n>Service Photo</p>
            <div class="margin-top row">
              <cp-image-upload
                [required]="formError && form.controls['logo_url'].hasError('required')"
                (uploaded)="form.controls.logo_url.setValue($event)">
              </cp-image-upload>
            </div>
          </div>
        </div>

        <div class="row margin-top">
          <div class="col-xs-12">
            <p class="title" i18n>Service Details</p>
            <div class="form-group margin-top">
              <label i18n>Service Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Add a short, clear name"
                [class.error]="formError && form.controls['name'].hasError('required')">
            </div>

            <div class="row form-group">
              <div class="col-xs-12 col-sm-6">
                <label i18n>Select Category</label>
                <cp-dropdown
                  [items]="categories"
                  (selected)="form.controls['category'].setValue($event.action)">
                </cp-dropdown>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-12 col-sm-6">
                <label i18n>Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-12 col-sm-6">
                <label i18n>Email</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-12 col-sm-6">
                <label i18n>Website</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="website">
              </div>
            </div>

            <div class="form-group form-group">
              <label i18n>Description (optional)</label>
              <textarea
                formControlName="description"
                placeholder="Tell people more about the event">
              </textarea>
            </div>

            <div class="row form-group">
              <div class="col-xs-12">
                <label i18n>Location (optional)</label>
                <div class="row">
                  <div class="col-xs-6 col-sm-4">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Building"
                        formControlName="location">
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-4">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Room"
                        formControlName="room_data">
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-4">
                    <div class="form-group">
                      <cp-place-autocomplete
                        (placeChange)="onPlaceChanged($event)">
                      </cp-place-autocomplete>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-12 maps">
                <cp-maps [center]="mapCenter"></cp-maps>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="cp-card">
        <div class="row">
          <div class="col-xs-12">
            <p class="title" i18n>Service Attendance</p>
            <span class="pull-right">
              <cp-switch
                [id]="attendance"
                (toggle)="attendance = !attendance"
                (toggle)="form.controls['service_attendance'].setValue($event)">
              </cp-switch>
            </span>
          </div>
        </div>

        <div *ngIf="attendance">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label i18n>Default Question</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="default_basic_feedback_label">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cp-card margin-top">
        <div class="row">
          <div class="col-xs-12">
            <p class="title" i18n>Admins</p>
          </div>
        </div>
        <ul class="row admins margin-top">
          <li class="admins__item">
            <div class="col-xs-12">
              <div class="pull-left">
                <strong>Dummy User</strong>
                <small class="text-muted">dummy@gmail.com</small>
              </div>
              <span
                (click)="onDelete()"
                class="pull-right text-right hover"
                data-toggle="modal" data-target="#deleteAdminServiceForm">&times;</span>
            </div>
          </li>
        </ul>

        <div class="row admins__footer">
          <div class="col-xs-12">
            <button
              type="button"
              class="cpbtn cpbtn--secondary pull-right" i18n>
              Add Admin
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="form-footer">
  <div class="container">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-right">
            <label class="error" *ngIf="formError" i18n>
                <span>&#x26A0;</span> Please fill out the marked fields
            </label>
            <a [routerLink]="['/manage/services']"
              class="cpbtn cpbtn--tall cpbtn--cancel" i18n>
              Cancel
            </a>
            <button
              type="submit"
              (click)="onSubmit()"
              class="cpbtn cpbtn--tall cpbtn--primary" i18n>
              Create Service
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<cp-modal modalId="deleteAdminServiceForm">
  <cp-delete-admin-modal></cp-delete-admin-modal>
</cp-modal>