<div class="row margin-bottom">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)">
    <div class="col-xs-6">
      <div class="cp-card">
        <div class="row">
          <div class="col-xs-12">
            <p class="title" i18n>Service Photo</p>
            <div class="margin-top row">
              <cp-image-upload
                [required]="formError && form.controls['logo_url'].hasError('required')"
                (uploaded)="form.controls.logo_url.setValue($event)">
              </cp-image-upload>
            </div>
          </div>
        </div>

        <div class="row margin-top">
          <div class="col-xs-12">
            <p class="title" i18n>Service Details</p>
            <div class="form-group margin-top">
              <label i18n>Service Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Add a short, clear name"
                [class.error]="formError && form.controls['name'].hasError('required')">
            </div>

            <div class="row form-group">
              <div class="col-xs-6">
                <label i18n>Select Category</label>
                <cp-dropdown
                  [items]="categories"
                  (selected)="form.controls['category'].setValue($event.action)"
                  [isRequiredError]="formError && form.controls['category'].hasError('required')">
                </cp-dropdown>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-6">
                <label i18n>Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-6">
                <label i18n>Email</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-6">
                <label i18n>Website</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="website">
              </div>
            </div>

            <div class="form-group form-group">
              <label i18n>Description (optional)</label>
              <textarea
                formControlName="description"
                placeholder="Tell people more about the event">
              </textarea>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <label i18n>Location (optional)</label>
                <div class="row form-group">
                  <div class="col-xs-12">
                    <cp-place-autocomplete
                      (placeChange)="onPlaceChanged($event)">
                    </cp-place-autocomplete>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-xs-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Building"
                      formControlName="location">
                  </div>

                  <div class="col-xs-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Room"
                        formControlName="room_data">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-12">
                <div class="maps">
                  <cp-maps [center]="mapCenter"></cp-maps>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="cp-card">
        <div class="row">
          <div class="col-xs-8">
            <p class="title" i18n>Service Attendance</p>
            <p class="text-muted" i18n>Add Service Providers</p>
          </div>
          <div class="col-xs-4 pull-right">
            <span class="pull-right">
              <cp-switch
                [id]="attendance"
                (toggle)="attendance = !attendance"
                (toggle)="onToggleAttendance($event)">
              </cp-switch>
            </span>
          </div>
        </div>

        <div *ngIf="attendance">
          <div formArrayName="providers">
            <div
              class="row form-box"
              *ngFor="let provider of form.controls.providers.controls; let i=index">
              <div [formGroupName]="i" class="col-xs-12">
                <div class="cp-card cp-card--alt cp-card--half-padding cp-card--no-shadow">
                  <div class="delete-provider">
                    <button
                      *ngIf="form.controls.providers.controls.length > 1"
                      (click)="delteProviderControl(i)"
                      class="cpbtn cpbtn--link-dark">
                      &times;
                    </button>
                  </div>
                  <div class="row form-group">
                    <div class="col-xs-6">
                      <label i18n>Name</label>
                      <input
                        type="text"
                        placeholder="Name"
                        formControlName="provider_name"
                        [class.error]="formError && attendance && provider.controls['provider_name'].hasError('required')">
                    </div>
                    <div class="col-xs-6">
                      <label i18n>Email</label>
                      <input
                        type="email"
                        placeholder="Email"
                        formControlName="email"
                        [class.error]="formError && attendance && provider.controls['email'].hasError('required')">
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-xs-12">
                      <label i18n>Default Question</label>
                      <input
                        type="text"
                        placeholder="How did you like the service?"
                        formControlName="custom_basic_feedback_label"
                        [class.error]="formError && attendance && provider.controls['custom_basic_feedback_label'].hasError('required')">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4">
                <button
                  type="button"
                  class="cpbtn cpbtn--secondary"
                  (click)="onAddProviderControl()" i18n>
                  Add Another Service Provider
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="form-footer">
  <div class="cp-wrapper cp-wrapper--outer">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-right">
          <label class="error" *ngIf="formError" i18n>
              <span>&#x26A0;</span> Please fill out the marked fields
          </label>
          <a [routerLink]="['/manage/services']"
            class="cpbtn cpbtn--tall cpbtn--cancel" i18n>
            Cancel
          </a>
          <button
            type="submit"
            (click)="onSubmit()"
            [disabled]="!form.valid"
            class="cpbtn cpbtn--tall cpbtn--primary" i18n>
            Create Service
          </button>
        </div>
      </div>
    </div>
  </div>
</div>