<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span>
          <strong>
            {{ 'clubs_member_edit_modal_title' | cpI18n }}
          </strong>
        </span>

        <button type="button"
                aria-label="close"
                cpTarget="close"
                (click)="onClose()"
                class="float-right hover cpmodal__header__close unstyled-button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-12">
        <cp-member-form [form]="form"
                        [memberTypes]="memberTypes"
                        [selectedType]="selectedType"
                        [showPosition]="form.controls['member_type'].value === isExecutiveLeader">
        </cp-member-form>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row justify-content-end">
      <div class="col-6 text-right">
        <button type="button"
                cpTarget="cancel"
                (click)="onClose()"
                class="cpbtn cpbtn--cancel">
          {{ 'cancel' | cpI18n }}
        </button>

        <button type="button"
                cpTarget="submit"
                (click)="onSave()"
                [disabled]="form.invalid"
                class="cpbtn cpbtn--primary">
          {{ 'save' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>