<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-xs-12 text-center">
        <span i18n><strong>{{ 'lists_edit_modal_title' | cpI18n }}</strong></span>

        <span
          data-dismiss="modal"
          (click)="resetModal()"
          class="pull-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="form">
          <div class="form-group">
            <label i18n>{{ 'lists_label_list_name' | cpI18n }}</label>
            <input
              type="text"
              class="form-control"
              placeholder="Add a short, clear name"
              formControlName="name">
          </div>

          <div class="form-group">
            <label i18n>{{ 'lists_label_list_description' | cpI18n }}</label>
            <input
              type="text"
              class="form-control"
              placeholder="List Description"
              formControlName="description">
          </div>

          <div class="form-group">
            <label i18n>{{ 'users' | cpI18n }}</label>
            <cp-typeahead
              [props]="typeAheadOpts"
              (query)="onSearch($event)"
              (selection)="onSelection($event)">
            </cp-typeahead>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-6 text-right">
        <button
          type="button"
          data-dismiss="modal"
          (click)="resetModal()"
          class="cpbtn cpbtn--cancel" i18n>
          {{ 'cancel' | cpI18n }}
        </button>

        <button
          type="button"
          (click)="doSubmit()"
          [disabled]="!form.valid"
          class="cpbtn cpbtn--primary"i18n>
          {{ 'update' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>
