@import '~styles/components/form';
@import '~styles/components/modal';
@import '~styles/components/button';

.cpmodal__body {
  margin-top: 15px;
}

.cpInput {
 height: auto;
 padding: 1px;
 min-height: 36px;
 max-height: 200px;
 overflow: scroll;
}
