<div class="row">
  <div class="col-12">
    <cp-clubs-list-action-box
      [isAthletic]="isAthletic"
      (filter)="doFilter($event)">
    </cp-clubs-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <div *ngIf="state.clubs.length">
      <ul class="cp-form clubs">
        <li class="cp-form__header col-12">
          <div class="row">
            <cp-sorting-header
              class="col-5"
              label="name"
              (click)="doSort('name')"
              [sortField]="state.sort_field"
              [sortDirection]="state.sort_direction">
            </cp-sorting-header>

            <span class="col-2" >
              {{ 'status' | cpI18n }}
            </span>
            <span class="col-2">
              {{ 'members' | cpI18n }}
            </span>
            <span class="col-2" i18n>{{ 'events' | cpI18n }}</span>
            <span class="col-1"></span>
          </div>
        </li>

        <li class="cp-form__item col-12" *ngFor="let club of state.clubs">
          <div class="row">
            <span class="col-5 text-truncate clubs__thumbnail">
              <img class="rounded img-fit-cover" [src]="club.logo_url" *ngIf="club.logo_url !== ''">

              <img class="rounded img-fit-cover" src="defaultImage" *ngIf="club.logo_url === ''">

              <strong><a [routerLink]="[club.id + '/info']">{{ club.name }}</a></strong>
              <br>
              {{ club.description }}
            </span>
            <span class="col-2 text-truncate">
              {{ clubStatus[club.status] }}
              <ng-container *ngIf="club.status === PENDING_STATUS">
                <button
                  type="button"
                  class="cpbtn cpbtn--link"
                  (click)="onApproveClub(club.id)">
                  ({{ 'approve' | cpI18n }})
                </button>
              </ng-container>
            </span>
            <span class="col-2 text-truncate">
              {{ club.member_count === disabledWall ? cpI18n.translate('clubs_disabled') : club.member_count }}
            </span>
            <span class="col-2 text-truncate">
              {{ club.total_item_count }}
            </span>

            <span
              (click)="deleteClub = club"
              data-toggle="modal" data-target="#deleteClubsModal"
              class="col-1 hover text-center text-truncate delete-club float-right">
              &times;
            </span>
          </div>
        </li>
      </ul>

      <div class="row">
        <div class="col-12">
          <cp-pagination
            [pageNext]="pageNext"
            [pagePrev]="pagePrev"
            [pageNumber]="pageNumber"
            (next)="onPaginationNext()"
            (previous)="onPaginationPrevious()">
          </cp-pagination>
        </div>
      </div>
    </div>

    <cp-no-content
      class="no-content"
      *ngIf="!state.clubs.length"
      [noContentText]="cpI18n.translate('clubs_no_results')">
    </cp-no-content>
  </div>
</div>

<cp-modal modalId="deleteClubsModal">
  <cp-clubs-delete
    [club]="deleteClub"
    (error)="onError($event)"
    [isAthletic]="isAthletic"
    (deletedClub)="onDeletedClub($event)">
  </cp-clubs-delete>
</cp-modal>


