<div class="item">
  <label [for]="key">{{ 't_api_management_api_key' | cpI18n }}</label>
  <button type="button"
          class="item__visibility-icon hover cpbtn cpbtn--no-border cpbtn--no-padding cpbtn--link-dark"
          (click)="isTextVisible = !isTextVisible">
    <i class="material-icons">
      {{ isTextVisible ? 'visibility_off' : 'visibility' }}
    </i>
  </button>

  <button ui-tooltip
          (copied)="notify()"
          [cpCopyClipboard]="key"
          class="item__key-container"
          [title]="'t_api_management_tooltip_click_to_copy' | cpI18n">
    <span *ngIf="!isTextVisible && keyPrefix">{{ keyPrefix }}</span>
    <input [id]="key"
           [value]="key"
           class="item__key-input"
           [type]="isTextVisible ? 'text' : 'password'">
  </button>
</div>
