@import '~projects/campus-cloud/src/sass/components/button';
@import '~projects/campus-cloud/src/sass/core/typography';

.item {
  label {
    @include font-normal();

    display: inline-block;
  }

  &__visibility-icon {
    top: 4px;
    right: 188px;
    position: absolute;
  }

  &__key-input,
  &__key-container {
    border: none;
    text-align: left;
    cursor: pointer;
    margin-left: 8px;
    padding: 3px 8px;
    border-radius: 4px;
    color: $color-text;
    display: inline-block;
    background-color: $color-light-grey;
    font-family: 'Courier New', Courier, monospace;
  }

  &__key-container {
    width: 355px;
  }

  &__key-input {
    height: 26px;
    width: 290px;
    margin-left: 0;
    padding-left: 0;
    pointer-events: none;
  }
}
