@import '~client/style/components/button';
@import '~client/style/core/typography';

strong {
  @include font-semi-bold();

  color: $color-black;
}

.location {
  &__map,
  &__banner {
    height: 225px;
  }

  &__buttons {
    margin-top: 15px;
  }

  &__icon {
    width: 38px;
    height: 38px;
    padding: 7px;
    float: right;
    display: block;
    border-radius: 20px;

    img {
      width:100%;
    }
  }

  &__details {
    display: block;
    margin-top: 15px;
  }
}
