@import '~client/style/components/button';
@import '~client/style/core/typography';

strong {
  @include font-semi-bold();

  color: $color-black;
}

.location {
  &__map,
  &__banner {
    height: 225px;
  }

  &__buttons {
    margin-top: 15px;
  }

  .avatar {
    width: 35px;
    height: 35px;
  }

  &__details {
    display: block;
    margin-top: 15px;
  }
}
