<div class = "row">
  <div class="col-12">
    <div class="cp-card actions">

      <div class="row">
        <div class="col-6">
          <h4>{{ 't_case_history' | cpI18n }}</h4>
        </div>
        <div class="col-3 text-right float-right pr-0">
          <cp-range-picker [class]="'cancel'"
                            [icon]="'date_range'"
                            [dateRanges]="dateRanges"
                            (rangeChange)="onDateChange($event)"
                            [maxDate]="dateFilterOpts.maxDate"
                            [minDate]="dateFilterOpts.minDate">
          </cp-range-picker>          
        </div>
        <div class="col-2 pr-0">
          <cp-dropdown class="topbar--dropdown"
                        [items]="caseStatus$ | async"
                        (selected)="onLogFilter($event)">
          </cp-dropdown>
        </div>
        <div class="col-1">
          <button
            ui-button
            variant="stroked"
            overlayWidth="9.78em"
            [triggerFor]="primary"
            ready-ui-menu-trigger
            direction="bottom-left"
            class="action-button"
            [color]="'default'"
          >
            <ready-ui-stack spacing="tight">
              <ready-ui-icon
                width="20px"
                name="more_horiz"
              >
              </ready-ui-icon>
            </ready-ui-stack>
          </button>
        </div>
      </div>

      <div class="row mt-4" [ngSwitch]="loading">
        <div class="col-12" *ngSwitchCase="true">
          <cp-spinner class="float-center"></cp-spinner>
        </div>        
        <div class="col-12" *ngSwitchCase="false">
          <cp-no-content class="margin-top"
                          *ngIf="!caseLog.length"
                          [noContentText]="'t_cases_log_no_record_found' | cpI18n">
          </cp-no-content>
          <div *ngIf="caseLog.length">
            <table ui-table>
              <thead>
                <tr ui-table-row>
                  <th ui-table-cell>{{ 't_shared_date' | cpI18n }}</th>                                                     
                  <th ui-table-cell>{{ 'event' | cpI18n }}</th>
                  <th ui-table-cell>{{ 't_case_status' | cpI18n }}</th>
                  <th ui-table-cell>{{ 't_shared_source' | cpI18n }}</th>
                  <th ui-table-cell></th>
                </tr>
              </thead>
          
              <tbody>
                <tr ui-table-row
                    *ngFor="let log of caseLog; index as i">
                  <td ui-table-cell>
                    {{ log.activity_time_epoch | cpDatePipe: dateFormat }}
                  </td>
                  
                  <td ui-table-cell>
                    {{ log.event }}
                  </td>
          
                  <td ui-table-cell>
                    <cp-dot color="#{{log.new_status.color}}"></cp-dot>{{ log.new_status.name }}
                  </td>

                  <td ui-table-cell>
                    <div *ngIf="log.source_activity_name === sourceActivityName[sourceActivityType.ManualNotes].tag; else actionCell"
                          (click)="launchNoteModal(log.new_notes)">
                      <img [src]="noteSvgPath"> <span class="note-link">{{ log.source }}</span>
                    </div>
                    <ng-template #actionCell>
                      <div *ngIf="log.source_activity_name.includes(sourceActivityName[sourceActivityType.ActionContactTrace].tag); else exposureCell" 
                            (click)="launchCaseEventModal(log.contact_trace_event_id)">
                        <span class="note-link">{{ log.source }}</span>
                      </div>
                      <ng-template #exposureCell>
                        <div *ngIf="log.source_activity_name === sourceActivityName[sourceActivityType.ExposureAlerts].tag; else formResponseCell">
                          <a ui-button
                             cpTracker
                             variant="inline"
                             color="primary"
                             cpTarget="view_info"
                            [eventData]="eventData"
                            [routerLink]="['/contact-trace', 'cases', log.source_obj_id]">
                            {{ log.source }}
                          </a>
                        </div>
                        <ng-template #formResponseCell>
                          <div *ngIf="log.source_type === sourceType.FormResponse && log.source === log.form_name; else normalCell">
                            <a ui-button
                               cpTracker
                               variant="inline"
                               color="primary"
                               cpTarget="view_info"
                               [eventData]="eventData"
                               (click)="doStatusSettingFormAction(log, case.id)">
                              {{ log.source }}
                            </a>
                          </div>
                          <ng-template #normalCell>
                            <div>{{ log.source }}</div>
                          </ng-template>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </td>
                  
                  <td ui-table-cell align="right">
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-12">
                <cp-pagination [pageNext]="pageNext"
                               [pagePrev]="pagePrev"
                               [pageNumber]="pageNumber"
                               (next)="onPaginationNext()"
                               (previous)="onPaginationPrevious()">
                </cp-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
<cp-modal modalId="viewNote">
  <cp-note-view-modal [note]="modalNote"></cp-note-view-modal>
</cp-modal>

<cp-modal modalId="viewEvent">
  <cp-case-event-view-modal 
    [cases]="eventCases" 
    [loading]="eventModalLoading"></cp-case-event-view-modal>
</cp-modal>

<ready-ui-menu #primary="menu">
  <ready-ui-menu-item>
    <button ui-button
            type="button"
            color="inherit"
            variant="inline"
            fullWidth="true"
            (click)="downloadActivity(); primary.close();"
            [disabled]="isDownloading"
    >
      <ready-ui-stack spacing="tight">
        <span>{{ 'download_case' | cpI18n }}</span>
      </ready-ui-stack>
    </button>
  </ready-ui-menu-item>
</ready-ui-menu>
