<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="cp-card cp-card--alt cp-card--half-padding cp-card--no-shadow">
    <div class="row form-group">
      <div class="col-xs-6">
        <label i18n>{{ 'name' | cpI18n }}</label>
        <input
          type="text"
          formControlName="provider_name"
          [class.error]="formError && !admin.pristine && admin.controls['provider_name'].hasError('required')">
      </div>
      <div class="col-xs-6">
        <label i18n>{{ 'email' | cpI18n }}</label>
        <input
          type="email"
          formControlName="email"
          [class.error]="formError && !admin.pristine && admin.controls['email'].hasError('required')">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-12">
        <label i18n>{{ 'services_provider_label_default_question' | cpI18n }}</label>
        <input
          type="text"
          formControlName="custom_basic_feedback_label"
          [class.error]="formError && !admin.pristine && admin.controls['custom_basic_feedback_label'].hasError('required')">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <button
        type="submit"
        [disabled]="!form.valid"
        class="cpbtn cpbtn--secondary" i18n>
          {{ 'services_provider_button_add_another' | cpI18n }}
        </button>
    </div>
  </div>
</form>