<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>
  <ng-container *ngSwitchCase="false">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="cp-card club">
          <div class="row">
            <div class="col-xs-3">
              <div
                class="club__avatar"
                [ngStyle]="{ 'background-image': 'url(' + club.logo_url + ')' }">
              </div>
            </div>
            <div class="col-xs-9">
              <div class="row">
                <div class="col-xs-9 text-truncate">
                  <p class="club__title">{{ club.name }}</p>
                  <p class="club__status">{{ clubStatus[club.status] }}</p>
                </div>
                <div class="col-xs-3 pull-right">
                  <a routerLink="../edit"
                    class="cpbtn cpbtn--primary" i18n>
                    Edit Club
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 club__description">
                  <p>{{ club.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="hasMetaData">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="cp-card meta">
          <div class="row meta__item" *ngIf="club.constitution_url">
            <div class="col-xs-3 meta__type" i18n>
              Constitution
            </div>
            <div class="col-xs-9">
              <span>
                <a [attr.href]="club.constitution_url" download class="cpbtn cpbtn--link" i18n>
                  Download
                </a>
              </span>
            </div>
          </div>

          <div class="row meta__item" *ngIf="club.advisor_firstname">
            <div class="col-xs-3 meta__type" i18n>
              Advisor
            </div>
            <div class="col-xs-9">
              <span>
                {{ club.advisor_firstname }}
                {{ club.advisor_lastname }}
                <ng-container *ngIf="club.advisor_email">
                   ({{ club.advisor_email  }})
                </ng-container>
              </span>
            </div>
          </div>

          <div class="row meta__item" *ngIf="club.phone">
            <div class="col-xs-3 meta__type" i18n>
              Phone
            </div>
            <div class="col-xs-9">
              <span>{{ club.phone }}</span>
            </div>
          </div>
          <div class="row meta__item" *ngIf="club.email">
            <div class="col-xs-3 meta__type" i18n>
              Email
            </div>
            <div class="col-xs-9">
              <span>{{ club.email }}</span>
            </div>
          </div>
          <div class="row meta__item" *ngIf="club.website">
            <div class="col-xs-3 meta__type" i18n>
              Website
            </div>
            <div class="col-xs-9">
              <span>{{ club.website }}</span>
            </div>
          </div>
          <div class="row meta__item" *ngIf="club.address">
            <div class="col-xs-3 meta__type" i18n>
              Location
            </div>
            <div class="col-xs-9">
              <span>{{ club.address }}</span>
            </div>
          </div>
          <div class="row meta__item" *ngIf="club.location">
            <div class="col-xs-3 meta__type" i18n>
              Building
            </div>
            <div class="col-xs-9">
              <span>{{ club.location }}</span>
            </div>
          </div>
          <div class="row meta__item" *ngIf="club.room_info">
            <div class="col-xs-3 meta__type" i18n>
              Room
            </div>
            <div class="col-xs-9">
              <span>{{ club.room_info }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="cp-card map">
          <cp-maps class="map__container" [center]="mapCenter"></cp-maps>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
