<div cdkTrapFocus
     class="cpmodal"
     cdkTrapFocusAutoCapture>
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span><strong>{{ 'confirm' | cpI18n }}</strong></span>

        <button type="button"
                aria-label="close"
                (click)="doTeardown()"
                class="float-right hover cpmodal__header__close unstyled-button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-12 text-center">
        <p class="title">
          {{ title }}
        </p>
        <p class="text-muted">
          {{ body }}<br />
          {{ 'are_you_sure?' | cpI18n }}
        </p>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-6 offset-6 text-right">
        <button type="button"
                class="cpbtn cpbtn--cancel"
                (click)="doTeardown()">
          {{ 'cancel' | cpI18n }}
        </button>

        <button type="button"
                (click)="onCofirm()"
                class="cpbtn cpbtn--primary">
          {{ 'yes_i_am_sure' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>