<ready-ui-card>
  <cp-searchbox (query)="onSearch($event)"
                [placeholder]="'admin_search_by_email_or_email' | cpI18n">
  </cp-searchbox>
</ready-ui-card>

<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <table ui-table>
      <thead>
        <tr ui-tabler-row>
          <th ui-table-cell
              (sort)="doSort('firstname')"
              [sortDirection]="state.sort_direction"
              [sorting]="state.sort_field === 'firstname'">
            {{ sortingLabels.name }}</th>
          <th ui-table-cell
              (sort)="doSort('status')"
              [sortDirection]="state.sort_direction"
              [sorting]="state.sort_field === 'status'">
            {{ sortingLabels.status }}</th>
          <th ui-table-cell></th>
          <th ui-table-cell></th>
        </tr>
      </thead>

      <tbody>
        <tr ui-table-row
            *ngFor="let admin of state.admins; let i = index">
          <td ui-table-cell>
            <ready-ui-stack direction="vertical"
                            spacing="tight">
              <strong>
                <a [routerLink]="[admin.id + '/edit']">
                  {{ admin.firstname }} {{ admin.lastname }}
                  <span
                        *ngIf="admin.is_current_user">({{ 'you' | cpI18n }})</span>
                </a>
              </strong>
              <small class="text-muted">{{ admin.email }}</small>
            </ready-ui-stack>
          </td>

          <td ui-table-cell>
            {{ admin.account_activated ? cpI18n.translate('active') : cpI18n.translate('pending') }}
          </td>

          <td ui-table-cell>
            <button ui-button
                    color="primary"
                    variant="inline"
                    cpTarget="resend_invite"
                    *ngIf="!admin.account_activated"
                    (click)="onResendInvite(admin, i)"
                    [disabled]="disabledSendInviteButtons[i]">
              {{ 't_team_settings_resend_invite' | cpI18n }}
            </button>
          </td>

          <td ui-table-cell
              align="right">
            <button ui-button
                    type="button"
                    variant="inline"
                    data-toggle="modal"
                    (click)="deleteAdmin = admin"
                    *ngIf="!admin.is_current_user"
                    data-target="#teamDeleteModal">
              <ready-ui-icon name="close"></ready-ui-icon>
            </button>
          </td>
        </tr>
    </table>

    <div class="row">
      <div class="col-12">
        <cp-pagination [pageNext]="pageNext"
                       [pagePrev]="pagePrev"
                       [pageNumber]="pageNumber"
                       (next)="onPaginationNext()"
                       (previous)="onPaginationPrevious()">
        </cp-pagination>
      </div>
    </div>
  </ng-container>
</ng-container>

<cp-modal modalId="teamDeleteModal">
  <cp-team-delete [admin]="deleteAdmin"
                  (unauthorized)="onForbidden()"
                  (deleted)="onDeleted($event)">
  </cp-team-delete>
</cp-modal>

<cp-modal modalId="teamUnauthorziedModal">
  <cp-team-unauthorized></cp-team-unauthorized>
</cp-modal>