<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <cp-providers-attendees-stats
      [provider]="provider"
      [eventRating]="eventRating">
    </cp-providers-attendees-stats>

    <cp-providers-attendees-action-box
      [provider]="provider"
      [eventData]="eventData"
      [updateQrCode]="updateQrCode"
      (download)="onDownload()"
      (search)="onSearch($event)"
      (onToggleQr)="onToggleQr($event)">
    </cp-providers-attendees-action-box>

    <div class="row">
      <div class="col-12">
        <cp-providers-attendees-list
        #providerAttendees
        [serviceId]="serviceId"
        [providerId]="providerId">
        </cp-providers-attendees-list>
      </div>
    </div>
  </ng-container>
</div>