<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <cp-providers-attendees-stats
     [provider]="provider"
     [eventRating]="eventRating">
    </cp-providers-attendees-stats>

    <cp-providers-attendees-action-box
     [provider]="provider"
     [eventData]="eventData"
     (search)="query$.next($event)"
     (download)="download$.next(true)">
    </cp-providers-attendees-action-box>

    <div class="row">
      <div class="col-12">
        <cp-providers-attendees-list
        [serviceId]="serviceId"
        [query]="query$"
        [download]="download$"
        [providerId]="providerId">
        </cp-providers-attendees-list>
      </div>
    </div>
  </ng-container>
</div>