<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <cp-providers-attendees-action-box
      [provider]="provider"
      [updateQrCode]="updateQrCode"
      [noAttendees]="providerAttendees.hasAttendees"
      (download)="onDownload()"
      (search)="onSearch($event)"
      (addCheckIn)="onAddCheckIn()"
      (onToggleQr)="onToggleQr($event)"
      (filterByDates)="onDateFilter($event)">
    </cp-providers-attendees-action-box>
    
    <cp-providers-attendees-stats
      [provider]="provider"
      [eventRating]="eventRating">
    </cp-providers-attendees-stats>

    <div class="row">
      <div class="col-12">
        <cp-providers-attendees-list
          #providerAttendees
          [service]="service"
          [provider]="provider"
          [serviceId]="serviceId"
          [providerId]="providerId">
        </cp-providers-attendees-list>
      </div>
    </div>
  </ng-container>
</div>