@import '~styles/components/card';
@import '~styles/components/button';
@import '~styles/core/typography';

.event {
  &__banner {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__map,
  &__banner {
    height: 200px;
  }

  &__meta {
    margin-top: 25px;
    p {
      margin-bottom: 10px;
    }
  }

  &__title {
    @include font-bold();

    font-size: 1.6em;
    margin-bottom: 3px;
  }
}