<div class="row">
  <div class="col-xs-12">
    <div class="cp-card">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="row form-group">
          <div class="col-xs-6 pull-right text-right">
            <cp-upload-button
              buttonText="Upload Photo"
              buttonClass="cpbtn cpbtn--link"
              (fileUpload)="onFileUpload($event)">
            </cp-upload-button>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-12">
            <div class="textarea">
              <div
                #textarea
                class="textarea__input"
                [innerHTML]="placeHolder" contenteditable>
              </div>
              <div
                class="textarea__upload"
                *ngIf="form.controls.message_image_url.value">
                <img
                  class="img-responsive"
                  [src]="form.controls.message_image_url.value">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div
            *ngIf="!isSimple && !_isCampusWallView;"
            class="col-xs-9 channel-dropdown no-right-padding">
            <div class="row">
              <div class="col-xs-6">
                <div class="row">
                  <div class="col-xs-3 no-right-padding">
                    <span i18n>Post as</span>
                  </div>
                  <div class="col-xs-9 no-left-padding">
                    <cp-dropdown
                      [items]="stores$ | async"
                      class="dropdown"
                      (selected)="onSelectedHost($event)">
                    </cp-dropdown>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="row">
                  <div class="col-xs-3 no-right-padding">
                    <span i18n>Post to</span>
                  </div>
                  <div class="col-xs-9 no-left-padding">
                    <cp-dropdown
                      class="dropdown"
                      [items]="channels$ | async"
                      (selected)="onSelectedChannel($event)">
                    </cp-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3 pull-right text-right">
            <button
              type="submit"
              [disabled]="!form.valid"
              class="cpbtn cpbtn--primary text-right" i18n>
              Post
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>