<div class="cpmodal__body">
  <div class="row">
    <div class="col-12">
      <p class="text-center">
        {{ 't_persona_delete_modal_body' | cpI18n: personaName }}
      </p>
    </div>

    <div class="col-6 offset-3 title text-center" *ngIf="!canDelete">
      <label>{{ 't_persona_delete_move_users_title' | cpI18n }}</label>
        <cp-dropdown
          [items]="personas"
          (selected)="onSelectPersona($event)">
        </cp-dropdown>
    </div>
  </div>
</div>

<div class="cpmodal__footer">
  <div class="row">
    <div class="col-6 offset-6 text-right">
      <button
        type="button"
        data-dismiss="modal"
        (click)="cancelClick.emit()"
        class="cpbtn cpbtn--cancel">
        {{ 'cancel' | cpI18n }}
      </button>

      <cp-button
        [props]="buttonData"
        (buttonClick)="deleteClick.emit(substitutePersonaId)">
      </cp-button>
    </div>
  </div>
</div>