@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/components/modal';
@import '~projects/campus-cloud/src/sass/components/button';

.cpmodal__body {
  margin-top: 15px;
}

.cpInput {
  height: auto;
  padding: 1px;
  min-height: 36px;
  max-height: 200px;
  overflow: scroll;
}
