<div class="row list">
  <div class="col-12">
    <div class="row list__header">
      <div class="col-12">
        <button
          (click)="onShowModal()"
          class="cpbtn cpbtn--cancel">
          Add resource
        </button>
      </div>
    </div>

    <ng-container [ngSwitch]="state.loading">
      <cp-spinner *ngSwitchCase="true"></cp-spinner>
      <ng-container *ngSwitchCase="false">
        <div class="list__items">
          <div
            class="row list__item"
            *ngFor="let resource of state.resources">
              <div class="col-11 text-truncate">
                <span class="image">
                  <img [src]="resource.img_url" class="img-fluid rounded"/>
                </span>
                <span
                  class="name"
                  [attr.title]="resource.name">
                  {{resource.name}}
              </span>
            </div>
            <div class="col-1" (click)="onDelete(resource)">
              <span class="close-button hover float-right">&times;</span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<cp-modal
  *ngIf="state.showModal"
  modalId="resourceCreateModal">
  <cp-personas-resource-create
    (error)="onError($event)"
    (teardown)="onTearDown()"
    (success)="onCreatedResource($event)">
  </cp-personas-resource-create>
</cp-modal>