<div class="row">
  <div class="col-xs-12">
    <div class="cp-card">

      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <cp-dropdown [items]="channels"></cp-dropdown>
        </div>

        <div class="col-xs-6 col-sm-4 no-left-padding">
          <cp-dropdown [items]="channels"></cp-dropdown>
        </div>

        <div class="col-xs-10 col-sm-3 no-left-padding">
          <cp-dropdown [items]="posts"></cp-dropdown>
        </div>

        <div class="col-xs-2 col-sm-1 no-left-padding">
          <button
            type="button"
            class="cpbtn cpbtn--cancel"
            data-toggle="modal" data-target="#settingsModal">
            <i class="material-icons">settings</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<cp-modal modalId="settingsModal">
  <cp-feed-settings-modal></cp-feed-settings-modal>
</cp-modal>