<cp-page-header [data]="headerData"></cp-page-header>
<div class="cp-wrapper cp-wrapper--outer">
  <div class="row tile">
    <div class="col-xs-12">
      <cp-dashboard-date-picker
        (dateChange)="onDateChange($event)">
      </cp-dashboard-date-picker>
    </div>
  </div>

  <div class="row tile">
    <div class="col-xs-12">
      <cp-dashboard-downloads-chart></cp-dashboard-downloads-chart>
    </div>
  </div>

  <div class="row tile">
    <div class="col-xs-6">
      <cp-dashboard-general-information></cp-dashboard-general-information>
    </div>
  </div>

  <div class="row tile" *ngIf="canAssess">
    <div class="col-xs-6">
      <cp-dashboard-top-events [dates]="currentDate"></cp-dashboard-top-events>
    </div>
    <div class="col-xs-6">
      <cp-dashboard-top-services [dates]="currentDate"></cp-dashboard-top-services>
    </div>
  </div>

  <div class="row tile">
    <div class="col-xs-6">
      <cp-dashboard-assessment [dates]="currentDate"></cp-dashboard-assessment>
    </div>
  </div>

  <div class="row tile">
    <div class="col-xs-6">
      <cp-dashboard-campus-tile [dates]="currentDate"></cp-dashboard-campus-tile>
    </div>
    <div class="col-xs-6">

    </div>
  </div>

  <div class="row tile">
    <div class="col-xs-5">
      <cp-dashboard-integrations [dates]="currentDate"></cp-dashboard-integrations>
    </div>
  </div>
</div>