<nav>
  <div class="cp-wrapper cp-wrapper--outer">
    <div class="row">
      <div class="col-xs-12">
        <div class="avatar pull-left img-rounded"></div>
        <ul class="nav__links pull-left">
          <li
            (click)="isOpen = false"
            routerLinkActive="active">
            <a [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li
            (click)="isOpen = false"
            routerLinkActive="active">
            <a [routerLink]="['/manage']">Manage</a>
          </li>
          <!--<li
            *ngIf="canNotify"
            (click)="isOpen = false"
            routerLinkActive="active">
            <a [routerLink]="['/notify']">Notify</a>
          </li>-->
        </ul>

        <div
          (click)="isOpen = !isOpen"
          [class.nav__school--active]="isOpen"
          class="nav__school pull-right noselect">
          <div
            *ngIf="school.logo_url !== ''"
            class="nav__school__thumb pull-left img-rounded"
            [ngStyle]="{'background-image': 'url(' + school.logo_url + ')'}">
          </div>
          <div
            *ngIf="school.logo_url === ''"
            class="nav__school__thumb pull-left img-rounded"
            [ngStyle]="{'background-image': 'url(default/user.png)'}">
          </div>
          <div class="nav__school__user">
            <span>{{ user.firstname }}</span>
            <i class="material-icons pull-right">expand_more</i>
          </div>
          <div class="nav__school__name text-truncate">
            {{ school.name }}
          </div>
        </div>
        <div class="nav__school--menu" *ngIf="isOpen">
          <cp-school-switch (close)="isOpen = !isOpen"></cp-school-switch>
        </div>
      </div>
    </div>
  </div>
</nav>