@import '~styles/core/colors';
@import '~bootstrap/variables';
@import '~styles/core/typography';
@import '~styles/components/dropdown';

hr {
  margin: 0;
}

nav {
  overflow: visible;
  background: $color-black;

  .avatar {
    top: 7px;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    position: relative;
    display: inline-block;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .nav__links,
  .nav__school {
    padding-top: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &.nav__links {
      padding-left: 25px;
    }

    li {
      margin-right: 25px;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  li {
    position: relative;
    display: inline-block;

    .promote-badge {
      top: -5px;
      right: -45px;
      padding: 3px;
      line-height: 1;
      font-size: 7px;
      border-radius: 2px;
      position: absolute;
      text-transform: uppercase;
      color: #ff0000 !important;
      transition: color 300ms ease-in-out;
    }

    a,
    span {
      @include font-16px();

      width: 100%;
      height: 100%;
      display: block;
      color: $color-grey;
      padding-bottom: 8px;
      transition: color 300ms ease-in-out;
      border-bottom: 3px solid transparent;

      &:hover {
        cursor: pointer;
        color: $color-white;
      }
    }

    &.active {

      a {
        border-bottom: 3px solid $color-brand;
      }

      a,
      span {
        color: $color-white;
      }
    }
  }
}

.nav__school {
  width: 200px;
  max-width: 200px;
  position: relative;

  &--menu {
    top: 115%;
    z-index: 2;
    right: 20px;
    position: absolute;
  }

  &:hover,
  &--active {
    cursor: pointer;
    .nav__school__user,
    .nav__school__name,
    .nav__school__arrow i {
      color: $color-white;
    }
  }

  &__arrow i {
    margin-top: 7px;
  }

    &__name,
    &__user,
    &__arrow i {
      display: block;
      color: $color-grey;
      transition: color 300ms ease-in-out;
    }

    &__user {
      @include font-semi-bold();

      i {
        padding-top: 8px;
      }
    }

    &__thumb {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__name {
    font-size: 0.9em;
  }
}