<nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="avatar pull-left img-rounded"></div>
        <ul class="nav__links pull-left">
          <li routerLinkActive="active"><a [routerLink]="['/dashboard']">Dashboard</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/manage']">Manage</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/notify']">Notify</a></li>
        </ul>
        <ul class="nav__default pull-right">
          <li class="user__name dropdown">
            <div class="dropdown">
              <span class="dropdown-toggle hover text-capitalize" data-toggle="dropdown">
                <div
                  class="school__thumb pull-left img-rounded"
                  [ngStyle]="{'background-image': 'url(' + school.logo_url + ')'}">
                </div>
                <div class="school__user">
                  {{ user.firstname }}
                  <i class="material-icons">expand_more</i>
                </div>
                <div class="school__name">
                  {{ school.name }}
                </div>
              </span>
              <cp-school-switch></cp-school-switch>
              <!--<ul class="dropdown-menu dropdown-menu-right user__name--dropdown">
                <li>
                  <a [routerLink]="['/manage/team']" i18n>Team Settings</a>
                </li>
                <li>
                  <a [routerLink]="['/account/change-password']" i18n>Change Password</a>
                </li>
                <hr>
                <li><a [routerLink]="['/logout']" i18n>Logout</a></li>
              </ul>-->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>