<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span i18n
          ><strong>{{ headerText }}</strong></span
        >

        <span data-dismiss="modal" class="float-right hover cpmodal__header__close">&times; </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-12">
        <p *ngFor="let name of list">
          {{ name }}
        </p>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-12 text-right">
        <button type="button" class="cpbtn cpbtn--primary float-right" data-dismiss="modal">
          {{ buttonText | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>
