<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center"></div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-12 text-center">
        <div *ngFor="let step of onBoardingSteps">
          <div *ngIf="step.id === currentStep">
            <img [src]="[step.img]" />
            <p>
              <strong>{{ step.title }}</strong>
            </p>
            <span>{{ step.description_1 }}</span>
            <p>{{ step.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <cp-stepper
      [range]="range"
      [currentStep]="currentStep"
      (currentSlide)="getCurrentSlide($event)"
    >
    </cp-stepper>
  </div>
</div>
