<div class="bar"
     role="alert"
     cdkTrapFocus
     *ngIf="snack.body"
     cdkTrapFocusAutoCapture
     [class.sticky]="snack.sticky">
  <div class="cp-wrapper cp-wrapper--outer">
    <div class="row">
      <div class="col-8 offset-2">
        <div [ngClass]="['bar--wrapper ' + snack.class]">
          <div class="bar--wrapper__message">
            <i class="material-icons bar--wrapper--icon">
              {{snack.class === 'success' ? 'check' : 'error_outline' }}
            </i>
            <span [innerHTML]="snack.body"></span>
          </div>
          <button type="button"
                  (click)="doClose()"
                  class="bar--wrapper--close float-right hover unstyled-button">
            <i class="material-icons bar--wrapper--icon">
              close
            </i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>