@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';

.bar {
  left: 0;
  z-index: 9;
  top: 105px;
  width: 100%;
  position: absolute;
  align-items: center;

  &.sticky {
    top: 20px;
    position: fixed;
  }

  &--wrapper {
    display: flex;
    padding: 9px 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);

    &__message {
      display: flex;
    }

    &--icon {
      font-size: 1.4em;
      margin-right: 2px;
      color: $color-white;
    }

    span {
      @include font-normal();

      margin-bottom: 0;
      color: $color-white;
    }

    &.success {
      background: $color-success;
    }

    &.danger {
      background: $color-danger;
    }

    &.info {
      background: $color-info;
    }

    &.warning {
      background: $color-warning;
    }
  }
}
