<cp-todos-list-action-box (search)="onSearch($event)"
                          (launchCreateModal)="onLaunchCreateModal()">
</cp-todos-list-action-box>

<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.todos.length"
                   [noContentText]="cpI18n.translate('todos_no_results_found')">
    </cp-no-content>

    <ng-container *ngIf="state.todos.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell
                (sort)="doSort('title')"
                [sortDirection]="state.sort_direction"
                [sorting]="state.sort_field === 'title'">
              {{ sortingLabels.name }}
            </th>
            <th ui-table-cell
                (sort)="doSort('end')"
                [sorting]="state.sort_field === 'end'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.due_date }}</th>
            <th ui-table-cell></th>
          </tr>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let todo of state.todos">
            <td ui-table-cell>
              <button ui-button
                      cpTracker
                      type="button"
                      variant="inline"
                      data-toggle="modal"
                      data-target="#todoEdit"
                      [eventData]="eventData"
                      (click)="launchEditModal = true; selectedTodo = todo">
                {{ todo.title }}
              </button>
            </td>
            <td ui-table-cell>
              {{ todo.end | cpDatePipe: dateFormat }}
            </td>
            <td ui-table-cell
                align="right">
              <button ui-button
                      type="button"
                      variant="inline"
                      aria-label="close"
                      data-toggle="modal"
                      data-target="#todoDelete"
                      (click)="launchDeleteModal = true; selectedTodo = todo">
                <ready-ui-icon name="close"></ready-ui-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </ng-container>
  </ng-container>
</ng-container>

<cp-modal modalId="todoCreate"
          *ngIf="launchCreateModal">
  <cp-orientation-todo-create (created)="onCreated($event)"
                              (resetCreateModal)="launchCreateModal = false">
  </cp-orientation-todo-create>
</cp-modal>

<cp-modal modalId="todoDelete"
          *ngIf="launchDeleteModal">
  <cp-orientation-todos-delete [todo]="selectedTodo"
                               (deleted)="onDeleted($event)"
                               (resetDeleteModal)="launchDeleteModal = false">
  </cp-orientation-todos-delete>
</cp-modal>
<cp-modal modalId="todoEdit"
          *ngIf="launchEditModal">
  <cp-orientation-todos-edit [todo]="selectedTodo"
                             (edited)="onEditedLink($event)"
                             (resetEditModal)="launchEditModal = false">
  </cp-orientation-todos-edit>
</cp-modal>