<div class="chart">
  <div class="chart__body">
    <div class="row">
      <div class="col-3 heading">
        <span class="heading__title">{{ 'qr_code_total_visits' | cpI18n }}</span>
        <span class="heading__count">
          {{ locationVisits.total_visit }}
        </span>
      </div>
      <div class="col-3 heading">
        <span class="heading__title">{{ 'qr_code_unique_visits' | cpI18n }}</span>
        <span class="heading__count">
          {{ locationVisits.unique_visit }}
        </span>
      </div>
      <div class="col-3 heading">
        <span class="heading__title">{{ 'qr_code_repeat_visits' | cpI18n }}</span>
        <span class="heading__count">
          {{ locationVisits.repeat_visit }}
        </span>
      </div>
    </div>
  </div>
</div>
