<div class="cp-card actions">
  <div class="row">
    <div class="col-3">
      <cp-searchbox (query)="onSearch($event)"></cp-searchbox>
    </div>
    <div class="col-3"
         *ngIf="!isOrientation">
      <cp-dropdown class="topbar--dropdown"
                   [items]="studentFilter$ | async"
                   (selected)="onStudentFilter($event)">
      </cp-dropdown>
    </div>
    <div class="col text-right">
      <button *ngIf="canDownload"
              (click)="downloadExcel()"
              class="cpbtn cpbtn--cancel margin-right">
        {{ 'download_csv' | cpI18n }}
      </button>
      <button (click)="onAddCheckIn()"
              class="cpbtn cpbtn--primary no-right-padding cpbtn--square-right">
        {{ 't_events_assessment_add_check_in' | cpI18n }}
      </button>
      <button class="cpbtn cpbtn--square-left cpbtn--no-padding cpbtn--primary no-left-padding hover action-dropdown"
              type="button"
              id="events-attendance"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <i class="material-icons">expand_more</i>
      </button>
      <div class="dropdown-menu dropdown-menu-right"
           aria-labelledby="events-attendance">
        <a target="_blank"
           class="dropdown-item"
           (click)="trackClickCheckIn.emit(event)"
           [routerLink]="[eventCheckinRoute + event.encrypted_id]">
          {{ 't_event_assessment_web_checkin_page' | cpI18n }}
        </a>
        <button (click)="onEnableDisableQR()"
                class="dropdown-item">{{ qrLabel }}</button>
        <div class="dropdown-item"
             [class.no-hover]="disableMessageAttendees">
          <button class="unstyled-button"
                  [cpTooltip]="tooltipOptions"
                  (click)="sendAttendeesMessage()"
                  [disabled]="disableMessageAttendees"
                  [attr.title]="messageAttendeesTooltipText"
                  [class.disabled]="disableMessageAttendees">
            {{ 't_events_assessment_message_attendees' | cpI18n }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>