<div class="row margin-bottom">
  <div class="col-6 offset-3">
    <div class="cp-card persona">
      <div class="row">
        <div class="col-12">
          <p class="title">{{'t_personas_create_form_title' | cpI18n}}</p>
          <cp-personas-form
            #createForm
            [form]="form"
            (valueChanges)="onFormValueChanges($event)">
          </cp-personas-form>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label>{{ 't_personas_create_label_campus_security' | cpI18n }}</label>
          <cp-dropdown
            [items]="services$ | async"
            (selected)="onSecurityServiceChanged($event)">
          </cp-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="cp-wrapper cp-wrapper--outer">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="text-right">
            <a [routerLink]="['/studio/experiences']"
                class="cpbtn cpbtn--cancel">
              {{ 't_persona_create_cancel_button' | cpI18n }}
            </a>
            <cp-button
              [props]="buttonData"
              (buttonClick)="onSubmit()">
            </cp-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>