<div class="cpmodal no-scroll-bar">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-xs-12 text-center">
        <span i18n><strong>Wall Settings</strong></span>

        <span
          data-dismiss="modal"
          class="pull-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="form" class="feed-form">
          <div class="feed-form__header row">
            <span class="col-xs-4" i18n>Wall Name</span>
            <span class="col-xs-4" i18n>Can Post</span>
            <span class="col-xs-4" i18n>Can Comment</span>
          </div>

          <div class="feed-form__body" formArrayName="walls">
            <div
              class="feed-form__item row"
              *ngFor="let wall of form.controls.walls.controls; let i=index">
              <div class="_">
                <div class="col-xs-4 title">
                  <span>{{ wall.controls.name.value }}</span>
                </div>
                <div class="col-xs-4">
                  <cp-dropdown
                    [items]="privileges"
                    (selected)="onCanPostChanged($event, i)"
                    [selectedItem]="getPrivilegeObj(wall.controls.min_posting_member_type.value)">
                  </cp-dropdown>
                </div>
                <div class="col-xs-4">
                  <cp-dropdown
                    [items]="privileges"
                    (selected)="onCanCommentChanged($event, i)"
                    [selectedItem]="getPrivilegeObj(wall.controls.min_commenting_member_type.value)">
                  </cp-dropdown>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-6 text-right">
        <button
          type="button"
          data-dismiss="modal"
          class="cpbtn cpbtn--primary"i18n>
          Done
        </button>
      </div>
    </div>
  </div>
</div>
