<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-xs-12 text-center">
        <span i18n><strong>Upload Excel File</strong></span>

        <span
          data-dismiss="modal"
          class="pull-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center" i18n>
          Please upload an Excel file with columns in the exact same order as per below
        </p>
        <br>
        <p class="text-center">Ugly picture here</p>
        <br>
        <a href="/templates/mass_event_invite_sample.xlsx" download
          class="cpbtn cpbtn--link" i18n>
          Download Excel Sample File
        </a>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-6 text-right">
        <button
          type="button"
          class="cpbtn cpbtn--default-alt"
          data-dismiss="modal" i18n>
          Cancel
        </button>

        <button
          type="button"
          (click)="onUploadFile()"
          class="cpbtn cpbtn--primary"i18n>
          Upload Excel File
        </button>
      </div>
    </div>
  </div>
</div>