<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="row">
      <div class="col-xs-12">
        <div class="header">
          <p class="title" i18n>Lost Password</p>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="isSubmitted">
      <div class="col-xs-12">
        <p i18n>Thanks! Please check {{ email }} for a link to reset your password.</p>
      </div>
    </div>

    <div class="row" *ngIf="!isSubmitted">
      <div class="col-xs-12">
        <p i18n>Follow these simple steps to reset your account:</p>

        <ol>
          <li i18n>Enter your BRANDING email address</li>
          <li i18n>Wait for your recovery details to be sent</li>
          <li i18n>Follow instructions and be re-united with your BRANDING account</li>
        </ol>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="form-group">
            <label i18n>Email</label>
            <input
              autofocus
              type="email"
              formControlName="email">
          </div>

          <div class="row">
            <div class="col-xs-12">
              <button
                type="submit"
                class="cpbtn cpbtn--primary" i18n>
                Reset Password
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <cp-alert></cp-alert>
            </div>
          </div>
        </form>

        <div class="row text-center footer">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12">
                <a [routerLink]="['/login']" i18n>Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
