@import '~styles/core/colors';
@import '~styles/core/typography';
@import '~styles/components/form';
@import '~styles/components/button';
@import '~bootstrap/variables';

:host {
  height: 100%;
  display: block;
}

ol {
  margin-top: 25px;
  list-style-position: inside;
}

p,
li, {
  text-align: center;
}

.footer {
  margin-top: 30px;
}

.header {
  margin-top: 175px;

  @media all and (max-width: $screen-sm) {
    margin-top: 80px;
  }
}

.title {
  @include font-heading();
}

ol {
  padding: 0;
  padding-left: 14px;

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

form {
  padding: 30px;
  margin-top: 20px;
  background: $color-white;
  border: 1px solid $border-color;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.16);

  button {
    width: 100%;
  }
}