<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false"
       class="comments">
    <cp-feed-comment *ngFor="let comment of state.comments; let last = last"
                     [last]="last"
                     [comment]="comment"
                     [replyView]="isReplyView"
                     [wallCategory]="feed.channelName"
                     [isCampusWallView]="isCampusWallView"
                     (deleted)="onDeletedComment($event)">
    </cp-feed-comment>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <cp-feed-input-box [groupId]="groupId"
                       [threadId]="feed.id"
                       [groupType]="groupType"
                       (created)="onReplied()"
                       [replyView]="isReplyView"
                       [postType]="feed.post_type"
                       [wallCategory]="feed.channelName"
                       [isCampusWallView]="isCampusWallView">
    </cp-feed-input-box>
  </div>
</div>