<ul class="events cp-form">
  <li class="cp-form__header col-12">
    <div class="row">
      <cp-sorting-header
        [class]="[isOrientation ? 'col-6' : 'col-4']"
        sortLabel="title"
        (click)="doSort('title')"
        [label]="sortingLabels.name"
        [sortField]="state.sort_field"
        [sortDirection]="state.sort_direction">
      </cp-sorting-header>

      <span class="col-2" *ngIf="!isOrientation">{{ 'host' | cpI18n }}</span>

      <cp-sorting-header
        class="col-2"
        sortLabel="start"
        (click)="doSort('start')"
        [sortField]="state.sort_field"
        [label]="sortingLabels.start_date"
        [sortDirection]="state.sort_direction">
      </cp-sorting-header>

      <span class="col-3">{{ 'assessment' | cpI18n }}</span>
      <span class="col-1"></span>
    </div>
  </li>

  <li class="cp-form__item col-12" *ngFor="let event of events">
    <div class="row">
      <span [class]="[isOrientation ? 'text-truncate events__thumbnail col-6 ' : 'text-truncate events__thumbnail col-4']">
        <img
          class="rounded img-fit-cover"
          [src]="event.poster_thumb_url ?
                event.poster_thumb_url :
                event.store_logo_url">

        <strong>
          <a
            cpTracker
            [eventData]="eventData"
            class="event__title"
            [routerLink]="[event.id + '/info']"
            queryParamsHandling="merge">
            {{ event.title }}
          </a>
        </strong>
        <br>
        {{ event.description }}
      </span>
      <span class="col-2 text-truncate" *ngIf="!isOrientation">
        {{ event.store_name }}
      </span>
      <span class="col-2 text-truncate">
        {{ event.start | cpDatePipe:dateFormat }}
      </span>

      <span class="col-3 text-truncate">
        <a
          target="_blank"
          (click)="trackCheckinEvent(event)"
          [routerLink]="[eventCheckinRoute + event.encrypted_id]"
          *ngIf="event.event_attendance === attendanceEnabled"
          class="cpbtn cpbtn--no-border cpbtn--no-padding cpbtn--secondary">
          {{ 't_shared_web_checkin' | cpI18n }}
        </a>
      </span>

      <span class="col-1 text-right actions">
        <i
          *ngIf="event.is_external"
          class="material-icons js_event_external">
          link
        </i>
        <span
          *ngIf="canDelete"
          (click)="onDelete(event)"
          [class.disabled]="event.is_external"
          class="hover text-truncate delete-event">
          &times;
        </span>
      </span>
    </div>
  </li>
</ul>