<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span><strong>{{ 'todos_new' | cpI18n }}</strong></span>

        <button type="button"
                aria-label="close"
                data-dismiss="modal"
                (click)="resetModal()"
                class="float-right hover cpmodal__header__close unstyled-button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <cp-todos-form #createForm
                   [form]="form"> </cp-todos-form>
  </div>

  <div class="cpmodal__footer">
    <div class="row justify-content-end">
      <div class="col-6 text-right">
        <button type="button"
                data-dismiss="modal"
                (click)="resetModal()"
                class="cpbtn cpbtn--cancel">
          {{ 'cancel' | cpI18n }}
        </button>

        <cp-button (buttonClick)="onSubmit()"
                   [props]="buttonData"> </cp-button>
      </div>
    </div>
  </div>
</div>