<ng-container [ngSwitch]="loading$ | async">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <h3 class="title">{{ 't_dashboard_unique_active_users' | cpI18n }}
      ({{ 'dashboard_last_90_days' | cpI18n }})</h3>

    <ready-ui-line-chart [xLabels]="labels"
                         [series]="series"
                         [colors]="['#2096f3']">
    </ready-ui-line-chart>

    <span class="label">
      <span class="pill"></span>
      {{ 't_dashboard_unique_active_users' | cpI18n }}
    </span>
  </ng-container>
</ng-container>