<ng-container [ngSwitch]="loading$ | async">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <h3 class="title">{{ 't_dashboard_unique_active_users' | cpI18n }}
      ({{ 'dashboard_last_90_days' | cpI18n }})</h3>
    <cp-line-chart [labels]="labels"
                   [series]="series"
                   [chartOptions]="chartOptions">
    </cp-line-chart>

    <span class="label">
      <span class="pill"></span>
      {{ 't_dashboard_unique_active_users' | cpI18n }}
    </span>
  </ng-container>
</ng-container>