<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <div class="row">
      <div class="header">
        <div class="col-xs-4 text-center">
          <div class="cp-card cp-card--half-padding visits">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2">
                <span i18n>
                  Total Visits
                  <strong>{{ service.total_visits }}</strong>
                </span>
                <span i18n>
                  Unique Visits
                  <strong>{{ service.unique_visits }}</strong>
                </span>
                <span i18n>
                  Repeat Visits
                  <strong>{{ service.total_visits - service.unique_visits }}</strong>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 text-center">
          <div class="cp-card cp-card--half-padding">
            <p class="header__digit">{{ service.num_ratings || '---' }}</p>
            <p i18n>Total Responses</p>
          </div>
        </div>
        <div class="col-xs-4 text-center">
          <div class="cp-card cp-card--half-padding">
            <p
              class="header__digit"
              *ngIf="service.enable_feedback === 0">
              ---
            </p>
            <p
              class="header__digit"
              *ngIf="service.enable_feedback === 1">
              <cp-stars
                [size]="detailStarSize"
                [avgRate]="service.avg_rating_percent"
                [maxRate]="service.rating_scale_maximum">
              </cp-stars>
            </p>
            <p i18n>
              Average Rating
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="cp-card actions">
          <div class="row">
            <div class="col-xs-4">
              <cp-searchbox
                (query)=onSearch($event)
                placeholder="Search Service Provider...">
              </cp-searchbox>
            </div>
            <div class="col-xs-6 col-xs-offset-2 text-right">
              <button
                (click)="download$.next(true)"
                [disabled]="noProviders"
                class="cpbtn cpbtn--secondary" i18n>
                Download Assessment Data
              </button>
              <button
                type="button"
                class="cpbtn cpbtn--primary"
                data-toggle="modal" data-target="#createProvider" i18n>
                Add Service Provider
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <cp-providers-list
          [reload]="reload$"
          [download]="download$"
          [query]="search_text$"
          [serviceId]="serviceId"
          (providersLength$)="onProvidersResult($event)">
        </cp-providers-list>
      </div>
    </div>
  </div>
</div>


<cp-modal modalId="createProvider">
  <cp-providers-add
    [serviceId]="serviceId"
    (created)="reload$.next(true)"
    [serviceWithFeedback]="enableFeedback$">
  </cp-providers-add>
</cp-modal>