<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-providers-stats
      [service]="service">
    </cp-providers-stats>

    <cp-providers-action-box
      [noProviders]="noProviders"
      (search)="onSearch($event)"
      (download)="onDownload()"
      (launchAddProviderModal)="onLaunchProviderAdd()">
    </cp-providers-action-box>

    <div class="row">
      <div class="col-12">
        <cp-providers-list
          #providersList
          [service]="service"
          (providersLength)="onProvidersResult($event)">
        </cp-providers-list>
      </div>
    </div>
  </div>
</div>


<cp-modal modalId="createProvider" *ngIf="isProviderAdd">
  <cp-providers-add
    [service]="service"
    (created)="onProviderAdded()"
    (teardown)="isProviderAdd = false">
  </cp-providers-add>
</cp-modal>