<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-providers-stats
      [service]="service">
    </cp-providers-stats>

    <cp-providers-action-box
      [eventData]="eventData"
      [noProviders]="noProviders"
      (search)="onSearch($event)"
      (download)="download$.next(true)"
      (launchAddProviderModal)="onLaunchProviderAdd()">
    </cp-providers-action-box>

    <div class="row">
      <div class="col-12">
        <cp-providers-list 
          [reload]="reload$" 
          [download]="download$" 
          [query]="search_text$" 
          [serviceId]="serviceId" 
          [serviceWithFeedback]="enableFeedback$"
          (providersLength$)="onProvidersResult($event)">
        </cp-providers-list>
      </div>
    </div>
  </div>
</div>


<cp-modal modalId="createProvider" *ngIf="isProviderAdd">
  <cp-providers-add
    [serviceId]="serviceId"
    (created)="onProviderAdded()"
    (teardown)="isProviderAdd = false"
    [serviceWithFeedback]="enableFeedback$">
  </cp-providers-add>
</cp-modal>