<div class="row">
  <div class="col-xs-12">
    <cp-announcements-list-action-box
      (filter)="doFilter($event)"
      (launchModal)="onLaunchCreateModal()">
    </cp-announcements-list-action-box>
  </div>
</div>


<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">

    <cp-no-content
      class="no-content"
      *ngIf="!state.messages.length"
      noContentText="No messages found...">
    </cp-no-content>

    <div *ngIf="state.messages.length">
      <ul class="messages cp-form">
        <li class="cp-form__header col-xs-12">
          <div class="row">
            <span class="col-xs-5" i18n>{{ 'to' | cpI18n }}</span>
            <span class="col-xs-3" i18n>{{ 'announcements_type' | cpI18n }}</span>
            <span
              class="col-xs-3 hover"
              (click)="doSort('sent_time')">
              {{ 'sent' | cpI18n }}
              <span *ngIf="state.sort_field === 'sent_time'">
                <i
                  class="material-icons"
                  *ngIf="state.sort_direction === 'asc'">
                  arrow_upward
                </i>
                <i
                  class="material-icons"
                  *ngIf="state.sort_direction === 'desc'">
                  arrow_downward
                </i>
              </span>
            </span>
            <span class="col-xs-1"></span>
          </div>
        </li>

        <li class="cp-form__item col-xs-12" *ngFor="let message of state.messages">
          <div class="row">
            <span class="col-xs-5">
              <strong *ngIf="message.is_school_wide">{{ 'campus_wide' | cpI18n }}<br></strong>

              <strong>
                <cp-list-recipients
                  [lists]="message.list_details"
                  [users]="message.user_details"
                  *ngIf="!message.is_school_wide">
                </cp-list-recipients>
              </strong>

              {{ message.subject }}
              <br>
              <span class="text-muted">{{ message.message }}</span>
            </span>

            <span class="col-xs-3" i18n>
              {{ messageType[message.priority] }}
            </span>

            <span class="col-xs-3">
              {{ message.sent_time | cpDatePipe:dateFormat }}
            </span>

            <span
              (click)="onLauncDeleteModal(message)"
              class="col-xs-1 text-center hover delete-message">
              &times;
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </ng-container>
</ng-container>

<cp-modal
  modalId="composeModal"
  *ngIf="isComposeModal">
  <cp-announcements-compose
    (created)="onCreated($event)"
    (teardown)="isComposeModal = false">
  </cp-announcements-compose>
</cp-modal>

<cp-modal
  *ngIf="isDeleteModal"
  modalId="deleteAnnouncementModal">
  <cp-announcements-delete
    [item]="deleteAnnouncement"
    (deleted)="onDeleted($event)"
    (teardown)="isDeleteModal = false">
  </cp-announcements-delete>
</cp-modal>