@import '~styles/core/colors';
@import '~styles/components/card';
@import '~styles/components/form';
@import '~styles/components/button';

.no-content {
  @include card-margin();
}

.cp-form {
  overflow: visible;
}

.delete-message {
  font-size: 2em;
}

.cp-form__header {
  span.hover {
    position: relative;

    > span i {
      top: 1px;
      font-size: 17px;
      position: absolute;
      padding-left: 6px;
    }
  }
}

.messages {
  @include card-margin();

  padding: 0;
  list-style: none;
}
