@import '~styles/core/colors';
@import '~styles/components/button';

button i {
  top: 4px;
  font-size: 16px;
  position: relative;
  color: $color-secondary-text;
}

.cpbtn {
  &.danger {
    color: $color-danger;
  }
}
