<ng-template #tooltipTemplate>
  <div [innerHtml]="content"></div>
</ng-template>
<button
  type="button"
  [outsideClick]="true"
  [triggers]="triggers"
  [placement]="placement"
  [popover]="tooltipTemplate"
  class="cpbtn cpbtn--link"
  [ngClass]="{'danger': toolTipContent.textClass === 'danger'}">
  <ng-container
    *ngIf="toolTipContent.text">
    {{toolTipContent.text}}
  </ng-container>
  <i
    class="material-icons"
    *ngIf="!toolTipContent.text">
    {{ toolTipContent.icon ? toolTipContent.icon : 'info_outline' }}
  </i>
</button>