<ul class="stats">
  <li class="stats--item">
    <div class="row">
      <div class="col-xs-5 no-right-padding">
        <p class="heading">
          {{ props.repeat_engagements.length | cpStatsFormatter }} ({{ repeatEngagementPercentage }}%)
        </p>
         <p
          data-toggle="tooltip"
          data-placement="bottom"
          class="text-muted with-tooltip" i18n
          [title]="cpI18n.translate('assess_repeat_engagement_tooltip')">
          {{ 'assess_repeat_engagement' | cpI18n }}
          <i class="material-icons">info_outline</i>
        </p>
      </div>
      <div class="stats--buttons col-xs-7 text-right">
        <button
          type="button"
          class="cpbtn cpbtn--primary" i18n
          (click)="download.emit(REPEAT_ENGAGEMENT)"
          [disabled]="!props.repeat_engagements.length">
          {{ 'download' | cpI18n }}
        </button>

        <button
          type="button"
          class="cpbtn cpbtn--primary" i18n
          [disabled]="!props.repeat_engagements.length"
          (click)="onCompose('Repeat Engagement', props.repeat_engagements)">
          {{ 'message' | cpI18n }}
        </button>
      </div>
    </div>
  </li>
  <li class="stats--item">
    <div class="row">
      <div class="col-xs-5 no-right-padding">
        <p class="heading">{{ props.one_engagements.length | cpStatsFormatter }} ({{ oneEngagementPercentage }}%)</p>
        <p
          data-toggle="tooltip"
          data-placement="bottom"
          class="text-muted with-tooltip" i18n
          [title]="cpI18n.translate('assess_one_engagement_tooltip')">
          {{ 'assess_one_engagement' | cpI18n }}
          <i class="material-icons">info_outline</i>
        </p>
      </div>
      <div class="stats--buttons col-xs-7 text-right">
        <button
          type="button"
          class="cpbtn cpbtn--primary" i18n
          (click)="download.emit(ONE_ENGAGEMENT)"
          [disabled]="!props.one_engagements.length">
          {{ 'download' | cpI18n }}
        </button>

        <button
          type="button"
          class="cpbtn cpbtn--primary" i18n
          [disabled]="!props.one_engagements.length"
          (click)="onCompose('One Engagement', props.one_engagements)">
          {{ 'message' | cpI18n }}
        </button>
      </div>
    </div>
  </li>
  <li class="stats--item">
    <div class="row">
      <div class="col-xs-5 no-right-padding">
        <p class="heading">{{ props.zero_engagements.length | cpStatsFormatter }} ({{ noEngagementPercentage }}%)</p>
        <p
          data-toggle="tooltip"
          data-placement="bottom"
          class="text-muted with-tooltip" i18n
          [title]="cpI18n.translate('assess_no_engagement_tooltip')">
          {{ 'assess_no_engagement' | cpI18n }}
          <i class="material-icons">info_outline</i>
        </p>
      </div>
      <div class="stats--buttons col-xs-7 text-right">
        <button
          type="button"
          class="cpbtn cpbtn--primary" i18n
          (click)="download.emit(ZERO_ENGAGEMENT)"
          [disabled]="!props.zero_engagements.length">
          {{ 'download' | cpI18n }}
        </button>

        <button
          type="button"
          class="cpbtn cpbtn--primary" i18n
          [disabled]="!props.zero_engagements.length"
          (click)="onCompose('No Engagement', props.zero_engagements)">
          {{ 'message' | cpI18n }}
        </button>
      </div>
    </div>
  </li>
</ul>