<ul class="stats">
  <li class="stats--item">
    <div class="row">
      <div class="col-xs-5 no-right-padding">
        <p class="heading">
          {{ props.repeat_engagement.length }} ({{ repeatEngagementPercentage }}%)
        </p>
         <p
          data-toggle="tooltip"
          data-placement="bottom"
          class="text-muted with-tooltip" i18n
          title="Students who attended more than one engagement for the period selected">
          Repeat Engagement
          <i class="material-icons">info_outline</i>
        </p>
      </div>
      <div class="stats--buttons col-xs-7 text-right">
        <button
          type="button"
          class="cpbtn cpbtn--primary" i18n
          (click)="onDownload('repeat_engagement')"
          [disabled]="!props.repeat_engagement.length">
          Download
        </button>

        <button
          type="button"
          class="cpbtn cpbtn--primary" i18n
          [disabled]="!props.repeat_engagement.length"
          (click)="onCompose('Repeat Engagement', props.repeat_engagement)">
          Message
        </button>
      </div>
    </div>
  </li>
  <li class="stats--item">
    <div class="row">
      <div class="col-xs-5 no-right-padding">
        <p class="heading">{{ props.one_engagement.length }} ({{ oneEngagementPercentage }}%)</p>
        <p
          data-toggle="tooltip"
          data-placement="bottom"
          class="text-muted with-tooltip" i18n
          title="Students who attended one engagement for the period selected">
          One Engagement
          <i class="material-icons">info_outline</i>
        </p>
      </div>
      <div class="stats--buttons col-xs-7 text-right">
        <button
          type="button"
          class="cpbtn cpbtn--primary" i18n
          (click)="onDownload('one_engagement')"
          [disabled]="!props.one_engagement.length">
          Download
        </button>

        <button
          type="button"
          class="cpbtn cpbtn--primary" i18n
          [disabled]="!props.one_engagement.length"
          (click)="onCompose('One Engagement', props.one_engagement)">
          Message
        </button>
      </div>
    </div>
  </li>
  <li class="stats--item">
    <div class="row">
      <div class="col-xs-5 no-right-padding">
        <p class="heading">{{ props.no_engagement.length }} ({{ noEngagementPercentage }}%)</p>
        <p
          data-toggle="tooltip"
          data-placement="bottom"
          class="text-muted with-tooltip" i18n
          title="Students who had no attendance for the period selected">
          No Engagement
          <i class="material-icons">info_outline</i>
        </p>
      </div>
      <div class="stats--buttons col-xs-7 text-right">
        <button
          type="button"
          class="cpbtn cpbtn--primary" i18n
          (click)="onDownload('no_engagement')"
          [disabled]="!props.no_engagement.length">
          Download
        </button>

        <button
          type="button"
          class="cpbtn cpbtn--primary" i18n
          [disabled]="!props.no_engagement.length"
          (click)="onCompose('No Engagement', props.no_engagement)">
          Message
        </button>
      </div>
    </div>
  </li>
</ul>