@import '~styles/core/colors';
@import '~styles/core/typography';
@import '~styles/components/button';

.content {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  &__wrapper {
    top: 24px;
    position: relative;
  }
}

button {
  @include font-14px();

  width: 105px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: none;
  padding: 5px 12px;
  border-radius: 5px;
  margin-bottom: 4px;
  color: $color-light-grey;
  background: rgba(0, 0, 0, 0.7);

  &:disabled {
    cursor: not-allowed;
  }

  &:last-child {
    margin-bottom: 0;
  }

  i {
    line-height: 1;
    text-align: left;
    vertical-align: middle;
  }

  span {
    margin-left: 4px;
  }
}
