@import '~client/style/components/card';
@import '~client/style/components/button';

.margin-bottom {
  // to account for the fixed footer
  padding-bottom: 90px;
}

p.title {
  @include font-24px();
  @include font-bold();

  margin: 0;
  display: inline-block;
}
