<div class="row">
  <div class="col-12">
    <cp-categories-action-box
      (search)="onSearch($event)"
      (launchCreateModal)="onLaunchCreateModal()">
    </cp-categories-action-box>
  </div>
</div>

<ng-container [ngSwitch]="loading$ | async">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <ng-container [ngSwitch]="(categories$ | async)?.length === 0">
      <cp-no-content
        class="no-content"
        *ngSwitchCase="true"
        [noContentText]="'t_shared_no_categories_found' | cpI18n ">
      </cp-no-content>

      <cp-categories-common-list
        *ngSwitchCase="false"
        [categories$]="categories$"
        [sortBy]="state.sort_field"
        [sortDirection]="state.sort_direction"
        (doSort)="doSort($event)"
        (editClick)="onEdit($event)"
        (deleteClick)="onDelete($event)">
      </cp-categories-common-list>
    </ng-container>
  </ng-container>
</ng-container>