@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';

.cp-datetime-picker {
  .showTimeInput.hasTime .flatpickr-time {
    border-top: none;
  }

  .flatpickr-calendar.arrowTop::before {
    border: none;
  }

  .wrapper {
    position: relative;

    &__group {
      width: 100%;
      display: flex;
      padding: 0.5em;
      border-radius: 4px;
      border: 1px solid $border-color;

      &__trigger {
        display: flex;
        align-items: center;

        &:focus {
          outline: none !important;
        }

        i {
          margin-right: 0.5rem;
        }
      }

      &__clear {
        line-height: 1;
        font-size: 2em;
        margin-left: 0.5em;
        color: $color-secondary-text;
      }
    }

    &__menu {
      width: 296px;
      border-radius: 8px;
    }

    &__calendar__wrapper {
      height: 300px;
      padding: 1rem;
    }

    hr {
      margin: 0;
    }

    &__time__wrapper {
      @include font-12px();
      @include font-semi-bold();

      padding: 1rem;
      color: $color-grey;
    }

    &__buttons__wrapper {
      padding: 1rem;
      display: flex;
      justify-content: flex-end;

      button {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    &__calendar__input {
      top: 0;
      height: 0;
      padding: 0;
      width: 100%;
      visibility: hidden;
      position: relative;

      &--date {
        top: -45px;
      }

      &--time {
        top: -26px;
        height: 60px;

        .flatpickr-calendar.noCalendar {
          width: 100%;
          border: 1px solid $border-color;
        }
      }
    }

    .flatpickr-calendar {
      border: none;
      margin: 0 auto;
      box-shadow: none;
    }
  }
}
