<button type="button"
        ui-button
        position="right"
        variant="stroked"
        uiPopoverYOffset="-40"
        readyUiPopoverTrigger
        class="cp-datetime-picker"
        [uiPopoverTpl]="popoverTpl">
  <ready-ui-stack alignment="between">
    <ready-ui-icon name="today"
                   color="212121"></ready-ui-icon>
    <span class="button__label">{{ label }}</span>
    <button ui-button
            type="button"
            variant="inline"
            *ngIf="clearable"
            (click)="clearDate($event)">
      <ready-ui-icon name="close"
                     size="small"
                     color="212121"></ready-ui-icon>
    </button>
  </ready-ui-stack>
</button>

<ng-template #popoverTpl>
  <div class="template cp-datetime-picker">
    <div class="template">
      <input static="true"
        type="text"
        cpDatePicker
        inline="true"
        enableTime="true"
        [minDate]="minDay"
        #datePicker="datePicker"
        [defaultDate]="selectedDate"
        (dateChange)="onDateChange($event)" />
    </div>
  </div>
</ng-template>