@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/button';
@import '~projects/campus-cloud/src/sass/components/dropdown';

.wrapper {
  overflow: visible;
  background: $color-black;

  .cp-wrapper {
    display: flex;
    padding-top: 12px;
    align-items: center;
    justify-content: space-between;
  }

  .avatar {
    width: 40px;
    height: 40px;
    padding-top: 6px;
    display: inline-block;

    img {
      width: 40px;
      height: 40px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &.nav__links {
      padding-left: 25px;
      display: inline-block;
    }

    li {
      margin-right: 25px;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  li {
    position: relative;
    display: inline-block;

    .promote-badge {
      top: -5px;
      right: -45px;
      padding: 3px;
      line-height: 1;
      font-size: 7px;
      border-radius: 2px;
      position: absolute;
      text-transform: uppercase;
      color: #ff0000 !important;
      transition: color 300ms ease-in-out;
    }

    &:not(.active) {
      a,
      span {
        &:hover {
          cursor: pointer;
          text-shadow: 0.45px 0 0 currentColor;
        }
      }
    }

    a,
    span {
      @include font-16px();

      width: 100%;
      height: 100%;
      display: block;
      color: $color-white;
      padding-bottom: 8px;
      border-bottom: 3px solid transparent;
    }

    &.active {
      a {
        border-bottom: 3px solid $color-brand;
      }
    }
  }
}

.right-side {
  height: 40px;
  display: flex;
  align-items: center;
}

.nav__school {
  width: 215px;
  max-width: 215px;

  button[data-toggle='dropdown'] {
    width: 100%;
    display: block;
    text-align: left;
  }
}

.nav__school,
.nav__help-desk {
  position: relative;

  &.show {
    .nav__school--menu,
    .nav__help-desk--menu {
      display: block;
    }
  }

  &--right {
    width: 200px;
  }

  &--menu {
    top: 115%;
    z-index: 991;
    right: 20px;
    display: none;
    position: absolute;
  }

  &--whats-new:after {
    width: 6px;
    height: 6px;
    content: "";
    position: absolute;
    border-radius: 5px;
    margin: 2px 0 0 -7px;
    background: $color-danger;
  }

  &:hover,
  &--active {
    cursor: pointer;

    .nav__school__user,
    .nav__school__name,
    .nav__school__arrow i {
      color: $color-white;
    }
  }

  &__arrow i {
    margin-top: 7px;
  }

  &__name,
  &__user,
  &__arrow i {
    display: block;
    color: $color-white;
    transition: color 300ms ease-in-out;
  }

  &__user {
    @include font-semi-bold();

    i {
      padding-top: 8px;
    }
  }

  &__thumb {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__name {
    font-size: 0.9em;
  }
}

.dropdown-menu {
  @include font-14px();

  border: none;
  background: transparent;
}

.extras,
.nav__school {
  display: inline-block;
}

.extras {
  margin-right: 15px;

  button {
    padding: 0;
    line-height: 1;
    background: transparent;

    i {
      font-size: 1.5em;
    }
  }
}
