<cp-one-column [width]="layoutWidth">
  <cp-card class="branding-form">
    <div class="row">
      <header class="col-12">
        <p class="card__title">{{ 't_studio_branding_header' | cpI18n }}</p>
      </header>
    </div>
    <cp-branding-form [form]="form"
                      [textLogo]="textLogo"
                      [pkdbLink]="brandingPkdbLink"
                      (removeLogo)="onRemoveLogo()"
                      (uploadLogo)="onUploadLogo($event)"
                      (changeColor)="onChangeColor($event)">
    </cp-branding-form>
  </cp-card>
  <cp-card class="banner">
    <div class="row">
      <header class="col-12">
        <p class="card__title">{{ 'customization_title' | cpI18n }}</p>
        <p>
          <span class="text-muted">{{ 'customization_description' | cpI18n }}
          </span>
          <a target="_blank"
             [href]="bannerPkdbLink"
             class="cpbtn cpbtn--link">
            {{ 'learn_more' | cpI18n }}
          </a>
        </p>
      </header>
    </div>
    <cp-banner-upload [form]="form"
                      [isEdit]="isEdit"
                      (crop)="onCrop($event)"
                      [uploading]="uploading"
                      [imageUrl]="bannerImage"
                      (error)="onError($event)"
                      (resetClick)="onReset()"
                      (upload)="onUpload($event)">
    </cp-banner-upload>
  </cp-card>

  <cp-form-fixed-footer [submitButtonDisabled]="saveDisabled()"
                        (submitClick)="onSave()"
                        (cancelClick)="onCancel()">
  </cp-form-fixed-footer>
</cp-one-column>