<div class="row">
  <div class="col-12">
    <cp-employer-action-box
      (search)="onSearch($event)"
      (launchCreateModal)="onLaunchCreateModal()">
    </cp-employer-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="no-content"
      *ngIf="!state.employers.length"
      [noContentText]="cpI18n.translate('employers_no_results_found')">
    </cp-no-content>

    <div *ngIf="state.employers.length">
      <ul class="cp-form employer">
        <li class="employer__header col-12">
          <div class="row">
            <span
              class="col-11 hover"
              (click)="doSort('name')">
              {{ 'name' | cpI18n }}
              <span *ngIf="state.sort_field === 'employer_name'">
                <i class="material-icons">
                  {{ state.sort_direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                </i>
              </span>
            </span>
            <span class="col-1 hover"></span>
          </div>
        </li>

        <li class="employer__item col-12" *ngFor="let employer of state.employers;">
          <div class="row">
            <span
              data-toggle="modal"
              data-target="#editModal"
              (click)="launchEditModal = true; selectedEmployer = employer"
              class="col-11 text-truncate hover employer__thumbnail">
              <img
                *ngIf="employer.logo_url"
                [src]="employer.logo_url"
                class="rounded img-fit-cover">
                <strong>
                  {{ employer.name }}
                </strong>
              <br>
              {{ employer.description }}
            </span>
            <span
              (click)="deleteEmployer = employer; launchDeleteModal = true"
              data-toggle="modal" data-target="#deleteModal"
              class="col-1 hover delete-employer text-center">
              &times;
            </span>
          </div>
        </li>
      </ul>

      <cp-pagination
        [pageNext]="pageNext"
        [pagePrev]="pagePrev"
        [pageNumber]="pageNumber"
        (next)="onPaginationNext()"
        (previous)="onPaginationPrevious()">
      </cp-pagination>
    </div>
  </div>
</div>

<cp-modal modalId="createModal" *ngIf="launchCreateModal">
  <cp-employer-create
    (created)="onCreated($event)"
    (resetCreateModal)="launchCreateModal = false">
  </cp-employer-create>
</cp-modal>

<cp-modal modalId="editModal" *ngIf="launchEditModal">
  <cp-employer-edit
    [employer]="selectedEmployer"
    (edited)="onEdited($event)"
    (resetEditModal)="launchEditModal = false">
  </cp-employer-edit>
</cp-modal>

<cp-modal modalId="deleteModal" *ngIf="launchDeleteModal">
  <cp-employer-delete
    [employer]="deleteEmployer"
    (deleted)="onDeleted($event)"
    (resetDeleteModal)="launchDeleteModal = false">
  </cp-employer-delete>
</cp-modal>