<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content *ngIf="!state.providers.length"
                   [noContentText]="hasRecords ? noProviderMessage : noProviderAddProviderMessage">
    </cp-no-content>

    <ng-container *ngIf="state.providers.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell
                (sort)="doSort('provider_name')"
                [sorting]="state.sort_field === 'provider_name'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.provider_name }}
            </th>
            <th ui-table-cell>
              {{ 'services_visits' | cpI18n }}
            </th>
            <th ui-table-cell
                (sort)="doSort('num_ratings')"
                [sorting]="state.sort_field === 'num_ratings'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.rating }}
            </th>
            <th ui-table-cell>
              {{ 't_shared_average_rating' | cpI18n }}
            </th>
            <th ui-table-cell>
              {{ 'assessment' | cpI18n }}
            </th>
            <th ui-table-cell></th>
          </tr>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let provider of state.providers">
            <td ui-table-cell>
              <a cpTracker
                 [eventData]="eventData"
                 [routerLink]="['provider/' + provider.id]">
                <span>
                  <strong>{{ provider.provider_name }}</strong>
                  <br />
                  {{ provider.email }}
                </span>
              </a>
            </td>
            <td ui-table-cell>
              {{ provider.total_visits }}
            </td>
            <td ui-table-cell>
              {{ provider.has_feedback ? provider.num_ratings : '---' }}
            </td>
            <td ui-table-cell>
              <cp-stars [maxRate]="5"
                        [size]="listStarSize"
                        *ngIf="provider.has_feedback"
                        [avgRate]="provider.avg_rating_percent">
              </cp-stars>
            </td>
            <td ui-table-cell>
              <a ui-button
                 variant="inline"
                 target="_blank"
                 (click)="trackCheckinEvent(provider.encrypted_campus_service_id)"
                 [routerLink]="[
                    '/cb/checkin/s/' +
                      provider.encrypted_campus_service_id +
                      '/' +
                      provider.encrypted_id
                  ]">
                {{ 't_shared_web_checkin' | cpI18n }}
              </a>
            </td>
            <td ui-table-cell
                align="right">
              <ready-ui-stack>
                <button ui-button
                        type="button"
                        variant="inline"
                        aria-label="Edit Provider"
                        (click)="showEditModal(provider)">
                  <ready-ui-icon name="edit"></ready-ui-icon>
                </button>
                <button ui-button
                        type="button"
                        variant="inline"
                        aria-label="Delete Provider"
                        data-toggle="modal"
                        data-target="#deleteProvider"
                        (click)="deleteProvider = provider">
                  <ready-ui-icon name="close"></ready-ui-icon>
                </button>
              </ready-ui-stack>
            </td>
          </tr>
        </tbody>
      </table>


      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </ng-container>

    <cp-modal modalId="deleteProvider">
      <cp-providers-delete [serviceId]="service.id"
                           [provider]="deleteProvider"
                           (deleted)="onDeleted($event)">
      </cp-providers-delete>
    </cp-modal>

    <cp-modal *ngIf="showEditProviderModal"
              modalId="editProvider"
              (modalClose)="showEditProviderModal = false">
      <cp-providers-edit [service]="service"
                         [provider]="provider"
                         (edited)="onEdited($event)"
                         (teardown)="showEditProviderModal = false">
      </cp-providers-edit>
    </cp-modal>
  </div>
</div>