@import '~client/style/core/colors';
@import '~client/style/components/card';
@import '~client/style/core/typography';
@import '~client/style/components/button';

.map,
.meta {
  @include card-margin();
  margin-top: 0;
}

.map__container {
  height: 200px;
}

.address p {
  margin-bottom: 0;
}
// .meta {
//   &__item {
//     margin-bottom: 12px;

//     a {
//       @include font-semi-bold();
//     }

//     &:last-child {
//       margin-bottom: 0;
//     }
//   }

//   &__type {
//     @include font-semi-bold();
//   }
// }
