<div class="row">
  <div class="col-12">
    <div class="cp-card actions">
      <div class="row">
        <div class="col-3">
          <cp-searchbox (query)="onSearch($event)"></cp-searchbox>
        </div>
        <div class="col-3">
          <cp-dropdown class="topbar--dropdown"
                       [items]="studentFilter$ | async"
                       (selected)="onStudentFilter($event)">
          </cp-dropdown>
        </div>
        <div class="col-3">
          <cp-range-picker [class]="'cancel'"
                           [icon]="'date_range'"
                           [dateRanges]="dateRanges"
                           (rangeChange)="onDateChange($event)">
          </cp-range-picker>
        </div>
        <div class="col-3 text-right">
          <button (click)="onAddCheckIn()"
                  class="cpbtn cpbtn--primary no-right-padding cpbtn--square-right">
            {{ 't_events_assessment_add_check_in' | cpI18n }}
          </button>
          <div
               class="cpbtn cpbtn--square-left cpbtn--no-padding cpbtn--primary no-left-padding hover action-dropdown">
            <i class="material-icons"
               data-toggle="dropdown">expand_more</i>
            <ul
                class="dropdown-menu dropdown-menu-right text-left action-dropdown-list">
              <li *ngIf="provider.qr_img_url"
                  class="list-as-anchor">
                <a cpTracker
                   target="_blank"
                   [eventData]="eventData"
                   [routerLink]="[
                    '/cb/checkin/s/' +
                      provider.encrypted_campus_service_id +
                      '/' +
                      provider.encrypted_id
                  ]">
                  {{ 't_event_assessment_kiosk_checkin_page' | cpI18n }}
                </a>
              </li>
              <li *ngIf="displaySelfCheckInLink(provider)"
                  class="list-as-anchor">
                <a cpTracker
                   target="_blank"
                   [eventData]="eventData"
                   [href]="provider.deep_link_url">
                  {{ 't_event_assessment_self_check_in' | cpI18n }}
                </a>
              </li>
              <li (click)="onEnableDisableQR()"
                  class="list-as-anchor">
                {{ qrLabel }}
              </li>
              <li *ngIf="hasAttendees"
                  class="list-as-anchor"
                  (click)="onDownload()">
                {{ 'services_button_download_attendance_data' | cpI18n }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
