<div class="row">
  <div class="col-12">
    <cp-employer-action-box (search)="onSearch($event)"
                            (launchCreateModal)="onLaunchCreateModal()">
    </cp-employer-action-box>
  </div>
</div>

<ng-container [ngSwitch]="loading">
  <ready-ui-spinner *ngSwitchCase="true"></ready-ui-spinner>

  <ng-container *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.employers.length"
                   [noContentText]="'employers_no_results_found' | cpI18n">
    </cp-no-content>

    <ng-container *ngIf="state.employers.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell
                colspan="2"
                (click)="doSort('name')"
                [sortDirection]="state.sort_direction"
                [sorting]="state.sort_field === 'name'">
              {{ 'name' | cpI18n }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let employer of state.employers; index as index">
            <td ui-table-cell>
              <ready-ui-stack>
                <ready-ui-avatar [alt]="'t_shared_img_alt' | cpI18n: index + 1"
                                 [src]="employer.logo_url"></ready-ui-avatar>
                <button ui-button
                        cpTracker
                        type="button"
                        variant="inline"
                        class="text-left"
                        [eventData]="eventData"
                        (click)="onEdit(employer)">
                  <strong>
                    {{ employer.name }}
                  </strong>
                  <br/>
                  {{employer.description}}
                </button>
              </ready-ui-stack>
            </td>
            <td ui-table-cell
                align="right">
              <button ui-button
                      type="button"
                      variant="inline"
                      aria-label="Delete Employer"
                      (click)="onDelete(employer)">
                <ready-ui-icon name="close"></ready-ui-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </ng-container>
  </ng-container>
</ng-container>
