<div class="topbar cp-card">
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="topbar--filter col-xs-4">
          <div class="row">
            <div class="col-xs-9 no-right-padding">
              <cp-dropdown
                [items]="engageMentFilter"
                class="topbar--dropdown"
                (selected)="onScopeChange($event)"
                [selectedItem]="state.engagement">
              </cp-dropdown>
            </div>
            <div class="col-xs-3 text-center">
              <span class="topbar--copy" i18n>{{ 'for' | cpI18n }}</span>
            </div>
          </div>
        </div>

        <div class="topbar--filter col-xs-4 no-left-padding">
          <div class="row">
            <div class="col-xs-9 no-right-padding">
              <cp-dropdown
                [items]="studentFilter"
                class="topbar--dropdown"
                [selectedItem]="state.for"
                (selected)="onStudentChange($event)">
              </cp-dropdown>
            </div>
            <div class="col-xs-3 text-center">
              <span class="topbar--copy" i18n>{{ 'in' | cpI18n }}</span>
            </div>
          </div>
        </div>
        <div class="topbar--filter col-xs-4 no-left-padding">
          <div class="row">
            <div class="col-xs-9">
              <cp-dropdown
                [items]="dateFilter"
                class="topbar--dropdown"
                [selectedItem]="state.range"
                (selected)="onDateRangeChange($event)">
              </cp-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-3 col-xs-push-1">
      <button
        (click)="download.emit()"
        class="cpbtn cpbtn--primary pull-right" i18n>
        {{ 'assess_button_download_engagement_data' | cpI18n }}
      </button>
    </div>
  </div>
</div>
