@import '~styles/core/colors';
@import '~styles/core/typography';

$margin-top: 30px;

.table {
  height: 373px;
  margin-top: $margin-top;

  p {
    margin-bottom: 0;
  }

  &--no-results {
    @include font-16px();
    @include font-semi-bold();

    margin-top: 180px;
  }

  &--header {
    padding: 16px 0;
    p {
      color: $color-secondary-text;
    }
  }

  &--item {
    padding: 10px 0;
    border-top: 1px solid $border-color;

    p {
      top: 12px;
      position: relative;
    }

    p.ranking {
      color: $color-secondary-text;
    }

    img.avatar {
      float: left;
      width: 38px;
      height: 38px;
      margin-top: 5px;
      margin-right: 10px;
    }

    &.isLast {
      border-bottom: 1px solid $border-color;
    }
  }
}
