@import '~client/style/core/colors';
@import '~client/style/core/typography';
@import '~client/style/components/form';
@import '~client/style/components/button';

form {
  margin-top: 60px;

  button {
    width: 100%;
    margin-top: 12px;
  }
}

p {
  @include font-bold();
  @include font-36px();

  margin-top: 90px;
}
