<cp-page-header [data]="pageHeader"></cp-page-header>

<div class="cp-wrapper">
  <div class="row">
    <div
      *ngIf="!isCompleted"
      class="col-xs-4 col-xs-offset-4">
      <form
        [formGroup]="form"
        autocomplete="off"
        (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
          <label i18n>{{ 'auth_old_password' | cpI18n }}</label>
          <input type="password" autocomplete="off" class="form-control" formControlName="current">
        </div>
        <div class="form-group">
          <label i18n>{{ 'new_password' | cpI18n }}</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
          <label i18n>{{ 'auth_confirm_new_password' | cpI18n }}</label>
          <input type="password" class="form-control" formControlName="confirmation">
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="cpbtn cpbtn--tall cpbtn--primary" i18n>{{ 'change_password' | cpI18n }}</button>
          </div>
        </div>
      </form>
    </div>

    <div
      *ngIf="isCompleted"
      class="col-xs-8 col-xs-offset-2 text-center">
      <p i18n>{{ 'auth_password_reset_success' | cpI18n }}</p>
    </div>
  </div>
</div>