<div class="row">
  <div class="col-12">
    <div class="cp-card">
      <div class="row justify-content-between">
        <div class="col-3">
          <cp-searchbox (query)="onSearch($event)"></cp-searchbox>
        </div>
        <div class="col text-right">
          <button
            *ngIf="hasMembers"
            type="button"
            class="cpbtn cpbtn--cancel margin-right"
            (click)="download.emit()">
            {{ 'download_csv' | cpI18n }}
          </button>
          <button
            type="button"
            *ngIf="!limitedAdmin"
            (click)="create.emit()"
            class="cpbtn cpbtn--primary">
            {{ 'clubs_member_button_create' | cpI18n }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>