<div class="row">
  <div class="col-12">
    <div class="cp-card">
      <div class="row justify-content-between">
        <div class="col-3">
          <cp-searchbox (query)="onSearch($event)"></cp-searchbox>
        </div>
        <div class="col-3 float-right">
          <button
            cpTracker
            [eventData]="trackChangeEvent()"
            type="button"
            *ngIf="!limitedAdmin"
            (click)="create.emit()"
            class="cpbtn cpbtn--primary float-right" i18n>
            {{ 'clubs_member_button_create' | cpI18n }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>