<div class="row">
  <div class="col-12">
    <div [class]="[replyView ? '' : 'cp-card']">
      <form [formGroup]="form">
        <div class="row form-group">
          <div class="col-6 text-left">
            <p class="text-muted maxLength">
              {{ form.controls.message.value ? form.controls.message.value.length : 0 }}/500
            </p>
          </div>
          <div class="col-6 text-right">
            <label class="error" *ngIf="imageError">{{ imageError }}</label>
            <cp-upload-button
              [id]="[threadId ? threadId : 'main_input_box']"
              [buttonText]="cpI18n.translate('button_add_photo')"
              buttonClass="cpbtn cpbtn--link"
              (fileUpload)="onFileUpload($event)">
            </cp-upload-button>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <cp-text-editor
              [image$]="image$"
              [reset$]="resetTextEditor$"
              (contentChange)="onContentChange($event)">
            </cp-text-editor>
          </div>
        </div>
        <div class="row justify-content-end">
          <div
            *ngIf="!clubId && !_isCampusWallView;"
            class="col-10 channel-dropdown no-right-padding">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-5 no-right-padding">
                    <span i18n>{{ 'feeds_post_as' | cpI18n }}</span>
                  </div>
                  <div class="col-7 no-left-padding">
                    <cp-dropdown
                      class="dropdown"
                      [items]="stores$ | async"
                      (selected)="onSelectedHost($event)"
                      [selectedItem]="session.defaultHost">
                    </cp-dropdown>
                  </div>
                </div>
              </div>
              <div
                class="col-6"
                *ngIf="!replyView">
                <div class="row">
                  <div class="col-4 no-right-padding">
                    <span i18n>{{ 'feeds_post_to' | cpI18n }}</span>
                  </div>
                  <div class="col-8 no-left-padding">
                    <cp-dropdown
                      [reset]="reset$"
                      class="dropdown"
                      [items]="channels$ | async"
                      (selected)="onSelectedChannel($event)">
                    </cp-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 float-right text-right">
            <cp-button
              [props]="buttonData"
              (buttonClick)="onSubmit(form.value)">
            </cp-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>