<div [ngSwitch]="loading">
    <cp-spinner *ngSwitchCase="true"></cp-spinner>

    <div *ngSwitchCase="false">
      <cp-no-content
        *ngIf="!assessments.length"
        noContentText="No attendees found...">
      </cp-no-content>

      <div class="row" *ngIf="assessments.length">
        <div class="col-12">
          <div class="cp-table">
            <div class="cp-table__header">
              <div class="row">
                <div class="col-4">
                  <span>
                    {{ 'services_label_attendee_name' | cpI18n }}
                  </span>
                </div>
                <div class="col-3">
                  <span i18n>{{ 'rating' | cpI18n }}</span>
                </div>
                <div class="col-2">
                  <cp-sorting-header
                    sortLabel="check_in_method"
                    (click)="doSort('check_in_method')"
                    [label]="sortingLabels.checkin_method"
                    [sortField]="state.sort_field"
                    [sortDirection]="state.sort_direction">
                  </cp-sorting-header>
                </div>
                <div class="col-3">
                  <cp-sorting-header
                    sortLabel="check_in_time"
                    (click)="doSort('check_in_time')"
                    [label]="sortingLabels.checkin_time"
                    [sortField]="state.sort_field"
                    [sortDirection]="state.sort_direction">
                  </cp-sorting-header>
                </div>
              </div>
            </div>

            <div class="cp-table__item" *ngFor="let assessment of assessments">
              <div class="row">
                <div class="col-4">
                  <img
                    class="rounded img-fit-cover float-left avatar"
                    [src]="assessment.avatar_thumb_url"
                    *ngIf="assessment.avatar_thumb_url !== ''">
                  <img
                    [src]="defaultImage"
                    class="rounded img-fit-cover float-left avatar"
                    *ngIf="assessment.avatar_thumb_url === ''">
                  <div class="meta">
                    <strong>
                      {{ assessment.firstname }} {{ assessment.lastname }}
                    </strong>
                    <br>
                    {{ assessment.email }}
                    <br>
                    <span class="text-muted">{{ assessment.feedback_text }}</span>
                  </div>
                </div>
                <div class="col-3">
                  <cp-stars
                    [maxRate]="5"
                    [avgRate]="assessment.feedback_rating">
                  </cp-stars>
                </div>
                <div class="col-2">
                  <span>{{ checkinMethods[assessment.check_in_method].label }}</span>
                </div>
                <div class="col-3">
                  <span>{{ assessment.check_in_time | cpDatePipe:dateFormat }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <cp-pagination
            [pageNext]="pageNext"
            [pagePrev]="pagePrev"
            [pageNumber]="pageNumber"
            (next)="onPaginationNext()"
            (previous)="onPaginationPrevious()">
          </cp-pagination>
        </div>
      </div>
    </div>
  </div>
