@import '~styles/core/colors';
@import '~styles/components/form';
@import '~styles/components/button';
@import '~bootstrap/variables';

.avatar {
  margin-right: 8px;
}

.delete-button {
  font-size: 2em;
}

.cp-form__header {
  span.hover {
    position: relative;

    > span i {
      top: -2px;
      position: absolute;
    }
  }
}

.clubs {
  padding: 0;
  list-style: none;

  &__thumbnail {
    img {
      width: auto;
      height: 35px;
      width: 35px;
    }
  }

  @media all and (max-width: $screen-md) {
    li {
      > span:not(.clubs__thumbnail) {
        text-align: center;
        padding-bottom: 10px;
      }
    }
  }
}

.margin-bottom {
  // to account for the fixed footer
  padding-bottom: 90px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  background: $color-white;
  border-top: 1px solid $border-color;
}
