<div [ngSwitch]="isFormReady">
  <cp-spinner *ngSwitchCase="false"></cp-spinner>

  <div *ngSwitchCase="true">
    <div class="row margin-bottom">
      <div class="col-xs-12">
        <cp-no-content
          noContentText="No Clubs to Add..."
          *ngIf="!form.controls.clubs.controls.length">
        </cp-no-content>
        <form
          class="form"
          [formGroup]="form"
          *ngIf="form.controls.clubs.controls.length">
          <ul class="col-xs-12 cp-form" formArrayName="clubs">
            <div class="clubs">
              <li class="cp-form__header row">
                <span class="col-xs-3" i18n>Club Name</span>
                <span class="col-xs-2" i18n>Club Email</span>
                <span class="col-xs-2" i18n>Admin Email</span>
                <span class="col-xs-2" i18n>Phone Number</span>
                <span class="col-xs-2" i18n>Website</span>
                <span class="col-xs-1"></span>
              </li>

              <li
                class="cp-form__item col-xs-12"
                *ngFor="let club of form.controls.clubs.controls; let i=index">
                <div [formGroupName]="i" class="row">
                  <span class="col-xs-12 col-md-3 text-truncate clubs__thumbnail">
                    <img
                      class="img-rounded"
                      [src]="club.controls.image_url.value ?
                            club.controls.image_url.value :
                            club.controls.store_logo_url">
                    {{ club.controls.club_name.value }}
                    <br>
                    <span class="text-muted">{{ club.controls.description.value }}</span>
                  </span>

                  <span class="col-xs-12 col-md-2 text-truncate">
                    {{ club.controls.club_email.value }}
                  </span>
                  <span class="col-xs-12 col-md-2 text-truncate">
                    {{ club.controls.admin_email.value }}
                  </span>
                  <span class="col-xs-12 col-md-2 text-truncate">
                    {{ club.controls.phone_number.value }}
                  </span>
                  <span class="col-xs-12 col-md-2 text-truncate">
                    {{ club.controls.website.value }}
                  </span>
                  <span class="col-xs-12 col-md-1 text-truncate">
                    <button
                      type="button"
                      (click)="removeControl(i)"
                      class="cpbtn cpbtn--link-dark delete-button">
                      &times;
                    </button>
                  </span>
                </div>
              </li>
            </div>
          </ul>
        </form>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">
              <a [routerLink]="['/manage/clubs']"
                class="cpbtn cpbtn--tall cpbtn--cancel" i18n>
                Cancel
              </a>
              <button
                type="button"
                (click)="onSubmit()"
                class="cpbtn cpbtn--tall cpbtn--primary" i18n
                [disabled]="!form.controls.clubs.controls.length">
                Import {{form.controls.clubs.controls.length}} Clubs
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>