@import '~styles/core/colors';
@import '~styles/components/card';
@import '~styles/components/button';

.rating-box {
  height: 129px;

  &__star {
    display: block;
    padding-top: 12px;
  }

  p {
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.visits {
  span {
    display: block;
    text-align: left;
    margin-bottom: 14px;
    color: $color-med-grey;

    &:last-child {
      margin-bottom: 0;
    }

    strong {
      float: right;
      color: $color-black;
    }
  }
}

.header {
  @include card-margin();
  
  margin-top: 0;

  &__digit {
    @include font-semi-bold();

    font-size: 2.4em;
  }
}