<ng-container *ngIf="theme === 'small'">
  <div class="input small">
    <input type="file"
           name="file"
           [attr.id]="id"
           class="inputfile"
           (change)="onChange($event)" />
    <label [for]="id"
           class="small"
           [class.isRequired]="isRequired">
      <i class="material-icons">add_a_photo</i>
    </label>
  </div>
</ng-container>

<ng-container *ngIf="!theme">
  <div [ngClass]="['input ' + buttonClass]">
    <input type="file"
           name="file"
           [attr.id]="id"
           class="inputfile"
           (change)="onChange($event)" />
    <label [for]="id"
           [class.isRequired]="isRequired">
      {{ buttonText ? buttonText : ('t_choose_a_file' | cpI18n) }}
      <cp-working *ngIf="busy"
                  class="busy"></cp-working>
    </label>
  </div>
</ng-container>