<ng-container [ngSwitch]="isFormReady">
  <cp-spinner *ngSwitchCase="false"></cp-spinner>

  <ng-container *ngSwitchCase="true">
    <div class="row">
      <cp-services-import-top-bar
        (checkAll)="onCheckAll($event)"
        (deleteServices)="onBulkDelete()"
        [categories]="categories"
        (imageChange)="onImageBulkChange($event)"
        (categoryChange)="onCategoryBulkChange($event)">
      </cp-services-import-top-bar>
    </div>

    <div class="row margin-bottom">
      <div class="col-xs-12">
        <form [formGroup]="form" class="form">
          <div formArrayName="services">
            <div class="row">
              <div class="col-xs-12">
                <cp-no-content
                  noContentText="No Services to Add..."
                  *ngIf="!form.controls.services.controls.length">
                </cp-no-content>
              </div>
            </div>
            <div
              class="row form__wrapper"
              *ngFor="let service of form.controls.services.controls; let i=index">
              <div [formGroupName]="i" class="col-xs-12">
                <div class="row form__item">
                  <div class="col-xs-4 text-truncate">
                    <div class="row margin-top">
                      <div class="col-xs-3 no-left-padding">
                        <cp-checkbox
                          class="checkbox pull-left"
                          [isChecked]="isChecked[i].checked"
                          (toggle)="onSingleCheck($event, i)">
                        </cp-checkbox>

                        <div class="service__avatar">
                          <div
                            *ngIf="!service.controls.logo_url.value"
                            class="placeholder placeholder--small text-center">
                            <i class="material-icons">image</i>
                          </div>
                          <img
                            *ngIf="service.controls.logo_url.value"
                            class="img-responsive img-rounded"
                            [src]="service.controls.logo_url.value">
                        </div>
                      </div>

                      <div class="col-xs-8 no-left-padding text-truncate">
                        <span class="service__title">
                          <strong>{{ service.controls.name.value }}</strong>
                        </span>
                        <br>
                        <span class="service__description">
                          {{ service.controls.description.value }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <label i18n>{{ 'category' | cpI18n }}</label>
                    <cp-dropdown
                      [items]="categories"
                      (selected)="onSingleCategorySelected($event, i)"
                      [selectedItem]="service.controls['category'].value">
                    </cp-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="footer">
      <div class="cp-wrapper cp-wrapper--outer">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">
              <a [routerLink]="['/manage/services']"
                class="cpbtn cpbtn--cancel" i18n>
                {{ 'cancel' | cpI18n }}
              </a>
              <cp-button
                [props]="buttonData"
                (buttonClick)="onSubmit()">
              </cp-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>