@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/button';

.dropdown.cp-range-picker {
  button[data-toggle='dropdown'] {
    i {
      font-size: 18px;
      vertical-align: -4px;
    }
  }

  .dropdown-menu {
    padding: 0;

    .flatpickr-calendar {
      box-shadow: none;
      border-radius: 0;
    }

    .dropdown-item:hover {
      background-color: initial;
    }

    .dropdown-item:last-child {
      display: flex;
      padding: 15px 0;
      justify-content: space-around;
    }

    button {
      @include font-semi-bold();

      width: 100px;
      white-space: normal;
    }
  }
}
