<div class="dropdown cp-range-picker">
  <button type="button"
          id="range-picker"
          aria-haspopup="true"
          aria-expanded="false"
          data-toggle="dropdown"
          [class]="'cpbtn cpbtn--' + class">
    {{ label }}
    <i *ngIf="icon"
       aria-hidden="true"
       class="material-icons">
      {{ icon }}
    </i>
  </button>
  <div tabindex="0"
       class="dropdown-menu"
       aria-labelledby="range-picker"
       (click)="$event.stopPropagation()">
    <input inline
           type="text"
           cpDatePicker
           mode='range'
           altInput="false"
           [maxDate]="maxDate"
           [minDate]="minDate"
           #picker="datePicker"
           class="visually-hidden dropdown-item"
           (dateChange)="onDateChanged($event)" />
    <div class="dropdown-item">
      <button type="button"
              class="cpbtn cpbtn--link"
              (click)="picker.clear()"
              (click)="handleCustomDate(date)"
              *ngFor="let date of dateRanges">
        {{ date.label }}
      </button>
    </div>
  </div>
</div>