<cp-clubs-members-action-box
  (query)="onFilter($event)"
  (create)="onLaunchCreateModal()">
</cp-clubs-members-action-box>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      *ngIf="!state.members.length"
      noContentText="No Members Found...">
    </cp-no-content>

    <div *ngIf="state.members.length">
      <ul class="members cp-form">
        <li class="cp-form__header col-xs-12">
          <div class="row">
            <span class="col-xs-3" i18n>{{ 'name' | cpI18n }}</span>
            <span class="col-xs-2" i18n>{{ 'clubs_label_member_type' | cpI18n }}</span>
            <span class="col-xs-2" i18n *ngIf="hasSSO">{{ 'student_id' | cpI18n }}</span>
            <span
              [class]="hasSSO ? 'col-xs-2 col-xs-2-offset-1' : 'col-xs-2 col-xs-2-offset-3'">
            </span>
          </div>
        </li>

        <li
          class="cp-form__item col-xs-12"
          *ngFor="let member of state.members | cpFilterPipe: { query: query, filterBy: ['firstname', 'lastname'] }">

          <div class="row" *ngIf="member.noResults">
            <p class="text-center"><strong>{{ 'clubs_no_members_found' | cpI18n }}...</strong></p>
          </div>

          <div class="row" *ngIf="!member.noResults">
            <span class="col-xs-3 text-truncate members__thumbnail">
              <img
                class="img-rounded"
                [src]="member.avatar_url"
                *ngIf="member.avatar_url !== ''">
              <img
                class="img-rounded"
                [src]="defaultImage"
                *ngIf="member.avatar_url === ''">
              <strong>
                  <button
                    (click)="isEdit = true"
                    (click)="editMember = member"
                    class="cpbtn cpbtn--link-dark member__title"
                    data-toggle="modal" data-target="#membersEdit">
                    {{ member.firstname }} {{ member.lastname }}
                  </button>
              </strong>
              <br>
              <span
                class="text-muted"
                *ngIf="member.member_type === excutiveType">
                {{ member.member_position }}
              </span>
            </span>
            <span class="col-xs-2 text-truncate">
              {{ member.member_type === excutiveType ? 'Executive' : 'Member' }}
            </span>

            <span class="col-xs-2 text-truncate" *ngIf="hasSSO">
              id
            </span>

            <span
              (click)="deleteMember = member"
              data-toggle="modal" data-target="#membersDelete"
              [class]="hasSSO ? 'col-xs-1 col-xs-offset-1 pull-right text-center delete-member hover' : 'col-xs-1 col-xs-offset-3 pull-right text-center delete-member hover'">
              &times;
            </span>
          </div>
        </li>
      </ul>

      <div class="row">
        <div class="col-xs-12">
          <cp-pagination
            [pageNext]="pageNext"
            [pagePrev]="pagePrev"
            [pageNumber]="pageNumber"
            (next)="onPaginationNext()"
            (previous)="onPaginationPrevious()">
          </cp-pagination>
        </div>
      </div>
    </div>

    <cp-modal modalId="membersEdit">
      <cp-members-edit
        *ngIf="isEdit"
        [groupId]="groupId"
        [member]="editMember"
        (edited)="forceRefresh()"
        (teardown)="isEdit = false">
      </cp-members-edit>
    </cp-modal>

    <cp-modal modalId="membersDelete">
      <cp-members-delete
        [groupId]="groupId"
        [member]="deleteMember"
        (deleted)="forceRefresh()">
      </cp-members-delete>
    </cp-modal>

    <cp-modal modalId="membersCreate">
      <cp-members-create
        [groupId]="groupId"
        (added)="forceRefresh()">
      </cp-members-create>
    </cp-modal>
  </div>
</div>