<form [formGroup]="form">
  <div class="form row">
    <div class="col-9 no-left-padding no-right-padding">
      <div class="form__app-name">
        <label for="name">{{ 'app_name' | cpI18n }}</label>
        <input
          id="name"
          type="text"
          cpTarget="name"
          class="form-control"
          formControlName="name"
          [class.error]="formErrors && form.get('name').invalid"
          [placeholder]="'t_api_management_name_input_placeholder' | cpI18n"/>
      </div>

      <div class="row">
        <div class="col-5">
          <label>{{ 't_api_management_api_endpoints' | cpI18n }}</label>
          <cp-checkbox
            class="checkbox"
            cpTarget="push_notification"
            formControlName="push_notification"
            (toggle)="onTogglePermission($event, apiType.notification)"
            [label]="'t_api_management_push_notification' | cpI18n"
            [hasError]="formErrors && form.get('token_permission_data').invalid">
          </cp-checkbox>
          <cp-checkbox
            class="checkbox"
            cpTarget="user_info"
            formControlName="user_info"
            (toggle)="onTogglePermission($event, apiType.user)"
            [label]="'t_api_management_user_information' | cpI18n"
            [hasError]="formErrors && form.get('token_permission_data').invalid">
          </cp-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="footer row">
    <div class="col-7 no-left-padding no-right-padding">
      <div
        cpTooltip
        class="row"
        *ngIf="!isSandbox"
        cpTarget="warning_text"
        [attr.title]="'t_api_management_sanbox_school_tooltip_text' | cpI18n">
        <div class="col-1">
          <i class="material-icons">warning</i>
        </div>
        <div class="col-11 no-left-padding no-right-padding footer_warning_text">
          <span>{{ 't_api_management_warning_text_1' | cpI18n }}</span><br>
          <span>{{'t_api_management_warning_text_2' | cpI18n}}</span>
        </div>
      </div>
    </div>
    <div class="col-5 text-right no-left-padding no-right-padding">
      <a
        [routerLink]="['/api-management']"
        class="cpbtn cpbtn--cancel">
        {{ 'cancel' | cpI18n }}
      </a>

     <cp-button
       cpTarget="submit"
       [props]="buttonData"
       (click)="onSave()">
     </cp-button>
    </div>
  </div>
</form>