@import '~projects/campus-cloud/src/sass/components/button';
@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/form';

.form,
.footer {
  background-color: $color-white;
  border-bottom: 1px solid $border-color;
  box-shadow: 4px 4px 20px 0 rgba(204, 204, 204, 0.3);
}

.form {
  padding: 24px;

  &__app-name {
    margin-bottom: 24px;
  }

  input::placeholder {
    @include font-14px();
  }

  &__id {
    margin: 8px 0;
  }

  &__key {
    margin: 8px 0 16px;
  }

  &__key-label {
    @include font-normal();

    display: inline-block;
  }

  &__id div input {
    height: 32px;
    width: 290px;
    border: none;
    text-align: left;
    margin-left: 16px;
    border-radius: 4px;
    display: inline-block;
    color: $color-secondary-text;
    background-color: $color-light-grey;
    font-family: 'Courier New', Courier, monospace;
  }
}

.footer {
  padding: 16px 24px;

  &__action_button {
    margin-top: 4px;
  }

  &_warning_text {
    padding-left: 8px;
  }

  .cpbtn {
    &--cancel {
      margin-right: 8px;
    }
  }

  span {
    color: $color-secondary-text;
  }

  i {
    margin: 10px 0 10px 0;
    color: $color-warning;
  }
}
