@import '~client/style/core/colors';
@import '~client/style/components/form';
@import '~client/style/components/card';
@import '~client/style/core/typography';
@import '~client/style/components/button';
@import '~client/style/components/dropdown';

input {
  width: 100%;
  position: relative;
}

.search__close {
  top: 10px;
  right: 24px;
  font-size: 1.3em;
  position: absolute;
  color: $color-med-grey;
}

.cp-dropdown__list {
  @include card-shadow();
  @include cpDropdownMenu();

  top: 110%;
  padding: 0;
  z-index: 1;
  width: calc(100% - 30px);
  max-width: 500px;
  max-height: 197px;
  overflow-y: scroll;
  position: absolute;
  border-radius: 4px;
  background-color: $color-white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);

  &__item {
    padding: 10px;
    text-align: left;
    color: $color-secondary-text;
    transition: background 100ms ease-in;

    span.isLabel {
      @include font-semi-bold();

      color: $color-text;
    }

    span.suggestion_small {
      font-size: 0.9em;
    }

    span.suggestion_dark {
      color: $color-text;
    }

    span.suggestion_medium {
      color: $color-med-grey;
    }

    &:hover:not(.no-hover) {
      cursor: pointer;
      color: $color-white;
      background: $color-brand;

      span.isLabel,
      span.suggestion_dark,
      span.suggestion_medium {
        color: $color-white;
      }
    }
  }
}
