<div class="cp-card feed">
  <div class="row">
    <div class="col-xs-12">
      <div class="feed__header">
        <cp-feed-header
          [feed]="feed"
          (filterByCategory)="filterByCategory.emit($event)">
        </cp-feed-header>
        <div class="feed__more pull-right">
          <cp-feed-dropdown
            *ngIf="!isRemovedPosts"
            (selected)="onSelected($event)"
            [isCampusWallView]="isCampusWallView"
            [requiresApproval]="requiresApproval$">
          </cp-feed-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="row feed__body">
    <div class="col-xs-12">
      <cp-feed-body
        [feed]="feed"
        [isRemovedPosts]="isRemovedPosts"
        (viewComments)="isCommentsOpen = $event"
        (toggleReplies)="isCommentsOpen = $event">
      </cp-feed-body>
    </div>
  </div>

  <div
    class="feed__comments"
    *ngIf="isCommentsOpen">
    <div class="row">
      <div class="col-xs-12">
        <cp-feed-comments
          [feed]="feed"
          [clubId]="clubId"
          [orientationId]="orientationId"
          (replied)="onReplied()"
          (deleted)="onDeletedComment()"
          [isCampusWallView]="isCampusWallView">
        </cp-feed-comments>
      </div>
    </div>
  </div>
</div>

<cp-modal modalId="moveFeedModal" *ngIf="isMoveModal">
  <cp-feed-move-modal
    [feed]="feed"
    (moved)="moved.emit($event)"
    (teardown)="isMoveModal = false">
  </cp-feed-move-modal>
</cp-modal>

<cp-modal modalId="deleteFeedModal" *ngIf="isDeleteModal">
  <cp-feed-delete-modal
    [feed]="feed"
    (deleted)="deleted.emit($event)"
    [isCampusWallView]="isCampusWallView"
    (teardown)="isDeleteModal = false">
  </cp-feed-delete-modal>
</cp-modal>

<cp-modal modalId="approveFeedModal" *ngIf="isApproveModal">
  <cp-feed-approve-modal
    [feed]="feed"
    [isCampusWallView]="isCampusWallView"
    (teardown)="isApproveModal = false"
    (approved)="onApprovedPost($event)">
  </cp-feed-approve-modal>
</cp-modal>