@import '~styles/core/colors';
@import '~styles/components/card';
@import '~styles/components/button';

:host {
  display: block;
  @include card-margin();
}

.feed {
  &.cp-card {
    padding: 0;
  }

  &__body,
  &__header,
  &__comments {
    @include card-padding();
  }

  &__comments {
    border-radius: 0 0 4px 4px;
    background: $color-text-alt;
    border-top: 1px solid $color-med-grey;
  }
}