<ng-container [ngSwitch]="loadingStudentData">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div class="page" *ngSwitchCase="false">
    <div class="cp-wrapper cp-wrapper--outer">
      <div class="row">
        <div class="col-8 offset-2">
          <cp-profile-header
            [student]="student"
            (message)="launchMessageModal()">
          </cp-profile-header>
        </div>
      </div>
    </div>

    <div class="cp-wrapper cp-wrapper--outer">
      <div class="row">
        <div class="col-8 offset-2">
          <cp-profile-top-bar
            (download)="onDownload()"
            (filter)="onFilter($event)">
          </cp-profile-top-bar>
        </div>
      </div>
    </div>

    <ng-container [ngSwitch]="loadingEngagementData">
      <cp-spinner *ngSwitchCase="true"></cp-spinner>


      <ng-container *ngSwitchCase="false">
        <ng-container *ngIf="!engagementsByDay.length">
          <div class="cp-wrapper cp-wrapper--outer">
            <div class="row">
              <div class="col-8 offset-2">
                <cp-no-content
                  class="no-content"
                  noContentText="No Engagements Found...">
                </cp-no-content>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="engagementsByDay.length" class="feed">
          <div class="cp-wrapper cp-wrapper--outer">
            <div class="row">
              <div class="col-8 offset-2">
                <div class="feed__wrapper">
                  <ng-container
                    class="feed__item"
                    *ngFor="let day of engagementsByDay">
                    <div class="feed__header">
                      <div class="row">
                        <div class="col-12">
                          <div class="feed__header__bg">
                              <p>{{ day | cpDatePipe:dateFormat }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="feed__body">
                      <div class="row">
                        <div class="col-12">
                          <div class="feed__body__wrapper engagement">
                            <ng-container *ngFor="let engagement of engagementData[day]">
                              <div class="row engagement__item">
                                <div class="col-2">
                                  <p class="engagement__time">
                                    <strong>{{ engagement.time_epoch | cpDatePipe:timeFormat }}</strong>
                                  </p>
                                </div>
                                <div class="col-10 engagement__meta no-left-padding">
                                  <p class="engagement__meta__title">
                                    <strong>{{ engagement.name }}</strong>
                                  </p>

                                  <p class="text-muted engagement__meta__type">
                                    <span class="icon">
                                      <i class="material-icons">{{ engagement.type === isEvent ? 'event' : 'info_outline' }}</i>
                                    </span>
                                    {{ utils.getEventType(engagement.type) }}
                                  </p>
                                  <div class="engagement__rating" *ngIf="engagement.feedback_time_epoch > 0">
                                    <cp-stars
                                      [size]="starSize"
                                      [maxRate]="engagement.rating_scale_maximum"
                                      [avgRate]="engagement.user_rating_percent">
                                    </cp-stars>
                                  </div>
                                  <p class="engagement__feedback" *ngIf="engagement.feedback_time_epoch > 0">{{ engagement.user_feedback_text }}</p>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <cp-pagination
                [pageNext]="pageNext"
                [pagePrev]="pagePrev"
                [pageNumber]="pageNumber"
                (next)="onPaginationNext()"
                (previous)="onPaginationPrevious()">
              </cp-pagination>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<cp-modal
  *ngIf="isStudentComposeModal"
  modalId="studentsComposeModal">
  <cp-students-compose
    [props]="messageData"
    (success)="onFlashMessage()"
    (teardown)="onComposeTeardown()">
  </cp-students-compose>
</cp-modal>
