@import '~projects/campus-cloud/src/sass/core/typography';

.wrapper {
  display: flex;
  align-items: flex-start;

  ready-ui-avatar {
    margin-right: 1em;
  }

  h2 {
    @include font-24px();
    @include font-bold();

    margin-bottom: 0;

    span {
      @include font-normal();

      font-size: 0.7em;
    }
  }

  p {
    margin-bottom: 0;
  }

  button {
    margin: 1em 0;
  }
}
