<cp-clubs-list-action-box [isAthletic]="isAthletic"
                          (filter)="doFilter($event)"
                          (search)="doSearch($event)">
</cp-clubs-list-action-box>


<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <div *ngIf="state.clubs.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell
                (sort)="doSort('name')"
                [sorting]="state.sort_field === 'name'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.name }}
            </th>
            <!-- <cp-sorting-header class="col-5"
                               sortLabel="name"
                               (click)="doSort('name')"
                               [label]="sortingLabels.name"
                               [sortField]="state.sort_field"
                               [sortDirection]="state.sort_direction">
            </cp-sorting-header> -->

            <th ui-table-cell>
              {{ 't_shared_status' | cpI18n }}
            </th>
            <th ui-table-cell>
              {{ 'members' | cpI18n }}
            </th>
            <th ui-table-cell>{{ 'events' | cpI18n }}</th>
            <th ui-table-cell></th>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let club of state.clubs">
            <td ui-table-cell>
              <ready-ui-stack>
                <ready-ui-avatar [src]="club.logo_url ? club.logo_url : defaultImage"
                                 [alt]="'t_shared_img_alt' | cpI18n:club.id">
                </ready-ui-avatar>
                <strong>
                  <a cpTracker
                     class="cp-form__title"
                     [eventData]="eventData"
                     queryParamsHandling="merge"
                     [routerLink]="[club.id + '/info']">
                    {{ club.name }}
                  </a>
                </strong>
              </ready-ui-stack>
            </td>
            <td ui-table-cell>
              {{ clubStatus[club.status] }}
              <ng-container *ngIf="club.status === PENDING_STATUS">
                <button ui-button
                        type="button"
                        color="primary"
                        variant="inline"
                        (click)="onApproveClub(club.id)">
                  ({{ 'approve' | cpI18n }})
                </button>
              </ng-container>
            </td>
            <td ui-table-cell>
              {{
                club.member_count === disabledWall
                  ? cpI18n.translate('clubs_disabled')
                  : club.member_count
              }}
            </td>
            <td ui-table-cell>
              {{ club.total_item_count }}
            </td>

            <td ui-table-cell
                align="right">
              <button ui-button
                      variant="inline"
                      type="button"
                      (click)="onDelete(club)"
                      aria-label="Delete Club">
                <ready-ui-icon name="close"></ready-ui-icon>
              </button>
            </td>
        </tbody>
      </table>

      <div class="row">
        <div class="col-12">
          <cp-pagination [pageNext]="pageNext"
                         [pagePrev]="pagePrev"
                         [pageNumber]="pageNumber"
                         (next)="onPaginationNext()"
                         (previous)="onPaginationPrevious()">
          </cp-pagination>
        </div>
      </div>
    </div>

    <cp-no-content class="no-content"
                   *ngIf="!state.clubs.length"
                   [noContentText]="cpI18n.translate('clubs_no_results')">
    </cp-no-content>
  </div>
</div>