@import '~client/style/components/modal';
@import '~client/style/components/button';
@import '~client/style/core/typography';

ul {
  padding-left: 0;
  list-style: none;

  li {
    padding: 10px 0;
    p {
      margin-bottom: 0;

      &.title {
        @include font-semi-bold();
      }
    }
  }
}
