<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-xs-12 text-center">
        <span i18n><strong>Instructions</strong></span>

        <span
          data-dismiss="modal"
          class="pull-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <ul>
          <li>
            <p class="title" i18n>QR Code</p>
            <p i18n>We use QR codes to help attendees check in to an event.
              Be sure to print or share the QR  code with your event attendance organizer.</p>
          </li>
          <li>
            <p class="title" i18n>Check-In List</p>
            <p i18n>Attendees can check in by scanning the QR code with the app.
              QR Codes can be printed or shown directly on a laptop, phone or tablet screen</p>
          </li>
          <li>
            <p class="title" i18n>Results</p>
            <p i18n>You can view attendance statistics on your control panel.
            Be sure to come back to view attendee feedback and event ratings.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-6 text-right">
        <button
          type="button"
          data-dismiss="modal"
          class="cpbtn cpbtn--primary"i18n>
          Done
        </button>
      </div>
    </div>
  </div>
</div>
