<div class="cpbtn-group">
  <button
    type="button"
    aria-haspopup="true"
    aria-expanded="false"
    data-toggle="dropdown"
    [class.cpbtn--cancel--error]="isRequiredError"
    class="cpbtn cpbtn--cancel dropdown-toggle text-truncate">
    {{ selectedItem ? selectedItem.label : items[0].label }}
    <i class="material-icons">arrow_drop_down</i>
  </button>
  <ul class="dropdown-menu" *ngIf="items.length > 1">
    <li
      (click)="selectedItem = item"
      *ngFor="let item of items"
      (click)="onClick(item)">
      {{ item.label }}
    </li>
  </ul>
</div>
