@import '~styles/core/colors';
@import '~styles/components/button';

.cpbtn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &.open {
    button span {
      transform: rotate(-90deg);
    }
  }

  button {
    height: 42px;
    text-align: left;
    min-width: 180px;
    position: relative;
    span {
      top: 8px;
      right: 12px;
      font-size: 17px;
      position: absolute;
      transition: transform 200ms ease-in-out;
    }
  }

  .dropdown-menu {
    top: 110%;
    padding: 0;

    li {
      padding: 10px;
      text-align: left;
      transition: background 300ms ease-in-out;

      &:hover {
        cursor: pointer;
        background: #eaeaea;
      }
    }
  }
}
