<div
  class="cpbtn-group cp-dropdown">
  <button
    type="button"
    data-toggle="dropdown"
    [disabled]="disabled ||items.length === 1"
    [class.cpbtn--cancel--error]="isRequiredError"
    class="cpbtn cpbtn--cancel cp-dropdown__button text-truncate">
    <div class="row">
      <div class="col-10 no-right-padding text-truncate">
        {{ selectedItem ? selectedItem.label : items[0].label }}
      </div>
      <div class="col-2 no-right-padding cp-dropdown__icon-wrapper">
        <i class="material-icons cp-dropdown--arrow">keyboard_arrow_down</i>
      </div>
    </div>
  </button>
  <ul class="cp-dropdown__list dropdown-menu cp-scrollbar" *ngIf="items.length > 1">
    <li
      *ngIf="items.length > MIN_RESULTS_FOR_SEARCH"
      class="cp-dropdown__list__item cp-dropdown__list__item--search no-hover">
      <cp-searchbox
        [fixed]="searchFixed"
        (query)="onSearch($event)"
        (searching)="isSearching = $event">
      </cp-searchbox>
    </li>

    <li
      *ngIf="isSearching"
      class="cp-dropdown__list__item cp-dropdown__list__item--spinner">
      <cp-spinner theme="small"></cp-spinner>
    </li>

    <ng-container *ngIf="!isSearching">
      <li
        (click)="onClick(item)"
        class="cp-dropdown__list__item"
        [class.no-hover]="item.heading"
        *ngFor="let item of items | cpFilterPipe: { query: query, filterBy: 'label' }">
        <span [class.isLabel]="item.heading">{{ item.label }}</span>
      </li>
    </ng-container>
  </ul>
</div>

