.modal-dialog {
  &.wide {
    width: 900px;
  }
}

// .modal.in .modal-dialog {
//   height: 100%;
//   transform: translate(0, 80px);
// }

.modal-body {
  padding: 0;
}

.modal {
  z-index: 9999;
}
