.modal-dialog {
  &.center {
    top: 0 !important;
    transform: translateY(0) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    min-height: calc(100vh - 60px);
  }
}

.modal.in .modal-dialog {
  top: 40%;
  position: relative;
  transform: translateY(-50%);
}

.modal-body {
  padding: 0;
}

.modal {
  z-index: 9999;
}
