.modal-dialog {
  &.wide {
    width: 900px;
  }

  &.center {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50% !important;
    margin: 0 auto;
  }
}

.modal.in .modal-dialog {
  top: 40%;
  position: relative;
  transform: translateY(-50%);
}

.modal-body {
  padding: 0;
}

.modal {
  z-index: 9999;
}
