<cp-announcements-list-action-box (filter)="doFilter($event)">
</cp-announcements-list-action-box>

<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <cp-no-content *ngIf="!state.messages.length"
                   noContentText="No messages found...">
    </cp-no-content>

    <ng-container *ngIf="state.messages.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell>{{ 'recipient' | cpI18n }}</th>
            <th ui-table-cell>{{ 'announcements_type' | cpI18n }}</th>
            <th ui-table-cell
                (sort)="doSort('created_on_epoch')"
                [sortDirection]="state.sort_direction"
                [sorting]="state.sort_field === 'created_on_epoch'">
              {{ sortingLabels.sent }}
            </th>
            <th ui-table-cell></th>
          </tr>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let message of state.messages">
            <td ui-table-cell>
              <cp-announcement-summary [message]="message"
                                       (viewMoreModal)="onViewMoreModal($event)">
              </cp-announcement-summary>
            </td>

            <td ui-table-cell>
              {{ messageType[message.priority] }}
            </td>

            <td ui-table-cell>
              {{ message.notify_at_epoch === notifyAtEpochNow ? (message.created_on_epoch | cpDatePipe: dateFormat) : (message.notify_at_epoch | cpDatePipe: dateFormat)  }}
            </td>

            <td ui-table-cell
                align="right">
              <ready-ui-stack>
                <img alt=""
                     ui-tooltip
                     aria-hidden="true"
                     *ngIf="message.is_external"
                     [title]="isExternalToolTip"
                     [src]="message.source | integrationSourceToIcon" />
                <button ui-button
                        type="button"
                        variant="inline"
                        *ngIf="message.is_school_wide"
                        aria-label="Delete announcement"
                        (click)="onLauncDeleteModal(message)">
                  <ready-ui-icon name="close"></ready-ui-icon>
                </button>
              </ready-ui-stack>
            </td>
          </tr>
        </tbody>
      </table>

      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </ng-container>
  </ng-container>
</ng-container>

<cp-modal modalId="viewMoreModal">
  <cp-list-modal [buttonText]="buttonText"
                 [headerText]="headerText"
                 [list]="viewMoreRecipients">
  </cp-list-modal>
</cp-modal>
