<div class="row">
  <div class="col-xs-12">
    <div class="cp-card feed">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="feed__header">
                <cp-feed-header
                  [feed]="feed">
                </cp-feed-header>
                <div class="feed__more pull-right">
                  <cp-feed-dropdown
                    (selected)="onSelected($event)"
                    [requiresApproval]="feed.dislikes > 0 && feed.flag !== 2">
                  </cp-feed-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <cp-feed-body
                [feed]="feed"
                (viewComments)="isCommentsOpen = $event">
              </cp-feed-body>
              <div
                class="feed__comments"
                *ngIf="isCommentsOpen">
                <div class="row">
                  <div class="col-xs-12">
                    <cp-feed-comments
                      [feedId]="feed.id"
                      [isCampusWallView]="isCampusWallView">
                    </cp-feed-comments>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<cp-modal modalId="moveFeedModal" *ngIf="isMoveModal">
  <cp-feed-move-modal
    [feed]="feed"
    (teardown)="isMoveModal = false">
  </cp-feed-move-modal>
</cp-modal>

<cp-modal modalId="deleteFeedModal" *ngIf="isDeleteModal">
  <cp-feed-delete-modal
    [feed]="feed"
    (deleted)="deleted.emit($event)"
    [isCampusWallView]="isCampusWallView"
    (teardown)="isDeleteModal = false">
  </cp-feed-delete-modal>
</cp-modal>

<cp-modal modalId="approveFeedModal" *ngIf="isApproveModal">
  <cp-feed-approve-modal
    [feed]="feed"
    [isCampusWallView]="isCampusWallView"
    (teardown)="isApproveModal = false"
    (updated)="onApprovedPost($event)">
  </cp-feed-approve-modal>
</cp-modal>