<div class="row">
  <div class="col-xs-12">
    <div class="cp-card feed">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="feed__header">
                <cp-feed-header [feed]="feed"></cp-feed-header>
                <div class="feed__more pull-right">
                  <button
                    type="button"
                    class="cpbtn cpbtn--link-dark">
                    <i class="material-icons">keyboard_arrow_down</i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <cp-feed-body
                [feed]="feed"
                (viewComments)="isCommentsOpen = $event">
              </cp-feed-body>
              <div class="feed__comments" *ngIf="isCommentsOpen">
                <div class="row">
                  <div class="col-xs-12">
                    <cp-feed-comments [feedId]="feed.id"></cp-feed-comments>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<cp-feed-move-modal></cp-feed-move-modal>-->