@import '../core/colors';

.cpbtn,
a.cpbtn, {
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 0;
  user-select: none;
  padding: 6px 12px;
  border-radius: 4px;
  text-align: center;
  color: $color-white;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  background-image: none;
  touch-action: manipulation;
  border: 1px solid transparent;

  &:disabled {
    color: $color-white;
    background: $color-med-grey;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover,
  &:focus,
  &:active, {
    outline: none;
  }

  &--tall {
    padding: 14px 16px;
  }

  &--primary {
    background: $color-brand;
    // box-shadow: 0 2px 0 0 #299AE6;
  }

  &--secondary {
    background: $color-grey;
    // box-shadow: 0 2px 0 0 darken($color-grey, 10%);
  }

  &--link {
    border: none;
    color: $color-brand;
    background: transparent;
    border-color: transparent;
  }

  &--default {
    color: $color-brand;
    background: $color-white;
    border: 1px solid $color-brand;
  }

  &--default-alt {
    color: $color-black;
    background: $color-white;
    border: 1px solid $border-color;
  }

  &--danger {
    background: $color-danger;
  }
}