@mixin cpDropdownMenu() {
  top: 80%;
  padding: 0;
  max-height: 197px;
  overflow-y: scroll;
  background-color: $color-white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);

  // https://oohlalaproduct.atlassian.net/browse/WEB-962
  // overflow: -moz-scrollbars-none;
  // -ms-overflow-style: none;

  // &::-webkit-scrollbar {
  //     width: 0 !important;
  // }

  li {
    padding: 10px;
    text-align: left;
    color: $color-secondary-text;
    transition: background 100ms ease-in;

    &:hover:not(.no-hover) {
      cursor: pointer;
      color: $color-white;
      background: $color-brand;

      a {
        color: $color-white;
      }
    }
  }
}