@import '../core/_colors';
@import '../core/_typography';

.item-details,
.event-details {
  input.flatpickr-input[readonly] {
    width: 100%;
    height: 36px;
    padding: 8px;
    line-height: 1;
    border-radius: 4px;
    display: inline-block;
    background: $color-white;
    border: 1px solid $color-med-grey;
    transition: border 300ms ease-in-out;
  }
}

.form-control[readonly].error {
  color: $color-danger !important;
  border: 1px solid $color-danger !important;
  background-color: rgba(255, 96, 89, 0.25) !important;
}

.cp-form {
  overflow: auto;

  margin-top: 25px;
  border-radius: 4px;
  border: 1px solid $border-color;
  background-color: $color-white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);

  &__header {
    @include font-semi-bold();

    background: $color-text-alt;

    span {
      color: $color-secondary-text;
    }
  }

  li,
  &__header {
    padding: 17px 15px;
    border-bottom: 1px solid $color-grey;

    &:last-child {
      border-bottom: 0;
    }
  }
}

label {
  @include font-semi-bold();

  display: block;
  margin-bottom: 8px;

  &.error {
    padding: 5px;
    // height: 35px;
    margin-bottom: 0;
    // padding: 5px 15px;
    color: $color-danger;
    display: inline-block;
    background: transparent;
    margin-top: 0 !important;
    // border: 1px solid $color-danger;

    span {
      font-size: 1.1em;
    }
  }
}

.cpInput {
  padding: 0 !important;
}

input,
select,
.cpInput,
textarea {
  width: 100%;
  height: 36px;
  padding: 8px;
  line-height: 1;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid $color-med-grey;
  transition: border 300ms ease-in-out;

  &.transparent {
    border: none;
    max-width: 100%;
    box-shadow: none;
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      border: none;
    }
  }

  &:hover {
    border: 1px solid $color-text;
  }

  &:active {
    border: 1px solid $color-brand;
  }

  &.error {
    color: $color-danger;
    border: 1px solid $color-danger;
    background-color: rgba(255, 96, 89, 0.25);

    &::-webkit-input-placeholder {
      color: $color-danger;
    }
    &::-moz-placeholder {
      color: $color-danger;
    }
    &:-ms-input-placeholder {
      color: $color-danger;
    }
    &:-moz-placeholder {
      color: $color-danger;
    }
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    border: 1px solid $color-text;
  }

  &::-webkit-input-placeholder {
    font-size: 0.9em;
    color: $color-med-grey;
  }
  &::-moz-placeholder {
    font-size: 0.9em;
    color: $color-med-grey;
  }
  &:-ms-input-placeholder {
    font-size: 0.9em;
    color: $color-med-grey;
  }
  &:-moz-placeholder {
    font-size: 0.9em;
    color: $color-med-grey;
  }
}

textarea {
  resize: none;
  line-height: 1.6;
  min-height: 120px;
}
