@import '../core/colors';

.cpmodal {
  &__header {
    padding: 15px;
    background: #F3F3F3;
    border-radius: 4px 4px 0 0px;

    &__close {
      font-size: 20px;
    }
  }

  &__body {
    padding: 20px 0;

    p {
      margin-bottom: 0;
    }
  }

  &__footer {
    padding: 15px;
    border-top: 1px solid #D8D8D8;

    button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}