@import '~styles/core/colors';

$content_bg: rgba(0, 0, 0, 0.8);

.popover-content {
  color: $color-white;
}

.popover-content a {
  color: $color-brand;
}

.popover {
  background-color: $content_bg;
}

.popover-arrow.arrow::before,
.bs-popover-bottom .arrow::after,
.bs-popover-bottom .arrow::before {
  border-top-color: $content_bg;
  border-bottom-color: $content_bg;
}

.popover.top > .arrow {
  border-top-color: $content_bg;
  &:after {
    border-top-color: $content_bg;
  }
}
