<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>
  <div *ngSwitchCase="false">
    <div class="margin-bottom">
      <form [formGroup]="form">
        <div class="row">
          <div class="col">
            <cp-jobs-card [form]="form"
                          [employerForm]="employerForm"
                          (formData)="formData($event)">
            </cp-jobs-card>
          </div>

          <div class="col">
            <cp-employer-card [form]="form"
                              [employerForm]="employerForm"
                              (formData)="formData($event)"
                              (isNewEmployer)="onToggleEmployer($event)">
            </cp-employer-card>
          </div>
        </div>

        <div class="footer">
          <div class="cp-wrapper cp-wrapper--outer">
            <ready-ui-stack alignment="end">
              <label ui-text-style color="danger" *ngIf="formError">
                <ready-ui-stack>
                  <ready-ui-icon name="warning" color="ff6059"></ready-ui-icon>
                  {{ dateErrorMessage }}
                </ready-ui-stack>
              </label>

              <a ui-button variant="stroked" [routerLink]="['../info']">
                {{ 'cancel' | cpI18n }}
              </a>

              <button ui-button
                    type="button"
                    variant="flat"
                    color="primary"
                    (click)="onSubmit()"
                    [disabled]="disableButton">
                {{ 'save' | cpI18n }}
              </button>
            </ready-ui-stack>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>