@import '../core/colors';

$default_margin: 15px;
$default_padding: 24px;

@mixin card-margin() {
  margin: $default_margin 0;
}

@mixin card-padding() {
  padding: $default_padding;
}

@mixin card-shadow() {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
}

.cp-card {
  @include card-shadow();

  padding: $default_padding;
  border-radius: 4px;
  background: $color-white;
  border: 1px solid $border-color;

  &--alt {
    background: $color-text-alt;
  }

  &--half-padding {
    padding: #{$default_padding} / 2;
  }

  &--no-shadow {
    box-shadow: none;
  }

  &--no-border {
    border: none;
  }
}
