@import '../core/colors';

.cpmodal {
  border-radius: 4px;
  background: $color-white;

  &__header {
    padding: 15px;
    line-height: 1;
    background: #f3f3f3;
    border-radius: 4px 4px 0 0px;

    &__close {
      font-size: 20px;
    }
  }

  &__body {
    padding: 20px;

    p {
      margin-bottom: 0;
    }
  }

  &__footer {
    padding: 15px;
    border-top: 1px solid #d8d8d8;

    button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
