<div class="margin-bottom">
  <form [formGroup]="location.form">
    <div class="row">
      <div class="col">
        <div class="cp-card">
          <div class="row">
            <div class="col-12">
              <p class="title">{{ 't_locations_location_details' | cpI18n }}</p>
              <cp-location-form
                [location]="location"
                [formErrors]="formErrors">
              </cp-location-form>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="cp-card">
          <div class="row">
            <div class="col-12">
              <p class="title">{{ 't_locations_opening_hours' | cpI18n }}</p>
              <span class="float-right">
                <cp-switch
                  [id]="openingHours"
                  [isChecked]="openingHours"
                  (toggle)="openingHours = !openingHours">
                </cp-switch>
              </span>
            </div>

            <cp-location-opening-hours-form
              *ngIf="openingHours"
              [location]="location"
              [formErrors]="formErrors"
              [formChangedState]="formState"
              (formState)="onChangeFormState($event)">
            </cp-location-opening-hours-form>
          </div>
        </div>
      </div>

      <div class="footer">
        <cp-form-footer
          [formErrors]="formErrors"
          [buttonData]="buttonData"
          [errorMessage]="errorMessage"
          (doSubmit)="doSubmit()">
        </cp-form-footer>
      </div>
    </div>
  </form>
</div>
