<div class="registration">
  <div class="registration__header">
    <div class="row">
      <div class="col-12">
        <span>{{'t_events_attendance_track' | cpI18n}}</span>
      </div>
    </div>
  </div>
  <div class="registration__form">
    <ng-container *ngIf="data.deep_link_url">
      <div class="row">
        <div class="col-12">
          <p class="font-weight-bold m-0">
            {{ 't_event_assessment_self_check_in' | cpI18n }}
          </p>
        </div>
      </div>

      <div class="row share-bloc mt-4">
        <div class="col-12">
          <input
                  type="text"
                  class="form-control url-txt-box"
                  readonly
                  [value]="data.deep_link_url"
          />
          <button
                  class="cpbtn cpbtn--primary share-button"
                  (copied)="notifyCopySuccess()"
                  [cpCopyClipboard]="data.deep_link_url"
          >
            {{ 'contact_trace_forms_share' | cpI18n }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="divider"></div>
        </div>
      </div>
    </ng-container>
    <div class="row row-divided">
      <div class="col-sm-12 col-md-6 column-one">
        <div class="row mb-1">
          <div class="col-12 col-md-border">
            <p class="font-weight-bold">{{ 'checkin_scannable_qr_code' | cpI18n }}</p>
          </div>
        </div>
        <div class="registration__form__overlay_wrapper">
          <div class="registration__form__overlay"
               *ngIf="disabledQRCode">
            <span>
              <i class="material-icons">block</i>
              {{ 't_external_check_in_disable_qr' | cpI18n }}
            </span>
          </div>
          <div class="registration__form__qr_image"
               [ngStyle]="{ 'background-image': 'url(' + data.qr_img_url + ')' }">
          </div>
        </div>
      </div>
      <div class="vertical-divider">
          <span>OR</span>
      </div>
      <div class="col-sm-12 col-md-6 column-two">
        <div class="row mb-1">
          <div class="col-12">
            <p class="font-weight-bold">{{ 'checkin_manual_checkin' | cpI18n }}</p>
          </div>
        </div>
        <form [formGroup]="registrationForm">
          <div class="form-group">
            <label>{{ 'first_name' | cpI18n }}</label>
            <input type="text"
                   class="form-control"
                   formControlName="firstname" />
          </div>

          <div class="form-group">
            <label>{{ 'last_name' | cpI18n }}</label>
            <input type="text"
                   class="form-control"
                   formControlName="lastname" />
          </div>

          <div class="form-group">
            <label>{{ 'email' | cpI18n }}</label>
            <input type="email"
                   class="form-control"
                   formControlName="email" />
          </div>

          <div class="form-group item-details">
            <label>{{ 't_external_checkin_time' | cpI18n }}</label>
            <cp-datepicker cpTarget="checkin_time"
                           #selectedDate
                           [options]="datePickerOptions"
                           (dateSet)="setCheckin($event)">
            </cp-datepicker>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-12">
                <cp-button ui-tooltip
                           [props]="buttonData"
                           [title]="disableCheckInTooltip"
                           (buttonClick)="onSubmit(registrationForm.value)">
                </cp-button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
