@import '~styles/core/colors';
@import '~styles/components/form';
@import '~styles/components/button';
@import '~bootstrap/variables';

.delete-list {
  font-size: 2em;
}

.cp-form__header {
  span.hover {
    position: relative;

    > span i {
      top: -2px;
      position: absolute;
    }
  }
}

.lists {
  padding: 0;
  list-style: none;
  padding-bottom: 20px;
}