@import '~projects/campus-cloud/src/sass/components/card';
@import '~projects/campus-cloud/src/sass/components/button';

.integrations {
  margin-right: 10px;
  i {
    font-size: 20px;
    vertical-align: -5px;
  }
}
