@import '~styles/core/colors';
@import '~styles/core/typography';

.banner {
  padding: 10px 0;
  background: $color-text;

  p {
    @include font-semi-bold();

    line-height: 1;
    font-size: 12px;
    margin-bottom: 0;
    color: $color-white;

    a {
      cursor: pointer;
      color: $color-brand;
      transition: all 300ms ease-out;
    }
  }
}
