@import '~projects/campus-cloud/style/core/colors';
@import '~projects/campus-cloud/style/components/form';
@import '~projects/campus-cloud/style/components/button';

.test-users {
  padding: 0;
  list-style: none;

  .delete {
    top: -5px;
    font-size: 2em;
    position: relative;
  }
}

.add-margin {
  margin-top: 24px;
}
