@import '~styles/components/form';
@import '~styles/components/card';
@import '~styles/components/button';
@import '~styles/core/colors';
@import '~styles/core/typography';

.link-group {
  height: 125px;
  padding-top: 30px;
  border-top: 1px solid $border-color;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  background: $color-white;
  border-top: 1px solid $border-color;

  a {
    margin-right: 5px;
  }
}

.delete-button {
  font-size: 2em;
}

form {
  // to account for the fixed footer
  padding-bottom: 90px;
}
