<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-xs-12 text-center">
        <span i18n><strong>Edit Member</strong></span>

        <span
          data-dismiss="modal"
          (click)="doTearDown()"
          class="pull-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="form">
          <div class="form-group dropdown">
            <label i18n>Name (need a mobile app account)</label>
            <input
              disabled
              type="text"
              class="form-control"
              [placeholder]="[member.firstname + ' ' + member.lastname]">

              <ul class="membersBox" *ngIf="members.length">
                <li
                  (click)="onMemberSelected(member)"
                  *ngFor="let member of members">
                  {{ member.label }}
                </li>
              </ul>

          </div>
          <div class="row form-group">
            <div class="col-xs-6">
              <label i18n>Member Type</label>
              <cp-dropdown
                [items]="memberTypes"
                [selectedItem]="defaultType"
                (selected)="onTypeChange($event.action)">
              </cp-dropdown>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-6 text-right">
        <button
          type="button"
          (click)="doTearDown()"
          class="cpbtn cpbtn--cancel"
          data-dismiss="modal" i18n>
          Cancel
        </button>

        <button
          type="button"
          (click)="onSave()"
          [disabled]="!isTouched"
          class="cpbtn cpbtn--primary"i18n>
          Save
        </button>
      </div>
    </div>
  </div>
</div>
