<div
  class="pull-left avatar avatar--small"
  [ngStyle]="{'background-image': 'url(' + feed.avatar_thumb + ')'}">
</div>
<div class="feed__meta pull-left">
  <span class="name">
    {{ feed.display_name }}
  </span>
  <span class="email" *ngIf="feed.email && feed.email !== ''">
    ({{ feed.email }})
  </span>
  <span *ngIf="!isComment && feed.channelName">
    <span class="text-muted" i18n>
      {{ 'feeds_posted_in' | cpI18n }}
    </span>
    <span class="cpbtn cpbtn--link" (click)="loadCategory(feed)">
      {{ feed.channelName }}
    </span>
  </span>
  <br>
  <span class="text-muted">
    {{ feed.added_time | cpDatePipe: FORMAT }}
  </span>
</div>