@import '~styles/components/card';
@import '~styles/components/button';

.delete-provider {
  font-size: 2em;
}

.actions {
  @include card-margin();

  margin-top: 0;

  button {
    &:first-child {
      margin-right: 8px;
    }
  }
}