<div class="row">
  <div class="col-12">
    <div class="cp-card actions">
      <div class="row">
        <div class="col-3">
          <cp-searchbox
            (query)=onSearch($event)
            [placeholder]="cpI18n.translate('services_provider_search_tootlip')">
          </cp-searchbox>
        </div>
        <div class="col-4">
          <cp-range-picker
            [class]="'cancel'"
            [icon]="'date_range'"
            [iconPositionLeft]="true"
            (rangeChange)="onDateChange($event)">
          </cp-range-picker>
        </div>
        <div class="col-5 text-right float-right">
          <button
            [disabled]="noProviders"
            (click)="onDownload()"
            class="cpbtn cpbtn--secondary">
            {{ 'services_button_download_assessment_data' | cpI18n }}
          </button>
          <button
            cpTracker
            type="button"
            class="cpbtn cpbtn--primary"
            [eventData]="eventData"
            (click)="onLaunchProviderAdd()">
            {{ 'services_button_add_service_provider' | cpI18n }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>