<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span>
          <strong>{{ 'cases' | cpI18n }}</strong>
        </span>        
        <button type="button"
                aria-label="close"
                (click)="resetModal()"
                data-dismiss="modal"
                class="float-right hover cpmodal__header__close unstyled-button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="page-container">
      <div [ngSwitch]="loading">
        <cp-spinner *ngSwitchCase="true" class="case-spinner"></cp-spinner>
        <div *ngSwitchCase="false">
          <cp-no-content class="margin-top case-nocontent"
                    *ngIf="!cases.length"
                    [noContentText]="'t_cases_no_record_found' | cpI18n">
          </cp-no-content>
          <div *ngIf="!!cases.length">
            <div
              class="row user-row"
              *ngFor="let case of cases"
            >
              <div class="left-col">
                <div class="user-name-cell">
                  {{case | fullName}}
                </div>
                <div class="email-cell">
                  {{case.email}}
                </div>
              </div>
              <div class="right-col">
                <div
                  class="cpbtn cpbtn--no-border cpbtn--no-padding cpbtn--secondary item-link-button"
                  (click)="onClicked(case.id)"
                >
                  {{ 'contact_trace_notification_view_case' | cpI18n }}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>