<div class="margin-bottom">
  <ng-container [ngSwitch]="isFormReady">
    <cp-spinner *ngSwitchCase="false"></cp-spinner>

    <ng-container *ngSwitchCase="true">
      <form [formGroup]="form">
        <cp-two-columns>
          <cp-card layout-left-column>
            <cp-clubs-form
              [form]="form"
              [club]="club"
              [isEdit]="true"
              [formError]="formError"
              [isAthletic]="isAthletic"
              [limitedAdmin]="limitedAdmin">
            </cp-clubs-form>
          </cp-card>

          <cp-card layout-right-column>
            <cp-clubs-contact-details-form
              [form]="form"
              [club]="club"
              [formError]="formError">
            </cp-clubs-contact-details-form>

            <cp-clubs-sjsu-form
              *ngIf="isSJSU"
              [form]="form"
              [formError]="formError">
            </cp-clubs-sjsu-form>
          </cp-card>
        </cp-two-columns>

        <div class="footer">
          <div class="cp-wrapper cp-wrapper--outer">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div class="text-right">
                    <a [routerLink]="['../info']"
                       queryParamsHandling="merge"
                       class="cpbtn cpbtn--cancel">
                      {{ 'cancel' | cpI18n }}
                    </a>
                    <cp-button [props]="buttonData"
                               (buttonClick)="onSubmit()"></cp-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </ng-container>
</div>