<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-xs-12 text-center">
        <span i18n><strong>Create New List</strong></span>

        <span
          data-dismiss="modal"
          (click)="resetModal()"
          class="pull-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="form">
          <div class="form-group">
            <label i18n>List Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Add a short, clear name"
              formControlName="name">
          </div>

          <div class="form-group">
            <label i18n>List Description (Optional)</label>
            <input
              type="text"
              class="form-control"
              formControlName="description">
          </div>

          <div class="form-group">
            <label i18n>Users</label>
            <div class="row">
              <div class="col-xs-12">
                <cp-typeahead
                  [preSelected]="users"
                  [reset]="resetChips$"
                  *ngIf="!state.isPristine">
                </cp-typeahead>

                <cp-typeahead
                  *ngIf="state.isPristine"
                  (query)="onSearch($event)"
                  [suggestions]="suggestions">
                </cp-typeahead>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-6 text-right">
        <button
          type="button"
          data-dismiss="modal"
          (click)="resetModal()"
          class="cpbtn cpbtn--cancel" i18n>
          Cancel
        </button>

        <button
          type="button"
          (click)="doSubmit()"
          [disabled]="!form.valid"
          class="cpbtn cpbtn--primary"i18n>
          Create List
        </button>
      </div>
    </div>
  </div>
</div>
