<div class="row">
  <div class="col-12">
    <div class="cp-card actions">
      <div class="row">
        <div class="col-4">
          <cp-searchbox (query)=onSearch($event)></cp-searchbox>
        </div>
        <div class="col-6 offset-2 text-right">
          <button
            (click)="onDownload()"
            class="cpbtn cpbtn--secondary">
            {{ 'services_button_download_attendance_data' | cpI18n }}
          </button>
          <a
            cpTracker
            target="_blank"
            [eventData]="eventData"
            class="cpbtn cpbtn--no-border cpbtn--primary"
            [routerLink]="['/cb/checkin/s/' + provider.encrypted_campus_service_id + '/' + provider.encrypted_id]">
            {{ 'services_label_check_in_details' | cpI18n }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>