<ng-container [ngSwitch]="loading">
    <cp-spinner *ngSwitchCase="true"></cp-spinner>

    <div class="tile" *ngSwitchCase="false">
      <div class="row">
        <div class="col-xs-12">
          <p class="tile--title">{{ 'dashboard_assessment_title' | cpI18n }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-9 tile--stat">
          <p>{{ 'dashboard_assessment_event_checkins' | cpI18n }}</p>
        </div>
        <div class="col-xs-3 text-left tile--amount">{{ data.event_checkins }}</div>
      </div>

      <div class="row">
        <div class="col-xs-9 tile--stat">
          <p>{{ 'dashboard_assessment_service_checkins' | cpI18n }}</p>
        </div>
        <div class="col-xs-3 text-left tile--amount">{{ data.service_checkins }}</div>
      </div>

      <div class="row">
        <div class="col-xs-9 tile--stat">
          <p>{{ 'dashboard_assessment_feedback_rate' | cpI18n }}</p>
        </div>
        <div class="col-xs-3 text-left tile--amount">{{ ((data.event_feedback_rate + data.service_feedback_rate) / 2).toFixed(0) }}%</div>
      </div>

      <div class="row">
        <div class="col-xs-9 tile--stat">
          <p>{{ 'dashboard_assessment_student_feedback' | cpI18n }}</p>
        </div>
        <div class="col-xs-3 text-left tile--amount">{{ data.event_total_feedback + data.service_total_feedback }}</div>
      </div>
    </div>
  </ng-container>
