@import '~styles/core/colors';
@import '~styles/core/typography';

.tile {
  padding: 24px 0;

  &--title {
    @include font-24px();
    @include font-bold();

    margin-bottom: 30px;
  }

  &--stat {
    color: $color-secondary-text;
  }

  &--amount {
    @include font-semi-bold();
    color: $color-text;
  }
}