<div class="row">
    <div class="col-12">
      <cp-calendars-details-action-box
        (search)="onSearch($event)"
        (launchCreateModal)="onLaunchCreateModal()">
      </cp-calendars-details-action-box>
    </div>
  </div>

  <div [ngSwitch]="loading">
    <cp-spinner *ngSwitchCase="true"></cp-spinner>

    <div *ngSwitchCase="false">
      <cp-no-content
        class="no-content"
        *ngIf="!state.items.length"
        [noContentText]="cpI18n.translate('calendars_items_no_results_found')">
      </cp-no-content>

      <div *ngIf="state.items.length">
        <ul class="items cp-form">
          <li class="cp-form__header col-12">
            <div class="row">
              <cp-sorting-header
                class="col-5"
                sortLabel="title"
                (click)="doSort('title')"
                [label]="sortingLabels.name"
                [sortField]="state.sort_field"
                [sortDirection]="state.sort_direction">
              </cp-sorting-header>

              <cp-sorting-header
                class="col-5"
                sortLabel="start"
                (click)="doSort('start')"
                [sortField]="state.sort_field"
                [label]="sortingLabels.start_date"
                [sortDirection]="state.sort_direction">
              </cp-sorting-header>
              <span class="col-2"></span>
            </div>
          </li>

          <li class="cp-form__item col-12" *ngFor="let item of state.items">
            <div class="row">
              <span class="col-5 text-truncate hover">
                <a
                  cpTracker
                  [eventData]="eventData"
                  [routerLink]="['items/' + item.id]">
                  <strong>
                    {{ item.title }}
                  </strong>
                </a>
                <br>
                {{ item.description }}
              </span>
              <span class="col-5 text-truncate">
                {{ item.start | cpDatePipe:dateFormat }}
              </span>
              <span class="col-2 text-right">
                <span
                  data-toggle="modal"
                  (click)="selectedItem = item"
                  (click)="launchDeleteModal = true"
                  data-target="#deleteCalendarItemModal"
                  class="hover action-button delete-button text-center">
                  &times;
                </span>
              </span>
            </div>
          </li>
        </ul>

        <cp-pagination
          [pageNext]="pageNext"
          [pagePrev]="pagePrev"
          [pageNumber]="pageNumber"
          (next)="onPaginationNext()"
          (previous)="onPaginationPrevious()">
        </cp-pagination>
      </div>
    </div>
  </div>

  <cp-modal
    *ngIf="launchDeleteModal"
    modalId="deleteCalendarItemModal">
    <cp-calendars-items-delete
      [item]="selectedItem"
      (deleted)="onDeleted($event)"
      (resetCreateModal)="launchDeleteModal = false">
    </cp-calendars-items-delete>
  </cp-modal>

  <cp-modal modalId="calendarsItemsImport">
    <cp-calendars-items-import-modal></cp-calendars-items-import-modal>
  </cp-modal>