<ready-ui-card>

  <cp-form-block-header
    [formBlock]="formBlock"
    [indexPos]="indexPos"
    (deleteClicked)="deleteClickHandler()"
  >
  </cp-form-block-header>

  <cp-form-block-image-selector
    *ngIf="formBlock.block_type !== null && formBlock.block_type !== undefined"
    [formBlock]="formBlock"
  >
  </cp-form-block-image-selector>

  <cp-form-block-type-selector
    *ngIf="!formBlock.is_terminal && (formBlock.block_type === null || formBlock.block_type === undefined)"
    (blockTypeSelected)="blockTypeSelectionHandler($event)"
    [highlightFormError]="highlightFormError"
  >
  </cp-form-block-type-selector>

  <cp-form-block-body
    class="block-body"
    *ngIf="formBlock.block_type !== null && formBlock.block_type !== undefined"
    [formBlock]="formBlock"
    [indexPos]="indexPos"
    [highlightFormError]="highlightFormError"
  >
  </cp-form-block-body>

  <cp-form-block-logic
    *ngIf="(!formBlock.is_terminal && formBlock.block_logic_list && formBlock.block_logic_list.length > 0) || (formBlock.is_terminal && formBlock.extra_info !== null && formBlock.extra_info !== undefined)"
    [form]="form"
    [formBlock]="formBlock"
    [highlightFormError]="highlightFormError"
  >
  </cp-form-block-logic>

</ready-ui-card>
