<div class="row">
  <div class="col-12">
<!--    <cp-forms-list-action-box-->
<!--      (search)="onSearch($event)"-->
<!--      (launchCreateModal)="onLaunchCreateModal()"-->
<!--      (filterChange)="filterChangeHandler($event)"-->
<!--    >-->
<!--    </cp-forms-list-action-box>-->
  </div>
</div>

<cp-spinner *ngIf="webServiceCallInProgress"></cp-spinner>

<ng-container *ngIf="!webServiceCallInProgress">

  <cp-no-content
    class="no-content"
    *ngIf="!results.length"
    [noContentText]="'contact_trace_forms_no_results' | cpI18n">
  </cp-no-content>

  <ng-container *ngIf="results && results.length">
    <table ui-table>
      <thead>
      <tr ui-table-row>
        <th ui-table-cell>{{ 'To' | cpI18n }}</th> <!-- ToDo: PJ: Localize -->
        <th ui-table-cell>{{ 'Subject' | cpI18n }}</th> <!-- ToDo: PJ: Localize -->
        <th ui-table-cell>{{ 'Date Sent' | cpI18n }}</th> <!-- ToDo: PJ: Localize -->
        <th ui-table-cell></th> <!-- ToDo: PJ: Localize -->
        <th ui-table-cell></th> <!-- ToDo: PJ: Localize -->
      </tr>
      </thead>

      <tbody>
      <tr ui-table-row
          *ngFor="let result of results; let i = index">
        <td ui-table-cell>
        </td>
        <td ui-table-cell>
          {{result.subject}}
        </td>
        <td ui-table-cell>
          {{ result.notify_at_epoch | cpDatePipe: dateFormat }}
        </td>
        <td ui-table-cell>
          <div
            class="cpbtn cpbtn--no-border cpbtn--no-padding cpbtn--secondary"
            data-toggle="modal"
            data-target="#viewMessageModal"
            (click)="notificationForView = result; showViewMessageModal = true;"
          >
            {{ 'View Message' | cpI18n }} <!-- ToDo: PJ: Localize -->
          </div>
        </td>
        <td ui-table-cell
            align="right">
          <button ui-button
                  type="button"
                  variant="inline"
                  aria-label="close"
                  (click)="null">
            <ready-ui-icon name="close"></ready-ui-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <cp-pagination
      [pageNext]="hasMorePages"
      [pagePrev]="pageCounter > 1"
      [pageNumber]="pageCounter"
      (next)="onPaginationNext()"
      (previous)="onPaginationPrevious()">
    </cp-pagination>
  </ng-container>

</ng-container>

<cp-modal
  modalId="viewMessageModal"
  *ngIf="showViewMessageModal"
>
  <cp-exposure-notification-view-message
    [notification]="notificationForView"
  >
  </cp-exposure-notification-view-message>
</cp-modal>
