@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';
@import '~projects/campus-cloud/src/sass/components/card';
@import '~projects/campus-cloud/src/sass/components/form';
@import '~projects/campus-cloud/src/sass/components/button';
@import '~projects/campus-cloud/src/sass/components/dropdown';

.dropdown-menu {
  @include cpDropdownMenu();

  top: 115%;
  padding: 0;
}

.actions {
  label {
    @include font-normal();

    display: inline-block;
    vertical-align: -8px;
  }

  .calendar {
    height: 40px;
  }

  .checkbox {
    margin-top: 5px;
  }
}

.action-dropdown {
  margin-left: -2px;
  position: relative;

  i {
    @include font-24px();

    padding: 4px;
  }

  a {
    padding: 0;
  }

  a,
  li {
    @include font-normal();
    color: $color-text;

    &:hover {
      cursor: pointer;
      background: none;
    }
  }
}
