<div class="cp-card">
  <div class="row justify-content-between">
    <div class="col">
      <div class="row">
        <div class="col-7">
          <cp-searchbox (query)="search.emit($event)"></cp-searchbox>
        </div>
        <div class="col-5">
          <cp-dropdown [items]="listTypes"
                       (selected)="onListSelected($event)"> </cp-dropdown>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12 float-right text-right">
          <button cpTracker
                  (click)="launchCreateModal.emit()"
                  [eventData]="eventData"
                  class="cpbtn cpbtn--primary cpbtn--square-right no-right-padding">
            {{ 'lists_button_create' | cpI18n }}
          </button>
          <button class="cpbtn cpbtn--square-left cpbtn--no-padding cpbtn--primary no-left-padding hover action-dropdown"
                  type="button"
                  id="audience-create"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            <i class="material-icons">expand_more</i>
          </button>
          <div class="dropdown-menu dropdown-menu-right"
               aria-labelledby="audience-create">

            <button (click)="launchImportModal.emit()"
                    class="dropdown-item unstyled-button">{{ 'import_from_csv' | cpI18n }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>