<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span>
          <strong>{{ 'admin_modal_delete_title' | cpI18n }}</strong>
        </span>

        <button type="button"
                data-dismiss="modal"
                class="float-right hover cpmodal__header__close unstyled-button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-12">
        <p class="text-center">
          {{ 'admin_modal_delete_body' | cpI18n: admin.firstname + ' ' + admin.lastname }}
        </p>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row justify-content-end">
      <div class="col-6 text-right">
        <button type="button"
                data-dismiss="modal"
                class="cpbtn cpbtn--cancel">
          {{ 'cancel' | cpI18n }}
        </button>

        <cp-button [props]="buttonData"
                   (buttonClick)="onDelete()"> </cp-button>
      </div>
    </div>
  </div>
</div>