<cp-templates-top-bar (query)="onFilter($event)"
                      (create)="onLaunchCreateModal()">
</cp-templates-top-bar>

<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <ng-container *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.templates.length"
                   noContentText="No Templates Found...">
    </cp-no-content>

    <ng-container *ngIf="state.templates.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell
                (sort)="doSort('name')"
                [sorting]="state.sort_field === 'name'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.name }}
            </th>
            <th ui-table-cell>{{ 'recipient' | cpI18n }}</th>
            <th ui-table-cell>{{ 'subject' | cpI18n }}</th>
            <th ui-table-cell>{{ 'body' | cpI18n }}</th>
            <th ui-table-cell></th>
          </tr>
        </thead>

        <tbody>
          <tr ui-table-row
              *ngFor="let template of state.templates">
            <td ui-table-cell>
              <button cpTracker
                      ui-button
                      type="button"
                      variant="inline"
                      [eventData]="eventData"
                      (click)="onLaunchComposeModal(template)">
                {{ template.name }}
              </button>
            </td>

            <td ui-table-cell
                *ngIf="template.is_school_wide">
              {{ 'campus_wide' | cpI18n }}
            </td>

            <td ui-table-cell
                *ngIf="!template.is_school_wide">
              <cp-list-recipients [lists]="template.list_details"
                                  [users]="template.user_details"
                                  (viewMoreModal)="onViewMoreModal($event)">
              </cp-list-recipients>
            </td>

            <td ui-table-cell>
              {{ template.subject }}
            </td>

            <td ui-table-cell>
              {{ template.message }}
            </td>
            <td ui-table-cell
                align="right">
              <button ui-button
                      type="button"
                      variant="inline"
                      aria-label="delete"
                      data-toggle="modal"
                      data-target="#templatesDelete"
                      (click)="onLauncDeleteModal(template)">
                <ready-ui-icon name="close"></ready-ui-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-12">
          <cp-pagination [pageNext]="pageNext"
                         [pagePrev]="pagePrev"
                         [pageNumber]="pageNumber"
                         (next)="onPaginationNext()"
                         (previous)="onPaginationPrevious()">
          </cp-pagination>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<cp-modal modalId="templateComposeModal"
          *ngIf="isTemplateComposeModal">
  <cp-templates-compose [data]="templateData"
                        (created)="onComposed($event)"
                        (teardown)="doComposeModalTeardown()">
  </cp-templates-compose>
</cp-modal>

<cp-modal modalId="templateCreateModal"
          *ngIf="isTemplateCreateModal">
  <cp-templates-create (created)="onCreated($event)"
                       (teardown)="isTemplateCreateModal = false">
  </cp-templates-create>
</cp-modal>

<cp-modal *ngIf="isTemplateDelete"
          modalId="deleteTemplateModal">
  <cp-templates-delete [item]="deleteTemplate"
                       (deleted)="onDeleted($event)"
                       (teardown)="isTemplateDelete = false">
  </cp-templates-delete>
</cp-modal>

<cp-modal modalId="viewMoreModal">
  <cp-list-modal [buttonText]="buttonText"
                 [headerText]="headerText"
                 [list]="viewMoreRecipients">
  </cp-list-modal>
</cp-modal>