<div class="margin-bottom">
  <form [formGroup]="form">
    <cp-two-columns>
      <cp-card layout-left-column>
        <cp-clubs-form
          [form]="form"
          [formError]="formError"
          [isAthletic]="isAthletic"
          (addedImage)="addedImage=true">
        </cp-clubs-form>
      </cp-card>

      <cp-card layout-right-column>
        <cp-clubs-contact-details-form
          [form]="form"
          [formError]="formError">
        </cp-clubs-contact-details-form>
      </cp-card>
    </cp-two-columns>

    <div class="footer">
      <div class="cp-wrapper cp-wrapper--outer">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="text-right">
                <a [routerLink]="['../']"
                   class="cpbtn cpbtn--cancel">
                  {{ 'cancel' | cpI18n }}
                </a>
                <cp-button [props]="buttonData"
                           (buttonClick)="onSubmit()"></cp-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
