<!-- Permissions -->
<fieldset [disabled]="isAllAccessEnabled || isCurrentUser"
          class="margin-top">
  <cp-card>
    <div class="section form-group"
         [class.isDisabled]="isAllAccessEnabled || isCurrentUser">
      <!-- Manage Team Members -->
      <div class="section__item">
        <p class="section__title">{{ 'admin_permissions' | cpI18n }}</p>
        <div class="row">
          <div class="col-8">
            <p class="section-sub-title">
              {{ 'manage_team_members' | cpI18n }}</p>
            <p class="section-description">
              {{ 'admin_grant_permissions' | cpI18n }}
            </p>
          </div>
          <div class="col-4">
            <cp-dropdown [items]="manageAdmins"
                         (selected)="onManageAdminSelected($event)"
                         [selectedItem]="
                      schoolPrivileges[CP_PRIVILEGES_MAP.manage_admin]
                        ? manageAdmins[1]
                        : manageAdmins[0]
                    ">
            </cp-dropdown>
          </div>
        </div>
      </div>
      <!-- END Manage Admin -->

      <!-- Service Owner -->
      <fieldset [disabled]="!canReadServices">
        <div class="section__item">
          <div class="row">
            <div class="col-8">
              <p class="section-sub-title">
                {{ 'admin_service_owner' | cpI18n }}</p>
              <p class="section-description">
                {{ 'admin_service_owner_help' | cpI18n }}
              </p>
            </div>
            <div class="col-4">
              <cp-dropdown [items]="servicesMenu"
                           (selected)="onServicesSelected($event)"
                           [selectedItem]="servicesDefaultPermission()">
              </cp-dropdown>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- END Service Owner -->

      <!-- Club Owner -->
      <fieldset [disabled]="!canReadClubs">
        <div class="section__item">
          <div class="row">
            <div class="col-8">
              <p class="section-sub-title">{{ 'admin_club_owner' | cpI18n }}
              </p>
              <p class="section-description">
                {{ 'admin_club_owner_help' | cpI18n }}
              </p>
            </div>
            <div class="col-4">
              <cp-dropdown [items]="clubsMenu"
                           (selected)="onClubsSelected($event)"
                           [selectedItem]="clubsDefaultPermission()">
              </cp-dropdown>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- END Club Owner -->

      <!-- Athletics Owner -->
      <fieldset [disabled]="!canReadAthletics">
        <div class="section__item">
          <div class="row">
            <div class="col-8">
              <p class="section-sub-title">
                {{ 'admin_athletics_owner' | cpI18n }}</p>
              <p class="section-description">
                {{ 'admin_athletics_owner_help' | cpI18n }}
              </p>
            </div>
            <div class="col-4">
              <cp-dropdown [items]="athleticsMenu"
                           (selected)="onAthleticsSelected($event)"
                           [selectedItem]="athleticsDefaultPermission()">
              </cp-dropdown>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- END Athletics Owner -->

      <!-- Audience -->
      <fieldset [disabled]="!canReadAudience">
        <div class="section__item">
          <div class="row">
            <div class="col-8">
              <p class="section-sub-title">
                {{ 'admin_audience_title' | cpI18n }}</p>
              <p class="section-description">
                {{ 'admin_audience_help' | cpI18n }}
              </p>
            </div>
            <div class="col-4">
              <cp-dropdown [items]="audienceMenu"
                           (selected)="onAudienceSelected($event)"
                           [selectedItem]="audienceDefaultPermission()">
              </cp-dropdown>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- END Audience -->

      <!-- Contact Trace -->
      <fieldset *ngIf="isContactTraceEnabled" [disabled]="!canReadContactTrace">
        <div class="section__item">
          <div class="row">
            <div class="col-8">
              <p class="section-sub-title">
                {{ 'admin_contact_trace_title' | cpI18n }}
              </p>
              <!--<p class="section-description">
                {{ 'admin_contact_trace_help' | cpI18n }}
              </p>-->
            </div>
            <div class="col-4">
              <cp-dropdown-multiselect [items]="contactTraceMenu"
                                       (selection)="onContactTraceSelection($event)"
                                       [placeholder]="'admin_no_access' | cpI18n">
              </cp-dropdown-multiselect>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- END Contact Trace -->

      <!-- Events -->
      <fieldset [disabled]="!canReadEvents">
        <div class="section__item">
          <div class="row">
            <div class="col-8">
              <p class="section-sub-title">
                {{ 'admin_events_title' | cpI18n }}</p>
              <p class="section-description">
                {{ 'admin_events_help' | cpI18n }}
              </p>
            </div>
            <div class="col-4">
              <cp-dropdown [items]="eventsMenu"
                           (selected)="onEventsSelected($event)"
                           [selectedItem]="eventsDefaultPermission()">
              </cp-dropdown>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- END Events -->

      <!-- App Content -->
      <div class="section__item section--content">
        <div class="row">
          <div class="col-12">
            <p class="section-sub-title">
              {{ 'admin_app_content' | cpI18n }}</p>
            <p class="section-description">
              {{ 'admin_app_content_help' | cpI18n }}
            </p>
          </div>
        </div>
        <div class="row options-row">
          <div class="col-4"
               [class.isDisabled]="!formData.content.feeds.active">
            <cp-checkbox class="cpcheckbox"
                         [label]="'feeds' | cpI18n"
                         [isDisabled]="!formData.content.feeds.active"
                         [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.moderation]"
                         (toggle)="
                      checkControl($event, CP_PRIVILEGES_MAP.moderation, formData.content.feeds)
                    ">
            </cp-checkbox>
          </div>

          <div class="col-4"
               [class.isDisabled]="!formData.content.calendars.active">
            <cp-checkbox class="cpcheckbox"
                         [label]="'calendar' | cpI18n"
                         [isDisabled]="!formData.content.calendars.active"
                         [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.calendar]"
                         (toggle)="
                      checkControl($event, CP_PRIVILEGES_MAP.calendar, formData.content.calendars)
                    ">
            </cp-checkbox>
          </div>

          <div class="col-4"
               [class.isDisabled]="!formData.content.dining.active">
            <cp-checkbox class="cpcheckbox"
                         [label]="'dining' | cpI18n"
                         [isDisabled]="!formData.content.dining.active"
                         [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.dining]"
                         (toggle)="
                      checkControl($event, CP_PRIVILEGES_MAP.dining, formData.content.dining)
                    ">
            </cp-checkbox>
          </div>
        </div>

        <div class="row options-row">
          <div class="col-4"
               [class.isDisabled]="!formData.content.maps.active">
            <cp-checkbox class="cpcheckbox"
                         [label]="'maps' | cpI18n"
                         [isDisabled]="!formData.content.maps.active"
                         [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.campus_maps]"
                         (toggle)="
                      checkControl($event, CP_PRIVILEGES_MAP.campus_maps, formData.content.maps)
                    ">
            </cp-checkbox>
          </div>

          <div class="col-4 admin_studio_tooltip"
               [class.isDisabled]="!formData.content.appCustomizaton.active">
            <cp-checkbox class="cpcheckbox"
                         [label]="'customise' | cpI18n"
                         [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.app_customization]"
                         (toggle)="
                      checkControl(
                        $event,
                        CP_PRIVILEGES_MAP.app_customization,
                        formData.content.appCustomizaton
                      )
                    "
                         [isDisabled]="!formData.content.appCustomizaton.active">
            </cp-checkbox>
            <button ui-tooltip
                    class="cpbtn cpbtn--link danger"
                    [title]="'t_admin_invite_studio_limited_tooltip' | cpI18n"
                    *ngIf="
                      utils.hasStudio(schoolPrivileges) &&
                      !utils.hasFullStudioPrivilege(schoolPrivileges)
                    ">
              {{ 't_shared_limited' | cpI18n }}
            </button>
          </div>

          <div class="col-4"
               [class.isDisabled]="!formData.content.orientation.active">
            <cp-checkbox class="cpcheckbox"
                         [label]="'orientation' | cpI18n"
                         [isDisabled]="!formData.content.orientation.active"
                         [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.orientation]"
                         (toggle)="
                      checkControl(
                        $event,
                        CP_PRIVILEGES_MAP.orientation,
                        formData.content.orientation
                      )
                    ">
            </cp-checkbox>
          </div>
        </div>

        <div class="row options-row">
          <div class="col-4"
               [class.isDisabled]="!formData.content.jobs.active">
            <cp-checkbox class="cpcheckbox"
                         [label]="'jobs' | cpI18n"
                         [isDisabled]="!formData.content.jobs.active"
                         [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.jobs]"
                         (toggle)="checkControl($event, CP_PRIVILEGES_MAP.jobs, formData.content.jobs)">
            </cp-checkbox>
          </div>

          <div class="col-4"
               [class.isDisabled]="!formData.content.deals.active">
            <cp-checkbox class="cpcheckbox"
                         [label]="'deals' | cpI18n"
                         [isDisabled]="!formData.content.deals.active"
                         [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.deals]"
                         (toggle)="checkControl($event, CP_PRIVILEGES_MAP.deals, formData.content.deals)">
            </cp-checkbox>
          </div>
          <div class="col-4"
               [class.isDisabled]="!formData.content.appUserManagement.active">
            <cp-checkbox class="cpcheckbox"
                         [label]="'t_permission_app_user_management' | cpI18n"
                         [isDisabled]="!formData.content.appUserManagement.active"
                         [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.app_user_management]"
                         (toggle)="checkControl($event, CP_PRIVILEGES_MAP.app_user_management, formData.content.appUserManagement)">
            </cp-checkbox>
          </div>
        </div>
      </div>
      <!-- END App Content -->

      <!-- Notify -->
      <div class="section__item">
        <div class="row">
          <div class="col-12">
            <p class="section-sub-title">
              {{ 'notify' | cpI18n }}
              <button ui-tooltip
                      type="button"
                      class="unstyled-button"
                      *ngIf="!hasStorePrivileges()"
                      [title]="'t_admin_invite_notify_permission_tooltip' | cpI18n">
                <i class="material-icons">
                  lock
                </i>
              </button>
            </p>
            <p class="section-description">
              {{ 'admin_notify_help' | cpI18n }}
            </p>
          </div>
        </div>
        <fieldset [disabled]="!hasStorePrivileges()">
          <div class="section row"
               [class.isDisabled]="!hasStorePrivileges()">
            <div class="col-12">
              <div class="row options-row">
                <div class="col-5"
                     [class.isDisabled]="!formData.notify.campus.active">
                  <cp-checkbox class="cpcheckbox"
                               [isDisabled]="!formData.notify.campus.active"
                               [label]="'admin_campus_announcements' | cpI18n"
                               [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.campus_announcements]"
                               (toggle)="
                            checkControl(
                              $event,
                              CP_PRIVILEGES_MAP.campus_announcements,
                              formData.notify.campus
                            )
                          ">
                  </cp-checkbox>
                </div>
                <div class="col-5"
                     [class.isDisabled]="!formData.notify.emergency.active">
                  <cp-checkbox class="cpcheckbox"
                               [isDisabled]="!formData.notify.emergency.active"
                               [label]="'admin_emergency_announcements' | cpI18n"
                               [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.emergency_announcement]"
                               (toggle)="
                            checkControl(
                              $event,
                              CP_PRIVILEGES_MAP.emergency_announcement,
                              formData.notify.emergency
                            )
                          ">
                  </cp-checkbox>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <!-- END Notify -->

      <!-- Assess -->
      <div>
        <div class="row">
          <div class="col-12">
            <p class="section-sub-title">{{ 'assess' | cpI18n }}</p>
            <p class="section-description">
              {{ 'admin_assess_help' | cpI18n }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 options-row"
               [class.isDisabled]="!formData.assess.engagement.active">
            <cp-checkbox class="cpcheckbox"
                         [isDisabled]="!formData.assess.engagement.active"
                         [label]="'admin_engagement_dashboard' | cpI18n"
                         [isChecked]="schoolPrivileges[CP_PRIVILEGES_MAP.assessment]"
                         (toggle)="
                      checkControl($event, CP_PRIVILEGES_MAP.assessment, formData.assess.engagement)
                    ">
            </cp-checkbox>
          </div>
        </div>
      </div>
      <!-- END Assess -->
    </div>
  </cp-card>
</fieldset>
<!-- END Permissions -->

<div class="footer">
  <div class="cp-wrapper cp-wrapper--outer">
    <div class="row">
      <div class="col-12">
        <div class="float-right">
          <label *ngIf="isFormError"
                 class="error">{{ formError }}</label>
          <a ui-button
             variant="stroked"
             [routerLink]="[currentUserCanManage ? '/settings/team' : '/dashboard']">
            {{ 'cancel' | cpI18n }}
          </a>

          <button ui-button
                  type="submit"
                  variant="flat"
                  color="primary"
                  (click)="onSubmit()"
                  [disabled]="preventSubmit$ | async">
            {{ isEdit ? ('update' | cpI18n) : ('admin_create_button' | cpI18n) }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<cp-modal [type]="MODAL_TYPE"
          *ngIf="isServiceModal"
          modalId="selectServicesModal">
  <cp-select-services-modal [reset]="resetServiceModal$"
                            (cancel)="updateServiceDropdownLabel()"
                            (selected)="onServicesModalSelected($event)"
                            [selectedServices]="accountPrivileges">
  </cp-select-services-modal>
</cp-modal>

<cp-modal [type]="MODAL_TYPE"
          *ngIf="isClubsModal"
          modalId="selectClubsModal">
  <cp-select-clubs-modal [reset]="resetClubsModal$"
                         (cancel)="updateClubDropdownLabel()"
                         (selected)="onClubsModalSelected($event)"
                         [selectedClubs]="accountPrivileges">
  </cp-select-clubs-modal>
</cp-modal>

<cp-modal [type]="MODAL_TYPE"
          *ngIf="isAthleticsModal"
          modalId="selectAthleticsModal">
  <cp-select-athletics-modal [reset]="resetAthleticsModal$"
                             (cancel)="updateAthleticDropdownLabel()"
                             (selected)="onAthleticsModalSelected($event)"
                             [selectedAthletics]="accountPrivileges">
  </cp-select-athletics-modal>
</cp-modal>
