@import '~projects/campus-cloud/src/sass/components/modal';
@import '~projects/campus-cloud/src/sass/components/button';
@import '~projects/campus-cloud/src/sass/core/typography';

ul {
  padding-left: 0;
  list-style: none;

  li {
    padding: 10px 0;
    p {
      margin-bottom: 0;

      &.title {
        @include font-semi-bold();
      }
    }
  }
}
