<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-12 text-center">
        <span><strong>{{ 'instructions' | cpI18n }}</strong></span>

        <button type="button"
                data-dismiss="modal"
                class="float-right hover cpmodal__header__close unstyled-button">
          &times;
        </button>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-10 offset-1">
        <ul>
          <li>
            <p class="title">{{ 'qr_code' | cpI18n }}</p>
            <p>{{ 'checkin_instructions_one' | cpI18n }}</p>
          </li>
          <li>
            <p class="title">{{ 'checkin_list' | cpI18n }}</p>
            <p>{{ 'checkin_instructions_two' | cpI18n }}</p>
          </li>
          <li>
            <p class="title">{{ 'results' | cpI18n }}</p>
            <p>{{ 'checkin_instructions_three' | cpI18n }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-6 offset-6 text-right">
        <button type="button"
                data-dismiss="modal"
                class="cpbtn cpbtn--primary">
          {{ 'done' | cpI18n }}
        </button>
      </div>
    </div>
  </div>
</div>