<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="cp-card service">
          <div class="row">
            <div class="col-xs-12">
              <div
                class="service__banner placeholder img-responsive img-rounded"
                [ngStyle]="{ 'background-image' : 'url(' + service.logo_url + ')' }">
              </div>

              <div class="row">
                <div class="col-xs-10">
                  <p class="service__title">{{ service.name }}</p>
                </div>
                <div class="col-xs-2">
                  <a
                    [routerLink]="['../edit']"
                    class="cpbtn cpbtn--primary pull-right" i18n>
                    Edit
                  </a>
                </div>
              </div>
              <p class="text-muted section">
                {{ service.description }}
              </p>

              <div class="service__meta">
                <p *ngIf="service.contactphone">
                  <i class="material-icons">phone</i> {{ service.contactphone }}
                <p>

                <p *ngIf="service.email">
                  <i class="material-icons">email</i>{{ service.email }}
                </p>

                <p *ngIf="service.website">
                  <i class="material-icons">web</i>{{ service.website }}
                </p>

                <p *ngIf="service.location">
                  <i class="material-icons">place</i>
                  {{ service.address }} {{ service.location }}
                </p>
              </div>

              <div class="row">
                <div class="col-xs-12 service__map">
                  <cp-maps [center]="mapCenter"></cp-maps>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="service__admins">
                    <p class="service__admins__title i18n">Admins</p>

                    <p *ngIf="!admins.length" i18n>No Admins found...</p>

                    <ul class="service__admins__list" *ngIf="admins.length">
                      <li
                        *ngFor="let admin of admins"
                        class="service__admins__admin">
                        {{ admin.firstname }} {{ admin.lastname }}
                        <br>
                        <span class="text-muted">{{ admin.email }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>