<div class="row">
  <div class="col-xs-12">
    <div class="event text-center">
      <i class="material-icons">access_time</i>
      <p>{{ event.start | cpDatePipe:format }}</p>
      <div class="row">
        <div class="col-xs-12 event__actions">
          <a [routerLink]="['../']"
            class="cpbtn cpbtn--secondary" i18n>
            Back to Events
          </a>

          <a [href]="event.qr_img_url"
            target="_blank"
            class="cpbtn cpbtn--secondary" i18n
            *ngIf="event.event_attendance === 1">
            Print QR Code
          </a>

          <button
            type="button"
            class="cpbtn cpbtn--primary" i18n
            *ngIf="event.event_attendance === 1">
            Start Web Check-in
          </button>
        </div>
      </div>
    </div>
  </div>
</div>