@import '~styles/components/card';
@import '~styles/core/typography';
@import '~styles/components/table';
@import '~styles/core/colors';

.cp-table {
  &__header {
    span.hover {
      position: relative;

      > span i {
        top: 1px;
        font-size: 17px;
        position: absolute;
        padding-left: 6px;
      }
    }
  }

  span i.disabled {
    cursor: default;
    color: $color-med-grey;
  }

  &__feedback {
    padding: 10px;
    margin: 5px 0 0 0;
    background-color: $color-light-grey;
  }
}

.add-card-margin {
  @include card-margin();
}

.header {
  @include card-margin();
  margin-top: 0;

  &__digit {
    @include font-semi-bold();

    font-size: 2.4em;
  }
}
