@import '~client/style/core/typography';

.feedback-padding {
  padding-left: 23px;
}

.services {
  min-height: 817px;

  &--no-data-wrapper {
    margin-top: 300px;

    p {
      line-height: 1;
      margin-bottom: 0;
    }

    p.heading {
      @include font-24px();
      @include font-semi-bold();

      margin-bottom: 12px;
    }
  }

  &--heading {
    @include font-24px();
    @include font-bold();
  }
}
