<div class="row">
  <div class="col-12">
    <cp-list-action-box
      [isOrientation]="isOrientation"
      [isSimple]="isClub || isService || isOrientation"
      (listAction)="doFilter($event)">
    </cp-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>
  <div *ngSwitchCase="false">

    <div *ngIf="state.events.length">
      <cp-list-past
        [state]="state"
        [events]="state.events"
        *ngIf="!isUpcoming"
        [isOrientation]="isOrientation"
        (sortList)="onSortList($event)"
        (deleteEvent)="onDeleteEvent($event)">
      </cp-list-past>

      <cp-list-upcoming
        [state]="state"
        [events]="state.events"
        *ngIf="isUpcoming"
        [isClub]="isClub"
        [isService]="isService"
        [isAthletic]="isAthletic"
        [isOrientation]="isOrientation"
        (sortList)="onSortList($event)"
        (deleteEvent)="onDeleteEvent($event)">
      </cp-list-upcoming>

      <div class="row">
        <div class="col-12">
          <cp-pagination
            [pageNext]="pageNext"
            [pagePrev]="pagePrev"
            [pageNumber]="pageNumber"
            (next)="onPaginationNext()"
            (previous)="onPaginationPrevious()">
          </cp-pagination>
        </div>
      </div>
    </div>

    <cp-no-content
      class="add-margin"
      *ngIf="!state.events.length"
      [noContentText]="cpI18n.translate('events_no_events_found')">
    </cp-no-content>
  </div>
</div>

<cp-modal modalId="deleteEventsModal">
  <cp-events-delete
    [event]="deleteEvent"
    [orientationId]="orientationId"
    [isOrientation]="orientation"
    (deletedEvent)="onDeletedEvent($event)">
  </cp-events-delete>
</cp-modal>

<cp-modal modalId="excelEventsModal">
  <cp-events-excel-modal
    [clubId]="clubId"
    [isClub]="isClub"
    [storeId]="storeId"
    [serviceId]="serviceId"
    [isService]="isService"
    [isAthletic]="isAthletic"
    [athleticId]="athleticId"
    [orientationId]="orientationId"
    [isOrientation]="isOrientation">
  </cp-events-excel-modal>
</cp-modal>
