<ng-container [ngSwitch]="isFormReady">
  <cp-spinner *ngSwitchCase="false"></cp-spinner>

  <ng-container *ngSwitchCase="true">
    <div class="row margin-bottom">
      <div class="col-12">
        <cp-no-content noContentText="No Clubs to Add..."
                       *ngIf="!form['controls'].clubs['controls'].length">
        </cp-no-content>

        <form class="form"
              [formGroup]="form"
              *ngIf="form['controls'].clubs['controls'].length">
          <table ui-table
                 formArrayName="clubs">
            <thead>
              <tr ui-table-row>
                <th ui-table-cell>{{ labels.create_edit_name | cpI18n }}</th>
                <th ui-table-cell>{{ 'email' | cpI18n }}</th>
                <th ui-table-cell>{{ 'phone_number' | cpI18n }}</th>
                <th ui-table-cell
                    colspan="2">{{ 'website' | cpI18n }}</th>
              </tr>
            </thead>

            <tbody>
              <tr ui-table-row
                  [formGroupName]="i"
                  *ngFor="let club of form['controls'].clubs['controls']; let i = index">
                <td ui-table-cell>
                  <ready-ui-stack>
                    <ng-container *ngIf="club.controls['logo_url'].value">
                      <button type="button"
                              (click)="onRemoveImage(i)"
                              class="deleteButton hover unstyled-button">
                        <ready-ui-icon name="close"
                                       size="small"></ready-ui-icon>
                      </button>
                      <ready-ui-avatar [alt]="['club avatar ' + i + 1]"
                                       [src]="club.controls['logo_url'].value">
                      </ready-ui-avatar>
                    </ng-container>
                    <ng-container *ngIf="!club.controls['logo_url'].value">
                      <cp-upload-button theme="small"
                                        [id]="['upload_club_' + i]"
                                        [isRequired]="formError && club.controls.logo_url.hasError('required')"
                                        (fileUpload)="onImageUpload($event, i)">
                      </cp-upload-button>
                    </ng-container>
                    <ready-ui-stack direction="vertical"
                                    spacing="tight">
                      <span>{{ club.controls.name.value }}</span>
                      <ui-text-style color="muted">
                        {{ club.controls.description.value }}</ui-text-style>
                    </ready-ui-stack>
                  </ready-ui-stack>
                </td>

                <td ui-table-cell>
                  {{ club.controls.email.value }}
                </td>
                <td ui-table-cell>
                  {{ club.controls.phone.value }}
                </td>
                <td ui-table-cell>
                  {{ club.controls.website.value }}
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>

    <div class="footer">
      <div class="cp-wrapper cp-wrapper--outer">
        <div class="row">
          <div class="col-12">
            <div class="float-right">
              <a ui-button
                 variant="stroked"
                 [routerLink]="['/manage/' + labels.club_athletic]">
                {{ 'cancel' | cpI18n }}
              </a>
              <button ui-button
                      type="bnutton"
                      variant="flat"
                      color="primary"
                      (click)="onSubmit()">
                {{ labels.import_button | cpI18n }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>