<div class="cp-toast"
     [ngClass]="{'info': data.type === 'info'}"
     [@fadeAnimation]="{value: animationState, params:
        { fadeIn: toastConfig.animation.fadeIn, fadeOut: toastConfig.animation.fadeOut }}"
     (@fadeAnimation.done)="onFadeFinished($event)">
  {{ data.text }}
  <div role="group"
       class="cp-toast__actions">
    <button type="button"
            class="cp-toast__dismiss unstyled-button"
            (click)="close()">Dismiss</button>
    <button type="button"
            class="cp-toast__cta unstyled-button"
            (click)="close()">What's New</button>
  </div>
</div>