<div [ngSwitch]="loading">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <cp-feed-filters
      [isSimple]="isSimple"
      (doFilter)="onDoFilter($event)">
    </cp-feed-filters>

    <cp-feed-input-box [isSimple]="isSimple"></cp-feed-input-box>

    <cp-spinner *ngSwitchCase="true"></cp-spinner>

    <div *ngSwitchCase="false">
      <cp-feed-item
        [feed]="feed"
        *ngFor="let feed of feeds">
      </cp-feed-item>

      <cp-no-content
        class="no-content"
        *ngIf="feeds.length === 0"
        noContentText="No Posts found...">
      </cp-no-content>

    </div>
  </div>
</div>