@import '~styles/core/colors';
@import '~styles/core/typography';
@import '~styles/components/button';

.input__wrapper {
  position: relative;

  input {
    @include font-24px();

    width: calc(100% - 15px);
    border: 1px solid transparent;

    &:disabled {
      cursor: not-allowed;
      background: transparent;
    }
  }

  &__spinner {
    top: 4px;
    right: 0;
    position: absolute;
  }
}
