@import '~styles/core/colors';
@import '~styles/core/typography';
@import '~styles/components/button';

.input__wrapper {
  position: relative;

  input {
    @include font-24px();

    width: calc(100% - 15px);
    text-transform: uppercase;
    border: 1px solid transparent;

    &:disabled {
      background: transparent;
      border: 1px solid transparent;
      border-bottom: 1px dotted #ccc;
    }

    &.invalid {
      border-bottom: 1px solid $color-danger;
    }
  }

  &__spinner {
    top: 4px;
    right: 0;
    position: absolute;
  }
}
