@import '~projects/campus-cloud/src/sass/components/modal';
@import '~projects/campus-cloud/src/sass/components/button';

:host {
  width: 100%;
  display: block;
}

.working {
  padding: 50px;
  display: block;
  text-align: center;
}
