<cp-data-export-top-bar (search)="onSearch($event)"></cp-data-export-top-bar>

<ng-container [ngSwitch]="busy$ | async">
  <ng-container *ngSwitchCase="true">
    <div class="working">
      <cp-spinner></cp-spinner>
      <h2>{{ 't_data_export_waiting_title' | cpI18n }}</h2>
      <p>{{ 't_data_export_waiting_message' | cpI18n }}</p>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!reports.length"
                   [noContentText]="'t_data_export_no_data_found' | cpI18n">
    </cp-no-content>
    <table ui-table
           *ngIf="reports.length">
      <thead class="cp-table__header">
        <tr ui-table-row>
          <th ui-table-cell>
            <h2>{{ 't_data_export_data_source' | cpI18n }}</h2>
          </th>
          <th ui-table-cell></th>
        </tr>
      </thead>
      <tbody>
        <tr ui-table-row
            *ngFor="let report of reports; trackBy: trackByFn">
          <td ui-table-cell>
            <h3>{{report.name | cpI18n}}</h3>
          </td>
          <td ui-table-cell
              align="right">
            <button ui-button
                    type="button"
                    variant="inline"
                    color="primary"
                    (click)="downloadReportByType.next(report)">{{ 't_shared_export' | cpI18n }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</ng-container>