<div class="page-container">

  <ready-ui-button-group
    class="button-group"
  >

    <button
      type="button"
      class="selections-button"
      [ngClass]="{'group-button': !highlightError(), 'validation-error': highlightError()}"
      ui-button
      variant="flat"
    >
      {{ 'contact_trace_forms_for_selections' | cpI18n }}
    </button>

    <button
      *ngFor="let blockContent of formBlock.block_content_list; let index = index;"
      type="button"
      class="group-button alphabet-button"
      [ngClass]="{'group-button': !highlightError(), 'validation-error-border': highlightError()}"
      ui-button
      [color]="isIndexSelected(index) ? 'primary' : 'default'"
      [style.color]="isIndexSelected(index) ? '#FFFFFF' : '#000000'"
      variant="flat"
      (click)="blockContentClickHandler(index)"
    >
      {{ ('contact_trace_forms_alphabet_' + getAlphabetForNumber(index + 1)) | cpI18n }}
    </button>

  </ready-ui-button-group>


</div>
