<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="cp-card page">
      <div class="row">
        <div class="col-xs-12">
          <p class="page__title" i18n>{{ 'release_notes_title' | cpI18n }}</p>

          <br>

          <p>
            {{ 'release_notes_p_one' | cpI18n }}
          </p>

          <br>

          <p>
            {{ 'release_notes_p_two' | cpI18n }} <a class="cpbtn cpbtn--link" href="mailto:cm@oohlalamobile.com">cm@oohlalamobile.com</a>.
          </p>

          <br>

          <p>
            {{ 'release_notes_p_three' | cpI18n }}
          </p>

          <br>

          <p>
            {{ 'release_notes_p_four' | cpI18n }}
          </p>

          <p class="page__section">{{ 'release_notes_sept_6_title' | cpI18n }}</p>

          <ul>
            <li>{{ 'release_notes_sept_6_item_one' | cpI18n }}</li>

            <li>{{ 'release_notes_sept_6_item_two' | cpI18n }}</li>
          </ul>


          <p class="page__section">{{ 'release_notes_july_10_title' | cpI18n }}</p>

          <ul>
            <li>{{ 'release_notes_july_10_item_one' | cpI18n }}</li>

            <li>{{ 'release_notes_july_10_item_two' | cpI18n }}</li>

            <li>{{ 'release_notes_july_10_item_three' | cpI18n }}</li>

          </ul>


          <p class="page__section">{{ 'release_notes_june_2_title' | cpI18n }}</p>

          <ul>
            <li>{{ 'release_notes_june_2_item_one' | cpI18n }}</li>

            <li>{{ 'release_notes_june_2_item_two' | cpI18n }}</li>

            <li>{{ 'release_notes_june_2_item_three' | cpI18n }}</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>