<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="cp-card page">
      <div class="row">
        <div class="col-xs-12">
          <p class="page__title" i18n>Welcome to a sneak-preview of the new Campus Cloud!</p>

          <br>

          <p>Our team has been hard at work on a new, improved version of Campus Cloud.
            <strong>While this early preview may not have all the features you expect (yet!)</strong>,
            we’re hoping that by allowing certain special customers to use it at this
            stage we can get valuable feedback to improve the product rapidly.</p>

          <br>

          <p>We’ll be adding more features over the next few weeks,
            so remember to check in periodically if you’d like to keep tabs on our progress.</p>

          <br>

          <p>Finally, we’d love to hear directly from you if you have anything
            you’d like to share with us. Please use the button on the bottom right of
            your screen to communicate directly with our product team.</p>

          <br>

          <p>Thanks from your friends at OOHLALA</p>

        </div>
      </div>
    </div>
  </div>
</div>