<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="cp-card page">
      <div class="row">
        <div class="col-xs-12">
          <p class="page__title" i18n>Welcome to a sneak-preview of the new Campus Cloud!</p>

          <br>

          <p>
            Our team is hard at work on a new, improved version of Campus Cloud.
            We hope to get valuable feedback by allowing certain customers such as
            yourself to use it at this early stage.
          </p>

          <br>

          <p>
            This early preview may not have all the features you
            expect (yet!), but we're adding new features regularly.
          </p>


          <p class="page__section">New as of July 10, 2017:</p>

          <ul>
            <li>Administrators can send Notifications to students' devices</li>

            <li>Administrators can create lists of users, to use in sending Notifications.</li>

            <li>Bug fixes and usability improvements</li>

          </ul>


          <p class="page__section">New as of June 2, 2017:</p>

          <ul>
            <li>Administrators can create Clubs and Groups</li>

            <li>Executives of Clubs and Groups can create Events and Services within those groups</li>

            <li>Students can post messages to Club Feeds. Executives and Administrators can moderate these Feeds.</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>