<div class="tile">
  <div class="row">
    <div class="col-xs-12">
      <p class="tile--title">{{ 'dashboard_general_information' | cpI18n }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-9 tile--stat">
          <p>{{ 'dashboard_event_views' | cpI18n }}</p>
        </div>
        <div class="col-xs-3 text-right tile--amount">123</div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-9 tile--stat">
          <p>{{ 'dashboard_service_clicks' | cpI18n }}</p>
        </div>
        <div class="col-xs-3 text-right tile--amount">78</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-9 tile--stat">
          <p>{{ 'dashboard_event_views' | cpI18n }}</p>
        </div>
        <div class="col-xs-3 text-right tile--amount">123</div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-9 tile--stat">
          <p>{{ 'dashboard_service_clicks' | cpI18n }}</p>
        </div>
        <div class="col-xs-3 text-right tile--amount">78</div>
      </div>
    </div>
  </div>
</div>