<ng-container [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div class="tile" *ngSwitchCase="false">
    <div class="row">
      <div class="col-7">
        <p class="tile--title">{{ 'dashboard_general_information' | cpI18n }}</p>
      </div>
      <div class="col-5">
        <cp-dashboard-experience-menu
          [experiences]="experiences"
          paramName="gen_info_exp_id"
          [selectedPersona]="selectedPersona">
        </cp-dashboard-experience-menu>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-8 tile--stat">
            <p>{{ 'dashboard_event_views' | cpI18n }}</p>
          </div>
          <div class="col-4 text-right tile--amount">{{ data.event_views | cpStatsFormatter }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-8 tile--stat">
            <p>{{ 'dashboard_service_clicks' | cpI18n }}</p>
          </div>
          <div class="col-4 text-right tile--amount">{{ data.service_clicks | cpStatsFormatter }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-8 tile--stat">
            <p>{{ 'dashboard_club_views' | cpI18n }}</p>
          </div>
          <div class="col-4 text-right tile--amount">{{ data.club_views | cpStatsFormatter }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-8 tile--stat">
            <p>{{ 'dashboard_announcements' | cpI18n }}</p>
          </div>
          <div class="col-4 text-right tile--amount">{{ data.announcements | cpStatsFormatter }}</div>
        </div>
      </div>
    </div>
  </div>
</ng-container>