<div class="sidebar">
  <div class="sidebar__logo text-center"></div>

  <ul class="sidebar__list">
    <li><a [routerLink]="['/profile']">Profile</a></li>
    <li><a [routerLink]="['/logout']">Logout</a></li>
    <li *ngFor="let item of menuItems">
      <p class="sidebar__header">{{ item.group }}</p>
      <ul class="sidebar__children">
        <li *ngFor="let child of item.children">
          <a [routerLink]="['/' + child.url]">{{ child.label }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>