<ng-container [ngSwitch]="loading">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <cp-feed-filters
        [clubId]="clubId"
        (doFilter)="onDoFilter($event)">
      </cp-feed-filters>

      <cp-feed-input-box
        [clubId]="clubId"
        [isCampusWallView]="isCampusWallView$"
        [postingMemberType]="state.postingMemberType"
        (created)="onCreated($event)">
      </cp-feed-input-box>

      <cp-spinner *ngSwitchCase="true"></cp-spinner>

      <ng-container *ngSwitchCase="false">
        <cp-feed-item
          [feed]="feed"
          (moved)="onDeleted($event)"
          (deleted)="onDeleted($event)"
          *ngFor="let feed of state.feeds"
          [isCampusWallView]="isCampusWallView$"
          [isFilteredByRemovedPosts]="isFilteredByRemovedPosts$">
        </cp-feed-item>

        <cp-no-content
          class="no-content"
          *ngIf="!state.feeds.length"
          noContentText="No Posts found...">
        </cp-no-content>

        <div class="row">
          <div class="col-xs-12">
            <cp-pagination
              [pageNext]="pageNext"
              [pagePrev]="pagePrev"
              [pageNumber]="pageNumber"
              (next)="onPaginationNext()"
              (previous)="onPaginationPrevious()">
            </cp-pagination>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>