@import '~projects/campus-cloud/src/sass/core/typography';

cp-one-column {
  display: block;
  padding-bottom: 90px;
}

cp-card {
  header {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;

      span {
        display: flex;
        align-items: center;

        i {
          margin-right: 0.25em;
        }
      }

      h2 {
        @include font-bold();
        @include font-24px();

        margin-bottom: 0;
        margin-right: 1em;
      }
    }
  }
}
