@import '~projects/campus-cloud/src/sass/components/card';
@import '~projects/campus-cloud/src/sass/core/typography';

cp-announcements-list-action-box {
  display: block;
  margin-bottom: $default_margin;
}

header {
  h2 {
    @include font-semi-bold();

    font-size: 1em;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}
