<div [ngSwitch]="shouldConfirm">
    <div class="cpmodal" *ngSwitchCase="false">
      <div class="cpmodal__header">
        <div class="row">
          <div class="col-xs-12 text-center">
            <span i18n><strong>{{ data.name }}</strong></span>

            <span
              data-dismiss="modal"
              (click)="resetModal()"
              class="pull-right hover cpmodal__header__close">
              &times;
            </span>
          </div>
        </div>
      </div>

      <div class="cpmodal__body">
        <div class="row">
          <div class="col-xs-12">
            <form [formGroup]="form">
              <div class="form-group campus-switch" [class.isActive]="state.isCampusWide">
                <div class="row">
                  <div class="col-xs-8">
                    <p class="title" i18n>{{ 'campus_wide' | cpI18n }}</p>
                    <p class="text-muted" i18n>{{ 'templates_create_label_all_students' | cpI18n }}</p>
                  </div>
                  <div class="col-xs-4">
                    <div class="pull-right">
                      <cp-switch
                        class="campus-switch__toggle"
                        (toggle)="onHandleToggle($event)"
                        [isChecked]="state.isCampusWide">
                      </cp-switch>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="!state.isCampusWide">
                <label i18n>{{ 'to' | cpI18n }}
                  <cp-tooltip
                    [toolTipContent]="toolTipContent">
                  </cp-tooltip>
                </label>
                <div class="row">
                  <div class="col-xs-12">
                    <cp-typeahead
                      [props]="typeAheadOpts"
                      (query)="onSearch($event)"
                      (selection)="onTypeAheadChange($event)"
                      (typeChange)="onSwitchSearchType($event)">
                    </cp-typeahead>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <label i18n>{{ 'announcements_type' | cpI18n }}</label>
                    <div class="row">
                      <div class="col-xs-12">
                        <cp-check-dropdown
                          [items]="types"
                          [reset]="resetCustomFields$"
                          [selectedItem]="selectedType"
                          buttonClass="cpbtn cpbtn--cancel"
                          (selected)="onTypeChanged($event)">
                        </cp-check-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <label i18n>{{ 'from' | cpI18n }}</label>
                        <cp-dropdown
                          [items]="stores$ | async"
                          [reset]="resetCustomFields$"
                          [selectedItem]="selectedHost"
                          (selected)="onSelectedStore($event)">
                        </cp-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label i18n>
                  {{ 'subject' | cpI18n }}
                  <span class="pull-right">
                    {{ getSubjectLength() }}/128
                  </span>
                </label>
                <div class="cpInput subject-input">
                  <div class="row">
                    <div class="col-xs-2" *ngIf="subject_prefix.label">
                      <span [class]="'subject-input__label text-center ' + subject_prefix.type">
                        {{ subject_prefix.label }}
                      </span>
                    </div>
                    <div [class]="subject_prefix.label ? 'col-xs-10 no-left-padding' : 'col-xs-12' ">
                      <input
                      type="text"
                      formControlName="subject"
                      class="form-control transparent subject-input__input">
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label i18n>
                  {{ 'message_noun' | cpI18n }}
                  <span class="pull-right">
                    {{ form.controls.message.value ? form.controls.message.value.length : 0 }}/400
                  </span>
                </label>
                <textarea
                  class="form-control"
                  formControlName="message">
                </textarea>
              </div>
            </form>
          </div>
        </div>

        <div class="row" *ngIf="isError">
          <div class="col-xs-12 text-center">
            <label class="error">{{ errorMessage }}</label>
          </div>
        </div>
      </div>

      <div class="cpmodal__footer">
        <div class="row">
          <div class="col-xs-6 pull-right text-right">
            <button
              type="button"
              data-dismiss="modal"
              (click)="resetModal()"
              class="cpbtn cpbtn--cancel" i18n>
              {{ 'cancel' | cpI18n }}
            </button>

            <button
              type="button"
              (click)="doValidate()"
              [disabled]="!form.valid"
              class="cpbtn cpbtn--primary" i18n>
              {{ 'announce' | cpI18n }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <cp-announcements-confirm
      *ngSwitchCase="true"
      [state]="state"
      (confirmed)="onConfirmed()"
      (teardown)="shouldConfirm = false">
    </cp-announcements-confirm>
  </div>
