<div class="row">
  <div class="col-12">
    <cp-services-list-action-box
      (listAction)="doFilter($event)">
    </cp-services-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content
      class="add-card-margin"
      *ngIf="!state.services.length"
      [noContentText]="cpI18n.translate('services_no_service_found')">
    </cp-no-content>

    <ul class="services cp-form" *ngIf="state.services.length">
      <li class="cp-form__header col-12">
        <div class="row">
          <cp-sorting-header
            class="col-4"
            sortLabel="name"
            (click)="doSort('name')"
            [label]="sortingLabels.name"
            [sortField]="state.sort_field"
            [sortDirection]="state.sort_direction">
          </cp-sorting-header>

          <span class="col-2">
            {{ 'services_visits' | cpI18n }}
          </span>
          <span class="col-2">{{ 'ratings' | cpI18n }}</span>
          <span class="col-3">{{ 'average_rating' | cpI18n }}</span>
          <span class="col-1 hover"></span>
        </div>
      </li>

      <li class="cp-form__item col-12" *ngFor="let service of state.services">
        <div class="row">
          <span class="col-4 text-truncate">
            <div class="row">
              <div class="col-2 services__thumbnail">
                <img class="rounded img-fit-cover" [src]="service.logo_url">
              </div>
              <div class="col-9 text-truncate no-left-padding"><strong><a [routerLink]="[service.service_attendance ? service.id : service.id + '/info']">{{ service.name }}</a></strong><br>{{ service.description }}</div>
            </div>
          </span>
          <span class="col-2">{{ service.total_visits }}</span>
          <span class="col-2">{{ service.num_ratings }}</span>
          <span class="col-3">
            <cp-stars
              *ngIf="service.enable_feedback === 1"
              [maxRate]="service.rating_scale_maximum"
              [avgRate]="service.avg_rating_percent">
            </cp-stars>
          </span>
          <span
            (click)="onDelete(service)"
            data-toggle="modal" data-target="#deleteServicesModal"
            class="col-1 hover text-center text-truncate delete-service">
            &times;
          </span>
        </div>
      </li>
    </ul>

    <div class="row" *ngIf="state.services.length">
      <div class="col-12">
        <cp-pagination
          [pageNext]="pageNext"
          [pagePrev]="pagePrev"
          [pageNumber]="pageNumber"
          (next)="onPaginationNext()"
          (previous)="onPaginationPrevious()">
        </cp-pagination>
      </div>
    </div>
  </div>
</div>

<cp-modal modalId="excelServicesModal">
  <cp-services-excel-modal></cp-services-excel-modal>
</cp-modal>

<cp-modal modalId="deleteServicesModal">
  <cp-services-delete
    [service]="deleteService"
    (deleted)="onDeleted($event)">
  </cp-services-delete>
</cp-modal>
