@import '~client/style/core/colors';
@import '~client/style/components/form';
@import '~client/style/components/button';

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  background: $color-white;
  border-top: 1px solid $border-color;

  .cpbtn--cancel {
    margin-right: 5px;
  }
}
