@import '~styles/components/form';
@import '~styles/components/button';
@import '~styles/core/typography';

.header {
  em {
    line-height: 2.7;
  }
}


.list {
  &__header {
    padding: 10px;
    border-bottom: 1px solid $border-color;

    label {
      line-height: 2.7;
    }
  }

  &__body {
    padding: 0;
    list-style: none;

    .event {
      padding: 10px;
      border-bottom: 1px solid $border-color;

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }

      &__avatar {

      }

      &__title {
        @include font-bold();
      }

      &__description {

      }
    }
  }
}

