<div class="row header">
  <div class="col-xs-12">
    <em i18n>{{ events.length }} calendar event(s) data information in the file</em>
    <div class="pull-right">
      <button
        type="button"
        class="cpbtn cpbtn--default" i18n>
        Upload Another Excel File
      </button>
    </div>
  </div>
</div>

<div class="row list">
  <div class="col-xs-12">
    <div class="cp-form">
      <div class="list__header">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <div class="row">
              <div class="col-xs-1">
                <cp-checkbox class="checkbox"></cp-checkbox>
              </div>
              <div class="col-xs-7">
                <cp-dropdown [items]="mockDropdown"></cp-dropdown>
              </div>
              <div class="col-xs-4">
                <button
                  type="button"
                  class="cpbtn cpbtn--danger" i18n>
                  Delete
                </button>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7">
            <div class="row">
              <div class="col-xs-3">
                <label i18n>Host</label>
              </div>
              <div class="col-xs-4">
                <label i18n>Event Attendance</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul class="list__body">
        <li
          class="list__item row event"
          *ngFor="let event of events; let i = index">
          <div class="col-xs-12 col-sm-5">
            <div class="row">
              <div class="col-xs-1">
                <cp-checkbox class="checkbox"></cp-checkbox>
              </div>
              <div class="col-xs-11 text-truncate">
                <div class="row">
                  <div class="col-xs-2">
                    <div class="event__avatar placeholder placeholder--small"></div>
                  </div>
                  <div class="col-xs-10">
                    <span class="event__title">{{ event.title }}</span>
                    <br>
                    <span class="event__description">
                      {{ event.description }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7">
            <div class="row">
              <div class="col-xs-3">
                <cp-dropdown [items]="mockDropdown"></cp-dropdown>
              </div>
              <div class="col-xs-4">
                <cp-switch [id]="i"></cp-switch>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
