@import '~projects/campus-cloud/src/sass/core/colors';
@import '~projects/campus-cloud/src/sass/core/typography';

.cppagination {
  margin: 15px auto;

  button {
    &:disabled {
      i {
        color: $color-med-grey;
      }
    }
  }

  &__page {
    @include font-semi-bold();

    padding: 0 18px;
    color: $color-brand;
  }

  i {
    font-size: 22px;
    color: $color-text;
    vertical-align: -6px;
  }
}
