<div class="row">
  <div class="col-12">
    <cp-calendars-list-action-box (search)="onSearch($event)"
                                  (launchCreateModal)="onLaunchCreateModal()">
    </cp-calendars-list-action-box>
  </div>
</div>

<div [ngSwitch]="loading">
  <cp-spinner *ngSwitchCase="true"></cp-spinner>

  <div *ngSwitchCase="false">
    <cp-no-content class="no-content"
                   *ngIf="!state.calendars.length"
                   [noContentText]="cpI18n.translate('calendars_no_results_found')">
    </cp-no-content>

    <ng-container *ngIf="state.calendars.length">
      <table ui-table>
        <thead>
          <tr ui-table-row>
            <th ui-table-cell
                (sort)="doSort('name')"
                [sorting]="state.sort_field === 'name'"
                [sortDirection]="state.sort_direction">
              {{ sortingLabels.name }}
            </th>
            <th ui-table-cell
                (sort)="doSort('created_time')"
                [sortDirection]="state.sort_direction"
                [sorting]="state.sort_field === 'created_time'">
              {{ sortingLabels.created }}
            </th>
            <th ui-table-cell></th>
          </tr>
        </thead>
        <tbody>
          <tr ui-table-row
              *ngFor="let calendar of state.calendars">
            <td ui-table-cell>
              <ready-ui-stack direction="vertical">
                <a cpTracker
                   [eventData]="eventData"
                   [routerLink]="calendar.id">
                  <h2>{{ calendar.name }}</h2>
                </a>
              </ready-ui-stack>
            </td>
            <td ui-table-cell>
              {{ calendar.created_time | cpDatePipe: dateFormat}}</td>
            <td ui-table-cell
                align="right">
              <ready-ui-stack>
                <button ui-button
                        type="button"
                        variant="inline"
                        aria-label="Edit"
                        data-toggle="modal"
                        data-target="#calendarEdit"
                        (click)="launchEditModal = true"
                        (click)="selectedCalendar = calendar">
                  <ready-ui-icon name="edit"></ready-ui-icon>
                </button>
                <button ui-button
                        type="button"
                        variant="inline"
                        aria-label="Delete"
                        data-toggle="modal"
                        data-target="#calendarDelete"
                        (click)="launchDeleteModal = true"
                        (click)="selectedCalendar = calendar">
                  <ready-ui-icon name="close"></ready-ui-icon>
                </button>
              </ready-ui-stack>
            </td>
          </tr>
        </tbody>
      </table>
      <cp-pagination [pageNext]="pageNext"
                     [pagePrev]="pagePrev"
                     [pageNumber]="pageNumber"
                     (next)="onPaginationNext()"
                     (previous)="onPaginationPrevious()">
      </cp-pagination>
    </ng-container>
  </div>
</div>

<cp-modal modalId="calendarsCreate"
          *ngIf="launchCreateModal">
  <cp-calendars-create (created)="onCreated($event)"
                       (resetCreateModal)="launchCreateModal = false">
  </cp-calendars-create>
</cp-modal>

<cp-modal modalId="calendarDelete"
          *ngIf="launchDeleteModal">
  <cp-calendars-delete [calendar]="selectedCalendar"
                       (deleted)="onDeleted($event)"
                       (teardown)="onDeleteTeardown()">
  </cp-calendars-delete>
</cp-modal>

<cp-modal modalId="calendarEdit"
          *ngIf="launchEditModal">
  <cp-calendars-edit [calendar]="selectedCalendar"
                     (edited)="onEditedLink($event)"
                     (reset)="launchEditModal = false">
  </cp-calendars-edit>
</cp-modal>