<div class="cp-wrapper cp-wrapper--outer">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="row">
        <div class="col-xs-12">
          <div class="header">
            <p class="title" i18n>{{ 'admin_invite_heading' | cpI18n }}</p>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isSubmitted">
        <div class="col-xs-12">
          <p i18n>{{ 'admin_password_sucess_redirect' | cpI18n }}</p>
        </div>
      </div>

      <div class="row" *ngIf="!isSubmitted">
        <div class="col-xs-12">
          <!--<p i18n>Hi [Name]</p>
          <p i18n>[Inviter Name] has invited you to manage
            [Service Name] for the [School Name] Campus App
          </p>-->
          <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
              <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <!--<div class="form-group">
                  <label i18n>First Name</label>
                  <input autofocus type="text">
                </div>

                <div class="form-group">
                  <label i18n>Last Name</label>
                  <input autofocus type="text">
                </div>-->

                <div class="form-group">
                  <label i18n>{{ 'password' | cpI18n }}</label>
                  <input type="password" formControlName="new_password">
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <button
                      type="submit"
                      [disabled]="!form.valid"
                      class="cpbtn cpbtn--primary" i18n>
                      {{ 'admin_create_account' | cpI18n }}
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <cp-alert></cp-alert>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="row text-center footer">
            <div class="col-xs-4 col-xs-offset-4">
              <div class="row">
                <div class="col-xs-12">
                  <a [routerLink]="['/login']" i18n>{{ 'login' | cpI18n }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>