<div class="row">
  <div class="col-12">
    <div [class]="[last ? 'comment isLast' : 'comment']">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="comment__header">
                <cp-feed-header
                  [feed]="comment"
                  [isComment]="isComment">
                </cp-feed-header>
                <div class="comment__more float-right">
                  <cp-feed-dropdown
                    [isComment]="isComment"
                    (selected)="onSelected($event)"
                    [isCampusWallView]="isCampusWallView"
                    [requiresApproval]="requiresApproval$">
                  </cp-feed-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <cp-feed-body
                [feed]="comment"
                [clubId]="clubId"
                [isComment]="true"
                [replyView]="replyView"
                [athleticId]="athleticId"
                [wallCategory]="wallCategory"
                [orientationId]="orientationId">
              </cp-feed-body>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<cp-modal
  *ngIf="isDeleteModal"
  modalId="deleteFeedCommentModal">
  <cp-feed-delete-comment-modal
    [feed]="comment"
    [clubId]="clubId"
    [athleticId]="athleticId"
    [wallCategory]="wallCategory"
    [orientationId]="orientationId"
    (deleted)="deleted.emit($event)"
    (teardown)="isDeleteModal = false"
    [isCampusWallView]="isCampusWallView">
  </cp-feed-delete-comment-modal>
</cp-modal>

<cp-modal modalId="approveCommentModal" *ngIf="isApproveModal">
  <cp-feed-approve-comment-modal
    [feed]="comment"
    (teardown)="isApproveModal = false"
    [isCampusWallView]="isCampusWallView">
  </cp-feed-approve-comment-modal>
</cp-modal>