@import '~styles/core/colors';
@import '~styles/components/button';

.comment {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid darken($color: $color-text-alt, $amount: 8);
}
