<div class="row">
  <div class="col-xs-12">
    <div [class]="[last ? 'cp-card comment isLast' : 'cp-card comment']">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="comment__header">
                <cp-feed-header
                  [feed]="comment"
                  [isComment]="isComment">
                </cp-feed-header>
                <div class="comment__more pull-right">
                  <cp-feed-dropdown
                    [isComment]="isComment"
                    (selected)="onSelected($event)"
                    [requiresApproval]="comment.dislikes > 0 && comment.flag !== 2">
                  </cp-feed-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <cp-feed-body [feed]="comment"></cp-feed-body>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<cp-modal
  *ngIf="isDeleteModal"
  modalId="deleteFeedCommentModal">
  <cp-feed-delete-comment-modal
    [feed]="comment"
    (deleted)="deleted.emit($event)"
    (teardown)="isDeleteModal = false"
    [isCampusWallView]="isCampusWallView">
  </cp-feed-delete-comment-modal>
</cp-modal>

<cp-modal modalId="approveCommentModal" *ngIf="isApproveModal">
  <cp-feed-approve-comment-modal
    [feed]="comment"
    (teardown)="isApproveModal = false"
    [isCampusWallView]="isCampusWallView">
  </cp-feed-approve-comment-modal>
</cp-modal>