<div class="row">
  <div class="col-xs-12">
    <div [class]="[last ? 'cp-card comment isLast' : 'cp-card comment']">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="comment__header">
                <cp-feed-header
                  [feed]="comment"
                  [isComment]="isComment">
                </cp-feed-header>
                <div class="comment__more pull-right">
                  <cp-feed-dropdown
                    [isComment]="isComment"
                    (selected)="onSelected($event)"
                    [requiresApproval]="comment.flag > 0">
                  </cp-feed-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <cp-feed-body [feed]="comment"></cp-feed-body>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<cp-modal modalId="deleteFeedModal" *ngIf="isDeleteModal">
  <cp-feed-delete-modal
    [feed]="feed"
    (teardown)="isDeleteModal = false">
  </cp-feed-delete-modal>
</cp-modal>

<cp-modal modalId="approveFeedModal" *ngIf="isApproveModal">
  <cp-feed-approve-modal
    [feed]="feed"
    (teardown)="isApproveModal = false">
  </cp-feed-approve-modal>
</cp-modal>