@import '~styles/core/colors';
@import '~styles/core/typography';
@import '~styles/components/card';
@import '~styles/components/form';
@import '~styles/components/button';
@import '~bootstrap/variables';

.actions {
  label {
    @include font-normal();

    display: inline-block;
    vertical-align: -8px;
  }

  .calendar {
    height: 40px;
  }

  .checkbox {
    margin-top: 5px;
  }

  & > div > * {
    @media all and (max-width: $screen-md) {
      margin-bottom: 10px;
    }
  }
}

.action-dropdown {
  margin-left: -2px;
  position: relative;

  i {
    padding: 4px;
    font-size: 23px;
  }

  .dropdown-menu {
    top: 115%;
    padding: 0;
    min-width: 260px;
  }

  a { padding: 0 };

  li { padding: 12px; };

  a,
  li {
    @include font-normal();
    color: $color-text;

    &:hover {
      cursor: pointer;
      background: none;
    }
  }
}