<div [ngSwitch]="loading">
  <div class="cp-card actions col-xs-12" *ngSwitchCase="false">
    <div class="row">

      <cp-searchbox
        (query)="onSearch($event)"
        class="col-xs-12 col-md-2">
      </cp-searchbox>

      <div class="col-xs-12 col-md-3">
        <div class="row">
          <div class="col-xs-9">
            <cp-dropdown
              [items]="eventFilter"
              (selected)="onEventDate($event.action)">
            </cp-dropdown>
          </div>
          <div class="col-xs-3 text-left no-left-padding">
            <cp-small-datepicker
              class="calendar"
              (rangeChange)="onDateRange($event)"
              [options]="dateFilterOpts">
            </cp-small-datepicker>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-5">
        <div class="row">
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-12 col-sm-4 text-truncate text-right no-right-padding">
                <label i18n>Filter By</label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <cp-dropdown
                  [items]="hosts"
                  (selected)="onFilterByHost($event.action)">
                </cp-dropdown>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="col-xs-12 col-sm-9 text-truncate text-right">
                <label i18n>Attendance</label>
              </div>
              <div class="col-xs-12 col-sm-3">
                <cp-checkbox
                  (toggle)="onAttendanceToggle($event)"
                  class="checkbox">
                </cp-checkbox>
              </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-2">
        <a
          [routerLink]="['create']" i18n
          class="cpbtn cpbtn--primary cpbtn--square-right no-right-padding">
          Create Event
        </a>
        <div
          class="cpbtn cpbtn--square-left cpbtn--no-padding cpbtn--primary no-left-padding hover action-dropdown">
          <i class="material-icons" data-toggle="dropdown">expand_more</i>
          <ul class="dropdown-menu dropdown-menu-right text-left">
            <li i18n>
              <a [routerLink]="['import/facebook']">
                Import Events From Facebook
              </a>
            </li>
            <li i18n (click)="launchModal()">Import Events from Excel</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
