<div class="cpmodal">
  <div class="cpmodal__header">
    <div class="row">
      <div class="col-xs-12 text-center">
        <span i18n><strong>Add New Service Provider</strong></span>

        <span
          (click)="doReset()"
          data-dismiss="modal"
          class="pull-right hover cpmodal__header__close">
          &times;
        </span>
      </div>
    </div>
  </div>

  <div class="cpmodal__body">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="form">
          <div class="row form-group">
            <div class="col-xs-6">
              <label i18n>Name</label>
              <input
                type="text"
                placeholder="Name"
                class="form-control"
                formControlName="provider_name"
                [class.error]="formErrors && form.controls.name.hasError('required')">
            </div>
            <div class="col-xs-6">
              <label i18n>Email</label>
              <input
                type="text"
                class="form-control"
                placeholder="Email"
                formControlName="email"
                [class.error]="formErrors && form.controls.email.hasError('required')">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-xs-12">
              <label i18n>Default Question</label>
              <input
                type="text"
                class="form-control"
                placeholder="Default Question"
                formControlName="custom_basic_feedback_label">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="cpmodal__footer">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-6 text-right">
        <button
          type="button"
          (click)="doReset()"
          class="cpbtn cpbtn--cancel"
          data-dismiss="modal" i18n>
          Cancel
        </button>

        <button
          type="button"
          (click)="onSubmit()"
          [disabled]="!form.valid"
          class="cpbtn cpbtn--primary"i18n>
          Add
        </button>
      </div>
    </div>
  </div>
</div>
